<app-entities-table
  [entityType]="entityCtr"
  [records]="data"
  [filter]="filter"
  [customColumns]="_columns"
  [newRecordFactory]="createNewRecordFactory()"
></app-entities-table>

<div class="margin-top-large">
  @if (summarySum) {
    <strong i18n>Total:</strong> {{ summarySum }} <br />
  }
  @if (summaryAvg) {
    <strong i18n>Average:</strong> {{ summaryAvg }} <br />
  }
</div>

<app-custom-form-link-button
  [linkedEntity]="entity"
  [formEntityType]="entityCtr"
>
</app-custom-form-link-button>
