<app-entities-table
  [entityType]="entityCtr()!"
  [records]="data()"
  [filter]="filterObj()"
  [customColumns]="_columns()"
  [newRecordFactory]="createNewRecordFactory()"
></app-entities-table>

<div class="margin-top-large">
  @if (summary().sum) {
    <strong i18n>Total:</strong> {{ summary().sum }} <br />
  }
  @if (summary().avg) {
    <strong i18n>Average:</strong> {{ summary().avg }} <br />
  }
</div>

<app-custom-form-link-button
  [linkedEntity]="entity()"
  [formEntityType]="entityCtr()!"
>
</app-custom-form-link-button>
