<app-dashboard-widget
  icon="file-alt"
  theme="note"
  [title]="amountOfConcernedChildren"
  [subtitle]="subtitle"
  [explanation]="tooltip"
>
  <app-widget-content>
    <h2 *ngIf="isLoading" class="headline" i18n>Loading...</h2>
    <div *ngIf="childrenWithNoteInfoDataSource.data.length > 0 && !isLoading" class="table-wrapper">
      <table
        mat-table
        [dataSource]="childrenWithNoteInfoDataSource"
      >
        <ng-container matColumnDef="child">
          <td *matCellDef="let childNoteInfo">
            <app-child-block
              [entityId]="childNoteInfo.childId"
            ></app-child-block>
          </td>
        </ng-container>

        <ng-container
          matColumnDef="daysSinceLastNote"
          i18n="Amount of days back|Format like 'Days passed > 5 days'"
        >
          <td *matCellDef="let childNoteInfo">
            <span
              *ngIf="childNoteInfo.moreThanDaysSince"
              class="dashboard-table-additional-info-cell"
            >
              &gt; {{ childNoteInfo.daysSinceLastNote | number: "1.0-0" }} days
            </span>
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let row; columns: ['child', 'daysSinceLastNote'];"
          class="dashboard-table-row"
        ></tr>
      </table>
    </div>
    <h2
      *ngIf="childrenWithNoteInfoDataSource.data.length === 0 && !isLoading && mode==='without-recent-notes'"
      class="headline"
      i18n="There are no children that don't have a recent report to be shown here"
    >
      No children without recent report
    </h2>
    <h2
      *ngIf="childrenWithNoteInfoDataSource.data.length === 0 && !isLoading && mode==='with-recent-notes'"
      class="headline"
      i18n="There are no children that have a recent report to be shown here"
    >
      No children with recent report
    </h2>
    <mat-paginator
      #paginator
      [style.display]="paginator.getNumberOfPages() === 0 ? 'none' : ''"
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
    >
    </mat-paginator>
  </app-widget-content>
</app-dashboard-widget>
