<app-dashboard-list-widget
  icon="file-alt"
  theme="note"
  [subtitle]="subtitle"
  [explanation]="tooltip"
  [entries]="entries"
>
  <div class="table-wrapper">
    <table mat-table [attr.aria-label]="subtitle">
      <!-- Table header only for assistive technologies like screen readers -->
      <tr hidden="true">
        <th scope="col">{{ _entity.label }}</th>
        <th scope="col">Days since last note</th>
      </tr>
      <ng-container matColumnDef="entity">
        <td *matCellDef="let entityNoteInfo">
          <app-entity-block
            [entityId]="entityNoteInfo.entityId"
          ></app-entity-block>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="daysSinceLastNote"
        i18n="Amount of days back|Format like 'Days passed > 5 days'"
      >
        <td *matCellDef="let entityNoteInfo" class="text-align-end">
          <ng-container *ngIf="entityNoteInfo.moreThanDaysSince">
            &gt;&nbsp;
          </ng-container>
          {{ entityNoteInfo.daysSinceLastNote | number: "1.0-0" }} days
        </td>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let row; columns: ['entity', 'daysSinceLastNote']"
      ></tr>
    </table>

    <div *ngIf="entries?.length === 0">
      <ng-container
        *ngIf="mode === 'without-recent-notes'"
        i18n="
          There are no participants that don't have a recent report to be shown
          here
        "
      >
        no records without recent report
      </ng-container>
      <ng-container
        *ngIf="mode === 'with-recent-notes'"
        i18n="
          There are no participants that have a recent report to be shown here
        "
      >
        no records with recent report
      </ng-container>
    </div>
  </div>
</app-dashboard-list-widget>
