<app-dashboard-widget
  icon="file-alt"
  theme="note"
  [title]="amountOfConcernedChildren"
  [subtitle]="subtitle"
  [explanation]="tooltip"
  [loading]="isLoading"
>
  <app-widget-content>
    <div *ngIf="childrenWithNoteInfoDataSource.data.length > 0" class="table-wrapper">
      <table
        mat-table
        [dataSource]="childrenWithNoteInfoDataSource"
        [attr.aria-label]="subtitle"
      >
        <!-- Table header only for assistive technologies like screen readers -->
        <tr hidden="true">
          <th scope="col">Participant</th>
          <th scope="col">Days since last note</th>
        </tr>
        <ng-container matColumnDef="child">
          <td *matCellDef="let childNoteInfo">
            <app-child-block
              [entityId]="childNoteInfo.childId"
            ></app-child-block>
          </td>
        </ng-container>

        <ng-container
          matColumnDef="daysSinceLastNote"
          i18n="Amount of days back|Format like 'Days passed > 5 days'"
        >
          <td *matCellDef="let childNoteInfo" class="text-align-end">
            <ng-container
              *ngIf="childNoteInfo.moreThanDaysSince"
            >
              &gt;&nbsp;
            </ng-container>
            {{ childNoteInfo.daysSinceLastNote | number: "1.0-0" }} days
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let row; columns: ['child', 'daysSinceLastNote'];"
          class="dashboard-table-row"
        ></tr>
      </table>
    </div>
    <div
      *ngIf="childrenWithNoteInfoDataSource.data.length === 0 && !isLoading"
      class="headline"
    >
      <ng-container *ngIf="mode==='without-recent-notes'" i18n="There are no participants that don't have a recent report to be shown here">
        no records without recent report
      </ng-container>
      <ng-container *ngIf="mode==='with-recent-notes'" i18n="There are no participants that have a recent report to be shown here">
        no records with recent report
      </ng-container>
    </div>
    <mat-paginator
      #paginator
      [style.display]="paginator.getNumberOfPages() === 0 ? 'none' : ''"
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
    >
    </mat-paginator>
  </app-widget-content>
</app-dashboard-widget>
