<table mat-table [dataSource]="dataSource" class="user-table mat-elevation-z1">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef i18n="User-ID">ID</th>
    <td mat-cell *matCellDef="let user">{{ user.getId() }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n>Username</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>
  <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef i18n>Admin</th>
    <td mat-cell *matCellDef="let user">
      <mat-checkbox
        [checked]="user.isAdmin()"
        (change)="makeAdmin(user, $event.checked)"
      ></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef i18n="Details of a certain User">Details</th>
    <td mat-cell *matCellDef="let user">
      <mat-icon
        fontIcon="fa-info-circle"
        [matTooltip]="debugDetails.get(user.getId())"
      ></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
</table>
