<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<h1>User Account</h1>

<p>
  <mat-form-field>
    <input placeholder="Username" matInput="text" id="username" type="text" [(value)]="user.name" disabled>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input placeholder="New Password" matInput="text" id="password1" type="password" value="pass" #passwordInp disabled>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input placeholder="Confirm New Password" matInput="text" id="confirm" type="password" value="pass" #confirmationInp disabled>
  </mat-form-field>
</p>

<p>
  <i>Changes currently not supported. Please talk to your administrator for password changes.</i>
</p>

<p>
  <button mat-raised-button (click)="changePassword(passwordInp.value,confirmationInp.value)" disabled>Save</button>
</p>
