<div
  class="form-buttons-wrapper padding-bottom-small flex-row gap-small align-self-end"
>
  @if (form?.formGroup.enabled) {
    <button
      mat-raised-button
      color="accent"
      (click)="saveClicked()"
      i18n="Save button for forms"
    >
      Save
    </button>

    <button
      mat-stroked-button
      (click)="cancelClicked()"
      i18n="Cancel button for forms"
    >
      Cancel
    </button>
  }

  @if (form?.formGroup.disabled && !entity?.anonymized) {
    <button
      mat-raised-button
      (click)="form?.formGroup.enable()"
      *appDisabledEntityOperation="{
        entity: entity,
        operation: 'update',
      }"
      i18n="Edit button for forms"
    >
      Edit
    </button>
  }
</div>

@if (form) {
  <app-entity-form
    [entity]="entity"
    [fieldGroups]="fieldGroups"
    [form]="form"
  ></app-entity-form>
}
