@use "variables/sizes";
@use "variables/colors";

:host {
  display: flex;
  flex-direction: column;
}

.form-buttons-wrapper {
  position: sticky;
  top: sizes.$regular;
  z-index: 100;
  margin-right: 3px;

  background-color: colors.$background;
  padding: sizes.$x-small;
}
