<div
  class="form-buttons-wrapper padding-bottom-small flex-row gap-small align-self-end"
>
  <button
    *ngIf="form?.enabled"
    mat-raised-button
    color="accent"
    (click)="saveClicked()"
    i18n="Save button for forms"
  >
    Save
  </button>

  <button
    *ngIf="form?.enabled"
    mat-stroked-button
    (click)="cancelClicked()"
    i18n="Cancel button for forms"
  >
    Cancel
  </button>

  <ng-container *ngIf="form?.disabled && !entity?.anonymized">
    <button
      mat-raised-button
      (click)="form.enable()"
      *appDisabledEntityOperation="{
        entity: entity,
        operation: 'update'
      }"
      i18n="Edit button for forms"
    >
      Edit
    </button>
  </ng-container>
</div>

<app-entity-form
  [entity]="entity"
  [columns]="_cols"
  [columnHeaders]="headers"
  [form]="form"
></app-entity-form>
