<mat-card
  appBorderHighlight
  [borderClass]="'border-' + warningLevel()"
  class="main-card"
>
  <mat-card-header>
    <mat-card-title>{{ event().toString() }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="text-secondary">
    <fa-icon icon="child"></fa-icon>
    {{ attendance().length }}
    <span i18n>participants</span>

    @if (!isRecurring() && dateValue()) {
      <span class="sep">/</span>
      <fa-icon icon="calendar"></fa-icon>
      {{ dateValue() | customDate: "shortDate" }}
    }

    @if (extraFieldValue()) {
      <span class="sep">/</span>{{ extraFieldValue() }}
    }
  </mat-card-content>
</mat-card>
