@if (!importInProgress) {
  <h2 mat-dialog-title i18n>Start Import?</h2>
} @else {
  <h2 mat-dialog-title i18n>Importing Data</h2>
}

<mat-dialog-content>
  <!-- Summary -->
  <div i18n>{{ data.entitiesToImport?.length }} records will be imported.</div>

  @if (showInheritanceImportWarning) {
    <app-hint-box type="warning" class="margin-bottom-regular">
      <strong i18n>⚠️ Manual update required</strong>
      <div i18n>
        Inherited values do not update automatically after import and must be
        updated manually.
      </div>
    </app-hint-box>
  }

  <!-- Progress -->
  @if (importInProgress) {
    <div class="margin-top-large">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div i18n>Importing data ...</div>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    color="accent"
    (click)="executeImport()"
    [disabled]="importInProgress"
    i18n
  >
    Confirm & Run Import
  </button>
  <button
    mat-stroked-button
    [mat-dialog-close]="false"
    [disabled]="importInProgress"
    i18n
  >
    Cancel
  </button>
</mat-dialog-actions>
