<mat-form-field [formGroup]="parent">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="formControl"
    [matAutocomplete]="autoSuggestions"
    [matAutocompleteDisabled]="autocompleteDisabled"
    (keyup)="keyup()"
    (focusin)="updateAutocomplete()"
  />
  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
    (optionSelected)="selectEntity()"
  >
    <!-- Optional header -->
    <ng-content select="mat-option"></ng-content>
    <mat-option
      *ngFor="let entity of autocompleteEntities | async"
      [value]="entity[formControlName]"
    >
      <app-display-entity
        [entityToDisplay]="entity"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>

  <mat-error
    *ngIf="formControl.errors?.required"
    i18n="Error message for any input"
  >
    This field is required
  </mat-error>
</mat-form-field>
