<mat-form-field [formGroup]="parent" floatLabel="always">
  <mat-label>{{ label }}</mat-label>
  <input
    #inputElement
    matInput
    [formControl]="formControl"
    [matAutocompleteDisabled]="matAutocompleteDisabled"
    [placeholder]="placeholder"
    [disabled]="formControl.disabled"
    [matAutocomplete]="autoSuggestions"
    [value]="selectedEntity?.toString() || inputText"
    (keyup)="keyup(inputElement.value)"
    (focusin)="focusin(inputElement.value)"
    (focusout)="focusout()"
  />
  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
    (optionSelected)="select($event.option.value)"
  >
    <!-- Optional header -->
    <ng-content select="mat-option"></ng-content>
    <mat-option
      *ngFor="let entity of autocompleteEntities | async"
      [value]="entity"
    >
      <app-display-entity
        [entityToDisplay]="entity"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>

  <mat-error
    *ngIf="formControl.errors?.required"
    i18n="Error message for any input"
  >
    This field is required
  </mat-error>
</mat-form-field>
