<mat-form-field [formGroup]="parent" class="form-field-with-tooltip-suffix">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="formControl"
    [matAutocomplete]="autoSuggestions"
    [matAutocompleteDisabled]="autocompleteDisabled"
    (keyup)="keyup()"
    (focusin)="updateAutocomplete()"
  />
  <mat-autocomplete #autoSuggestions="matAutocomplete">
    <mat-option
      *ngFor="let entity of autocompleteEntities | async"
      [value]="entity[formControlName]"
      (onSelectionChange)="$event.source.selected ? selectEntity(entity) : null"
    >
      <app-display-entity
        [entityToDisplay]="entity"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="!autocompleteDisabled">
    <span *ngIf="!selectedEntity" i18n>Creating new record.</span>
    <span *ngIf="selectedEntity" i18n>Editing existing record.</span>
  </mat-hint>
  <mat-error
    *ngIf="formControl.errors?.required"
    i18n="Error message for any input"
  >
    This field is required
  </mat-error>
</mat-form-field>

<fa-icon
  *ngIf="!autocompleteDisabled"
  (click)="tooltipElement.show()"
  #tooltipElement="matTooltip"
  icon="cogs"
  [matTooltip]="'You can create a new or load an existing record. Start to type an existing name and then select it from the dropdown to edit the existing record. Type any new text to create a new record.'"
  class="tooltip-suffix"
></fa-icon>


