@use "variables/sizes";

.title-name {
  margin: 0;
}
.title-description {
  font-size: small;
  line-height: normal;
}

.changelog-entry-container {
  border-bottom: 1px black solid;
}

.changelog-entry-container h3 {
  margin: sizes.$small 0 sizes.$small 0;
}
