<div>
  <mat-form-field style='width: 100%'>
    <input
      #inputField
      matInput
      placeholder='User'
      (keyup.enter)="selectCurrentSearch()"
      (input)='onInputChanged()'
      [matAutocomplete]='autoSuggestions'
      [(ngModel)]='searchText'>
    <span *ngFor="let user of selectedUsers">
      <span class='fa fa-minus-square-o' (click)='unselectUser(user)'></span>
      {{user.name}}
    </span>
  </mat-form-field>

  <mat-autocomplete #autoSuggestions='matAutocomplete' (optionSelected)="selectUser($event.option.value)">
    <mat-option *ngFor='let res of suggestedUsers' [value]='res'>
      {{res.name}}
    </mat-option>
  </mat-autocomplete>
</div>
