<h2 mat-dialog-title i18n>Select Section Type</h2>
<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <p i18n>Choose the widget you want to add:</p>

  <mat-form-field appearance="fill" class="full-width margin-bottom-regular">
    <mat-label i18n>Select Section Type</mat-label>
    <mat-select (selectionChange)="selectSectionType($event.value)">
      @for (opt of options; track opt) {
        <mat-option [value]="opt.value" [disabled]="opt.disabled">
          <span
            class="tooltip-span"
            [matTooltip]="opt.disabled"
            [matTooltipDisabled]="!opt.disabled"
          >
            {{ opt.label }}
          </span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
