<app-entity-select
  [entityType]="entityType"
  [(selection)]="selection"
  [view]="entityBlockComponent ? blockComponent : defaultComponent"
  [label]="label"
  [placeholder]="placeholder"
  [disabled]="disabled"
  selectionInputType="id"
>

</app-entity-select>

<ng-template
  #blockComponent
  let-entity="entity"
>
  <ng-container
    [appDynamicComponent]="createConfigFor(entity)"
  >
  </ng-container>
</ng-template>

<ng-template
  #defaultComponent
  let-entity="entity"
>
  {{entity["name"] || entity.getId()}}
</ng-template>
