<input
  #fileInput
  type="file"
  style="display: none"
  (change)="loadFile($event)"
/>
<mat-form-field>
  <mat-label i18n="Label for file select input">Select file</mat-label>
  <input
    matInput
    readonly
    [formControl]="formControl"
    i18n-placeholder="placeholder for file-input"
    placeholder="No file selected"
    (click)="fileInput.click()"
  />
  <button mat-icon-button matIconSuffix (click)="fileInput.click()">
    <fa-icon icon="upload"></fa-icon>
  </button>
  <mat-error *ngIf="formControl.invalid">{{
    formControl.errors.fileInvalid || formControl.errors.parsingError
  }}</mat-error>
</mat-form-field>
