<h1>Schools List</h1>

<mat-expansion-panel expanded="true" fxLayout="column" fxLayoutGap="10px" class='filter-panel'>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="none end">
    <div fxFlex='50'>
      <mat-form-field style='width:100%'>
        <input matInput placeholder="Filter" (ngModelChange)="applyFilter($event)" [(ngModel)]="filterString">
        <button mat-icon-button *ngIf="filterString" matSuffix aria-label="Clear" (click)="filterString=''; applyFilter('');">
          <mat-icon fontIcon="fa-times"></mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxFlex='25' class='align-form-field' fxHide.xs='true'>
      (Showing {{schoolDataSource.filteredData.length}} schools)
    </div>

    <div fxFlex='25' class='align-form-field'>
      <button mat-stroked-button color="accent" (click)="addSchoolClick()" fxFlexAlign="end">
        <mat-icon class="button-icon" aria-label="add child" fontIcon="fa-plus-circle"></mat-icon>
        <span fxHide.lt-sm>
          <span fxHide.lt-md="true">
          Add New
          </span>
        </span>
      </button>
    </div>
  </div>

  <div fxLayout='row wrap' fxLayoutGap='10px' fxHide.lt-sm>
    <mat-button-toggle-group *ngFor='let filterSelection of filterSelections'
                             [name]="filterSelection.name" [value]='filterSelection.selectedOption'>
      <mat-button-toggle *ngFor='let option of filterSelection.options' [value]="option.key"
                         [class.selected]="option.key === filterSelection.selectedOption"
                         (click)="filterSelection.selectedOption=option.key; applyFilterSelections();">
        {{option.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div fxLayout="row wrap" fxHide.gt-xs>
    <mat-form-field *ngFor="let filterSelection of filterSelections" style="padding-right: 1%">
      <mat-label>{{filterSelection.name}}</mat-label>
      <mat-select  [id]="filterSelection.name" [value]="filterSelection.selectedOption" placeholder="filterSelection.name" >
        <mat-option *ngFor="let option of filterSelection.options" [value]="option.key"
                    (click)="filterSelection.selectedOption=option.key; applyFilterSelections()">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-expansion-panel>

<div *ngIf="schoolDataSource">
  <table mat-table [dataSource]="schoolDataSource" matSort class="mat-elevation-z8 table-list" width='100%'>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let school"> {{school.name}}</td>
    </ng-container>

    <ng-container matColumnDef="medium">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Medium </th>
      <td mat-cell *matCellDef="let school"> {{school.medium}}</td>
    </ng-container>

    <ng-container matColumnDef="privateSchool">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Private School </th>
       <td mat-cell *matCellDef="let school"> {{school.privateSchool?"✓":""}} </td>
     </ng-container>

    <ng-container matColumnDef="academicBoard">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Board </th>
      <td mat-cell *matCellDef="let school"> {{school.academicBoard}}</td>
    </ng-container>

    <ng-container matColumnDef="upToClass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Up to class </th>
      <td mat-cell *matCellDef="let school"> {{school.upToClass}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let school; columns: columnsToDisplay" (click)="showSchoolDetails(school)" style="cursor:pointer;"></tr>
  </table>
</div>
