.table-list {
  margin-top: 10px;
}

.align-form-field {
  padding-bottom: 1.25em;
}
.table-list td {
  padding-left: 8px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

.filter-panel {
  padding-top: 10px;
}

.list-item:hover{
  background: #F5F5F5;
}
