.mat-dialog-actions button {
  margin-right: 4px;
}

.cancel-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  // padding applied on all sides for ripples
  padding: 24px 12px 24px 24px;
}
