<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.text }}</p>
</div>

<div mat-dialog-actions *ngIf="data.yesNo">
  <button
    i18n="Confirmation dialog Yes"
    mat-stroked-button
    [mat-dialog-close]="true"
    cdkFocusInitial>
    Yes
  </button>
  <button
    i18n="Confirmation dialog No"
    mat-stroked-button
    [mat-dialog-close]="false">
    No</button>
</div>
<div mat-dialog-actions *ngIf="!data.yesNo">
  <button
    i18n="Confirmation dialog OK"
    mat-stroked-button
    [mat-dialog-close]="true"
    cdkFocusInitial>
    OK
  </button>
</div>
