@if (!userIsPermitted()) {
  <em i18n="Placeholder text when permissions are missing">
    You account does not have the required permissions to see this page.
  </em>
} @else {
  @if (isInDialog()) {
    <div>
      <h2 mat-dialog-title i18n>Edit User Security</h2>
      <app-dialog-close (click)="closeDialog()"></app-dialog-close>
    </div>
  }

  <div class="flex-column padding-right-regular padding-left-regular">
    @if (!user()) {
      <div class="buttons-wrapper align-self-start">
        <p
          i18n="notice about user without account"
          class="field-hint field-warning"
        >
          There is no user account set up for this user yet. Enable this user to
          log into the app by filling the details below.
        </p>
        @if (editing() && !user()) {
          <button
            mat-raised-button
            type="submit"
            (click)="createNewAccount()"
            class="invite-button"
            color="accent"
            [class.invite-button-animate]="true"
            i18n="button to invite a new user"
          >
            Create account & send invitation
          </button>
        }
      </div>
    }

    @if (user()) {
      <div
        class="padding-bottom-small flex-row gap-small align-self-end flex-wrap padding-top-small"
      >
        @if (editing() && user()?.enabled && !isInDialog()) {
          <button
            mat-stroked-button
            color="warn"
            (click)="toggleAccount(false)"
            matTooltip="User will not be able to login again, no information will be lost"
            i18n="button to update disable a user"
          >
            Deactivate user
          </button>
        }
        @if (editing() && !user()?.enabled && !isInDialog()) {
          <button
            mat-raised-button
            color="accent"
            (click)="toggleAccount(true)"
            matTooltip="User can login again with the previously used credentials"
            i18n="button to enable a user"
          >
            Activate user
          </button>
        }
        @if (editing() && user()?.enabled) {
          <button
            mat-raised-button
            color="accent"
            class="action-button"
            (click)="saveAccount()"
            i18n="Save button for forms"
          >
            Save
          </button>
        }
        @if (editing()) {
          <button
            mat-stroked-button
            class="action-button"
            (click)="onFormCancel()"
            i18n="Cancel button for forms"
          >
            Cancel
          </button>
        }
        @if (!editing()) {
          <button
            mat-raised-button
            class="action-button"
            (click)="editForm()"
            i18n="Edit button for forms"
          >
            Edit
          </button>
        }
      </div>
    }

    @if (user() && !user()?.enabled) {
      <p i18n="Hint in user account page" class="field-hint field-warning">
        User is currently disabled and will not be able to login to the app
      </p>
    }

    <app-user-details
      #userDetailsForm
      [userAccount]="user()"
      [availableRoles]="availableRoles()"
      [showPasswordChange]="false"
      (formSubmit)="onFormSubmit($event)"
      (formCancel)="onFormCancel()"
    ></app-user-details>
  </div>
}
