<!-- Existing additional actions -->
<div>
  <mat-list>
    <mat-list-item *ngFor="let action of importActions">
      <fa-icon
        icon="xmark"
        matListItemIcon
        (click)="removeAction(action)"
        matTooltip="Remove"
        i18n-matTooltip
        class="existing-action-remove"
      ></fa-icon>
      <div matListItemTitle i18n>
        Link all imported records to {{ action.type | entityTypeLabel }}
      </div>
      <div matListItemLine>
        <app-entity-block
          [entityId]="action.id"
          [linkDisabled]="true"
        ></app-entity-block>
      </div>
    </mat-list-item>
  </mat-list>

  <div
    *ngIf="!(importActions?.length > 0)"
    class="no-actions margin-bottom-large"
    i18n="import additional actions"
  >
    no additional actions selected
  </div>
</div>

<!-- Create new additional action -->
<form [formGroup]="linkEntityForm">
  <div>
    <mat-error *ngIf="linkEntityForm.disabled" i18n>
      Select an Import Target Type before defining additional actions.
    </mat-error>
  </div>

  <div class="flex-row gap-regular">
    <mat-form-field>
      <mat-label i18n="Label for linked entity type input"
        >Linked record type
      </mat-label>
      <app-basic-autocomplete
        formControlName="type"
        [options]="linkableEntityTypes"
        [optionToString]="typeToString"
      ></app-basic-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n="Label for linked entity input">Linked record</mat-label>
      <app-basic-autocomplete
        formControlName="id"
        [options]="linkableEntities"
        [valueMapper]="entityToId"
      >
        <ng-template let-item>
          <app-entity-block
            [entityToDisplay]="item"
            [linkDisabled]="true"
          ></app-entity-block>
        </ng-template>
      </app-basic-autocomplete>
    </mat-form-field>

    <button
      (click)="addAction()"
      [disabled]="!actionSelected"
      mat-stroked-button
      color="accent"
      class="action-add-button"
      i18n
    >
      Add Action
    </button>
  </div>
</form>
