<div class="container">
  <table
    mat-table
    [dataSource]="recordsDataSource"
    matSort
    class="mat-elevation-z1 subrecord-table"
  >
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.id">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        [matTooltip]="col.tooltip"
        [matTooltipDisabled]="!col.tooltip"
      >
        {{ col.placeholder }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="showRecord(row)"
      >
        <ng-template
          [appDynamicComponent]="{
            component: col.input,
            config: {
              formFieldConfig: col,
              propertySchema: row.record.getSchema().get(col.id),
              formControl: row.formGroup.get(col.id),
              entity: row.record
            }
          }"
        >
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button
          *ngIf="showAddButton"
          mat-stroked-button
          class="table-action-button"
          color="accent"
          (click)="create()"
        >
          <mat-icon
            class="table-action-icon"
            aria-label="add"
            fontIcon="fa-plus-circle"
          ></mat-icon>
          <!-- fxHide.md="false">Add New -->
        </button>
      </th>
      <td mat-cell *matCellDef="let rec">
        <div *ngIf="!disableEditingInline">
          <button
            mat-icon-button
            *ngIf="rec.formGroup.disabled"
            (click)="rec.formGroup.enable()"
          >
            <mat-icon
              class="table-action-icon"
              aria-label="edit"
              fontIcon="fa-pencil"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="rec.formGroup.enabled"
            (click)="save(rec)"
          >
            <mat-icon
              class="table-action-icon"
              aria-label="save"
              fontIcon="fa-check-circle"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="rec.formGroup.enabled"
            (click)="resetChanges(rec)"
          >
            <mat-icon
              class="table-action-icon"
              aria-label="cancel"
              fontIcon="fa-times-circle"
            ></mat-icon>
          </button>
          <button mat-icon-button (click)="delete(rec)">
            <mat-icon
              class="table-action-icon"
              aria-label="delete"
              fontIcon="fa-trash"
            ></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      [ngStyle]="
        getBackgroundColor && { 'background-color': getBackgroundColor(row.record) }
      "
    ></tr>
  </table>
  <mat-paginator
    (page)="onPaginateChange($event)"
    [pageSize]="paginatorPageSize"
    [pageSizeOptions]="[3, 10, 20, 50]"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
