<div class="container">
  <table
    mat-table
    [dataSource]="recordsDataSource"
    matSort
    class="mat-elevation-z1 subrecord-table"
  >
    <ng-container *ngFor="let col of _columns" [matColumnDef]="col.id">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        [matTooltip]="col.tooltip"
        [matTooltipDisabled]="!col.tooltip"
        [disabled]="col.noSorting"
      >
        {{ col.label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="rowClick(row)"
        style="cursor: pointer"
      >
        <ng-template
          *ngIf="!row.formGroup || row.formGroup.disabled || !col.edit"
          [appDynamicComponent]="{
            component: col.view,
            config: {
              id: col.id,
              entity: row.record,
              config: col.additional
            }
          }"
        ></ng-template>
        <ng-template
          *ngIf="row.formGroup?.enabled && col.edit"
          [appDynamicComponent]="{
            component: col.edit,
            config: {
              formFieldConfig: col,
              propertySchema: row.record.getSchema().get(col.id),
              formControl: row.formGroup.get(col.id)
            }
          }"
        >
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button
          *ngIf="editable"
          mat-stroked-button
          class="table-action-button"
          color="accent"
          (click)="create()"
        >
          <mat-icon
            class="table-action-icon"
            aria-label="add"
            fontIcon="fa-plus-circle"
          ></mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let rec">
        <div *ngIf="editable">
          <button
            mat-icon-button
            *ngIf="!rec.formGroup || rec.formGroup.disabled"
            (click)="edit(rec)"
          >
            <mat-icon
              class="table-action-icon"
              aria-label="edit"
              fontIcon="fa-pencil"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="rec.formGroup?.enabled"
            (click)="save(rec)"
          >
            <mat-icon
              class="table-action-icon"
              aria-label="save"
              fontIcon="fa-check-circle"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="rec.formGroup?.enabled"
            (click)="resetChanges(rec)"
          >
            <mat-icon
              class="table-action-icon"
              aria-label="cancel"
              fontIcon="fa-times-circle"
            ></mat-icon>
          </button>
          <button mat-icon-button (click)="delete(rec)">
            <mat-icon
              class="table-action-icon"
              aria-label="delete"
              fontIcon="fa-trash"
            ></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      [ngStyle]="
        getBackgroundColor && {
          'background-color': getBackgroundColor(row.record)
        }
      "
      class="table-row"
    ></tr>
  </table>
  <app-list-paginator
    [dataSource]="recordsDataSource"
    [idForSavingPagination]="idForSavingPagination"
  ></app-list-paginator>
</div>
