<mat-form-field floatLabel="always" style="width: 100%">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <input
    #inputField
    (matChipInputTokenEnd)="select($event)"
    [formControl]="formControl"
    [fxHide]="!formControl.enabled"
    [matAutocomplete]="autoSuggestions"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [placeholder]="loading.value ? 'loading...' : placeholder"
  />

  <mat-chip-list #chipList [disabled]="formControl.disabled || loading.value">
    <ng-container *ngIf="showEntities">
      <mat-basic-chip
        [selectable]="selectable && formControl.enabled"
        [removable]="removable && formControl.enabled"
        *ngFor="let entity of selection_"
        class="chip"
      >
        <app-display-entity [entityToDisplay]="entity"></app-display-entity>
        <div
          *ngIf="removable && formControl.enabled"
          matTooltip="remove"
          class="fa fa-minus-square-o"
          (click)="unselectEntity(entity)"
        ></div>
      </mat-basic-chip>
    </ng-container>
  </mat-chip-list>

  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
    (optionSelected)="selectEntity($event.option.value)"
  >
    <!-- Optional header -->
    <ng-content select="mat-option"></ng-content>
    <mat-option *ngFor="let res of filteredEntities | async" [value]="res">
      <app-display-entity
        [entityToDisplay]="res"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
