.main-list {
  // Mat chip list overflows a little bit without this hack
  width: 98%;
}

.chip {
  padding: 7px;
  margin: 0.2em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.fa-minus-square-o {
  margin: 0.15em;
  cursor: pointer;
}
