<mat-form-field floatLabel="always" class="main-list">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <input
    #inputField
    [fxHide]="!formControl.enabled"
    [placeholder]="inputPlaceholder"
    [formControl]="formControl"
    [matAutocomplete]="autoSuggestions"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="select($event)"
  />

  <mat-chip-list #chipList [disabled]="formControl.disabled || loading.value">
    <ng-container *ngIf="showEntities">
      <mat-basic-chip
        [selectable]="selectable && formControl.enabled"
        [removable]="removable && formControl.enabled"
        *ngFor="let entity of selectedEntities"
        class="chip"
      >
        <app-display-entity
          class="display-entity"
          [entityToDisplay]="entity"
          [linkDisabled]="formControl.enabled"
        ></app-display-entity>
        <fa-icon
          *ngIf="removable && formControl.enabled"
          i18n-matTooltip="tooltip for remove icon-button"
          matTooltip="remove"
          class="remove-item"
          icon="minus-square"
          prefix="far"
          (click)="unselectEntity(entity)"
        ></fa-icon>
      </mat-basic-chip>
    </ng-container>
  </mat-chip-list>

  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
    (optionSelected)="selectEntity($event.option.value)"
    autoActiveFirstOption
  >
    <!-- Optional header -->
    <ng-content select="mat-option"></ng-content>
    <mat-option *ngFor="let res of filteredEntities" [value]="res">
      <app-display-entity
        [entityToDisplay]="res"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
