<div class="flex-row align-center gap-small">
  @if (
    !(entity?.anonymized && formFieldConfig?.anonymize === "retain-anonymized")
  ) {
    <input
      matInput
      [formControl]="formControl"
      [matDatepicker]="dateOfBirthDatepicker"
      class="flex-grow"
    />

    <mat-datepicker-toggle
      [for]="dateOfBirthDatepicker"
      class="input-action-button"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirthDatepicker></mat-datepicker>
  }

  <div
    class="flex-row align-center gap-small padding-regular age-display-container"
  >
    <span class="age-label" i18n="Label for the age display">Age:</span>
    <span>{{ age() || "-" }}</span>

    <fa-icon
      icon="question-circle"
      i18n-matTooltip="Tooltip for the disabled age field"
      matTooltip="This field is read-only. Edit the date field to update the age. You can select Jan 1st if you don't know the exact date."
      class="age-help-icon"
      [class.visible]="formControl.enabled"
      [class.hidden]="!formControl.enabled"
    ></fa-icon>
  </div>
</div>
