.school-tooltip {
  position: relative;
  top: -5px;
  left: 5px;

  padding: 8px;
  background-color: white;
}

.entity-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.school-pic {
  margin-right: 4px;
}

.icon {
  margin-right: 8px;
}
