.mat-mdc-table {
  background: none;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #c8c8c8;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.mat-mdc-paginator {
  background: none;
}

.table-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.headline {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
