/* make layout of attendee items more dense and align its fields by hiding unused subscript space */
:host ::ng-deep .table .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.table {
  width: 100%;
}

.mobile-remove-item {
  position: absolute;
  top: 0;
  right: 0;
}
