<app-dashboard-widget
  icon="external-link"
  theme="general"
  headline="Quick actions"
  i18n-headline="Title of dashboard widget that shows a list of certain actions a user can click on"
>
  <app-widget-content>
    <div class="table-wrapper">
      <table
        mat-table
        [dataSource]="tableDataSource"
      >
        <ng-container matColumnDef="icon">
          <td
            *matCellDef="let row"
          >
            <app-fa-dynamic-icon [icon]="row.icon"></app-fa-dynamic-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="label">
          <td *matCellDef="let row">
            {{row.label}}
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let row; columns: ['icon', 'label'];"
          class="dashboard-table-row"
          style="cursor: pointer"
          [routerLink]="row.link"
        ></tr>
      </table>

    </div>
  </app-widget-content>
</app-dashboard-widget>
