<app-dashboard-widget icon="external-link" theme="general">
  <app-widget-subheadline
    i18n="Shows a list of certain actions that a user can click on"
  >
    Quick actions
  </app-widget-subheadline>
  <app-widget-content>
    <table class="dashboard-table">
      <tr
        *ngFor="let entry of shortcuts"
        class="dashboard-table-row clickable"
        [routerLink]="[entry.link]"
        angulartics2On="click" angularticsCategory="Dashboard"
        angularticsAction="shortcut-widget_click"
        [angularticsLabel]="entry.link"
      >
        <td class="dashboard-table-cell">
          <mat-icon fontIcon="fa-{{ entry.icon }}"></mat-icon>
          {{ entry.label }}
        </td>
      </tr>
    </table>
  </app-widget-content>
</app-dashboard-widget>
