<div class="flex-row flex-wrap justify-space-between">
  <app-view-title i18n [displayInPlace]="true"
    >Primary Action Configuration</app-view-title
  >

  <div class="flex-row gap-small">
    <button
      mat-raised-button
      color="accent"
      [disabled]="!hasChanges"
      (click)="save()"
      i18n
    >
      Save
    </button>
    <button mat-stroked-button (click)="cancel()" i18n>Cancel</button>
  </div>
</div>
<mat-form-field appearance="fill" class="full-width">
  <mat-label i18n>Action Type</mat-label>
  <mat-select [(ngModel)]="actionType">
    <mat-option value="createEntity" i18n>Create Entity</mat-option>
    <mat-option value="navigate" i18n>Navigate</mat-option>
  </mat-select>
</mat-form-field>

@if (showEntityType) {
  <mat-form-field appearance="fill" class="full-width">
    <mat-label i18n>Record Type</mat-label>
    <app-entity-type-select
      [value]="entityType"
      (valueChange)="onEntityTypeChange($event)"
      [multi]="false"
    ></app-entity-type-select>
  </mat-form-field>
}

@for (key of [menuItemKey]; track key) {
  <app-menu-item-form
    [item]="menuItem"
    [linkOptions]="routeOptions"
    (itemChange)="menuItem = $event"
    [hideLabel]="true"
    [hideLink]="actionType !== 'navigate'"
  ></app-menu-item-form>
}
