<div class="conditional-section flex-column gap-regular padding-regular border-regular">
  <div class="section-header flex-row gap-regular align-center">
    <label class="mat-body-2" i18n>Conditional Color {{ sectionIndex + 1 }}</label>
    <app-color-input
      [color]="section.color"
      (colorChange)="onColorChange($event)"
    ></app-color-input>
    <button
      mat-icon-button
      type="button"
      color="warn"
      (click)="onDeleteSection()"
      matTooltip="Delete conditional color section"
      i18n-matTooltip
    >
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>

  <!-- Conditions for this section -->
  <div class="conditions-list flex-column gap-small">
    @for (condition of conditions; track condition; let conditionIdx = $index) {
      <app-condition-item
        [sectionIndex]="sectionIndex"
        [conditionIndex]="conditionIdx"
        [condition]="condition"
        [colorFieldOptions]="colorFieldOptions"
        [formFieldConfig]="conditionFormFieldConfigs.get(sectionIndex + '-' + conditionIdx)"
        [formControl]="conditionFormControls.get(sectionIndex + '-' + conditionIdx)"
        (deleteCondition)="onDeleteCondition(conditionIdx)"
        (conditionFieldChange)="onConditionFieldChange(conditionIdx, $event)"
      ></app-condition-item>
    }

    <!-- Add Condition Button for this section -->
    <button
      mat-stroked-button
      type="button"
      (click)="onAddCondition()"
      class="add-condition-button"
    >
      <fa-icon icon="plus" class="standard-icon-with-text"></fa-icon>
      <span i18n>Add Condition</span>
    </button>
  </div>
</div>