<div
  class="margin-top-regular"
  matTooltip="Search for this type of field is not supported."
  matTooltipPosition="before"
  [matTooltipDisabled]="isSearchableDataType()"
  i18n-matTooltip
>
  <mat-checkbox [formControl]="searchableControl">
    <span i18n>Searchable</span>
    <fa-icon
      icon="question-circle"
      matTooltip="By enabling the checkbox, you can find the record from the global search by inputting the value."
      i18n-matTooltip
    ></fa-icon>
  </mat-checkbox>
  @if (showImplicitSearchableNote()) {
    <div class="hint-text" i18n>
      This field is already searchable because it is part of the record's
      display name.
    </div>
  }
</div>
