<mat-list-item
  angulartics2On="click"
  angularticsCategory="Navigation"
  angularticsAction="app_navigation_link_click"
  [angularticsLabel]="item.label"
  [routerLink]="item.link ? [item.link] : undefined"
  class="indent-item"
  [class.matched-background]="item.link === activeLink"
  (click)="toggleSubMenu()"
>
  <a class="flex-row gap-small">
    <app-fa-dynamic-icon
      class="nav-icon"
      [icon]="item.icon"
    ></app-fa-dynamic-icon>
    <div>{{ item.label }}</div>

    <fa-icon
      *ngIf="hasSubMenu(item)"
      [icon]="isExpanded ? 'chevron-down' : 'chevron-right'"
    ></fa-icon>
  </a>
</mat-list-item>

<!-- Render submenus if they exist and are expanded -->
<div *ngIf="isExpanded" class="submenu" cdkDropList (cdkDropListDropped)="dropSubMenu($event)"  cdkDropListOrientation="vertical"
cdkDropListLockAxis="y"
class="drop-list flex-column gap-regular">
  <ng-container *ngFor="let subItem of item.subMenu; let i = index">
    <div class="submenu-item-container" cdkDrag>
      <fa-icon icon="grip-vertical" class="drag-handle"></fa-icon>

      <app-menu-item [item]="subItem" [activeLink]="activeLink"></app-menu-item>

      <fa-icon
        icon="times"
        class="remove-icon"
        (click)="removeSubMenuItem(i)"
      ></fa-icon>
    </div>
  </ng-container>
</div>

