<input
  matInput
  [formControl]="formControl"
  placeholder="#RRGGBB"
  class="color-text-input"
/>
<button
  mat-icon-button
  type="button"
  [style.color]="formControl?.value"
  (click)="colorInput.click()"
  tabindex="-1"
  matTooltip="Pick color"
  i18n-matTooltip
>
  <fa-icon icon="palette"></fa-icon>
</button>
<input
  #colorInput
  type="color"
  class="color-input-overlay"
  [value]="colorPickerValue"
  (input)="onColorPickerChange($any($event.target).value)"
  (click)="$event.stopPropagation()"
/>
