@if (todo?.isNew) {
  <!-- hide while creating new task -->
} @else if (!formControl.value) {
  <button mat-raised-button color="accent" (click)="completeTodo()">
    <fa-icon icon="check" class="margin-right-small"></fa-icon>
    <span i18n>Complete Task</span>
  </button>
} @else {
  <div class="flex-row align-center gap-regular">
    <app-display-todo-completion
      [value]="formControl.value"
    ></app-display-todo-completion>

    <button
      mat-icon-button
      color="accent"
      (click)="uncompleteTodo()"
      matTooltip="mark as incomplete again"
      i18n-matTooltip="todo uncomplete button tooltip"
    >
      <fa-icon icon="undo-alt"></fa-icon>
    </button>
  </div>
}
