@if (entity()?.isNew) {
  <!-- hide while creating new task -->
} @else if (!valueSignal()) {
  <button mat-raised-button color="accent" (click)="completeTodo()">
    <app-fa-dynamic-icon
      icon="check"
      class="margin-right-small"
    ></app-fa-dynamic-icon>
    <span i18n>Complete Task</span>
  </button>
} @else {
  <div class="flex-row align-center gap-regular">
    <app-display-todo-completion
      [value]="valueSignal()"
    ></app-display-todo-completion>

    <button
      mat-icon-button
      color="accent"
      (click)="uncompleteTodo()"
      matTooltip="mark as incomplete again"
      i18n-matTooltip="todo uncomplete button tooltip"
    >
      <app-fa-dynamic-icon icon="undo-alt"></app-fa-dynamic-icon>
    </button>
  </div>
}
