<mat-dialog-content>
  <h2 i18n>Generate File from Template</h2>

  @if (isFeatureEnabled !== true) {
    <app-feature-disabled-info
      featureName="Export API"
      [featureEnabled]="isFeatureEnabled"
    ></app-feature-disabled-info>
  } @else {
    <p>
      <span i18n>
        Select the template based on which to generate a file for the current
        record or
      </span>
      <a
        [routerLink]="TemplateExport.route"
        *appDisabledEntityOperation="{
          entity: TemplateExport,
          operation: 'update',
        }"
        matDialogClose
        i18n
        >configure available templates</a
      >
    </p>

    <mat-form-field>
      <mat-label i18n>Template</mat-label>
      <app-edit-entity
        [formControl]="templateSelectionForm"
        [entityType]="TemplateExport.ENTITY_TYPE"
        [additionalFilter]="templateEntityFilter"
        [disableCreateNew]="true"
        placeholder="Select a file template"
        i18n-placeholder
      ></app-edit-entity>
    </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!templateSelectionForm.value || loadingRequestedFile"
    (click)="requestFile()"
  >
    <span i18n>Generate File</span>

    @if (loadingRequestedFile) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </button>

  <button mat-stroked-button i18n [matDialogClose]="false">Cancel</button>
</mat-dialog-actions>
