
<div fxLayout="row" fxLayoutAlign='space-between'>
  <h1 class="page-header section-school"><i class="fa fa-university fa-fw"></i>
    <span *ngIf="!creatingNew">{{ school.name }}</span>
    <span *ngIf="creatingNew">Adding new School</span>
  </h1>

  <div>
    <button *ngIf="creatingNew || editing" mat-stroked-button class='edit-button' (click)="saveSchool()">Save</button>

    <button *ngIf="!creatingNew && editing" mat-stroked-button class='edit-button' style="color:red" (click)="removeSchool()">Delete</button>

    <button *ngIf="creatingNew || editing" mat-stroked-button class='edit-button' (click)="disableEdit()">Cancel</button>

    <button *ngIf="!editing" mat-stroked-button class='edit-button' (click)="enableEdit()">Edit</button>
  </div>
</div>


<form [formGroup]="form">
  <mat-expansion-panel hideToggle="true" expanded="true" collapse="false">
    <mat-expansion-panel-header style="">
      <mat-panel-title>
        Basic Information
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="address" placeholder="Address" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="medium" placeholder="Medium" type="text">
    </mat-form-field>
    <mat-checkbox formControlName="privateSchool" [disabled]="!editing">Private school</mat-checkbox>
  </mat-expansion-panel>


  <mat-expansion-panel hideToggle="true" expanded="true" collapse="false">
    <mat-expansion-panel-header style="">
      <mat-panel-title>
        Teaching
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput formControlName="schoolTiming" placeholder="School Timing" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="workDays" placeholder="Working Days" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="maxClass" placeholder="Max Class" type="text">
    </mat-form-field>
  </mat-expansion-panel>


  <mat-expansion-panel hideToggle="true" expanded="true" collapse="false">
    <mat-expansion-panel-header style="">
      <mat-panel-title>
        Miscellaneous
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput formControlName="board" placeholder="Board" type="text">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="website" matInput placeholder="Website" type="text">
    </mat-form-field>

  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true" expanded="true" collapse="false">
    <mat-expansion-panel-header style="">
      <mat-panel-title>
        Remarks
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <textarea matInput formControlName="remarks" placeholder="Remarks"></textarea>
    </mat-form-field>

  </mat-expansion-panel>
</form>
