<!--
<mat-expansion-panel>
  <mat-form-field>
    <input matInput type="text" placeholder="School Name" value="{{ school.name }}">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="School-ID" value="{{ school.id }}">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Location" value="{{ school.address }}">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Medium" value="{{ school.medium.valueOf() }}">
  </mat-form-field>
  <mat-action-row>
    <button mat-button (click)="switchEdit()">Edit</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel hideToggle="true" expanded="true" collapse="false"></mat-expansion-panel>
-->
<!-- Students Table -->
<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="studentDataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PN </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.projectNumber}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.getAge()}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="studentClick(row.getId())"></mat-row>
  </mat-table>
</div>
