.mat-extension-panel-header{
  background-color: grey;
  height: 1cm;
}
.mat-expansion-panel{
  padding: 0;
  margin-top: 0;
}
.edit-button {
  margin-left: 10px;
}

.list-item:hover{
  background: #F5F5F5;
}


.mat-form-field {
  margin-right: 10px;
}
.mat-checkbox {
  margin-right: 10px;
}
