<div *ngIf="displayAsToggle">
  <mat-button-toggle-group [name]="filterConfig.name" [value]="selectedOption">
    <mat-button-toggle
      *ngFor="let option of filterConfig.options"
      [value]="option.key"
      (click)="selectOption(option.key)"
    >
      {{ option.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div *ngIf="!displayAsToggle">
  <mat-form-field appearance="fill">
    <mat-label>{{ filterConfig.label || filterConfig.name }}</mat-label>
    <mat-select
      [id]="filterConfig.name"
      [value]="selectedOption"
      [placeholder]="filterConfig.name"
    >
      <mat-option
        *ngFor="let option of filterConfig.options"
        [value]="option.key"
        (click)="selectOption(option.key)"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
