<mat-form-field appearance="fill" style="width: 100%">
  <mat-label>{{ filterConfig.label || filterConfig.name }}</mat-label>
  <mat-select
    [id]="filterConfig.name"
    [value]="selectedOption"
    [placeholder]="filterConfig.name"
  >
    <mat-option
      *ngFor="let option of filterConfig.options"
      [value]="option.key"
      (click)="selectOption(option.key)"
      class="border-left-highlight"
      [style.border-color]="option.color"
    >
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
