<div class="flex-column">
  <div class="padding-bottom-small align-self-end">
    <button
      *ngIf="form?.enabled"
      mat-raised-button
      (click)="save()"
      i18n="Save button for forms"
    >
      Save
    </button>

    <button
      *ngIf="form?.enabled"
      mat-raised-button
      (click)="cancel()"
      i18n="Cancel button for forms"
    >
      Cancel
    </button>

    <ng-container *ngIf="form?.disabled">
      <button
        mat-raised-button
        (click)="switchEdit()"
        *appDisabledEntityOperation="{
          entity: entity,
          operation: 'update'
        }"
        i18n="Edit button for forms"
      >
        Edit
      </button>
    </ng-container>
  </div>

  <form class="columns-wrapper">
    <div *ngFor="let col of _columns; let i=index" class="margin-right-small">
      <h2 *ngIf="columnHeaders && columnHeaders[i]">{{columnHeaders[i]}}</h2>
      <div
        *ngFor="let row of col"
        [appDynamicComponent]="{
          component: row.edit,
          config: {
            formFieldConfig: row,
            propertySchema: entity.getSchema().get(row.id),
            formControl: form.get(row.id)
          }
        }"
      >
        <fa-icon
          (click)="tooltipElement.show()"
          #tooltipElement="matTooltip"
          *ngIf="row.tooltip"
          matSuffix
          icon="question-circle"
          [matTooltip]="row.tooltip"
        ></fa-icon>
      </div>

    </div>
  </form>
</div>
