@import "../../../../utils/grid-layout";

$min-block-width: 330px;
$max-screen-width: $min-block-width + $margin-main-view-right + $margin-main-view-left;

// Hacky way to set the width of each form field
// to 100% in every form component
:host ::ng-deep .mat-form-field {
  width: 100%;
}

.columns-wrapper {
  @include adaptive-grid($min-block-width, $max-screen-width);
  align-items: start;
}

.align-self-end {
  align-self: end;
}

.mat-chip {
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  font-family: sans-serif;
}
