@import "../../../../../styles";

$padding-block: 50px;

$padding-buttons-top: 0.5cm;
$padding-buttons-bottom: 1cm;

$button-margin: 10px;

$min-block-width: 330px;
$max-screen-width: $min-block-width + $margin-main-view-right + $margin-main-view-left;

.form-field {
  display: inline-block;
  margin-left: 20px;
}

:host ::ng-deep .mat-form-field {
  width: 100%;
}

.columns-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-block-width, 1fr));
  @media all and (max-width: $max-screen-width) {
    grid-template-columns: 1fr;
  }
  grid-gap: $standard-grid-gap;
}

.action-button {
  margin-left: $button-margin;
}

.buttons-wrapper {
  padding-top: $padding-buttons-top;
  padding-bottom: $padding-buttons-bottom;
}
