<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<app-form-dialog-wrapper #dialogForm [entity]='entity'>
  <h1>
    Attendance of <app-child-block [entityId]='entity.student'></app-child-block>
    for {{entity.month | date:'MM/yyyy' }}
  </h1>

  <form #entityForm="ngForm">
    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <mat-form-field>
          <input matInput placeholder="Month" name="month" type="month"
                 [valueAsDate]="entity.month" (change)='entity.month=$event.target.valueAsDate;entityForm.form.markAsDirty();'>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field>
          <mat-label>
            Type/Institution
          </mat-label>
          <mat-select name="institution" [(ngModel)]="entity.institution">
            <mat-option value="school">School</mat-option>
            <mat-option value="coaching">Coaching</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="w-{{entity.getWarningLevel()}}">
      <div class='summary'>Attendance: {{entity?.getAttendancePercentage() | percent:'1.0-0'}}</div>
      <div class='summary'>Late: {{entity?.daysLate / entity?.daysWorking | percent:'1.0-0'}}</div>
    </div>

    <div fxLayout='row wrap' fxLayoutGap='20px' class="w-{{entity.getWarningLevel()}}">
      <div fxFlex>
        <mat-form-field>
          <input matInput type="number" min="0" placeholder='Working Days'
                 [value]='entity.daysWorking' (change)="entity.daysWorking=$event.target.valueAsNumber;entityForm.form.markAsDirty();">
          <button mat-button matSuffix mat-icon-button aria-label="Reset" matTooltip='reset and use daily attendance data'
                  *ngIf="entity.daysWorking_manuallyEntered" (click)="entity.daysWorking_manuallyEntered=undefined">
            <mat-icon fontIcon='fa-times'></mat-icon>
          </button>
        </mat-form-field>

        <span>
        ({{entity.getDaysWorkingFromDailyAttendance()}} days
        <span class='fa fa-question-circle' matTooltip='according to daily attendance register'></span>)
      </span>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input matInput type="number" min="0" placeholder='Attended Days'
                 [value]='entity.daysAttended' (change)="entity.daysAttended=$event.target.valueAsNumber;entityForm.form.markAsDirty();">
          <button mat-button matSuffix mat-icon-button aria-label="Reset" matTooltip='reset and use daily attendance data'
                  *ngIf="entity.daysAttended_manuallyEntered" (click)="entity.daysAttended_manuallyEntered=undefined">
            <mat-icon fontIcon='fa-times'></mat-icon>
          </button>
        </mat-form-field>

        <span>
        ({{entity.getDaysAttendedFromDailyAttendance()}} days
        <span class='fa fa-question-circle' matTooltip='according to daily attendance register'></span>)
      </span>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input matInput type="number" min="0" placeholder='Excused Days'
                 [value]='entity.daysExcused' (change)="entity.daysExcused=$event.target.valueAsNumber;entityForm.form.markAsDirty();">
          <button mat-button matSuffix mat-icon-button aria-label="Reset" matTooltip='reset and use daily attendance data'
                  *ngIf="entity.daysExcused_manuallyEntered" (click)="entity.daysExcused_manuallyEntered=undefined">
            <mat-icon fontIcon='fa-times'></mat-icon>
          </button>
        </mat-form-field>

        <span>
        ({{entity.getDaysExcusedFromDailyAttendance()}} days
        <span class='fa fa-question-circle' matTooltip='according to daily attendance register'></span>)
      </span>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input matInput type="number" min="0" placeholder='Late Days'
                 [value]='entity.daysLate' (change)="entity.daysLate=$event.target.valueAsNumber;entityForm.form.markAsDirty();">
          <button mat-button matSuffix mat-icon-button aria-label="Reset"
                  *ngIf="entity.daysLate_manuallyEntered" (click)="entity.daysLate_manuallyEntered=undefined">
            <mat-icon fontIcon='fa-times'></mat-icon>
          </button>
        </mat-form-field>

        <span>
        ({{entity.getDaysLateFromDailyAttendance()}} days
        <span class='fa fa-question-circle' matTooltip='according to daily attendance register'></span>)
      </span>
      </div>
    </div>

    <div>
      <mat-form-field class='input-max'>
        <textarea matInput placeholder="Remarks" name="remarks" [(ngModel)]="entity.remarks"></textarea>
      </mat-form-field>
    </div>

    <div>
      <app-attendance-days [attendanceMonth]='entity'></app-attendance-days>
    </div>
  </form>
</app-form-dialog-wrapper>
