<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<app-form-dialog-wrapper #dialogForm [entity]="entity">
  <h1>
    {{ entity?.activity?.title }}: {{ entity.periodFrom | date: "shortDate" }} -
    {{ entity.periodTo | date: "shortDate" }}
  </h1>

  <form #entityForm="ngForm">
    <div class="w-{{ entity.getWarningLevel() }}">
      <div
        class="summary"
        i18n="Attendance|Attendance of a child (in percent) or the average of the event (in percent)">
        >
        Attendance:
        {{
        (focusedChild
            ? entity?.getAttendancePercentage(focusedChild)
            : entity?.getAttendancePercentageAverage()) | percent: "1.0-0"
        }}
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="20px">
      <div fxFlex>
        <mat-form-field>
          <input
            matInput
            type="number"
            min="0"
            i18n-placeholder="days present|How many days a child or a class was present"
            placeholder="days present"
            [value]="
              focusedChild
                ? entity.countEventsPresent(focusedChild)
                : entity.countEventsPresentAverage(true)
            "
            readonly
          />
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input
            matInput
            type="number"
            min="0"
            i18n-placeholder="days absent|How many days a child or a class was absent"
            placeholder="days absent"
            [value]="
              focusedChild
                ? entity.countEventsAbsent(focusedChild)
                : entity.countEventsAbsentAverage(true)
            "
            readonly
          />
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field>
          <input
            matInput
            type="number"
            min="0"
            i18n-placeholder="days absent|How many days the presence or absence of a child is unknown"
            placeholder="unknown status"
            [value]="
              focusedChild
                ? entity.countEventsWithStatusForChild(
                    UnknownStatus,
                    focusedChild
                  )
                : entity.countEventsWithUnknownStatus()
            "
            readonly
          />
        </mat-form-field>
      </div>
    </div>

    <div>
      <app-entity-subrecord
        [records]="entity.events"
        [columns]="eventsColumns"
        [detailsComponent]="eventDetailsComponent"
        [showAddButton]="false"
        [disableEditingInline]="true"
      >
      </app-entity-subrecord>
    </div>

    <div>
      <app-attendance-calendar
        [records]="entity.events"
        [highlightForChild]="focusedChild"
      ></app-attendance-calendar>
    </div>
  </form>
</app-form-dialog-wrapper>
