<mat-dialog-content style="max-height: 90vh">
  <app-map
    height="70vh"
    [marked]="data.marked | async"
    [(displayedProperties)]="data.displayedProperties"
    [entities]="data.entities | async"
    [highlightedEntities]="data.highlightedEntities | async"
    (mapClick)="mapClicked($event)"
    (entityClick)="data.entityClick?.next($event)"
  ></app-map>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!data.disabled">
  <p *ngIf="data.helpText" class="help-text">{{ data.helpText }}</p>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
