<mat-dialog-content style="max-height: 90vh">
  <app-address-search
    [selectedLocation]="(markedLocations | async)?.[0]"
    (selectedLocationChange)="updateLocation($event)"
    [disabled]="data.disabled"
    [searchText]="data.initialSearchText"
  ></app-address-search>

  <app-map
    height="70vh"
    [marked]="markedLocations | async"
    [(displayedProperties)]="data.displayedProperties"
    [entities]="data.entities | async"
    [highlightedEntities]="data.highlightedEntities | async"
    (mapClick)="mapClicked($event)"
    (entityClick)="data.entityClick?.next($event)"
  ></app-map>
</mat-dialog-content>

<mat-dialog-actions>
  @if (data.disabled) {
    <button mat-raised-button mat-dialog-close i18n>Close</button>
  } @else {
    @if (helpText) {
      <p class="help-text">{{ helpText }}</p>
    }

    <button mat-stroked-button mat-dialog-close i18n>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="markedLocations | async" i18n>
      Save
    </button>
  }
</mat-dialog-actions>
