@use "variables/colors";

.merge-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  .header {
    font-weight: bold;
    background-color: colors.$primary;
    color: white;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .label-cell {
    padding: 0.5rem;
  }

  .record-cell,
  .preview-cell {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  .record-cell {
    justify-content: flex-start;
  }

  .preview-cell {
    justify-content: center;
  }
}
