<mat-dialog-content>
  <app-warning-not-optimized-for-small-screen />
  @if (mergeForm) {
    <form>
      <div class="merge-grid">
        <div></div>
        <div class="header" i18n>Record A</div>
        <div class="header" i18n>Record B</div>
        <div class="header" i18n>Merge Preview</div>
        @if (hasAnyUserAccount) {
          <!-- Account Email row -->
          <div class="label-cell">
            <strong i18n>Account Email</strong>
          </div>
          <div>{{ entityAccounts[0]?.email ?? "-" }}</div>
          <div>{{ entityAccounts[1]?.email ?? "-" }}</div>
          <div class="preview-cell">
            @if (accountForm) {
              <mat-form-field class="full-width">
                <mat-label i18n>Email</mat-label>
                <input
                  matInput
                  type="email"
                  [formControl]="accountEmailControl"
                />
                @if (accountEmailControl?.hasError("email")) {
                  <mat-error i18n>Please enter a valid email</mat-error>
                }
              </mat-form-field>
            } @else {
              {{ entityAccounts[0]?.email ?? "-" }}
            }
          </div>
          <!-- Account Roles row -->
          <div class="label-cell">
            <strong i18n>Account Roles</strong>
          </div>
          <div>{{ formatRoles(entityAccounts[0]) }}</div>
          <div>{{ formatRoles(entityAccounts[1]) }}</div>
          <div class="preview-cell">
            @if (accountForm) {
              <mat-form-field class="full-width">
                <mat-label i18n>Roles</mat-label>
                <mat-select [formControl]="accountRolesControl" multiple>
                  <mat-select-trigger>
                    @for (role of accountRolesControl?.value; track role.id) {
                      <span>{{ role.name }} </span>
                    }
                  </mat-select-trigger>
                  @for (role of availableRoles; track role.id) {
                    <mat-option [value]="role">{{ role.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            } @else {
              {{ formatRoles(entityAccounts[0]) }}
            }
          </div>
        }
        @for (field of fieldsToMerge; track field.id) {
          <div class="label-cell">
            <strong>{{ field.label }}</strong>
          </div>
          <app-merge-fields
            [field]="field"
            [entities]="entitiesToMerge"
            [control]="mergeForm.formGroup.get(field.id)"
          >
          </app-merge-fields>
          <!-- Merge Preview -->
          <div class="preview-cell">
            <app-entity-field-edit
              [field]="field"
              [entity]="mergedEntity"
              [form]="mergeForm"
            ></app-entity-field-edit>
          </div>
        }
      </div>
    </form>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button matDialogClose i18n>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    [disabled]="mergeForm?.formGroup.invalid"
    (click)="confirmAndMergeRecords()"
    i18n
  >
    Merge
  </button>
  @if (mergeForm?.formGroup.invalid) {
    <mat-error i18n>
      The data you selected to merge is invalid, please check the fields in the
      "Merge Preview" above.
    </mat-error>
  }
</mat-dialog-actions>
