<mat-card class="dashboard-widget">
  <mat-card-header class="app-child">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-list"></mat-icon>
    </div>
    <mat-card-title>{{
      data.getTotalPercentage() | percent: "1.0-0"
    }}</mat-card-title>
    <mat-card-subtitle>{{ data.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="dashboard-desc" i18n="Status description|Informs the user that the following is the status">
      Status of current processes:</p>
    <table class="dashboard-table">
      <tr *ngFor="let entry of data?.parts" class="dashboard-table-row">
        <td class="dashboard-table-cell">{{ entry.label }}</td>
        <td class="dashboard-table-cell filler">
          <mat-progress-bar
            mode="determinate"
            [value]="(entry.currentValue / entry.targetValue) * 100"
          ></mat-progress-bar>
        </td>
        <td class="dashboard-table-cell">
          {{ entry.currentValue / entry.targetValue | percent: "1.0-0" }}
        </td>
        <td class="dashboard-table-cell" style="white-space: nowrap">
          {{ entry.currentValue }} / {{ entry.targetValue }}
        </td>
      </tr>
    </table>

    <div [ngClass]="{ 'dashboard-config': configure }">
      <div style="text-align: right">
        <button mat-icon-button (click)="addPart()" *ngIf="configure">
          <mat-icon aria-label="add part" fontIcon="fa-plus"></mat-icon>
        </button>
        <button mat-icon-button (click)="save()" *ngIf="configure">
          <mat-icon aria-label="save" fontIcon="fa-check"></mat-icon>
        </button>
        <button mat-icon-button (click)="configure = true" *ngIf="!configure">
          <mat-icon aria-label="configure" fontIcon="fa-wrench"></mat-icon>
        </button>
      </div>

      <!-- TODO: remove ugly negative margins -->
      <div
        class="dashboard-table-cell"
        *ngIf="configure"
        style="border-bottom: 1px solid black"
      >
        <mat-form-field style="margin-bottom: -10px">
          <input
            matInput
            type="text"
            placeholder="Title"
            [value]="data.title"
            (input)="data.title = $event.target.value"
          />
        </mat-form-field>
      </div>

      <table class="dashboard-table" *ngIf="configure">
        <tr
          *ngFor="let entry of data.parts; let i = index"
          class="dashboard-table-row"
        >
          <td
            class="dashboard-table-cell"
            style="width: calc(100% - 20px); display: inline-block"
          >
            <mat-form-field class="filler">
              <input
                matInput
                type="text"
                i18n-placeholder="Process Label|The label of a process"
                placeholder="Label"
                [value]="entry.label"
                (input)="entry.label = $event.target.value"
              />
            </mat-form-field>
          </td>
          <td
            class="dashboard-table-cell"
            style="
              display: inline-block;
              margin-top: -20px;
              margin-bottom: -10px;
            "
          >
            <mat-form-field class="small">
              <input
                matInput
                type="number"
                i18n-placeholder="Current process|The Current amount of a process"
                placeholder="Current"
                [value]="entry.currentValue"
                (change)="entry.currentValue = $event.target.valueAsNumber"
              />
            </mat-form-field>

            <mat-form-field class="small" style="margin: 0 10px">
              <input
                matInput
                type="number"
                i18n-placeholder="Target process|The target amount of a process"
                placeholder="Target"
                [value]="entry.targetValue"
                (change)="entry.targetValue = $event.target.valueAsNumber"
              />
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button (click)="data.parts.splice(i, 1)">
              <mat-icon aria-label="remove" fontIcon="fa-trash"></mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
