<app-dashboard-widget
  icon="list"
  theme="child"
  [title]="data.getTotalPercentage() | percent: '1.0-0'"
  [subtitle]="data.title"
>
  <app-widget-content>
    <table class="dashboard-table">
      <tr *ngFor="let entry of data?.parts" class="dashboard-table-row">
        <td class="dashboard-table-cell">{{ entry.label }}</td>
        <td class="dashboard-table-cell filler">
          <mat-progress-bar style="height: 6px"
                            mode="determinate"
                            [value]="(entry.currentValue / entry.targetValue) * 100"
          ></mat-progress-bar>
        </td>
        <td class="align-right" style="white-space: nowrap">
          {{ entry.currentValue }} / {{ entry.targetValue }}
        </td>
      </tr>
    </table>

    <div [ngClass]="{ 'dashboard-config': configure }">
      <div style="text-align: left">
        <button mat-icon-button (click)="addPart()" *ngIf="configure">
          <app-fa-dynamic-icon aria-label="add part" icon="fa-plus"></app-fa-dynamic-icon>
        </button>
        <button mat-icon-button (click)="save()" *ngIf="configure">
          <app-fa-dynamic-icon aria-label="save" icon="fa-check"></app-fa-dynamic-icon>
        </button>
        <button mat-icon-button (click)="configure = true" *ngIf="!configure">
          <app-fa-dynamic-icon aria-label="configure" icon="fa-wrench"></app-fa-dynamic-icon>
        </button>
      </div>

      <!-- TODO: remove ugly negative margins -->
      <div
        class="dashboard-table-cell"
        *ngIf="configure"
        style="border-bottom: 1px solid black"
      >
        <mat-form-field style="margin-bottom: -10px">
          <input
            matInput
            type="text"
            i18n-placeholder="Input placeholder"
            placeholder="Title"
            [(ngModel)]="data.title"
          />
        </mat-form-field>
      </div>

      <table class="dashboard-table" *ngIf="configure">
        <tr
          *ngFor="let entry of data.parts; let i = index"
          class="dashboard-table-row"
        >
          <td
            class="dashboard-table-cell"
            style="width: calc(100% - 20px); display: inline-block"
          >
            <mat-form-field class="filler">
              <input
                matInput
                type="text"
                i18n-placeholder="Process Label|The label of a process"
                placeholder="Label"
                [(ngModel)]="entry.label"
              />
            </mat-form-field>
          </td>
          <td
            class="dashboard-table-cell"
            style="
              display: inline-block;
              margin-top: -20px;
              margin-bottom: -10px;
            "
          >
            <mat-form-field class="small">
              <input
                matInput
                type="number"
                i18n-placeholder="
                  Current process|The Current amount of a process
                "
                placeholder="Current"
                [(ngModel)]="entry.currentValue"
              />
            </mat-form-field>

            <mat-form-field class="small" style="margin: 0 10px">
              <input
                matInput
                type="number"
                i18n-placeholder="Target process|The target amount of a process"
                placeholder="Target"
                [(ngModel)]="entry.targetValue"
              />
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button (click)="data.parts.splice(i, 1)">
              <app-fa-dynamic-icon aria-label="remove" icon="fa-trash"></app-fa-dynamic-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </app-widget-content>
</app-dashboard-widget>
