.filler {
  width: 45%;
  padding-left: 40px;
  padding-right: 5px;
}

.align-right {
  padding-right: 10px;
  text-align: right;
}

.dashboard-config {
  background-color: lightgray;
}

.dashboard-widget .part-bar {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-widget mat-form-field.small {
  width: 40px;
}
