@use 'src/app/core/dashboard/dashboard-widget-base';

.filler {
  width: 45%;
  padding-left: 50px;
  padding-right: 5px;

}

.dashboard-config {
  background-color: lightgray;
}

.dashboard-widget .part-bar {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-widget mat-form-field.small {
  width: 40px;
}
