<div *ngIf="_field && _field.editComponent; else displayComponent">
  <div [class.field-with-tooltip-suffix]="_field.description">
    <ng-container
      [appDynamicComponent]="{
        component: _field.editComponent,
        config: {
          formFieldConfig: _field,
          formControl: form?.get(_field.id),
          entity: entity
        }
      }"
    >
    </ng-container>
  </div>
  <app-help-button [text]="_field.description"></app-help-button>
</div>

<ng-template #displayComponent>
  <app-entity-field-view
    [field]="_field"
    [entity]="entity"
  ></app-entity-field-view>
</ng-template>
