<div
  *ngIf="_field && form && _field.editComponent; else displayComponent"
  class="flex-row"
  [ngClass]="{ hidden: _field?.hideFromForm }"
>
  <div class="flex-grow">
    <ng-container
      [appDynamicComponent]="{
        component: _field.editComponent,
        config: {
          formFieldConfig: _field,
          formControl: form?.formGroup.get(_field.id),
          entity: entity,
        },
      }"
    >
    </ng-container>
  </div>

  <app-help-button
    *ngIf="!compactMode"
    [text]="_field.description"
  ></app-help-button>

  <app-inherited-value-button
    [form]="form"
    [field]="_field"
    [entity]="entity"
  ></app-inherited-value-button>
</div>

<ng-template #displayComponent>
  <app-entity-field-view
    [field]="_field"
    [entity]="entity"
  ></app-entity-field-view>
</ng-template>
