<div *ngIf="_field && form && _field.editComponent; else displayComponent">
  <div
    [class.field-with-tooltip-suffix]="
      _field.description || defaultValueHint?.showHint
    "
  >
    <ng-container
      [appDynamicComponent]="{
        component: _field.editComponent,
        config: {
          formFieldConfig: _field,
          formControl: form?.formGroup.get(_field.id),
          entity: entity,
        },
      }"
    >
    </ng-container>
  </div>

  <app-help-button
    *ngIf="!compactMode"
    [text]="_field.description"
  ></app-help-button>

  <button
    *ngIf="defaultValueHint?.showHint && form.formGroup.enabled"
    mat-icon-button
    type="button"
    [disabled]="form.inheritedSyncStatus.get(_field.id)"
    (click)="syncFromParentField()"
  >
    <fa-icon icon="sync"></fa-icon>
  </button>

  <div class="field-hint" *ngIf="defaultValueHint?.showHint">
    <!-- todo use label of linked field here -->
    Inherited from "{{ defaultValueHint?.definedByField }}" ({{
      form.inheritedSyncStatus.get(_field.id) ? "Synced" : "Out of Sync"
    }})
  </div>
</div>

<ng-template #displayComponent>
  <app-entity-field-view
    [field]="_field"
    [entity]="entity"
  ></app-entity-field-view>
</ng-template>
