<mat-form-field [formGroup]="parent">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControlName]="formControlName"
    [matDatepicker]="datepickerComp"
  />

  <fa-icon
    *ngIf="isPartiallyAnonymized"
    matIconSuffix
    icon="warning"
    matTooltip="This data has been partially anonymized."
    i18n-matTooltip
  ></fa-icon>

  <mat-datepicker-toggle
    matIconSuffix
    [for]="datepickerComp"
  ></mat-datepicker-toggle>
  <mat-datepicker #datepickerComp></mat-datepicker>
  <mat-error>
    <app-error-hint [form]="formControl"></app-error-hint>
  </mat-error>
</mat-form-field>
