<div class="flex-row flex-wrap justify-space-between">
  <app-view-title i18n [displayInPlace]="true"
    >Main Navigation Menu</app-view-title
  >

  <div class="flex-row gap-small">
    <button
      mat-raised-button
      color="accent"
      (click)="save()"
      [disabled]="!hasChanges"
      i18n
    >
      Save
    </button>
    <button mat-stroked-button (click)="cancel()" i18n>Cancel</button>
  </div>
</div>

<app-menu-item-list-editor
  class="margin-top-large"
  [items]="menuItems"
  containerId="navigation-container"
  (itemsChange)="onMenuItemsChange($event)"
></app-menu-item-list-editor>
