<mat-select [formControl]="formControl">
  @for (mode of modeOptions; track mode) {
    <mat-option
      [value]="mode"
      [matTooltip]="modeDescriptions[mode]"
      matTooltipPosition="right"
    >
      {{ modeToString(mode) }}
    </mat-option>
  }
</mat-select>

@if (valueSignal() === "sql") {
  <app-feature-disabled-info
    featureName="SQL reports"
    i18n-featureName="ReportConfig SQL feature name"
    [featureEnabled]="reportingBackendEnabled.value()"
    [compactView]="true"
  ></app-feature-disabled-info>
}
