<mat-form-field floatLabel="always">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <input
    #inputField
    matInput
    [hidden]="!formControl.enabled"
    [placeholder]="inputPlaceholder"
    [formControl]="formControl"
    [matAutocomplete]="autoSuggestions"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="select($event)"
  />

  <mat-chip-grid #chipList>
    <ng-container *ngIf="showEntities">
      <mat-chip-row
        [editable]="selectable && formControl.enabled"
        [removable]="removable && formControl.enabled"
        *ngFor="let entity of selectedEntities"
        (removed)="unselectEntity(entity)"
        class="chip"
      >
        <app-display-entity
          class="display-entity"
          [entityToDisplay]="entity"
          [linkDisabled]="formControl.enabled"
        ></app-display-entity>
        <button matChipRemove *ngIf="removable && formControl.enabled">
          <fa-icon
            i18n-matTooltip="tooltip for remove icon-button"
            matTooltip="remove"
            icon="xmark"
          ></fa-icon>
        </button>
      </mat-chip-row>
    </ng-container>
  </mat-chip-grid>

  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
    (optionSelected)="selectEntity($event.option.value)"
    autoActiveFirstOption
  >
    <mat-checkbox
      labelPosition="after"
      (change)="toggleIncludeInactive()"
      [checked]="includeInactive"
      i18n="Label for checkbox|e.g. include inactive children"
    >
      Include inactive {{ label }}
    </mat-checkbox>
    <ng-content select="mat-option"></ng-content>

    <mat-option *ngFor="let res of filteredEntities" [value]="res">
      <app-display-entity
        [entityToDisplay]="res"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
