<mat-form-field>
  <mat-label>{{ label }}</mat-label>

  <app-basic-autocomplete
    #autocomplete
    [formControl]="form"
    [valueMapper]="entityToId"
    [optionToString]="accessor"
    [multi]="multi"
    [display]="showEntities ? 'chips' : 'none'"
    [options]="availableOptions | async"
    [placeholder]="(loading | async) ? loadingPlaceholder : placeholder"
  >
    <ng-template let-item>
      <app-display-entity
        style="margin: auto"
        [entityToDisplay]="item"
        [linkDisabled]="form.enabled"
      ></app-display-entity>
    </ng-template>

    <ng-container autocompleteFooter>
      <mat-slide-toggle
        [checked]="includeInactive"
        (toggleChange)="toggleIncludeInactive()"
        i18n="Label for checkbox|e.g. include inactive children"
        >Also show inactive
      </mat-slide-toggle>
    </ng-container>
  </app-basic-autocomplete>

  <fa-icon
    *ngIf="form.enabled"
    icon="caret-down"
    class="form-field-icon-suffix"
    (click)="autocomplete.showAutocomplete()"
    matIconSuffix
  ></fa-icon>

  <mat-error *ngIf="form.errors">
    <app-error-hint [form]="form"></app-error-hint>
  </mat-error>
</mat-form-field>
