<div class="address-edit-container full-width">
  @if (!disabled) {
    <div class="flex-row gap-regular align-center full-width search-section">
      <app-address-search
        (locationSelected)="updateFromAddressSearch($event)"
        class="full-width"
      ></app-address-search>
      <app-address-gps-location
        (locationSelected)="onGpsLocationSelected($event)"
      ></app-address-gps-location>
    </div>
  }

  <mat-form-field floatLabel="always" class="full-width">
    <mat-label i18n>Selected Location</mat-label>
    <textarea
      #manualAddressInput
      matInput
      placeholder="no location selected"
      i18n-placeholder
      [value]="
        selectedLocation?.locationString ??
        selectedLocation?.geoLookup?.display_name
      "
      (change)="updateLocationString(manualAddressInput.value)"
      [disabled]="disabled || !manualAddressEnabled"
      rows="2"
    ></textarea>

    <mat-hint>
      @if (
        selectedLocation?.geoLookup?.display_name !==
        selectedLocation?.locationString
      ) {
        @if (selectedLocation?.geoLookup) {
          <span
            matTooltip="You have manually edited the address above. This is the actual mapped location. To change the location on the map, use the address search field or click on the map."
            i18n-matTooltip
          >
            {{ selectedLocation.geoLookup.display_name }}
          </span>
        } @else {
          <span
            matTooltip="You have manually entered the address above without locating it on the map. To change the location on the map, use the address search field or click on the map."
            i18n-matTooltip
            i18n
          >
            No location marked on map
          </span>
        }
        <br />
      }

      @if (!disabled && selectedLocation) {
        <span>
          <a
            href=""
            (click)="enableManualAddressEditing(); $event.preventDefault()"
            matTooltip="Manually overwrite the address text (e.g. to add details that are not available from the automatic address lookup). The mapped location will be unaffected by this."
            i18n-matTooltip
            i18n
            >Manually edit address text</a
          >
        </span>
        &nbsp;|&nbsp;
        <span
          ><a
            href=""
            (click)="clearLocation(); $event.preventDefault()"
            matTooltip="Delete the selected location."
            i18n-matTooltip
            i18n
            >Clear</a
          ></span
        >
      }
    </mat-hint>
  </mat-form-field>
</div>
