@if ("update" | ablePure: "Config" | async) {
  <button
    mat-icon-button
    color="primary"
    [matMenuTriggerFor]="additional"
    class="dashboard-menu-btn"
    matTooltip="Configure the dashboard"
    i18n-matTooltip
  >
    <fa-icon icon="ellipsis-v"></fa-icon>
  </button>
  <mat-menu #additional>
    <button
      mat-menu-item
      [routerLink]="['/admin/dashboard', dashboardViewId]"
      matTooltip="Configure, add and remove dashboard widgets"
      i18n-matTooltip
    >
      <fa-icon
        class="standard-icon-with-text color-accent"
        icon="tools"
      ></fa-icon>
      <span i18n>Edit Dashboard</span>
    </button>
  </mat-menu>
}

<div class="widgets-container">
  @for (widgetConfig of _widgets; track widgetConfig) {
    <ng-template [appDynamicComponent]="widgetConfig"></ng-template>
  }
</div>
