<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->


<div>
  <h3>System updated!</h3>
  <h4>
    {{ currentChangelog ? currentChangelog.tag_name : "No Changelog Available" }}
    <span> {{ (currentChangelog && currentChangelog.name) ? (": " + currentChangelog.name) : ""}}</span>
  </h4>
  <p class="version-changes-date" style="font-style:italic;">
    {{ currentChangelog.published_at | date }}
  </p>
  <p style="white-space: pre-wrap; text-align: left" [innerHTML]="currentChangelog.body"></p>

  <button mat-button (click)="onCloseClick()">Close</button>
</div>
