.overflow-auto-y {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/**
 *
 */
.pointer {
  cursor: pointer;
}

/**
 * Displays a text so that when it would overflow ellipsis (...) are shown instead
 */
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Hide the element that this is applied on when on a mobile device
 */
.hide-mobile {
  @media (max-width: 599px) {
    display: none;
  }
}

/*
 * Hide the element that this is applied on when on a desktop device
 */
.hide-desktop {
  @media (min-width: 599px) {
    display: none;
  }
}

.text-align-end {
  text-align: end;
}

.position-relative {
  position: relative;
}
