@use "../variables/colors";

.w-OK {
  background-color: adjust-color(colors.$warning-ok, $alpha: -0.75);
}
.w-WARNING {
  background-color: adjust-color(colors.$warning-warning, $alpha: -0.5);
}
.w-URGENT {
  background-color: adjust-color(colors.$warning-urgent, $alpha: -0.5);
}

.w-100 {
  background-color: #90ee90 !important;
}
.w-90 {
  background-color: #a5e46e !important;
}
.w-80 {
  background-color: #bcd84e !important;
}
.w-70 {
  background-color: #d2c92e !important;
}
.w-60 {
  background-color: #e9b90f !important;
}
.w-50 {
  background-color: #ffa500 !important;
}
.w-40 {
  background-color: #ff982a !important;
}
.w-30 {
  background-color: #ff8b40 !important;
}
.w-20 {
  background-color: #ff8153 !important;
}
.w-10 {
  background-color: #ff7863 !important;
}
.w-0 {
  background-color: #fd7272 !important;
}
