<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <mat-select
    (selectionChange)="onSelectionChange($event)"
    placeholder="Choose notification centers"
    [disabled]="disabled"
    multiple
    [value]="selectedNotificationMethod"
    i18n-placeholder="Choose notification centers"
  >
    <mat-option
      *ngFor="let notificationMethod of notificationMethods"
      [value]="notificationMethod"
    >
      {{ notificationMethod }}
    </mat-option>
  </mat-select>
</mat-form-field>
