# Define supported browsers
#
# Angular will ensure that CSS and JS syntax features are transpiled to work for
# these browsers. Polyfills for JS or Web standard libraries will NOT be
# included.
#
# The list is based on usage data.
# See https://github.com/browserslist/browserslist#queries for reference.

ChromeAndroid >= 131
Chrome >= 131
Firefox >= 133
Edge >= 131
Safari >= 16.0
