{
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@google/semantic-release-replace-plugin", {
      "replacements": [
        {
          "files": ["src/environments/environment.ts", "src/environments/environment.prod.ts"],
          "from": "appVersion: \".*\"",
          "to": "appVersion: \"${nextRelease.version}\"",
          "results": [
            {
              "file": "src/environments/environment.ts",
              "hasChanged": true,
              "numMatches": 1,
              "numReplacements": 1
            },
            {
              "file": "src/environments/environment.prod.ts",
              "hasChanged": true,
              "numMatches": 1,
              "numReplacements": 1
            }
          ],
          "countMatches": true
        }
      ]
    }],
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    ["@semantic-release/git", {
      "assets": ["src/environments/environment.ts", "src/environments/environment.prod.ts", "package.json"]
    }],
    ["@semantic-release/exec", {
      "publishCmd": "./docker/publish.sh ${nextRelease.version} && tar -zcf ndb-core_${nextRelease.version}.tar.gz dist"
    }],
    ["@semantic-release/github", {
      "assets": "ndb-core_${nextRelease.version}.tar.gz"
    }],
    ["semantic-release-slack-bot", {
      "packageName": "ndb-server",
      "notifyOnSuccess": true,
      "notifyOnFail": true
    }]
  ]
}
