<app-dashboard-widget
  icon="child"
  theme="child"
  [title]="totalChildren"
  subtitle="Cases"
  i18n-subtitle="Dashboard title naming total number of beneficiaries in the system"
  [loading]="loading"
>
  <app-widget-content>
    <table class="dashboard-table" i18n-aria-label="Label for children count dashboard" aria-label="Table showing disaggregation of the beneficiaries">
      <tr
        *ngFor="let entry of childrenGroupCounts; let i = index"
        class="dashboard-table-row"
        (click)="goToChildrenList(entry.id)"
        style="cursor: pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_children_count_school_link"
        [angularticsLabel]="'list-entry-' + i"
      >
        <td class="dashboard-table-cell">{{ entry.label }}</td>
        <td class="dashboard-table-cell">{{ entry.value }}</td>
        <td class="dashboard-table-cell">
          <fa-icon icon="external-link-square-alt"></fa-icon>
        </td>
      </tr>
    </table>
  </app-widget-content>
</app-dashboard-widget>
