@use "variables/colors";

.colored {
  display: inline-flex;
  width: 100%;

  align-items: center;
  justify-content: start;
  min-width: 110px;
  height: 28px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  font-size: inherit;
  font-family: inherit;

  /* default color, overwritten if option defines a custom color */
  background-color: colors.$grey-transparent;
}
