@use "variables/colors";

.colored-bubble {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 2px;
  background: colors.$grey-transparent;
  white-space: nowrap;
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 230px;
}

.bubble-list {
  display: flex;
  align-items: center;
}
