@use "@angular/material" as mat;
@use "src/styles/variables/colors";
@use "src/styles/functions/gradient-helpers";

.day-cell {
  padding: 0.28em;
  line-height: 1em;
  width: 1ch;
}

$dark-grey: mat.get-color-from-palette(mat.$gray-palette, 800);

.has-remark {
  background-image: gradient-helpers.top-right-triangle($dark-grey);
}

