
.special-option {
  font-style: italic;
}

.suffix-action {
  display: inline;
}

.field-with-tooltip-suffix {
  width: calc(100% - 24px);
  display: inline-block;
}

.tooltip-suffix {
  margin: 4px;
}
