<div class="flex-column gap-regular">
  @if (!demoInitialized && !generatingData) {
    <app-language-select
      [availableLocales]="availableLocales"
    ></app-language-select>
  }

  <h1 i18n>Welcome to Aam Digital!</h1>

  @if (!demoInitialized && !generatingData) {
    <p i18n>
      We have built this platform to help you digitize information and case
      files of your project, make it easy to collaborate with your team, track
      individual progress of participants, and be alerted about critical
      developments. With Aam Digital, you can access your data across all
      devices, even when offline.
    </p>

    <app-choose-use-case
      [useCases]="availableUseCases"
      (selectionChanged)="onUseCaseSelected($event)"
      class="margin-top-large margin-bottom-large"
    >
    </app-choose-use-case>

    <mat-checkbox [(ngModel)]="generateDemoData" i18n
      >Generate demo data</mat-checkbox
    >

    <p class="footer-note" i18n>
      Aam Digital is very flexible and can be quickly adapted to your needs and
      data structures. It is not limited to the scenarios above. After
      initializing your system, you can further customize it to track, measure,
      and manage your project.
    </p>

    <div class="demo-actions">
      <button
        mat-raised-button
        class="full-width"
        color="accent"
        (click)="initializeSystem()"
        [disabled]="!selectedUseCase"
        i18n
      >
        Create System
      </button>
    </div>
  } @else if (generatingData) {
    <p i18n>Generating sample data for this demo ...</p>
  } @else {
    <p i18n>
      We have loaded some sample data into this demo system. Explore and play
      around – you can’t break anything!<br />
      Changes you make in this demo will <em>not</em> be saved anywhere. The
      system is reset after you close or reload the page.
    </p>

    <p i18n>
      You can get assistance by clicking the "Assistant" button on the top right
      of the toolbar. From there you can also switch to other demo scenarios.
    </p>

    <div class="demo-actions">
      <button
        mat-raised-button
        class="full-width"
        color="accent"
        (click)="startExploring()"
        [disabled]="generatingData"
        i18n
      >
        Start Exploring
      </button>
    </div>
  }
</div>
