<ng-template #template>
  <div class="container flex-row">
    <button
      *ngIf="(parentUrl || !navigateToParentBehaviour) && !disableBackButton"
      mat-icon-button
      (click)="navigateBack()"
      i18n-matTooltip="Generic back button"
      matTooltip="Back"
    >
      <fa-icon icon="arrow-left"></fa-icon>
    </button>

    <h1 class="remove-margin-bottom flex-grow">
      <ng-content></ng-content>
    </h1>

    <ng-content select="[actions]"></ng-content>

    @if (viewContext.isDialog) {
      <div style="width: 24px"><!-- spacer for dialog close button--></div>
    }
  </div>
</ng-template>

@if (!asTemplate) {
  <ng-container *ngTemplateOutlet="template"></ng-container>
}
