<app-dashboard-widget
  icon="list"
  theme="child"
  [title]="data.getTotalPercentage() | percent: '1.0-0'"
  [subtitle]="data.title"
>
  <app-widget-content style="position: relative">
    <table class="dashboard-table" i18n-aria-label="Label for progress dashboard" aria-label="Table showing organization progress">
      <tr *ngFor="let entry of data?.parts" class="dashboard-table-row">
        <td class="dashboard-table-cell">{{ entry.label }}</td>
        <td class="dashboard-table-cell filler">
          <mat-progress-bar
            style="height: 6px"
            mode="determinate"
            [value]="(entry.currentValue / entry.targetValue) * 100"
          ></mat-progress-bar>
        </td>
        <td class="align-right" style="white-space: nowrap">
          {{ entry.currentValue }} / {{ entry.targetValue }}
        </td>
      </tr>
    </table>

    <div class="config-panel">
      <button mat-icon-button (click)="showEditComponent()">
        <fa-icon aria-label="configure" icon="wrench"></fa-icon>
      </button>
    </div>
  </app-widget-content>
</app-dashboard-widget>
