<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<h2 mat-dialog-title>{{note.date.toLocaleDateString()}}: {{note.subject}}</h2>


<form #recordForm="ngForm">
  <mat-dialog-content>
    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <mat-form-field>
          <!-- TODO: date pickers should be the same throughout the app -->
          <input matInput placeholder="Date" [matDatepicker]="picker"
                 [valueAsDate]="note.date" (change)='note.date=$event.target.valueAsDate;recordForm.form.markAsDirty();'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field>
          <mat-label>
            Status
          </mat-label>
          <mat-select name="followup" [(ngModel)]="note.warningLevel">
            <mat-option value="OK">Solved</mat-option>
            <mat-option value="WARNING">Needs Follow-Up</mat-option>
            <mat-option value="URGENT">Urgent Follow-Up</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <mat-form-field class='input-medium'>
          <input matInput placeholder="Subject" name="subject" type="text" [(ngModel)]="note.subject">
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class='input-medium'>
          <mat-select matInput placeholder="Type of Interaction" name="type" [(ngModel)]="note.category">
            <mat-option *ngFor="let interaction of interactionTypes" [value]="interaction">
              {{interaction}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <app-child-select [valueAsIds]='note.getChildIDs()'
                          (newIdAdded)="note.addChild($event);recordForm.form.markAsDirty()"
                          (idRemoved)="note.removeChild($event);recordForm.form.markAsDirty()"
                          class='input-medium'>
        </app-child-select>
      </div>
      <div fxFlex>
        <mat-form-field class='input-medium'>
          <!-- TODO: should be multi-select or auto-complete field of user names? -->

          <input matInput placeholder="Team Member" name="teammember" type="text" [(ngModel)]="note.author">
        </mat-form-field>
      </div>
    </div>

    <p>
      <mat-form-field class='input-max'>
        <textarea matInput placeholder="Notes" name="notes" [(ngModel)]="note.text" cdkTextareaAutosize></textarea>
      </mat-form-field>
    </p>

    <div *ngIf="note.isMeeting()" fxLayout="row wrap" fxLayoutGap="20px">

      <div fxFlex>
        <h3>Present</h3>
        <mat-expansion-panel  *ngFor="let child of note.childrenWithPresence(true)">

          <mat-expansion-panel-header>
            <app-child-block [entityId]="child.childID"></app-child-block>
            <button mat-icon-button (click)="note.togglePresence(child.childID);recordForm.form.markAsDirty()">
              <span class="fa fa-arrow-right"></span>
            </button>
          </mat-expansion-panel-header>

          <mat-form-field class="input-max">
            <label>
              <textarea matInput placeholder="Remarks" name="remarks" [(ngModel)]="child.remarks" (change)="recordForm.form.markAsDirty()"></textarea>
            </label>
          </mat-form-field>

        </mat-expansion-panel>
      </div>

      <div fxFlex>
        <h3>Absent</h3>
        <mat-expansion-panel  *ngFor="let child of note.childrenWithPresence(false)">
          <mat-expansion-panel-header>
            <app-child-block [entityId]="child.childID"></app-child-block>
            <button mat-icon-button (click)="note.togglePresence(child.childID);recordForm.form.markAsDirty()">
              <span class="fa fa-arrow-left"></span>
            </button>
          </mat-expansion-panel-header>

          <mat-form-field class="input-max">
            <label>
              <textarea matInput placeholder="Remarks" name="remarks" [(ngModel)]="child.remarks" (change)="recordForm.form.markAsDirty()"></textarea>
            </label>
          </mat-form-field>

        </mat-expansion-panel>
      </div>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button [disabled]='!recordForm.form.dirty' (click)='save()'>Save</button>
    <button mat-stroked-button (click)='cancel()'>Cancel</button>
  </mat-dialog-actions>
</form>


