.input-medium {
  width: 100%;
  max-width: 500px;
}

.input-max {
  width: 100%
}

.list-container-left {
  max-width: 45%;
  align-self: start;
}

.padding-container {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-spacing {
  padding-bottom: 20px;
}

.list-container-right {
  max-width: 45%;
  align-self: end;
}
