.input-medium {
  width: 100%;
  max-width: 500px;
}

.input-max {
  width: 100%
}

.list-container-left {
  max-width: 45%;
  align-self: start;
}

.list-container-right {
  max-width: 45%;
  align-self: end;
}
