<div>
  <mat-form-field fxFill>
    <span matPrefix><mat-icon class="search-icon" fontIcon="fa-search"></mat-icon>&nbsp;</span>
    <input matInput (input)="search()" title="Search" [matAutocomplete]="autoResults" [(ngModel)]="searchText">
  </mat-form-field>

  <mat-autocomplete #autoResults="matAutocomplete" (optionSelected)="clickOption($event.option)">
    <mat-option *ngFor="let res of results" [value]="''">
      <app-child-block *ngIf="res.getType()==='Child'" [entity]="res" [ngClass]="{'result-inactive': !res.isActive()}"></app-child-block>
      <app-school-block *ngIf="res.getType()==='School'" [entity]="res"></app-school-block>
    </mat-option>
  </mat-autocomplete>
</div>
