<div class="notifications-container">
  <h1 class="notification-setting-title">
    <strong>Notifications settings</strong>
  </h1>
  <p>
    Aam Digital may still send you important notifications about your account
    and content outside of your preferred notification settings.
  </p>

  <div class="notification-types-container">
    <div class="flex-row justify-space-between align-center">
      <h3 class="no-margin"><strong>What notifications you receive</strong></h3>
      <button
        mat-stroked-button
        color="accent"
        (click)="addNewRule()"
        angulartics2On="click"
        angularticsCategory="UserAction"
        angularticsAction="list_add_entity"
        matTooltip="Add new notification rule"
        i18n-matTooltip
      >
        <fa-icon aria-label="add element" icon="plus-circle"></fa-icon>
        <span i18n class="new-notification-rule"
          >Add new notification rule</span
        >
      </button>
    </div>

    <div class="flex-row gap-small save-buttons justify-end">
      <button
        mat-raised-button
        color="accent"
        (click)="updateNotificationRule()"
        i18n
      >
        Save
      </button>
      <button mat-stroked-button (click)="cancelNotificationRule()" i18n>
        Cancel
      </button>
    </div>

    <ng-container *ngFor="let notification of notifications; let i = index">
      <div
        class="flex-row justify-space-between align-center notifications-types-container"
      >
        <app-entity-type-selector [isMulti]="false" />

        <mat-form-field>
          <mat-label>Notification condition</mat-label>
          <input
            matInput
            [(ngModel)]="notification.inputValue"
            placeholder="TO BE IMPLEMENTED LATER"
            disabled="true"
          />
        </mat-form-field>

        <mat-slide-toggle
          [(ngModel)]="notification.toggleValue"
          class="notification-toggle"
        ></mat-slide-toggle>

        <button
          mat-icon-button
          (click)="removeRule(i)"
          matTooltip="Remove notification rule"
          i18n-matTooltip
        >
          <fa-icon icon="trash"></fa-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <div class="browser-notifications-container">
    <h3><strong>Where you receive notifications</strong></h3>
    <div class="receive-notifications-container">
      <div class="flex-row">
        <fa-icon icon="window-maximize"></fa-icon>
        <p class="notification-toggle">Browser</p>
      </div>
      <div class="flex-row justify-space-between browser-notification-list">
        <span>Push notifications</span>
        <mat-slide-toggle (change)="onEnableNotification()" />
      </div>
    </div>
  </div>
</div>
