@if (isLoading) {
  <div>
    <div i18n>Preparing data for preview and import ...</div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
} @else {
  <div class="flex-row gap-regular align-center">
    <span class="flex-grow" i18n>Review your mapped data to be imported:</span>

    <button (click)="startImport()" mat-raised-button color="accent" i18n>
      Start Import
    </button>

    <app-help-button
      text="The data previewed here is mapped and transformed according to the 'Column Mapping' you defined in the previous step.
        Only columns for which you selected a field there will be imported and appears here in this preview.
        If necessary, you can go back to the previous step and make changes to the mapping."
      i18n-text="import - review data - help text"
    >
    </app-help-button>
  </div>

  @let skippedRows = rawData?.length - mappedEntities?.length;
  @if (skippedRows > 0) {
    <app-hint-box i18n>
      {{ skippedRows }} row(s) were skipped because no mappable data was found
      based on your column mapping.
    </app-hint-box>
  }

  <app-entities-table
    [entityType]="entityConstructor"
    [columnsToDisplay]="displayColumns"
    [records]="mappedEntities"
    clickMode="none"
    [editable]="false"
  >
    <ng-container [matColumnDef]="IMPORT_STATUS_COLUMN">
      <th mat-header-cell *matHeaderCellDef style="width: 0" i18n>
        Import Status
      </th>

      <td mat-cell *matCellDef="let row" [class.highlight]="row.record._rev">
        @if (row.record._rev) {
          <em
            matTooltip="We identified an existing record in the database that matches your imported data (based on the ID fields you selected in the previous step). The data of the record will be updated for the fields shown here in the preview."
            i18n-matTooltip
            i18n
          >
            Updating
          </em>
          <app-entity-block [entity]="row.record"></app-entity-block>
        } @else {
          <em
            class="status-create"
            matTooltip="This previewed data will be added as a new record in the database."
            i18n-matTooltip
            i18n
            >Creating</em
          >
        }
      </td>
    </ng-container>
  </app-entities-table>
}
