mat-dialog-content,
mat-dialog-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.action-button {
  margin-bottom: 30%;
}
