<div class="dialog-header-bar"></div>
<mat-dialog-content>
  <div class="context-description">
    <p i18n>
      You are currently on the “Dashboard”. This gives an overview of the
      current state of your project: Details like how many people are registered
      in your system or visible at a glance. And Aam Digital highlights critical
      developments for you, like tasks that are due or participants that have
      been marked absent.
    </p>
  </div>

  <div class="footer-note">
    <p i18n>
      You are using the “Demo Mode”. Any changes will be reset after closing or
      reloading the page.
    </p>
    <p i18n>
      You can find help and user guides on our
      <a href="https://aam-digital.org/support" target="_blank"
        >Support Center</a
      >
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="action-button">
  <button mat-stroked-button (click)="restartDemo()">
    <span i18n>Restart demo with different use case</span>
  </button>
</mat-dialog-actions>
