<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <app-basic-autocomplete
    #autocomplete
    [formControl]="formControl"
    [options]="entities"
    [valueMapper]="entityToId"
  >
    <ng-template let-item>
      <app-display-entity
        [entityToDisplay]="item"
        [linkDisabled]="true"
      ></app-display-entity>
    </ng-template>
  </app-basic-autocomplete>
  <fa-icon
    *ngIf="formControl.enabled"
    icon="caret-down"
    class="caret-suffix"
    (click)="autocomplete.showAutocomplete()"
    matSuffix
  ></fa-icon>
  <mat-error>
    <app-error-hint [form]="formControl"></app-error-hint>
  </mat-error>
</mat-form-field>
