<mat-card class="dashboard-widget">
  <mat-card-header class="app-attendance">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-exclamation-triangle"></mat-icon>
    </div>
    <mat-card-title>{{ bmiRows?.length }}</mat-card-title>
    <mat-card-subtitle
      i18n="Subtitle of the child-bmi dashbord-component"
      >Students with unhealthy BMI </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="dashboard-table">
      <tr
        *ngFor="
          let row of bmiRows;
          trackBy: recordTrackByFunction;
          let i = index
        "
        class="dashboard-table-row w-WARNING"
        (click)="goToChild(row.childId)"
        style="cursor: pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_attendance_warnings_list_link"
        [angularticsLabel]="'list-entry-' + i"
      >
        <td class="dashboard-table-first-cell dashboard-table-cell">
          <app-child-block [entityId]="row.childId"></app-child-block>
        </td>
        <td class="dashboard-table-last-cell dashboard-table-cell">
          {{ row.bmi.toFixed(2) }}
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
