<app-dashboard-widget
  icon="weight"
  theme="note"
  i18n-title="Title of the BMI dashboard component"
  title="BMI"
  i18n-subtitle="Subtitle of the BMI dashboard component"
  subtitle="Students with unhealthy BMI"
>
  <app-widget-content>
    <h2 *ngIf="isLoading" class="headline" i18n>Loading...</h2>
    <div *ngIf="bmiDataSource.data.length > 0 && !isLoading" class="table-wrapper">
      <table
        mat-table
        [dataSource]="bmiDataSource"
        i18n-aria-label="Label for BMI table"
        aria-label="Students with unhealthy BMI"
      >
        <!-- Table header only for assistive technologies like screen readers -->
        <tr hidden="true">
          <th scope="col" i18n="Column description for children column">Child</th>
          <th scope="col" i18n="Column description for BMI result column">Last BMI result</th>
        </tr>
        <ng-container matColumnDef="child">
          <td *matCellDef="let row">
            <app-child-block
              [entityId]="row.childId"
            ></app-child-block>
          </td>
        </ng-container>

        <ng-container matColumnDef="bmi">
          <td *matCellDef="let row">
            <span  class="dashboard-table-additional-info-cell" i18n="Displaying the BMI result of a child|BMI: 21.02">
              BMI: {{ row.bmi.toFixed(2) }}
            </span>
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let row; columns: ['child', 'bmi'];"
          class="dashboard-table-row"
        ></tr>
      </table>
    </div>
    <div
      *ngIf="bmiDataSource.data.length === 0 && !isLoading"
      class="headline"
    >
      <span i18n="There is no BMI data available that can be displayed">
        no BMI data recorded
      </span>
    </div>
    <mat-paginator
      #paginator
      [style.display]="paginator.getNumberOfPages() === 0 ? 'none' : ''"
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
    >
    </mat-paginator>
  </app-widget-content>
</app-dashboard-widget>

