<div class="flex-row gap-regular">
  <mat-form-field class="bulk-action-autocomplete full-width">
    <mat-label i18n="@@bulkActionLabel">Select Bulk Action</mat-label>
    <app-basic-autocomplete
      [formControl]="actionControl"
      [options]="bulkActions()"
      [optionToString]="actionToString"
      [disabled]="!entities() || entities().length === 0"
      display="text"
    ></app-basic-autocomplete>
  </mat-form-field>
  <button mat-raised-button (click)="actionTriggered.emit(undefined)" i18n>
    Cancel
  </button>
</div>
