<!-- Desktop Version -->
<mat-toolbar
  fxHide.lt-md
>
  <mat-slide-toggle
    [checked]="showingAll"
    (change)="changeAllToggle()"
    i18n="All toggle for paginator"
  >
    Show All
  </mat-slide-toggle>
  <mat-paginator
    (page)="onPaginateChange($event)"
    [pageSize]="pageSize"
    [pageIndex]="currentPageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</mat-toolbar>

<!-- Mobile Version -->
<div fxHide.gt-sm fxLayout="column" fxLayoutAlign="end">
  <mat-paginator
    (page)="onPaginateChange($event)"
    [pageSize]="pageSize"
    [pageIndex]="currentPageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
  ></mat-paginator>

  <mat-slide-toggle
    class="slider-lt-md"
    [checked]="showingAll"
    (change)="changeAllToggle()"
    i18n="All toggle for paginator"
  >
    Show All
  </mat-slide-toggle>
</div>
