<button
  mat-icon-button
  matTooltip="Notifications"
  i18n-matTooltip="notifications toolbar icon tooltip"
  [matMenuTriggerFor]="notificationList"
  #notificationListTrigger="matMenuTrigger"
>
  <span
    [matBadge]="
      unreadNotifications?.length > 0 ? unreadNotifications?.length : null
    "
    matBadgeColor="accent"
  >
    <fa-icon class="white" icon="bell"></fa-icon>
  </span>
</button>

<mat-menu #notificationList>
  <div
    class="notification-panel flex-column"
    (click)="$event.stopPropagation()"
  >
    <!-- stopPropagation above to avoid closing the panel upon action button clicks -->

    <div class="notification-list-header">
      <div
        class="flex-row justify-space-between align-center notification-panel-header"
      >
        <h2 class="notification-title" i18n>Notifications</h2>

        <button
          mat-icon-button
          [matMenuTriggerFor]="settingsMenu"
          #settingsMenuTrigger="matMenuTrigger"
        >
          <fa-icon icon="ellipsis"></fa-icon>
        </button>
      </div>

      <!-- Tabs -->
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab label="All" i18n-label></mat-tab>
        <mat-tab label="Unread" i18n-label></mat-tab>
      </mat-tab-group>
    </div>

    @if (!hasNotificationConfig) {
      <button
        mat-raised-button
        color="accent"
        class="margin-regular"
        [routerLink]="['/user-account']"
        [queryParams]="{ tabIndex: 1 }"
        i18n
      >
        Activate Notifications
      </button>
    }

    <div class="flex-grow flex-column gap-small notification-list-body">
      @for (
        notification of selectedTab === 0
          ? visibleAllNotifications
          : visibleUnreadNotifications;
        track notification
      ) {
        <app-notification-item
          [notification]="notification"
          (deleteClick)="deleteNotification(notification)"
          (readStatusChange)="updateReadStatus([notification], $event)"
          (notificationClick)="
            notificationClicked(notification, notificationListTrigger, $event)
          "
        ></app-notification-item>
      } @empty {
        <div class="flex-column no-notification-message">
          <fa-icon
            class="no-notification-icon"
            [icon]="['far', 'bell']"
          ></fa-icon>
          <span class="no-notification-text" i18n
            >You have no notifications</span
          >
        </div>
      }

      <!-- Load More Button -->
      @if (
        selectedTab === 0 ? hasMoreAllNotifications : hasMoreUnreadNotifications
      ) {
        <button
          mat-raised-button
          color="accent"
          class="margin-regular"
          (click)="loadMore()"
          i18n
        >
          Load more
        </button>
      }
    </div>
  </div>
</mat-menu>

<!-- New mat-menu for ellipsis -->
<mat-menu #settingsMenu>
  <div
    class="notification-panel"
    (click)="closeOnlySubmenu(settingsMenuTrigger, $event)"
  >
    <button mat-menu-item (click)="markAllRead()">
      <fa-icon icon="check" class="standard-icon-with-text"></fa-icon>
      <span
        matTooltip="Mark all as read"
        i18n-matTooltip="Tooltip for notification settings button"
        matTooltipPosition="above"
        i18n
        >Mark all as read</span
      >
    </button>

    <button
      mat-menu-item
      [routerLink]="['/user-account']"
      [queryParams]="{ tabIndex: 1 }"
      (click)="closeOnlySubmenu(notificationListTrigger, $event)"
    >
      <fa-icon icon="gear" class="standard-icon-with-text"></fa-icon>
      <span
        matTooltip="Notification settings"
        i18n-matTooltip="Tooltip for notification settings button"
        matTooltipPosition="above"
        i18n
        >Notification settings</span
      >
    </button>
  </div>
</mat-menu>
