<div
  *ngIf="config.single && current"
  matTooltip="To edit the current school or class, please add to the school history below"
>
  <em>
    Currently attending class {{ current.schoolClass }} at
    <app-school-block [entity]="schoolMap.get(current.schoolId)"></app-school-block>
  </em>
</div>

<app-entity-subrecord
  (changedRecordsInEntitySubrecordEvent)="changedRecordInEntitySubrecord.emit()"
  [records]="records"
  [columns]="columns"
  [newRecordFactory]="generateNewRecordFactory()"
  [formValidation]="formValidation"
>
</app-entity-subrecord>
