@use "../../../../styles/variables/breakpoints";

/**
 * Aligns the baseline of the filter-field with the baseline
 * of the other controls.
 * This only has to be done on the desktop
 */
.filter-field {
  @media screen and (min-width: breakpoints.$md) {
    // restricts the width so that the field does not feel too big
    max-width: 412px;
  }
}

.standard-add-button {
  background-color: white !important;
  height: 100%;
}
