@import "../../../../ndb-theme";

.table-list td {
  padding-left: 8px;
}

.button-icon {
  font-size: 1.5em;
  margin-bottom: -2px;
}

.add-entity-button {
  background: white;
}

.align-form-field {
  padding-bottom: 1.25em;
}

.cell-with-blocks {
  white-space: nowrap;
  overflow: hidden;
}

.filter-field {
  color: mat-color($ndb-app-accent);
}

.additional-button {
  color: white;
  border: 0;
  background: mat-color($ndb-app-primary);
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 40px;
}

.additional-button-icon {
  font-size: 40px;
  margin-left: -6px;
  margin-top: -3px;
}
