<!-- Desktop version -->
<div fxHide.lt-sm fxLayout="column" fxLayoutGap="20px">

    <div
      fxLayout="row"
      fxLayoutAlign="space-between end"
    >

      <h2 style="margin: 0 25px 0 0 !important;">{{listName}}</h2>

      <button
        mat-stroked-button
        color="accent"
        class="add-entity-button"
        (click)="addNewClick.emit()"
        angulartics2On="click"
        angularticsCategory="UserAction"
        [angularticsAction]="
              listName.toLowerCase().replace(' ', '_') + '_add_new'
            "
        *appDisabledEntityOperation="{
              entity: entityConstructor,
              operation: operationType.CREATE
            }"
      >
        <mat-icon
          class="button-icon"
          aria-label="add element"
          fontIcon="fa-plus-circle"
        ></mat-icon>
        <span i18n="Add a new entity to a list of multiple entities"> Add New </span>
      </button>

      <div fxFlex></div>

      <div fxLayoutGap="25px" fxLayoutAlign="end end" fxFlex>

        <div *ngTemplateOutlet="filterDialog" style="padding-bottom: 0"></div>

        <button mat-icon-button class="additional-button" [matMenuTriggerFor]="additional">
          <span class="material-icons">more_vert</span>
        </button>
      </div>
    </div>

    <div
      *ngIf="filterSelections.length > 0"
      class="toggle-selection-section"
      fxLayout="row wrap"
      fxLayoutGap="10px"
    >
      <app-list-filter
        *ngFor="let filter of filterSelections"
        [filterConfig]="filter.filterSettings"
        [(selectedOption)]="filter.selectedOption"
        [displayAsToggle]="filter.display !== 'dropdown'"
        (selectedOptionChange)="filterOptionSelected(filter, $event)"
      >
      </app-list-filter>
    </div>

    <div>
      <div *ngIf="columnGroups.length > 1" >
        <mat-tab-group [(selectedIndex)]="selectedColumnGroupIndex">
          <mat-tab *ngFor="let item of columnGroups"
                   [label]="item.name">
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="mat-elevation-z2 table-list">
        <div *ngTemplateOutlet="subrecord"></div>
      </div>
    </div>

</div>

<!-- Mobile Version -->
<div fxHide.gt-xs>

  <h2>{{listName}}</h2>

  <div fxLayout="row" fxLayoutGap="15px" style="margin-bottom: 15px">
    <div *ngTemplateOutlet="filterDialog"></div>

    <button mat-icon-button class="additional-button" [matMenuTriggerFor]="additional">
      <span class="material-icons" style="font-size: xxx-large; font-weight: bolder">more_vert</span>
    </button>

  </div>

  <div *ngTemplateOutlet="subrecord"></div>

</div>

<!-- Templates and menus for both mobile and desktop -->

<ng-template #filterDialog>
  <mat-form-field class="filter-field">
    <mat-label i18n="Filter placeholder|Allows the user to filter through entities">Filter</mat-label>
    <input
      matInput
      placeholder="i.e. name, age"

      (ngModelChange)="applyFilter($event)"
      [(ngModel)]="filterString"
    />
    <button
      mat-icon-button
      *ngIf="filterString"
      matSuffix
      aria-label="Clear"
      (click)="filterString = ''; applyFilter('')"
    >
      <mat-icon fontIcon="fa-times"></mat-icon>
    </button>
  </mat-form-field>
</ng-template>

<ng-template #subrecord>
  <app-entity-subrecord
    [usesPaginator]="subrecordUsesPaginator"
    [records]="filteredEntities"
    [columns]="columns"
    [editable]="false"
    [showEntity]="elementClick.emit.bind(elementClick)"
    [columnsToDisplay]="columnsToDisplay"
  ></app-entity-subrecord>
</ng-template>

<mat-menu #additional>

  <div fxHide.gt-xs>

    <button
      mat-menu-item
      (click)="addNewClick.emit()"
      angulartics2On="click"
      angularticsCategory="UserAction"
      [angularticsAction]="
                listName.toLowerCase().replace(' ', '_') + '_add_new'
              "
      *appDisabledEntityOperation="{
                entity: entityConstructor,
                operation: operationType.CREATE
              }"
    >
      <mat-icon
        color="accent"
        aria-label="add element"
        class="button-icon"
        fontIcon="fa-plus-circle"
      ></mat-icon>
      <span i18n="Add a new entity to a list of multiple entities"> Add New </span>
    </button>

    <button
      mat-menu-item
      (click)="openFilterOverlay()"
    >
      <mat-icon
        color="accent"
        aria-label="filter"
        class="button-icon"
        fontIcon="fa-filter"
      >
      </mat-icon>
      <span>Filter options</span>
    </button>

  </div>

  <button mat-menu-item [appExportData]="allEntities">
    <mat-icon
      color="accent"
      class="button-icon"
      aria-label="download csv"
      fontIcon="fa-download"
    ></mat-icon>
    <span i18n="Download list contents as CSV"> Download CSV </span>
  </button>
</mat-menu>
