.filter-panel {
  padding-top: 10px;
  border-radius: 0;
}

.toggle-selection-section {
  margin-top: 10px;
}

.table-list td {
  padding-left: 8px;
}

.button-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

.align-form-field {
  padding-bottom: 1.25em;
}

.cell-with-blocks {
  white-space: nowrap;
  overflow: hidden;
}
