<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px" >

  <h2>{{listName}}</h2>

  <button
    class="add-entity-button"
    (click)="addNewClick.emit()"
    angulartics2On="click"
    angularticsCategory="UserAction"
    [angularticsAction]="
        listName.toLowerCase().replace(' ', '_') + '_add_new'
      "
    *appDisabledEntityOperation="{
        entity: entityConstructor,
        operation: operationType.CREATE
      }"
  >
    <span fxHide.lt-md="true" class="fa fa-plus-circle button-icon"> {{listConfig.addNew}} </span>
  </button>

  <div fxFlex="20"></div>

  <mat-form-field class="filter-field" fxFlex>
    <mat-label>Filter</mat-label>
    <input
      matInput
      [placeholder]="listConfig.filterPlaceholder"
      (ngModelChange)="applyFilter($event)"
      [(ngModel)]="filterString"
    />
    <button
      mat-icon-button
      *ngIf="filterString"
      matSuffix
      aria-label="Clear"
      (click)="filterString = ''; applyFilter('')"
    >
      <mat-icon fontIcon="fa-times"></mat-icon>
    </button>
  </mat-form-field>

  <button mat-icon-button class="additional-button" [matMenuTriggerFor]="additional">
     <mat-icon class="fa fa-ellipsis-v additional-button-icon"></mat-icon>
  </button>

  <div fxFlex="5"></div>
</div>

<mat-menu #additional>
    <button mat-menu-item [appExportData]="entityList">
      <mat-icon
        color="accent"
        class="button-icon"
        aria-label="download csv"
        fontIcon="fa-download"
      ></mat-icon>
      <span> Download CSV </span>
    </button>
</mat-menu>

<div
  *ngIf="filterSelections.length > 0"
  class="toggle-selection-section"
  fxLayout="row wrap"
  fxLayoutGap="10px grid"
>
  <app-list-filter
    *ngFor="let filter of filterSelections"
    [filterConfig]="filter.filterSettings"
    [(selectedOption)]="filter.selectedOption"
    [displayAsToggle]="filter.display !== 'dropdown'"
    (selectedOptionChange)="onFilterOptionSelected(filter, $event)"
  >
  </app-list-filter>
</div>

<div
  *ngIf="columnGroups.length > 1"
  class="toggle-selection-section"
  fxHide.lt-sm
>
  <mat-tab-group [(selectedIndex)]="selectedColumnGroupIndex">
    <mat-tab *ngFor="let item of columnGroups"
             [label]="item.name">
    </mat-tab>
  </mat-tab-group>
</div>

<div class="mat-elevation-z2 table-list">
  <table mat-table [dataSource]="entityDataSource" matSort style="width: 100%">
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="col.noSorting"
      >
        {{ col.title }}
      </th>
      <td *matCellDef="let entity">
        <ng-template
          [appDynamicComponent]="{
            component: col.component,
            config: { id: col.id, entity: entity, config: col.config }
          }"
        ></ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let entity; columns: columnsToDisplay"
      [ngStyle]="{ 'background-color': entity.getColor() }"
      (click)="elementClick.emit(entity)"
      style="cursor: pointer"
      class="table-list-item"
    ></tr>
  </table>
  <mat-paginator
    (page)="onPaginateChange($event)"
    [pageSize]="paginatorPageSize"
    [pageIndex]="paginatorPageIndex"
    [pageSizeOptions]="[3, 10, 20, 50]"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
