@use "src/styles/variables/sizes";
@use "src/styles/mixins/grid-layout";
@use "@angular/material" as mat;
@use "src/styles/typography/custom-typography";

.cards-wrapper {
  @include grid-layout.adaptive($min-block-width: 250px);
  margin-top: sizes.$large;
}

.mat-card {
  display: grid;

  grid-template-rows:
    auto  // Heading: takes its intrinsic space (but no more)
    1fr   // Content: takes all available space ('grows')
    auto; // Button: takes its intrinsic space (but no more)

  // choose a very opaque background when the card is disabled
  &[disabled] {
    background-color: mat.get-color-from-palette(mat.$grey-palette, $hue: 400, $opacity: 0.1);
  }

  // Content: adapt typography
  > p {
    @include custom-typography.text-secondary();
  }

  // Add some margin to the top to make it distinct from the content
  > button {
    // we can't simply use `margin-top: ...` because it is overridden
    // by the native mat-button
    margin: sizes.$regular 0 0 0;
    width: 100%;
  }
}
