<app-view-title
  i18n="
    Heading for Attendance Register|The heading for the view showing the
    Attendance Register
  "
>
  Managing Attendance
</app-view-title>

<div class="cards-wrapper">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title i18n="Record attendance title">
        Record Attendance
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Record attendance content">
        Record attendance for an activity on a certain day. Optimized for
        smartphones.
      </p>
      <button
        routerLink="/attendance/add-day"
        mat-raised-button
        i18n="Record attendance button"
      >
        Record
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title i18n="Manage Activities title">
        Recurring Activities
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Manage Activities content">
        Manage "recurring activities" for which you regularly record attendance.
        You can assign participants and users to these activities and analyze
        their attendance across time.
      </p>
      <button
        routerLink="/attendance/recurring-activity"
        mat-raised-button
        i18n="Manage activities button"
      >
        Manage Activities
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" disabled>
    <mat-card-header>
      <mat-card-title i18n="Monthly attendance title">
        Monthly Attendance
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Monthly attendance content">
        Document attendance totals for a whole month that were collected on
        paper.
      </p>
      <button
        (click)="comingSoonDialog.open('monthly-attendance')"
        mat-stroked-button
        i18n="Enter attendance button"
      >
        Document Month
      </button>
    </mat-card-content>
  </mat-card>
</div>
