@use "src/styles/variables/sizes";
@use "src/styles/mixins/grid-layout";
@use "~@angular/material/theming" as *;

$min-width-content: 250px;
$widget-height: 370px;

.general-description {
  font-style: italic;
}

.cards-wrapper {
  @include grid-layout.adaptive($min-width-content);
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  margin-left: sizes.$regular;
  margin-right: sizes.$regular;
}

.mat-card-footer {
  margin-left: sizes.$regular;
  margin-right: sizes.$regular;
  margin-bottom: auto;
}

.inactive-card {
  background-color: map-get($mat-grey, A100);
}
