<div style="padding: 16px;">
  <h3>Display Settings</h3>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label i18n>Subtitle</mat-label>
    <input matInput [(ngModel)]="localConfig.subtitle" (ngModelChange)="emitConfigChange()" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label i18n>Explanation</mat-label>
    <textarea matInput rows="2" [(ngModel)]="localConfig.explanation" (ngModelChange)="emitConfigChange()"></textarea>
  </mat-form-field>

  <h3>Warning Levels</h3>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label i18n>Warning Levels</mat-label>
    <mat-select multiple [(ngModel)]="localConfig.warningLevels" (ngModelChange)="emitConfigChange()">
      <mat-option value="INFO">Info</mat-option>
      <mat-option value="WARNING">Warning</mat-option>
      <mat-option value="URGENT">Urgent</mat-option>
    </mat-select>
  </mat-form-field>
</div>
