<app-dashboard-list-widget
  icon="tasks"
  [subtitle]="subtitle()"
  [explanation]="explanation()"
  theme="note"
  entityType="Todo"
  [dataMapper]="dataMapper"
>
  <table mat-table i18n-aria-label aria-label="Notes needing follow-up">
    <!-- Table header only for assistive technologies like screen readers -->
    <tr class="visually-hidden">
      <th scope="col" i18n="Column header for the subject of a task">
        Subject
      </th>
      <th scope="col" i18n="Column header for the deadline of a task">
        Deadline
      </th>
    </tr>

    <ng-container matColumnDef="subject">
      <td *matCellDef="let todo" class="subject-cell row-indicator">
        {{ todo.subject }}
      </td>
    </ng-container>
    <ng-container matColumnDef="deadline">
      <td
        *matCellDef="let todo"
        class="deadline"
        matTooltip="{{ startDateLabel }}: {{ todo.startDate | customDate }}"
        [matTooltipDisabled]="!todo.startDate"
      >
        {{ todo.deadline | customDate: "shortDate" }}
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: ['subject', 'deadline']"
      class="dashboard-table-row row-view"
      (click)="openEntity(row)"
      [ngStyle]="{ '--row-indicator-color': row.isOverdue ? 'red' : '' }"
    ></tr>
  </table>
</app-dashboard-list-widget>
