.work-panel {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
}

.button-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

.primary-button {
  background-color: white !important;
}

.view-section {
  margin-bottom: 1em;
  display: block;
}
