<div *ngIf="!availableReports || availableReports.length === 0">
  <p>
    Reports have not been configured for you yet.
  </p>
  <a mat-stroked-button href="mailto:info@aam-digital.com?subject=Set up reports">Ask for a setup call</a>
</div>

<mat-expansion-panel expanded="true" class="work-panel mat-elevation-z2" *ngIf="availableReports?.length > 0">

  <div fxLayout="row wrap" fxLayoutGap="1rem">
    <mat-form-field>
      <mat-label>Select Report</mat-label>
      <mat-select [(ngModel)]="selectedReport" [disabled]="loading">
        <mat-option *ngFor="let report of availableReports" [value]="report">
          {{report.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [disabled]="loading">
        <input [(ngModel)]="fromDate" matStartDate placeholder="Start date">
        <input [(ngModel)]="toDate" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div>
    <button
      mat-stroked-button [disabled]="!selectedReport || (!fromDate && !toDate) || loading"
      (click)="calculateResults()"
    >
      Calculate
    </button>
      <button
        mat-stroked-button
        color="accent"
        [appExportData]="exportableTable"
        [disabled]="!exportableTable"
        format="csv"
        filename="report"
        style="float: right"
      >
        <mat-icon
          class="button-icon"
          aria-label="download csv"
          fontIcon="fa-download"
        ></mat-icon>
        Download report
      </button>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</mat-expansion-panel>

<app-report-row *ngIf="results?.length > 0" [rows]="results"></app-report-row>
