<button
  mat-stroked-button
  angulartics2On="click"
  angularticsCategory="User"
  angularticsAction="password_update"
  (click)="authService.changePassword()"
  [disabled]="disabled"
  i18n="Button which opens password reset page"
>
  Change Password
</button>

<form style="margin-top: 20px; margin-bottom: 20px" onSubmit="return false">
  <mat-form-field class="full-width">
    <input
      [value]="user?.email"
      type="email"
      i18n-placeholder="Email address input field"
      placeholder="Your email address"
      matInput
      disabled
    />
    <mat-hint i18n
      >Changing your email is temporarily only possible for administrators.
      Please contact your project coordinator or the support team.
    </mat-hint>
  </mat-form-field>
</form>
