<!-- Individual Student's Page -->
<div *ngIf="!isFinished()">
  <app-child-block [entity]='entries[currentIndex].child'></app-child-block>

  <div fxLayout='column' fxLayoutAlign='space-between stretch' class='options-wrapper'>
    <div class='group-select-option' *ngFor="let option of availableStatus"
         (click)='markAttendance(entries[currentIndex].child, option.status)'
         [ngStyle]="{'background-color': entries[currentIndex].attendance.status===option.status ? option.color : ''}">
      <span class='fa fa-check' *ngIf='entries[currentIndex].attendance.status===option.status'></span>
      {{ option.name }}
    </div>
  </div>
</div>

<!-- Completion Page -->
<div *ngIf='isFinished()' class='roll-call-complete' [@completeRollCall]>
  <span class='fa fa-check-circle-o roll-call-complete-icon'></span><br>
  Roll call completed.
</div>

<!-- Control Buttons -->
<div>
  <button mat-stroked-button [disabled]='currentIndex < 1' (click)='currentIndex = currentIndex - 1'
          class='nav-button' fxFlex>
    Back
  </button>

  <button mat-stroked-button *ngIf='!isFinished()' (click)='abort()' class='nav-button' fxFlex>
    Abort
  </button>

  <button mat-stroked-button *ngIf='isFinished()' (click)='finish()' class='nav-button' fxFlex>
    <b>Save</b>
  </button>
</div>
