<!-- Individual Student's Page -->
<div *ngIf="!isFinished()">
  <app-child-block [entityId]="entries[currentIndex].childId"></app-child-block>

  <div fxLayout='column' fxLayoutAlign='space-between stretch' class='options-wrapper'>
    <div class='group-select-option' *ngFor="let option of availableStatus"
         (click)='markAttendance(entries[currentIndex].childId, option.status)'
         [ngStyle]="{'background-color': entries[currentIndex].attendance.status===option.status ? option.color : ''}">
      <span class='fa fa-check' *ngIf='entries[currentIndex].attendance.status===option.status'></span>
      {{ option.name }}
    </div>
  </div>
</div>

<!-- Completion Page -->
<div *ngIf='isFinished()' class='roll-call-complete' [@completeRollCall]>
  <span class='fa fa-check-circle-o roll-call-complete-icon'></span>
  <div>
    Roll call completed.
  </div>
  <div>
    <button mat-raised-button color="primary" class="roll-call-complete-save nav-button" (click)="finish()" fxFlex>
      <b>Save</b>
    </button>
  </div>
</div>

<!-- Control Buttons -->
<div>
  <button mat-stroked-button [disabled]='currentIndex < 1' (click)='currentIndex = currentIndex - 1'
          class='nav-button' fxFlex>
    Back
  </button>

  <button mat-stroked-button (click)='abort()' class='nav-button' fxFlex>
    Abort
  </button>
</div>
