.group-select-option {
  width: 100%;
  padding: 16px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid;
  border-top: 0;
}

.group-select-option:first-child {
  border-top: 1px solid;
}

.options-wrapper {
  margin-top: 16px;
}

.hidden {
  display: none;
}

.nav-button {
  margin: 10px;
  flex: none;
}

.roll-call-complete {
  text-align: center;
  line-height: 2em;

  padding-top: 20px;

  background-color: #c8e6c9;
  border-radius: 5px;
}
.roll-call-complete-icon {
  font-size: 40px;
}
.roll-call-complete-save {
  height: 72px;
}

.filler {
  margin-bottom: 10px;
}

.align-right {
  margin-top: 10px;
}
