@use "src/styles/variables/sizes";
@use "src/styles/variables/colors";

.group-select-option {
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid;
  border-top: 0;
  &:first-child {
    border-top: 1px solid;
  }
}

.roll-call-complete {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: 200px;
  gap: sizes.$small;
  cursor: pointer;
  margin-top: sizes.$regular;

  background-color: colors.$success;
  border-radius: 4px;
}

.progress-label {
  display: flex;
  place-content: center;
}

.attendance-progress-bar {
  display: flex;
  flex-direction: column;
  margin-top: sizes.$small;
  margin-bottom: sizes.$small;
}

.progress-nav {
  margin-top: -4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.child-block {
  flex-grow: 1;
  display: flex;
  place-content: flex-start;
}

.child-block-container {
  margin: sizes.$small;
}

.tab-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  overflow-x: hidden;
}

.tab-body-active {
  position: relative;
  flex-grow: 1;
  place-content: center;
  z-index: 1;
}

.tab-wrapper {
  display: flex;
  position: relative;
}

// Per default, the content of a mat-button is center-aligned.
// In this case, the button contains an icon and we want it left (resp. right)-aligned
// with the content
// `text-align: left` would work as well, but not with the ripples

.button-skip {
  margin-top: -10px;
}
