.group-select-option {
  width: 100%;
  padding: 16px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid;
  border-top: 0;
}

.group-select-option:first-child {
  border-top: 1px solid;
}

.options-wrapper {
  margin-top: 16px;
}

.nav-button {
  margin: 10px;
  flex: none;
}

.roll-call-complete {
  display: flex;
  place-content: center;
  place-items: center;
  height: 200px;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  margin-top: 16px;

  background-color: #c8e6c9;
  border-radius: 4px;
}
.roll-call-complete-icon {
  font-size: 40px;
}

.filler {
  margin-bottom: 10px;
}

.progress-label {
  align-self: flex-end;
}

.attendance-progress-bar {
  display: flex;
  flex-direction: column;
}

.navigation-bar {
  margin-top: 12px;
  display: flex;
  place-items: center;
  width: 100%;
}

.child-block {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.completed-button {
  margin-top: 1em;
}

.tab-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  overflow: hidden;
  flex-basis: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.tab-body-active {
  position: relative;
  flex-grow: 1;
  place-content: center;
  z-index: 1;
}

.content {
  border: 1px solid;
}

.tab-wrapper {
  display: flex;
  position: relative;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.child-block {
  display: flex;
  flex-grow: 1;
  place-content: center;
}
