<form [formGroup]="form">

    <div>
        <mat-form-field>
            <mat-label>
                Vaccination Status
            </mat-label>
            <mat-select
                    formControlName="health_vaccinationStatus"
                    [disabled]="!this.editing"
            >
                <mat-option
                        *ngFor="let value of vaccinationStatusValues"
                        [value]="value"
                >{{ value }}</mat-option
                >
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                Eye Status
            </mat-label>
            <mat-select
                    formControlName="health_eyeHealthStatus"
                    [disabled]="!editing"
            >
                <mat-option *ngFor="let value of eyeStatusValues" [value]="value">
                    {{value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <!-- TODO: replace bloodGroup text field with a custom-select, once it is user configurable (#236) -->
            <input
                    matInput
                    formControlName="health_bloodGroup"
                    placeholder="Blood Group"
                    type="text"
            />
        </mat-form-field>
        <div>
            <mat-form-field>
                <input
                        matInput
                        formControlName="health_lastDentalCheckup"
                        placeholder="Last Dental Check-Up"
                        [matDatepicker]="lastDentalCheckupDatepicker"
                        [disabled]="!editing"
                />
                <mat-datepicker-toggle
                        matSuffix
                        [for]="lastDentalCheckupDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #lastDentalCheckupDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input
                        matInput
                        formControlName="health_lastEyeCheckup"
                        placeholder="Last Eye Check-Up"
                        [matDatepicker]="lastEyeCheckupDatepicker"
                        [disabled]="!editing"
                />
                <mat-datepicker-toggle
                        matSuffix
                        [for]="lastEyeCheckupDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #lastEyeCheckupDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input
                        matInput
                        formControlName="health_lastENTCheckup"
                        placeholder="Last ENT Check-Up"
                        [matDatepicker]="lastENTCheckupDatepicker"
                        [disabled]="!editing"
                />
                <mat-datepicker-toggle
                        matSuffix
                        [for]="lastENTCheckupDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #lastENTCheckupDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input
                        matInput
                        formControlName="health_lastVitaminD"
                        placeholder="Last Vitamin D"
                        [matDatepicker]="lastVitaminDDatepicker"
                        [disabled]="!editing"
                />
                <mat-datepicker-toggle
                        matSuffix
                        [for]="lastVitaminDDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #lastVitaminDDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="health_lastDeworming"
                        placeholder="Last De-Worming"
                        [matDatepicker]="lastDewormingDatepicker"
                        [disabled]="!editing"
                />
                <mat-datepicker-toggle
                        matSuffix
                        [for]="lastDewormingDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #lastDewormingDatepicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div>
        <button
                *ngIf="editing"
                mat-stroked-button
                class="edit-button"
                (click)="save()"
        >
            Save
        </button>

        <button
                *ngIf="editing"
                mat-stroked-button
                class="edit-button"
                (click)="switchEdit()"
        >
            Cancel
        </button>

        <button
                *ngIf="!editing"
                mat-stroked-button
                class="edit-button"
                (click)="switchEdit()"
        >
            Edit
        </button>
    </div>
</form>
