<mat-stepper [linear]="true" #stepper>
  <ng-template matStepperIcon="edit">
    <fa-icon icon="check" class="stepper-icon"></fa-icon>
  </ng-template>

  <!-- STEP 1: SELECT FILE -->
  <mat-step [completed]="rawData?.length > 0" #step1>
    <ng-template matStepLabel>
      <div i18n="Import Step - upload">Select File</div>

      <div
        *ngIf="step1.completed"
        class="step-label-extra"
        i18n="Import Step - upload - sub-label"
      >
        {{ rawData?.length }} rows to import
      </div>
    </ng-template>

    <ng-template matStepContent>
      <div class="flex-row gap-large">
        <app-import-file
          class="flex-grow"
          (dataLoaded)="onDataLoaded($event)"
        ></app-import-file>

        <mat-card>
          <mat-card-content>
            <app-import-history></app-import-history>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="margin-top-regular">
        <button
          mat-button
          [disabled]="!step1.completed"
          i18n="import next step button"
          matStepperNext
        >
          Continue
        </button>
      </div>
    </ng-template>
  </mat-step>

  <!-- STEP 2: SELECT IMPORT TYPE -->
  <mat-step [completed]="!!entityType" #step2>
    <ng-template matStepLabel>
      <div i18n="Import Step - import types">Select Import Type(s)</div>

      <div
        *ngIf="step2.completed"
        class="step-label-extra"
        i18n="Import Step - type - sub-label"
      >
        as {{ entityType | entityTypeLabel }}
      </div>
    </ng-template>

    <ng-template matStepContent>
      <app-import-entity-type
        [(entityType)]="entityType"
      ></app-import-entity-type>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>Additional Import Actions</mat-panel-title>
        </mat-expansion-panel-header>

        <app-import-additional-actions
          [entityType]="entityType"
          [(importActions)]="additionalImportActions"
        ></app-import-additional-actions>
      </mat-expansion-panel>

      <div class="margin-top-regular">
        <button mat-button i18n="import back button" matStepperPrevious>
          Back
        </button>
        <button
          mat-button
          [disabled]="!step2.completed"
          i18n="import next step button"
          matStepperNext
        >
          Continue
        </button>
      </div>
    </ng-template>
  </mat-step>

  <!-- STEP 3: MAP COLUMNS -->
  <mat-step [completed]="mappedColumnsCount > 0" #step3>
    <ng-template matStepLabel>
      <div i18n="Import Step - map columns">Map Columns</div>

      <div
        *ngIf="step3.completed"
        class="step-label-extra"
        i18n="Import Step - map columns - sub-label"
      >
        {{ mappedColumnsCount }} columns selected
      </div>
    </ng-template>

    <ng-template matStepContent>
      <app-import-column-mapping
        [entityType]="entityType"
        [columnMapping]="columnMapping"
        (columnMappingChange)="onColumnMappingUpdate($event)"
        [rawData]="rawData"
      ></app-import-column-mapping>

      <div class="margin-top-regular">
        <button mat-button i18n="import back button" matStepperPrevious>
          Back
        </button>
        <button
          mat-button
          [disabled]="!step3.completed"
          i18n="import next step button"
          matStepperNext
        >
          Continue
        </button>
      </div>
    </ng-template>
  </mat-step>

  <!-- STEP 4: REVIEW DATA -->
  <mat-step [completed]="false" #step4>
    <ng-template matStepLabel i18n="Import Step - review data">
      Review & Edit Data
    </ng-template>

    <ng-template matStepContent>
      <app-import-review-data
        [rawData]="rawData"
        [entityType]="entityType"
        [columnMapping]="columnMapping"
        (importComplete)="reset()"
      ></app-import-review-data>

      <div class="stepper-navigation-margin">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="reset()">Cancel</button>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
