@use "src/styles/variables/colors";

.stepper-icon {
  font-size: 0.8em;
}

.step-label-extra {
  font-size: 12px;
  color: colors.$muted;
}

.stepper-navigation-margin {
  margin-top: 1em;
}

mat-panel-title {
  font-weight: bold;
}
