<mat-stepper [linear]="true" #stepper>
  <ng-template matStepperIcon="edit">
    <fa-icon icon="check" class="stepper-icon"></fa-icon>
  </ng-template>

  <!-- STEP 1: SELECT FILE -->
  <mat-step [completed]="rawData?.data?.length > 0" #step1>
    <ng-template matStepLabel>
      <div i18n="Import Step - upload">Select File</div>

      <div
        *ngIf="step1.completed"
        class="step-label-extra"
        i18n="Import Step - upload - sub-label"
      >
        {{ rawData?.data?.length }} rows to import
      </div>
    </ng-template>

    <div class="flex-row gap-large">
      <app-import-file
        class="flex-grow"
        (dataLoaded)="onDataLoaded($event)"
      ></app-import-file>

      <mat-card>
        <mat-card-content>
          <app-import-history></app-import-history>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="margin-top-regular">
      <button
        mat-button
        [disabled]="!step1.completed"
        i18n="import next step button"
        matStepperNext
      >
        Continue
      </button>
    </div>
  </mat-step>

  <!-- STEP 2: SELECT IMPORT TYPE -->
  <mat-step [completed]="!!entityType" #step2>
    <ng-template matStepLabel>
      <div i18n="Import Step - import types">Select Import Type(s)</div>

      <div
        *ngIf="step2.completed"
        class="step-label-extra"
        i18n="Import Step - type - sub-label"
      >
        as {{ entityType | entityTypeLabel }}
      </div>
    </ng-template>

    <app-import-entity-type
      [(entityType)]="entityType"
      [rawData]="rawData"
    ></app-import-entity-type>

    <app-import-additional-actions></app-import-additional-actions>

    <div class="margin-top-regular">
      <button mat-button i18n="import back button" matStepperPrevious>
        Back
      </button>
      <button
        mat-button
        [disabled]="!step2.completed"
        i18n="import next step button"
        matStepperNext
      >
        Continue
      </button>
    </div>
  </mat-step>

  <!-- STEP 3: MAP COLUMNS -->
  <mat-step [completed]="!!columnMapping" #step3>
    <ng-template matStepLabel i18n="Import Step - map columns"
      >Map Columns
    </ng-template>

    <app-import-column-mapping
      [entityType]="entityType"
      [(columnMapping)]="columnMapping"
      [rawData]="rawData"
    ></app-import-column-mapping>

    <div class="margin-top-regular">
      <button mat-button i18n="import back button" matStepperPrevious>
        Back
      </button>
      <button
        mat-button
        [disabled]="!step3.completed"
        i18n="import next step button"
        matStepperNext
      >
        Continue
      </button>
    </div>
  </mat-step>

  <!-- STEP 4: REVIEW DATA -->
  <mat-step #step4>
    <ng-template matStepLabel i18n="Import Step - review data"
      >Review & Edit Data
    </ng-template>

    <app-import-review-data
      [rawData]="rawData"
      [entityType]="entityType"
      [columnMapping]="columnMapping"
      (importComplete)="reset()"
    ></app-import-review-data>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="reset()">Cancel</button>
    </div>
  </mat-step>
</mat-stepper>
