@if (!isSql()) {
  <!-- reporting/exporting definitions are edited as raw JSON -->
  <app-json-editor [formControl]="formControl"></app-json-editor>
} @else {
  <div class="flex-column gap-small report-definition">
    <div
      class="flex-column gap-small"
      cdkDropList
      [id]="rootDropListId"
      [cdkDropListData]="uiTree()"
      [cdkDropListConnectedTo]="connectedDropLists()"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for (node of uiTree(); track node.uniqueId) {
        <app-edit-report-group-item
          [node]="node"
          [connectedTo]="connectedDropLists()"
          [enabled]="enabled()"
          (itemDrop)="onDrop($event)"
          (deleteItem)="removeRoot(node)"
          (nodeChange)="onRootChange($event)"
        ></app-edit-report-group-item>
      }
    </div>

    @if (enabled()) {
      <div class="flex-row gap-small margin-top-x-small">
        <button mat-stroked-button type="button" (click)="addQuery()">
          <fa-icon icon="plus" class="standard-icon-with-text"></fa-icon>
          <span i18n>Add query</span>
        </button>
        <button mat-stroked-button type="button" (click)="addGroup()">
          <fa-icon icon="plus" class="standard-icon-with-text"></fa-icon>
          <span i18n>Add group</span>
        </button>
      </div>
    }
  </div>
}
