<div class="report-definition">
  @for (entry of entries(); track entry.key) {
    <div class="definition-row" [style.margin-left.px]="entry.depth * 16">
      @if (entry.kind === "group") {
        <div class="group-row">
          <fa-icon icon="layer-group" class="row-icon"></fa-icon>
          <input
            class="group-title-input"
            type="text"
            [value]="entry.groupTitle ?? ''"
            [disabled]="!enabled()"
            placeholder="Group title"
            i18n-placeholder
            (change)="setGroupTitle(entry.path, $event)"
          />
          <button
            mat-icon-button
            type="button"
            [disabled]="!enabled()"
            (click)="remove(entry.path)"
            matTooltip="Remove group"
            i18n-matTooltip
          >
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      } @else {
        <div class="query-row">
          <app-edit-sql-query
            class="query-editor"
            [value]="entry.query ?? ''"
            [disabled]="!enabled()"
            (valueChange)="setQuery(entry.path, $event)"
          ></app-edit-sql-query>
          <button
            mat-icon-button
            type="button"
            [disabled]="!enabled()"
            (click)="remove(entry.path)"
            matTooltip="Remove query"
            i18n-matTooltip
          >
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      }
    </div>
  }

  @if (enabled()) {
    <div class="definition-actions">
      <button mat-stroked-button type="button" (click)="addQuery()">
        <fa-icon icon="plus" class="standard-icon-with-text"></fa-icon>
        <span i18n>Add query</span>
      </button>
      <button mat-stroked-button type="button" (click)="addGroup()">
        <fa-icon icon="plus" class="standard-icon-with-text"></fa-icon>
        <span i18n>Add group</span>
      </button>
    </div>
  }
</div>
