<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="true">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Import Type</ng-template>
        <mat-form-field>
            <mat-label>Entity Type</mat-label>
            <select matNativeControl formControlName="firstCtrl" required>
                <option *ngFor="let entity of getEntitiesMap() | keyvalue" [value]="entity.key">
                    {{entity.key}}
                </option>
            </select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="true">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Import File</ng-template>
        <mat-form-field>
          <mat-label>Selected File: </mat-label>
          <input matInput formControlName="secondCtrl" readonly placeholder="No file selected" required/>
        </mat-form-field>
        <div>
          <button (click)="csvImport.click()" mat-stroked-button>
            Select File (*.csv)
          </button>
          <input #csvImport type="file" style="display: none" (change)="setCsvFile($event.target.files[0])"/>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Excecute</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>