<app-dashboard-widget
  icon="weight"
  theme="note"
  [title]="bmiDataSource.data.length"
  i18n-subtitle="Subtitle of the BMI dashboard component"
  subtitle="{{entityLabelPlural}} with unhealthy BMI"
  [loading]="isLoading"
>
  <app-widget-content>
    <div *ngIf="bmiDataSource.data.length > 0" class="table-wrapper">
      <table
        mat-table
        [dataSource]="bmiDataSource"
        i18n-aria-label="Label for BMI table"
        aria-label="Cases with unhealthy BMI"
      >
        <!-- Table header only for assistive technologies like screen readers -->
        <tr hidden="true">
          <th scope="col" i18n="Column description for children column">Child</th>
          <th scope="col" i18n="Column description for BMI result column">Last BMI result</th>
        </tr>
        <ng-container matColumnDef="child">
          <td *matCellDef="let row">
            <app-display-entity
              [entityId]="row.childId"
              entityType="Child"
            ></app-display-entity>
          </td>
        </ng-container>

        <ng-container matColumnDef="bmi">
          <td
            *matCellDef="let row"
            i18n="Displaying the BMI result of a child|BMI: 21.02"
            class="text-align-end"
          >
            BMI: {{ row.bmi | number: "1.0-2" }}
          </td>
        </ng-container>

        <tr
          mat-row
          *matRowDef="let row; columns: ['child', 'bmi'];"
        ></tr>
      </table>
    </div>
    <div
      *ngIf="bmiDataSource.data.length === 0 && !isLoading"
      class="headline"
      i18n="There is no BMI data available that can be displayed"
    >
      no BMI data recorded
    </div>
    <mat-paginator
      #paginator
      [style.display]="paginator.getNumberOfPages() === 0 ? 'none' : ''"
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
    >
    </mat-paginator>
  </app-widget-content>
</app-dashboard-widget>
