@use "src/styles/variables/sizes";
@use "src/styles/variables/ndb-light-theme" as theme;
@use "@angular/material" as mat;

.table-action-button {
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: sizes.$small;
  color: mat.get-color-from-palette(theme.$accent);
}

.mat-column-actions {
  width: 1px;
  white-space: nowrap;
  text-align: center;
}

.table-row:hover {
  background: #f5f5f5;
}

.process-spinner {
  display: flex;
  justify-content: center;
}

:host {
  @include mat.elevation(1);
  display: block;
}
