.attendance-block {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  margin: 3px;
  width: 42px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.attendance-tooltip-container {
  padding: 0.5em;
}
