<span
  class="mat-elevation-z1 attendance-block w-{{
    attendanceData.getWarningLevel(forChild)
  }}"
  (mouseenter)="showTooltip()"
  (mouseleave)="hideTooltip()"
>
  <span *ngIf="attendanceData.getAttendancePercentage(forChild)">
    {{ attendanceData.getAttendancePercentage(forChild) | percent: "1.0-0" }}
  </span>
  <span *ngIf="!attendanceData.getAttendancePercentage(forChild)"> - </span>
</span>

<div style="position: absolute" *ngIf="tooltip">
  <div
    class="mat-elevation-z3 attendance-tooltip"
    (mouseenter)="showTooltip()"
    (mouseleave)="hideTooltip()"
  >
    <div class="attendance-tooltip-header">
      {{ attendanceData.periodFrom | date: "shortDate" }} - {{
      attendanceData.periodTo | date: "shortDate" }} {{
      attendanceData.activity.title }}
    </div>

    <div class="attendance-tooltip-content">
      attended {{ logicalCount[LStatus.PRESENT] || 0 }} / {{
      (logicalCount[LStatus.PRESENT] || 0) + (logicalCount[LStatus.ABSENT] || 0)
      }} events
    </div>

    <div
      class="attendance-tooltip-content"
      *ngIf="logicalCount[LStatus.IGNORE] > 0"
    >
      (excluding {{ logicalCount[LStatus.IGNORE] }} events excused or unknown)
    </div>
    <div>
      <app-attendance-calendar
        [records]="attendanceData.events"
        [highlightForChild]="forChild"
        [activity]="attendanceData.activity"
      >
      </app-attendance-calendar>
    </div>
  </div>
</div>
