<span
  class="mat-elevation-z1 attendance-block w-{{warningLevel}}"
  [appCustomizableTooltip]="tooltip"
>
  {{ attendancePercentage }}
</span>

<ng-template #tooltip>
  <div class="padding-small">
    <b>
      {{ attendanceData.periodFrom | date: "shortDate" }} -
      {{ attendanceData.periodTo | date: "shortDate" }}
      {{ attendanceData.activity.title }}
    </b>

    <div
      i18n="
        Attended Tooltip|How many attendees were present / how many attendees
        were absent
      "
    >
      attended {{ attendanceDescription }} events
    </div>

    <i
      *ngIf="logicalCount[LStatus.IGNORE] > 0"
      i18n="Attended Tooltip|How many events were excluded"
    >
      (excluding {{ logicalCount[LStatus.IGNORE] }} events excused or unknown)
    </i>
    <app-attendance-calendar
      [records]="attendanceData.events"
      [highlightForChild]="forChild"
      [activity]="attendanceData.activity"
    >
    </app-attendance-calendar>
  </div>
</ng-template>
