@use "src/styles/variables/sizes";

.attendance-block {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  width: 42px;
  padding: sizes.$small;
}

.attendance-tooltip {
  padding: sizes.$small;
}
