<div class="flex-row flex-wrap justify-space-between padding-regular">
  <app-view-title i18n>Edit Matching View</app-view-title>

  <app-view-actions
    class="flex-row align-center gap-regular margin-bottom-regular"
  >
    <button mat-raised-button color="accent" (click)="save()" i18n>Save</button>
    <button mat-stroked-button (click)="cancel()" i18n>Cancel</button>
  </app-view-actions>
</div>

<div class="entity-config-container flex-wrap flex-row padding-regular">
  <div class="entity-side padding-regular">
    <app-edit-matching-entity-side
      [form]="configForm"
      controlName="leftType"
      [sideConfig]="sides.left"
      title="Left"
      i18n-title
      (configChange)="updateLeftSideConfig($event)"
    ></app-edit-matching-entity-side>
  </div>

  <div class="entity-side padding-regular">
    <app-edit-matching-entity-side
      [form]="configForm"
      controlName="rightType"
      [sideConfig]="sides.right"
      title="Right"
      i18n-title
      (configChange)="updateRightSideConfig($event)"
    ></app-edit-matching-entity-side>
  </div>
</div>

<div class="entity-match-container padding-regular">
  <app-edit-matching-view
    [value]="originalConfig.onMatch"
    [leftSideEntity]="entityRegistry.get(configForm.value.leftType)"
    [rightSideEntity]="entityRegistry.get(configForm.value.rightType)"
    (valueChange)="originalConfig.onMatch = $event"
  ></app-edit-matching-view>
</div>
