<h2 mat-dialog-title>Add school to child {{data.child.name}}</h2>

<mat-form-field>
  <mat-label>
    School
  </mat-label>
  <mat-select [(value)]="childSchoolRelation.school">
    <mat-option *ngFor="let school of schools" [value]="school" >{{school.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="childSchoolRelation.start" placeholder="Started on" title="start" type="date">
</mat-form-field>

<button [disabled]="childSchoolRelation.school == null">Add School</button>
