<!-- <mat-form-field>
  <mat-label>Number range filter</mat-label>

  <mat-form-field>
    <input
      [min]="toValue"
      (change)="numberChangedManually()"
      [(ngModel)]="fromValue"
      i18n-placeholder="Number range selection"
      placeholder="From"
    />
    <input
      [max]="fromValue"
      (change)="numberChangedManually()"
      [(ngModel)]="toValue"
      i18n-placeholder="Number range selection"
      placeholder="To"
    />
  </mat-form-field>
</mat-form-field> -->

<div [formGroup]="form">
  <ngx-numeric-range-form-field
    formControlName="range"
    label="Numeric range"
    (numericRangeChanged)="onNumericRangeChanged($event)"
  ></ngx-numeric-range-form-field>
</div>
