<app-dashboard-list-widget
  icon="exclamation-triangle"
  [subtitle]="subtitle()"
  [explanation]="explanation()"
  theme="note"
  entityType="Note"
  [dataMapper]="dataMapper()"
>
  <table mat-table i18n-aria-label aria-label="Notes needing follow-up">
    <!-- Table header only for assistive technologies like screen readers -->
    <tr class="visually-hidden">
      <th scope="col" i18n="Column header for the date of a note">Date</th>
      <th scope="col" i18n="Column header for the title of a note">Title</th>
    </tr>
    <ng-container matColumnDef="date">
      <td *matCellDef="let note" class="date-cell row-indicator">
        {{ note.date | customDate: "shortDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <td *matCellDef="let note" class="subject-cell">
        {{ note.subject }}
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: ['date', 'title']"
      class="dashboard-table-row row-view"
      (click)="openNote(row)"
      [style.--row-indicator-color]="row.getColor?.()"
    ></tr>
  </table>
</app-dashboard-list-widget>
