/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */


app-ui {
  width: 100%;
  background-color: #f8f8f8;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
}

.sidenav-menu {
  margin-top: 64px;
}

/* App Header is smaller on XS */
@media(max-width: 599px) {
  .app-content {
    top: 56px;
  }
  .sidenav-menu {
    margin-top: 56px;
  }
}

.sidenav-content {
  padding: 24px;
  overflow: scroll;
}
/* reduce padding for content when screen size is too small */
@media (max-width: 599px) {
  .sidenav-content {
    padding: 12px;
  }
}

.header-icon {
  color: white;
  font-size: 15pt;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-title {
  color: white;
  text-decoration: none;
}

html,
body {
  height: 100%;
}


.link-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.form-error {
  color: red;
  font-weight: bold;
}

.form-foto {
  width: 160px;
  display: block;
  margin: 0 auto;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-foto-edit {
  position: absolute;
  top: 140px;
  margin: 0 auto;

  background-color: lightgray;
  border-radius: 4px;
  padding: 10px;
  width: 220px;
}
