<div id="wrapper">

  <div class="navbar-default sidebar sidebar-left" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">{{title}}</a>
    </div>

    <app-navigation *ngIf="isLoggedIn()" class="sidebar-menu"></app-navigation>

    <!-- TODO: create and include the user-menu at the bottom of sidebar -->
  </div>

  <div id="page-wrapper">
    <div [style.visibility]="isLoggedIn() ? 'visible': 'collapse'">
      <router-outlet></router-outlet>
    </div>
    <app-login *ngIf="!isLoggedIn()"></app-login>
  </div>

  <app-alerts></app-alerts>

  <app-sync-status></app-sync-status>

  <app-footer></app-footer>
</div>
