<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- HEADER -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a class="header-title" [routerLink]="['']">{{title}}</a></span>
    <span class="header-spacer"></span>
    <a [routerLink]="['/user']" *ngIf="isLoggedIn()"><mat-icon class="header-icon">account_circle</mat-icon></a>
    <a [routerLink]="['']" (click)="logout()" *ngIf="isLoggedIn()"><mat-icon class="header-icon">exit_to_app</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>



<!-- MAIN NAVIGATION + CONTENT -->
<mat-sidenav-container>


  <mat-sidenav *ngIf="isLoggedIn()" #sidenav mode="side" opened="true" disableClose="true"
               [fixedInViewport]="true" class="sidenav-menu">
    <app-navigation></app-navigation>
    <app-latest-changes style="position:absolute; bottom:0;"></app-latest-changes>
  </mat-sidenav>


  <mat-sidenav-content class="sidenav-content">
    <div [style.visibility]="isLoggedIn() ? 'visible': 'collapse'">
      <router-outlet></router-outlet>
    </div>
    <app-login *ngIf="!isLoggedIn()"></app-login>
  </mat-sidenav-content>


</mat-sidenav-container>



<app-sync-status></app-sync-status>
