<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<app-header>
</app-header>

<mat-sidenav-container>
  <!--
  <div class="navbar-default sidebar sidebar-left" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">{{title}}</a>
    </div>

    <!-- TODO: create and include the user-menu at the bottom of sidebar --
  </div>
 -->
  <mat-sidenav *ngIf="isLoggedIn()" #sidenav mode="side" opened="true" disableClose="true" class="sidebar-nav-neu">
    <app-navigation></app-navigation>
  </mat-sidenav>

  <div id="page-wrapper">
    <div [style.visibility]="isLoggedIn() ? 'visible': 'collapse'">
      <router-outlet></router-outlet>
    </div>
    <app-login *ngIf="!isLoggedIn()"></app-login>
  </div>

  <app-alerts></app-alerts>

  <app-sync-status></app-sync-status>

</mat-sidenav-container>
<app-footer></app-footer>
