<div class="padding-regular">
  @if (config.config?.entityType) {
    <span i18n>Entity Type:</span> {{ targetEntityType?.ENTITY_TYPE }}

    <p class="hint-text" i18n>
      You can select which fields should be shown or hidden in this panel.
    </p>

    <div class="table-content-preview">
      <span i18n>Add Fields:</span>
      <app-entity-fields-menu
        [entityType]="targetEntityType"
        [(activeFields)]="activeFields"
        [availableFields]="allFields"
        (activeFieldsChange)="updateFields(activeFields)"
      ></app-entity-fields-menu>
    </div>
  } @else {
    <p>[ {{ config.component }} ]</p>

    <p class="hint-text" i18n>
      Editing advanced sub-sections is not supported yet in this preview.
    </p>
  }
</div>
