<div class="padding-regular">
  @if (entityConstructor?.ENTITY_TYPE) {
    <div class="flex-row gap-regular align-center">
      <mat-form-field appearance="fill" class="margin-bottom-regular flex-grow">
        <mat-label i18n>Record Type</mat-label>
        <mat-select
          [ngModel]="selectedEntityType()"
          (ngModelChange)="onEntityTypeChange($event)"
        >
          @for (
            relatedEntity of availableRelatedEntities;
            track relatedEntity
          ) {
            <mat-option [value]="relatedEntity.entityType">
              {{ relatedEntity.label }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (showEditStructureButton()) {
        <button
          mat-stroked-button
          (click)="openRelatedEntityDetailsConfig()"
          matTooltip="If you need additional fields, edit the related record type here."
          i18n-matTooltip
        >
          <fa-icon icon="edit" class="standard-icon-with-text"></fa-icon>
          <span i18n
            >Edit data structure of
            {{ entityConstructor.label || entityConstructor.ENTITY_TYPE }}</span
          >
        </button>
      }
    </div>

    <div class="margin-top-regular hint-text">
      <p i18n>
        Select which fields should be visible in this panel. You can also
        reorder them to control their display sequence.
      </p>
    </div>

    <app-admin-list-manager
      [items]="activeFields"
      [activeFields]="activeFields"
      [entityType]="entityConstructor"
      fieldLabel="Columns shown:"
      i18n-fieldLabel
      (itemsChange)="updateFields($event)"
    ></app-admin-list-manager>
  } @else {
    <p>[ {{ config.component }} ]</p>

    <p class="hint-text" i18n>
      Editing advanced sub-sections is not supported yet in this preview.
    </p>
  }
</div>
