<div class="padding-regular">
  @if (targetEntityType?.ENTITY_TYPE) {
    <mat-form-field appearance="fill" class="margin-bottom-regular">
      <mat-label i18n>Entity Type</mat-label>
      <app-entity-type-select
        [(ngModel)]="entityTypeModel"
        (ngModelChange)="onEntityTypeChange($event)"
        [multi]="false"
        [showInternalTypes]="true"
      ></app-entity-type-select>
    </mat-form-field>

    <div class="margin-top-regular hint-text">
      <p i18n>
        Select which fields should be visible in this panel. You can also
        reorder them to control their display sequence.
      </p>
    </div>

    <app-reorderable-list
      [items]="activeFields"
      [availableItems]="allFields"
      [entityType]="targetEntityType"
      [orientation]="'mixed'"
      [fieldLabel]="'Columns shown:'"
      (itemsChange)="updateFields($event)"
    ></app-reorderable-list>
  } @else {
    <p>[ {{ config.component }} ]</p>

    <p class="hint-text" i18n>
      Editing advanced sub-sections is not supported yet in this preview.
    </p>
  }
</div>
