<div class="padding-regular" [formGroup]="form">
  <h2 i18n>{{ title }} Side Settings</h2>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Select {{ title }} Entity Type</mat-label>
    <mat-select [formControlName]="controlName">
      @for (entityType of entityType; track entityType) {
        <mat-option [value]="entityType">
          {{ entityType }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <h4 i18n>Available columns</h4>
  <app-admin-list-manager
    [entityType]="sideEntity"
    [items]="columns"
    [activeFields]="columns"
    fieldLabel="These columns will appear in the top summary view and in the table
      view below when matching; Add columns:"
    i18n-fieldLabel
    (itemsChange)="onColumnsChange($event)"
  ></app-admin-list-manager>

  <h4 i18n>Available Filters</h4>
  <app-admin-list-manager
    [entityType]="sideEntity"
    [items]="filters"
    [activeFields]="filters"
    templateType="filter"
    fieldLabel="These filters (and any prefilters) are only applied to the table list view during matching; Add filters:"
    i18n-fieldLabel
    (itemsChange)="onFiltersChange($event)"
  ></app-admin-list-manager>

  <div class="flex-row flex-wrap gap-small align-center">
    <em i18n
      >Prefilter can currently have to be edited using the JSON Editor</em
    >
    <button mat-stroked-button (click)="onOpenPrefilterEditor()" i18n>
      <fa-icon icon="tools"></fa-icon>
      Open Prefilter Editor
    </button>
  </div>
</div>
