<div class="col-lg-12">
    <span>v2.0</span>
    <!-- TODO: <version-label></version-label> -->
</div>

<!--<div bsModal #latestChangesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="latestChangesModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ release.tag_name }}<span ng-if="release.name">: {{ release.name }}</span>
                </h4>
            </div>
            <div class="modal-body">
                <p class="version-changes-date" style="font-style:italic;">{{ release.published_at | date }}</p>
                <p ng-bind-html="release.body | newlines"></p></div>
        </div>
    </div>
</div>-->
