<mat-stepper
  *ngIf="config"
  [selectedIndex]="config?.currentStep"
  (selectedIndexChange)="onNextStep($event)"
>
  <!-- overwrite icons to keep simple numbered steps -->
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    {{ index + 1 }}
  </ng-template>

  @for (step of config?.steps; track step; let last = $last) {
    <mat-step [label]="step.title" [completed]="step.completed">
      <markdown>{{ step.text }}</markdown>

      <mat-action-list>
        @for (action of step.actions; track action.link) {
          <button mat-list-item [routerLink]="action.link">
            {{ action.label }}
          </button>
        }
      </mat-action-list>

      @if (!last) {
        <button mat-raised-button matStepperNext color="accent" i18n>
          Continue
        </button>
      } @else {
        <button
          mat-button
          routerLink=""
          (click)="config.finished = true"
          color="accent"
          matTooltip="We will hide the setup wizard from the main menu as you finish it here. You can still access it from the admin screen."
          i18n-matTooltip
          i18n
        >
          Finish
        </button>
      }
    </mat-step>
  }
</mat-stepper>
