<mat-stepper #stepper>
  <!-- overwrite icons to keep simple numbered steps -->
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    {{ index + 1 }}
  </ng-template>

  @for (step of config.steps; track step) {
    <mat-step [label]="step.title">
      <markdown>{{ step.text }}</markdown>

      <mat-action-list>
        @for (action of step.actions; track action.link) {
          <button mat-list-item [routerLink]="action.link">
            {{ action.label }}
          </button>
        }
      </mat-action-list>

      <button mat-button matStepperNext i18n>Continue</button>
    </mat-step>
  }
</mat-stepper>
