<div class="label-cell">
  <strong>{{ field?.label }}</strong>
</div>

@for (entity of entities; track entity; let i = $index) {
  @if (allowsMultiValue) {
    <mat-checkbox
      [checked]="existingSelected[i]"
      (change)="selectExistingValue(i, $event.checked)"
      [disabled]="isDisabled[i]"
    >
      <app-entity-field-view [field]="field" [entity]="entity">
      </app-entity-field-view>
    </mat-checkbox>
  } @else {
    <mat-radio-group>
      <mat-radio-button
        [value]="entity[field.id]"
        (click)="selectExistingValue(i)"
        [checked]="existingSelected[i]"
        [disabled]="isDisabled[i]"
      >
        <app-entity-field-view [field]="field" [entity]="entity">
        </app-entity-field-view>
      </mat-radio-button>
    </mat-radio-group>
  }
}
