<h2 mat-dialog-title>{{ prettifyTitle(data.title) }} Settings</h2>

<mat-dialog-content class="dialog-content">
  <!-- Widget-specific settings -->
  <ng-template [appDynamicComponent]="settingsComponentConfig"></ng-template>

  <!-- Advanced fields in expansion panel -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n> Subtitle & Explanation </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Subtitle</mat-label>
      <input matInput [(ngModel)]="commonConfig.subtitle" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Explanation</mat-label>
      <textarea
        matInput
        rows="2"
        [(ngModel)]="commonConfig.explanation"
      ></textarea>
    </mat-form-field>
  </mat-expansion-panel>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button (click)="onCancel()" i18n>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSave()"
    cdkFocusInitial
    i18n
  >
    Save
  </button>
</mat-dialog-actions>
