@use "variables/colors";

.notification-title {
  font-weight: 700;
  margin: 0px;
}

.notification-time {
  color: colors.$inactive;
  font-size: 12px;
}

.notification-list {
  padding: 0px 16px;
  margin-bottom: 20px;
}

.notification-item {
  font-size: 15px;
  margin: 0px;
}

.no-notification-text {
  color: colors.$inactive;
  font-size: 15px;
  font-weight: 700;
}

.header {
  padding: 0px 10px;
}

.notification-panel {
  width: 280px;
}

.notification-toggle-button {
  padding: 12px 0px;
}

.no-notification-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px;
}

.no-notification-icon {
  font-size: 112px;
  margin-bottom: 20px;
  color: colors.$inactive;
}

.settings-menu-option {
  margin-left: 12px;
}

.notification-list-container {
  margin-top: 20px;
}