.notification-list {
    padding: 0px 16px;
    margin-bottom: 20px;
}

.notification-time {
    color: gray;
}

.header  {
    padding: 0px 16px;
    background-color: #ff9800;
    margin-bottom: 20px;
}

.mat-menu {
    padding-top: 0 !important;
}

.notification-toggle {
    padding: 12px 0px;
}
