.notification-list {
    padding: 0px 16px;
    margin-bottom: 20px;
}

.notification-time {
    color: gray;
    font-size: 12px;
}

.notification-item {
    font-size: 15px;
    margin: 0px;
}

.header  {
    padding: 0px 16px;
    margin-bottom: 20px;
}

.notification-lists {
    width: 280px;
}

.notification-toggle {
    padding: 12px 0px;
}
