<button mat-icon-button matTooltip="Your Notification is active" i18n-matTooltip [matMenuTriggerFor]="data" (menuOpened)="onNotificationBellClick()">
    <span [matBadge]="notificationCount > 0 ? notificationCount : null"  matBadgeColor="accent">
        <fa-icon class="white" icon="bell"></fa-icon>
    </span>
</button>

<mat-menu #data>
    <div class="notification-lists">
        <div class="flex-row justify-space-between align-center header">
            <strong>Notifications</strong>
    
            <button mat-icon-button (click)="toggleSettings($event)" *ngIf="!showSettings" icon-button matTooltip="Update your notification status" i18n-matTooltip>
                <fa-icon icon="cog"></fa-icon>
            </button>
    
            <div *ngIf="showSettings" (click)="$event.stopPropagation()" class="notification-toggle">
                <mat-slide-toggle [(ngModel)]="isEnableNotification" (click)="$event.stopPropagation()" icon-button matTooltip="Your Notification is active" i18n-matTooltip/>
            </div>
        </div>
    
        <ng-container>
            <div *ngFor="let notification of notifications" class="notification-list">
                <strong class="notification-item">{{ notification.title }}</strong>
                <p class="notification-item">{{ notification.body }}</p>
                <p class="notification-time">{{ notification.created.at }}</p>
            </div>
            <p *ngIf="notifications.length === 0" class="notification-item">No new notifications</p>
        </ng-container>
    </div>
</mat-menu>
