<table mat-table [dataSource]="attendanceDataSource" matSort class="mat-elevation-z8 table-list">
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
    <td mat-cell *matCellDef="let att">
      <div *ngIf="!recordsEditing.get(att.getId())">
        {{att.month | date:'yyyy-MM'}}
      </div>
      <div *ngIf="recordsEditing.get(att.getId())">
        <mat-form-field class="attendance-input-month">
          <input matInput type="month" title="month" [valueAsDate]="att.month" (change)="att.month=$event.target.valueAsDate">
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="attended">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Present </th>
    <td mat-cell *matCellDef="let att" align="right">
      <div *ngIf="!recordsEditing.get(att.getId())">
        {{att.daysAttended}}
      </div>
      <div *ngIf="recordsEditing.get(att.getId())">
        <mat-form-field class="attendance-input-number">
          <input matInput type="number" min="0" title="days attended" [value]="att.daysAttended" (change)="att.daysAttended=$event.target.valueAsNumber">
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="working">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Working </th>
    <td mat-cell *matCellDef="let att" align="right">
      <div *ngIf="!recordsEditing.get(att.getId())">
        {{att.daysWorking}}
      </div>
      <div *ngIf="recordsEditing.get(att.getId())">
        <mat-form-field class="attendance-input-number">
          <input matInput type="number" min="0" title="school working days" [value]="att.daysWorking" (change)="att.daysWorking=$event.target.valueAsNumber">
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="excused">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Excused </th>
    <td mat-cell *matCellDef="let att" align="right">
      <div *ngIf="!recordsEditing.get(att.getId())">
        {{att.daysExcused}}
      </div>
      <div *ngIf="recordsEditing.get(att.getId())">
        <mat-form-field class="attendance-input-number">
          <input matInput type="number" min="0" title="excused absences" [value]="att.daysExcused" (change)="att.daysExcused=$event.target.valueAsNumber">
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="percent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance </th>
    <td mat-cell *matCellDef="let att" align="right"> {{att.getAttendancePercentage() | percent:'1.0-0' }} </td>
  </ng-container>

  <ng-container matColumnDef="remarks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
    <td mat-cell *matCellDef="let att" align="left">
      <div *ngIf="!recordsEditing.get(att.getId())">
        {{att.remarks}}
      </div>
      <div *ngIf="recordsEditing.get(att.getId())">
        <mat-form-field>
          <textarea matInput placeholder="notes regarding this attendance" [value]="att.remarks" (change)="att.remarks=$event.target.value"></textarea>
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-stroked-button color="accent" (click)="newAttendanceMonth()">
        <mat-icon class="table-action-icon" aria-label="add" fontIcon="fa-plus-circle"></mat-icon>Add New
      </button>
    </th>
    <td mat-cell *matCellDef="let att">
      <button mat-icon-button *ngIf="!recordsEditing.get(att.getId())" (click)="recordsEditing.set(att.getId(), true)">
        <mat-icon class="table-action-icon" aria-label="edit" fontIcon="fa-pencil"></mat-icon>
      </button>
      <button mat-icon-button *ngIf="recordsEditing.get(att.getId())" (click)="saveAttendanceMonth(att)">
        <mat-icon class="table-action-icon" aria-label="save" fontIcon="fa-check-circle"></mat-icon>
      </button>
      <button mat-icon-button *ngIf="recordsEditing.get(att.getId())" (click)="resetAttendanceMonthChanges(att)">
        <mat-icon class="table-action-icon" aria-label="cancel" fontIcon="fa-times-circle"></mat-icon>
      </button>
      <button mat-icon-button (click)="deleteAttendanceMonth(att)">
        <mat-icon class="table-action-icon" aria-label="delete" fontIcon="fa-trash"></mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let att; columns: columnsToDisplay"></tr>
</table>
