<div class="padding-regular flex-row flex-wrap justify-space-between">
  <app-view-title [displayInPlace]="true" i18n>
    Edit Dashboard Widgets
  </app-view-title>

  <div class="flex-row gap-small">
    <button mat-raised-button color="accent" (click)="save()" i18n>Save</button>
    <button mat-stroked-button (click)="cancel()" i18n>Cancel</button>
  </div>
</div>

<app-hint-box i18n>
  Drag and drop the widgets to reorder them. You can configure details of each
  widget by clicking on them. Add additional widgets or remove widgets to fully
  customize the dashboard to your needs. The dashboard layout is shared by all
  users, your changes will be visible to everyone.
</app-hint-box>

<!-- WIDGET PREVIEW AREA -->
<div
  cdkDropList
  [cdkDropListData]="dashboardConfig.widgets"
  (cdkDropListDropped)="drop($event)"
  cdkDropListOrientation="mixed"
  class="widgets-container drop-list"
>
  @for (
    widgetConfig of dashboardConfig.widgets;
    track widgetConfig;
    let i = $index
  ) {
    <mat-card
      cdkDrag
      cdkDragBoundary=".overall-container"
      class="widget-preview-card"
    >
      <fa-icon
        icon="grip-vertical"
        size="xl"
        class="widget-action-icon drag-handle"
        matTooltip="You can rearrange the dashboard sections to highlight the most important information first."
        i18n-matTooltip
      ></fa-icon>

      <button
        mat-icon-button
        class="widget-action-icon widget-remove-icon"
        color="black"
        (click)="removeWidget(i)"
        matTooltip="Remove this widget"
        i18n-matTooltip
      >
        <fa-icon icon="times"></fa-icon>
      </button>

      <mat-card-content class="widget-preview-section">
        <!-- Widget Content with Overlay Edit Button -->
        <ng-template [appDynamicComponent]="widgetConfig"></ng-template>

        <!-- Centered Edit Button Overlay -->
        <div class="field-hover-buttons">
          <button
            mat-stroked-button
            color="accent"
            class="field-edit-button"
            (click)="editWidget(widgetConfig, i)"
            i18n
          >
            Edit Widget
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  }

  <!-- DROP AREA: ADD NEW WIDGET -->
  <mat-card class="widget-preview-card drop-area-hint">
    <mat-card-content class="add-widget-content">
      <app-icon-button
        icon="plus-circle"
        buttonType="mat-stroked-button"
        color="accent"
        (buttonClick)="addNewWidget()"
      >
        <span i18n>Add Widget</span>
      </app-icon-button>
    </mat-card-content>
  </mat-card>
</div>
