<div class="margin-bottom-small" #matchComparison>
  <table
    mat-table
    [dataSource]="columns"
    class="match-comparison-table mat-elevation-z1"
  >
    <ng-container
      [matColumnDef]="'side-' + i"
      *ngFor="let side of sideDetails; let i = index"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        class="comparison-header"
        [style.color]="side.entityType?.color ?? 'black'"
      >
        <em class="comparison-header-type">{{ side.entityType?.label }}:</em>
        &nbsp;
        <ng-container *ngFor="let s of side.selected; let i = index">
          <span
            [class.highlighted-name]="s === side.highlightedSelected"
            (click)="side.highlightedSelected = s"
            >{{ s.toString() }}</span
          ><ng-container *ngIf="i < side.selected.length - 1">, </ng-container>
        </ng-container>
        &nbsp;
        <fa-icon
          icon="lock"
          *ngIf="!side.availableEntities || lockedMatching"
          matTooltip="These details of the record are displayed to make comparison easier. You cannot select a different record here."
          i18n-matTooltip="
            tooltip explaining that this entity in matching is locked
          "
          class="icon"
        ></fa-icon>
      </th>

      <td mat-cell *matCellDef="let property">
        <app-entity-field-view
          *ngIf="side.highlightedSelected && property[i]; else placeholder"
          [entity]="side.highlightedSelected"
          [field]="property[i]"
          showLabel="above"
        ></app-entity-field-view>

        <ng-template #placeholder> - </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>

<div class="margin-bottom-large flex-column gap-small">
  <button
    mat-raised-button
    color="accent"
    style="width: 100%"
    (click)="createMatch()"
    [disabled]="
      !(
        sideDetails?.[0].selected?.length > 0 &&
        sideDetails?.[1].selected?.length > 0
      ) || lockedMatching
    "
  >
    {{ matchActionLabel }}
  </button>
  <app-map
    *ngIf="mapVisible"
    class="flex-grow"
    [expandable]="true"
    [entities]="filteredMapEntities"
    [highlightedEntities]="
      [sideDetails?.[0].selected, sideDetails?.[1].selected] | flattenArray
    "
    (entityClick)="entityInMapClicked($event)"
    [(displayedProperties)]="displayedLocationProperties"
    (displayedPropertiesChange)="updateMarkersAndDistances()"
  ></app-map>
</div>

<div class="flex-row flex-wrap gap-large" *ngIf="!lockedMatching">
  <ng-container *ngFor="let side of sideDetails">
    <div class="flex-grow" *ngIf="side.availableEntities">
      <h3
        [style.color]="side.entityType?.color ?? 'black'"
        class="selection-header"
        i18n="header of section with entities available for selection"
      >
        Select {{ side.entityType?.label }}
      </h3>

      <app-filter
        class="flex-row gap-regular flex-wrap"
        [filterConfig]="side.availableFilters"
        [entityType]="side.entityType"
        [entities]="side.availableEntities"
        (filterObjChange)="applySelectedFilters(side, $event)"
      ></app-filter>

      <app-entities-table
        [entityType]="side.entityType"
        [records]="side.availableEntities"
        [customColumns]="side.columns"
        [editable]="false"
        clickMode="none"
        (entityClick)="side.selectMatch($event)"
        [filter]="side.filterObj"
      ></app-entities-table>
    </div>
  </ng-container>
</div>
