<div class="margin-bottom-small" #matchComparison>
  <table mat-table [dataSource]="columns" class="match-comparison-table mat-elevation-z1">
    <ng-container [matColumnDef]="'side-' + i" *ngFor="let side of sideDetails; let i = index">

      <th mat-header-cell *matHeaderCellDef class="comparison-header" [style.color]="side.entityType?.color ?? 'black'">
        {{ side.entityType?.label }}:
        {{ side.selected?.toString() ?? '-' }}

        <fa-icon icon="lock" *ngIf="!side.availableEntities || lockedMatching"
                 matTooltip="These details of the record are displayed to make comparison easier. You cannot select a different record here."
                 i18n-matTooltip="tooltip explaining that this entity in matching is locked"
        ></fa-icon>
      </th>

      <td mat-cell *matCellDef="let property">
        <app-entity-property-view
          *ngIf="side.selected && property[i]; else placeholder"
          [entity]="side.selected" [property]="property[i]" [showLabel]="true"
        ></app-entity-property-view>

        <ng-template #placeholder>
          -
        </ng-template>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>

<div class="margin-bottom-large flex-column gap-small">
  <div>
    <ng-container *ngFor="let side of sideDetails">
      <mat-form-field *ngIf="side.mapProperties.length" style="width: 50%">
        <mat-label i18n="Label for selection of properties displayed in map|e.g. Map properties - Participant">
          Map properties - {{side.entityType.label}}
        </mat-label>
        <mat-select [(value)]="side.selectedMapProperties" (valueChange)="updateMapMarkers()" multiple>
          <mat-option *ngFor="let prop of side.mapProperties" [value]="prop">{{ prop }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <app-map *ngIf="leftSide.mapProperties || rightSide.mapProperties" class="flex-grow"
           [expandable]="true"
           [entities]="mapEntities"
           [highlightedEntities]="[
              { entity: sideDetails?.[0].selected, property: sideDetails?.[0].selectedMapProperties },
              { entity: sideDetails?.[1].selected, property: sideDetails?.[1].selectedMapProperties }
            ]"
           (entityClick)="entityInMapClicked($event)"
  ></app-map>
  <button mat-stroked-button color="accent" style="width: 100%"
          (click)="createMatch()"
          [disabled]="!sideDetails?.[0].selected || !sideDetails?.[1].selected || lockedMatching">
    {{ matchActionLabel }}
  </button>
</div>

<div class="flex-row flex-wrap gap-large" *ngIf="!lockedMatching">
  <ng-container *ngFor="let side of sideDetails">
    <div class="flex-grow" *ngIf="side.availableEntities">
      <h3 [style.color]="side.entityType?.color ?? 'black'" class="selection-header"
          i18n="header of section with entities available for selection">
        Select {{ side.entityType?.label }}
      </h3>

      <app-filter
        class="flex-row gap-regular flex-wrap"
        [filterConfig]="side.availableFilters"
        [entityType]="side.entityType"
        [entities]="side.availableEntities"
        (filterObjChange)="applySelectedFilters(side, $event)"
      ></app-filter>

      <app-entity-subrecord
        [records]="side.availableEntities"
        [columns]="side.columns"
        [editable]="false"
        clickMode="none"
        (rowClick)="side.selectMatch($event)"
        [filter]="side.filterObj"
      ></app-entity-subrecord>
    </div>
  </ng-container>
</div>
