@use "mixins/grid-layout";
@use "variables/sizes";

.overall-layout {
  @include grid-layout.adaptive(380px, 100%);
}

.map-placeholder {
  background-color: lightgrey;
  height: 100px;
  padding: 2em;
}

.match-comparison-table {
  table-layout: fixed;
  width: 100%;
  border-spacing: sizes.$large 0;
  margin: auto;
}

.comparison-header {
  font-size: medium;
}
.comparison-header-type {
  font-weight: bold;
}
.selection-header {
  font-weight: 500;
  font-size: medium;
}

.highlighted-name {
  text-decoration: underline;
}
