<table
        mat-table
        #table
        [dataSource]="studentsDataSource"
        matSort
        style="width: 100%;"
>
    <ng-container [matColumnDef]="col.label" *ngFor="let col of columns">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{col.name}}
        </mat-header-cell>
        <mat-cell *matCellDef="let student">
            {{ student[col.label] }}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
            *matRowDef="let row; columns: displayedColumns"
            [routerLink]="['/child', row.getId()]"
            style="cursor: pointer;"
    ></mat-row>
</table>
