<mat-dialog-content>
  <button
    *ngFor="let item of customPresets"
    mat-button
    color="primary"
    (click)="selectRange(item)"
  >
    {{ item }}
  </button>
  <br />
  <button
    *ngFor="let item of data.dateRangeFilterConfig.filterConfig.options"
    mat-button
    color="primary"
    (click)="selectConfigRange(item)"
  >
    {{ item.label }}
  </button>
  <mat-calendar
    (selectedChange)="selectedRangeChange($event)"
    [selected]="selectedRangeValue"
  >
  </mat-calendar>
</mat-dialog-content>
