<input
  matInput
  [readonly]="!!selectedEntity"
  [formControl]="formControl"
  [matAutocomplete]="autoSuggestions"
  [matAutocompleteDisabled]="autocompleteDisabled"
  (keyup)="keyup()"
  (focusin)="updateAutocomplete()"
/>

<mat-autocomplete #autoSuggestions="matAutocomplete">
  @for (entity of autocompleteEntities | async; track entity) {
    <mat-option
      [value]="entity[formFieldConfig.id]"
      (onSelectionChange)="$event.source.selected ? selectEntity(entity) : null"
    >
      <app-entity-block
        [entity]="entity"
        [linkDisabled]="true"
      ></app-entity-block>
    </mat-option>
  }
</mat-autocomplete>

@if (!autocompleteDisabled) {
  <div style="font-size: 0.75em; color: rgba(0, 0, 0, 0.6); margin-top: 4px">
    @if (!selectedEntity) {
      <span i18n>Creating new record.</span>
    } @else {
      <span i18n>Editing existing record.</span>
    }
  </div>
}

@if (!autocompleteDisabled && !selectedEntity) {
  <fa-icon
    (click)="tooltipElement.show()"
    #tooltipElement="matTooltip"
    icon="cogs"
    i18n-matTooltip="Tooltip help text"
    matTooltip="You can create a new or load an existing record. Start to type an existing name and then select it from the dropdown to edit the existing record. Type any new text to create a new record."
    style="
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    "
    class="tooltip-suffix"
  ></fa-icon>
} @else if (!autocompleteDisabled && !!selectedEntity) {
  <fa-icon
    (click)="resetForm()"
    icon="circle-xmark"
    i18n-matTooltip="Tooltip for button to reset form"
    matTooltip="Unload existing record and reset form."
    class="tooltip-suffix"
    style="
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    "
  ></fa-icon>
}
