<mat-form-field [formGroup]="parent" class="form-field-with-tooltip-suffix">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [readonly]="!!selectedEntity"
    [formControl]="formControl"
    [matAutocomplete]="autoSuggestions"
    [matAutocompleteDisabled]="autocompleteDisabled"
    (keyup)="keyup()"
    (focusin)="updateAutocomplete()"
  />
  <mat-autocomplete #autoSuggestions="matAutocomplete">
    <mat-option
      *ngFor="let entity of autocompleteEntities | async"
      [value]="entity[formControlName]"
      (onSelectionChange)="$event.source.selected ? selectEntity(entity) : null"
    >
      <app-entity-block
        [entity]="entity"
        [linkDisabled]="true"
      ></app-entity-block>
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="!autocompleteDisabled">
    <span *ngIf="!selectedEntity" i18n>Creating new record.</span>
    <span *ngIf="selectedEntity" i18n>Editing existing record.</span>
  </mat-hint>
  <mat-error>
    <app-error-hint [form]="formControl"></app-error-hint>
  </mat-error>
</mat-form-field>

<fa-icon
  *ngIf="!autocompleteDisabled && !selectedEntity"
  (click)="tooltipElement.show()"
  #tooltipElement="matTooltip"
  icon="cogs"
  i18n-matTooltip="Tooltip help text"
  matTooltip="You can create a new or load an existing record. Start to type an existing name and then select it from the dropdown to edit the existing record. Type any new text to create a new record."
  class="tooltip-suffix"
></fa-icon>

<fa-icon
  *ngIf="!autocompleteDisabled && !!selectedEntity"
  (click)="resetForm()"
  icon="circle-xmark"
  i18n-matTooltip="Tooltip for button to reset form"
  matTooltip="Unload existing record and reset form."
  class="tooltip-suffix"
  style="cursor: pointer"
></fa-icon>
