$widget-header-height: 60px;
$widget-content-height: 300px;

$font-size-headline: 40pt;

$padding-header: 24px;

$border-radius-card: 5px;

.widget-header {
  /* Defines a grid that roughly looks like this:
   * |-------|--------------------------------------|
   * |       |                                      |
   * |       |                                      |
   * |-------|--------------------------------------|
   * |       |                                      |
   * |-------|--------------------------------------|
   *
   * The right-upper side is where the headline will be placed.
   * On the lower right side, the subheadline is placed
   * On the two left sides, the icon will be placed in a
   * centered way
   */
  display: grid;
  grid-template: 2fr 1fr / 40pt 1fr;
  grid-template-areas:
    "icon headline"
    "subheadline subheadline";
  padding: $padding-header;
  height: $widget-header-height;
}

.widget-icon {
  grid-area: icon;
  color: white;
  align-self: center;
  font-size: $font-size-headline;
  // fixes the correct centering of this item
  display: table;
}

.widget-headline {
  grid-area: headline;
  text-align: end;
  place-self: end;

  font-size: 40pt;
  color: white;
}

.widget-subheadline {
  grid-area: subheadline;
  text-align: end;
  place-self: end;
  margin-top: 8px;

  font-size: 14px;
  color: white;
}

.widget-content {
  height: $widget-content-height;
  overflow: hidden;
  display: flex;
  place-items: center;
}

.widget-total {
  border-radius: $border-radius-card;
  // necessary for the border-radius to apply
  overflow: auto;
}
