<div class="widget-total mat-elevation-z5">
  <!-- Header -->
  <div class="widget-header app-{{theme}}">
    <div class="widget-headline">
      <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
      <span *ngIf="!isLoading">{{title}}</span>
    </div>
    <div class="widget-subheadline" [matTooltip]="explanation">{{subtitle}}</div>
    <app-fa-dynamic-icon class="widget-icon" [icon]="icon"></app-fa-dynamic-icon>
  </div>

  <!-- Content -->
  <div class="widget-content">
    <ng-content select="app-widget-content"></ng-content>
  </div>
</div>
