<div class="widget-total mat-elevation-z5">
  <!-- Header -->
  <div class="widget-header app-{{theme}}">
    <div class="widget-headline">
      <ng-content select="app-widget-headline"></ng-content>
    </div>
    <div class="widget-subheadline">
      <ng-content select="app-widget-subheadline"></ng-content>
    </div>
    <fa-icon class="widget-icon" icon="{{icon}}"></fa-icon>
  </div>

  <!-- Content -->
  <div class="widget-content">
    <ng-content select="app-widget-content"></ng-content>
  </div>
</div>
