<app-dashboard-widget icon="child" theme="child">
  <app-widget-headline>{{totalChildren}}</app-widget-headline>
  <app-widget-subheadline i18n="Total amount of children">
    Children
  </app-widget-subheadline>
  <app-widget-content>
    <table class="dashboard-table">
      <tr
        *ngFor="let entry of childrenGroupCounts; let i = index"
        class="dashboard-table-row"
        (click)="goToChildrenList(entry.label)"
        style="cursor: pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_children_count_school_link"
        [angularticsLabel]="'list-entry-' + i"
      >
        <td class="dashboard-table-cell">{{ entry.label }}</td>
        <td class="dashboard-table-cell">{{ entry.value }}</td>
        <td class="dashboard-table-cell">
          <span class="fa fa-external-link-square"></span>
        </td>
      </tr>
    </table>
  </app-widget-content>
</app-dashboard-widget>
