<mat-card class="dashboard-widget">
  <mat-card-header class="app-child">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-child"></mat-icon>
    </div>
    <mat-card-title>{{ totalChildren }}</mat-card-title>
    <mat-card-subtitle i18n="Total amount of children">Children</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="dashboard-table">
      <tr
        *ngFor="let entry of childrenGroupCounts; let i = index"
        class="dashboard-table-row"
        (click)="goToChildrenList(entry.label)"
        style="cursor: pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_children_count_school_link"
        [angularticsLabel]="'list-entry-' + i"
      >
        <td class="dashboard-table-cell">{{ entry.label }}</td>
        <td class="dashboard-table-cell">{{ entry.value }}</td>
        <td class="dashboard-table-cell">
          <span class="fa fa-external-link-square"></span>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
