.buttons-wrapper {
  padding-bottom: 2em;
}
.field-hint {
  font-style: italic;
}
.field-warning {
  color: #f44336;
}

@keyframes buttonPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-button {
  animation: buttonPulse 1s forwards;
  padding: 0 5px;
}
