<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <div class="flex-column gap-regular">
    <app-entity-archived-info [entity]="data.entity"></app-entity-archived-info>

    <app-entity-form
      [fieldGroups]="fieldGroups"
      [entity]="data.entity"
      [form]="form"
    >
    </app-entity-form>

    <div class="flex-row flex-wrap gap-small">
      <!-- TODO: merge this with the "viewOnlyColumns" in the future? -->
      <ng-container
        *ngComponentOutlet="
          'ExistingEntityLoad' | dynamicComponent | async;
          inputs: { form, defaultEntity: data.entity }
        "
      >
        <!-- ExistingEntityLoad currently has to be loaded dynamically to avoid circular dependency in FormDialogService -->
      </ng-container>

      @for (col of viewOnlyColumns; track col.id) {
        <app-pill
          [matTooltip]="col.description"
          [style.background-color]="tempEntity.getColor()"
          class="mat-body-strong"
        >
          <app-entity-field-view
            [field]="col"
            [entity]="tempEntity"
            showLabel="inline"
          ></app-entity-field-view>
        </app-pill>
      }
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <app-dialog-buttons [form]="form" [entity]="data.entity" />
</mat-dialog-actions>
