<p i18n>
    set the default value related to field
</p>

<form [formGroup]="prefilledValueSettings">
    <div formArrayName="prefilledvalue">
        <div *ngFor="let fieldGroup of prefilledValues.controls; let i = index" [formGroupName]="i">
            <label for="field">Field</label>
            <select formControlName="field">
                <option *ngFor="let field of availableFields" [value]="field">
                    {{ field }}
                </option>
            </select>

            <app-default-value-options [value]="fieldGroup.get('defaultValue').value"
                (valueChange)="fieldGroup.get('defaultValue').setValue($event)" [entityType]="entityConstructor">
            </app-default-value-options>

            <button type="button" (click)="removeField(i)">Remove</button>
        </div>
    </div>
    <button type="button" (click)="addField()">Add Another Default Value</button>
</form>