@use "variables/colors";
@use "variables/sizes";
@use "../../../../styles/variables/breakpoints";
@use "@angular/material/core/style/elevation" as mat-elevation;

.defaultvalue-container {
    overflow: hidden
}

.container {
    @include mat-elevation.elevation(2);
    border-radius: 10px;
    padding: 16px;
    background-color: colors.$background;
    margin-top: sizes.$regular;
    gap: 40px;

    @media screen and (min-width: breakpoints.$xxl) {
        flex-direction: row;
    }
}

.add-new-defaultvalue-field {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.add-new-defaultvalue-button {
    width: 50%;
    border-radius: 20px;
    padding: 22px;
    background-color: aliceblue;
}

.new-defaultvalue-rule {
    margin-left: 5px;
}