<form [formGroup]="form">
  <div
    fxLayout="row wrap"
    fxLayout.xs="row wrap"
    fxLayout.md="row wrap"
    fxLayout.sm="row wrap"
  >
    <div *ngFor="let col of columns" fxFlex>
      <div *ngFor="let row of col">
        <ng-template [appDynamicComponent]="{
          component: row.input,
          config: {
            formFieldConfig: row,
            propertySchema: entity.getSchema().get(row.id),
            formControl: form.get(row.id)
          }
        }"
        >
        </ng-template>
      </div>
<!--      <div *ngFor="let row of col">-->
<!--        <div *ngIf="row.input === 'photo'" class="child-pic-container">-->
<!--          <img-->
<!--            [src]="entity?.photo?.value"-->
<!--            class="child-pic"-->
<!--            alt="child's photo"-->
<!--          />-->

<!--          <input-->
<!--            style="display: none"-->
<!--            type="file"-->
<!--            accept=".jpg, .jpeg, .png"-->
<!--            (change)="uploadChildPhoto($event)"-->
<!--            #fileUpload-->
<!--          />-->
<!--          <button-->
<!--            *ngIf="enablePhotoUpload && editing"-->
<!--            class="child-pic-upload"-->
<!--            (click)="fileUpload.click()"-->
<!--          >-->
<!--            <mat-icon class="upload-icon" fontIcon="fa-upload"></mat-icon>-->
<!--          </button>-->

<!--          <mat-form-field-->
<!--            *ngIf="editing && isAdminUser"-->
<!--            class="child-pic-photofile"-->
<!--          >-->
<!--            <input-->
<!--              #photoFileInput-->
<!--              matTooltip="filename for child photo uploaded by server administrator"-->
<!--              matInput-->
<!--              [formControlName]="row.id"-->
<!--              [placeholder]="row.placeholder"-->
<!--              [title]="row.placeholder"-->
<!--              type="text"-->
<!--            />-->
<!--            <span-->
<!--              matSuffix-->
<!--              (click)="photoFileInput.value = ''"-->
<!--              class="fa fa-times"-->
<!--            ></span>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <mat-form-field *ngIf="row.input === 'textarea'">-->
<!--          <mat-icon *ngIf="editing && row.tooltip" matSuffix-->
<!--            fontIcon="fa-question-circle-o"-->
<!--            [matTooltip]="row.tooltip"-->
<!--          ></mat-icon>-->
<!--          <textarea-->
<!--            matInput-->
<!--            [formControlName]="row.id"-->
<!--            [placeholder]="row.placeholder"-->
<!--            [title]="row.placeholder"-->
<!--          ></textarea>-->
<!--        </mat-form-field>-->
    </div>
  </div>
</form>
<div>
  <button
    *ngIf="editing"
    mat-stroked-button
    class="edit-button"
    (click)="save()"
  >
    Save
  </button>

  <button
    *ngIf="editing"
    mat-stroked-button
    class="edit-button"
    (click)="switchEdit()"
  >
    Cancel
  </button>

  <ng-container *ngIf="!editing">
    <button
      mat-stroked-button
      class="edit-button"
      (click)="switchEdit()"
      *appDisabledEntityOperation="{
        entity: entity?.getConstructor(),
        operation: operationType.UPDATE
      }"
    >
      Edit
    </button>
  </ng-container>
</div>
