.edit-button {
  margin-left: 10px;
}

.mat-form-field {
  margin-right: 10px;
}

.child-pic-container {
  position: relative;
  margin-right: 10px;
}

.child-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.child-pic-upload {
  position: absolute;
  left: 0;
  width: 120px;
  height: 150px;

  border: none;
  background: none;
  cursor: pointer;
}

.upload-icon {
  font-size: 2em;
}

.child-pic-photofile {
  position: absolute;
  left: 1px;
  top: 115px;
  width: 120px;
  background: white;
}

.locked-icon {
  line-height: 20px;
  padding-left: 10px;
  color: black;
}
