<form [formGroup]="form">
  <div
    fxLayout="row wrap"
    fxLayout.xs="row wrap"
    fxLayout.md="row wrap"
    fxLayout.sm="row wrap"
  >
    <div *ngFor="let col of config.cols" fxFlex>
      <div *ngFor="let row of col">

        <ng-container [ngSwitch]="row.input">
          <div *ngSwitchCase="'photo'" class="child-pic-container">
            <img
              [src]="form.get(row.id).value?.photo?.value"
              class="child-pic"
              alt="child's photo"
            />

            <input
              style="display: none"
              type="file"
              accept=".jpg, .jpeg, .png"
              (change)="uploadChildPhoto($event)"
              #fileUpload
            />
            <button
              *ngIf="enablePhotoUpload && editing"
              class="child-pic-upload"
              (click)="fileUpload.click()"
            >
              <mat-icon class="upload-icon" fontIcon="fa-upload"></mat-icon>
            </button>

            <mat-form-field
              *ngIf="editing && isAdminUser"
              class="child-pic-photofile"
            >
              <input
                #photoFileInput
                matTooltip="filename for child photo uploaded by server administrator"
                matInput
                (change)="changeFilename(photoFileInput.value, row.id)"
                [value]="form.get(row.id).value?.path"
                [placeholder]="row.placeholder"
                [title]="row.placeholder"
                type="text"
              />
              <span
                matSuffix
                (click)="changeFilename('', row.id)"
                class="fa fa-times"
              ></span>
            </mat-form-field>
          </div>

          <mat-form-field *ngSwitchCase="'text'">
            <mat-icon *ngIf="editing && row.tooltip" matSuffix
                      fontIcon="fa-question-circle-o"
                      [matTooltip]="row.tooltip"
            ></mat-icon>
            <input
              matInput
              [formControlName]="row.id"
              [placeholder]="row.placeholder"
              [title]="row.placeholder"
              type="text"
            />
            <mat-error *ngIf="this.form.get(row.id).invalid && validateForm">
              {{ row.placeholder }} is required
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'textarea'">
            <mat-icon *ngIf="editing && row.tooltip" matSuffix
                      fontIcon="fa-question-circle-o"
                      [matTooltip]="row.tooltip"
            ></mat-icon>
            <textarea
              matInput
              [formControlName]="row.id"
              [placeholder]="row.placeholder"
              [title]="row.placeholder"
            ></textarea>
          </mat-form-field>

          <mat-checkbox
            *ngSwitchCase="'checkbox'"
            [formControlName]="row.id"
            [disabled]="!editing"
          >{{ row.placeholder }}
          </mat-checkbox>

          <div *ngSwitchCase="'age'">
            <mat-form-field style="width: 120px">
              <input
                matInput
                [formControlName]="row.id"
                [placeholder]="row.placeholder"
                [matDatepicker]="dateOfBirthDatepicker"
                [disabled]="!editing"
                #dateOfBirth
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dateOfBirthDatepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirthDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 50px">
              <mat-icon *ngIf="editing && row.tooltip" matSuffix
                        fontIcon="fa-question-circle-o"
                        [matTooltip]="row.tooltip"
              ></mat-icon>
              <input
                matInput
                placeholder="Age"
                type="string"
                [value]="calculateAge(dateOfBirth.value)"
                [disabled]="true"
              />
            </mat-form-field>
          </div>

          <div *ngSwitchCase="'select'">
            <mat-form-field>
              <mat-icon *ngIf="editing && row.tooltip" matSuffix
                        fontIcon="fa-question-circle-o"
                        [matTooltip]="row.tooltip"
              ></mat-icon>
              <mat-label>
                {{ row.placeholder }}
              </mat-label>
              <mat-select [disabled]="!editing" [formControlName]="row.id">
                <mat-option *ngFor="let o of row.options" [value]="o">
                  {{ o }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="'configurable-enum-select'">
            <mat-form-field>
              <mat-icon *ngIf="editing && row.tooltip" matSuffix
                        fontIcon="fa-question-circle-o"
                        [matTooltip]="row.tooltip"
              ></mat-icon>
              <mat-label>
                {{ row.placeholder }}
              </mat-label>
              <mat-select [disabled]="!editing" [formControlName]="row.id">
                <mat-option
                  *appConfigurableEnum="let o of row.enumId"
                  [value]="o"
                >
                  {{ o.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field *ngSwitchCase="'datepicker'" style="width: 180px">
            <input
              matInput
              [formControlName]="row.id"
              [placeholder]="row.placeholder"
              [matDatepicker]="datepickerComp"
              [disabled]="!editing"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datepickerComp"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepickerComp></mat-datepicker>
          </mat-form-field>

          <app-entity-select
            *ngSwitchCase="'entity-select'"
            [standardType]="row.entityType"
            [selection]="form.controls[row.id].value"
            (selectionChange)="form.controls[row.id].setValue($event)"
            [disabled]="!editing"
            [label]="row.label"
            [placeholder]="row.placeholder"
          >
          </app-entity-select>

        </ng-container>

      </div>
    </div>
  </div>
</form>
<app-edit-button
  (onSave)="save()"
  [(editing)]="editing"
>
</app-edit-button>
