@use "../../entity-utils/common-styles" as *;

.main-list {
  // Mat chip list overflows a little bit without this hack
  width: 98%;
  padding-left: 1px;
}

.chip {
  padding-top: 2px;
  padding-bottom: 2px;
}

