.hide-remarks {
  display: none;
}

.actions {
}

.presence-toggle {
  margin: 4px;
  font-size: 0.8em;
}
.presence-toggle-button {
  margin: -10px -5px -10px -5px;
}

.button-present {
  background-color: #90ee9040;
}
.button-absent {
  background-color: #fd727280;
}
