<div fxLayout="row wrap" fxLayoutAlign="start baseline" class="attendance-box">

  <fa-icon *ngIf="!disabled" icon="times" (click)="remove.emit()"></fa-icon>

  <app-child-block [entityId]="childId" fxFlex> </app-child-block>

  <app-attendance-status-select
    [(value)]="attendance.status"
    (valueChange)="change.emit(attendance)"
    [disabled]="disabled"
    fxFlex="250px"
  >
  </app-attendance-status-select>

  <mat-form-field fxFlex>
    <input
      matInput
      i18n-placeholder
      placeholder="Remarks"
      name="remarks"
      type="text"
      [(ngModel)]="attendance.remarks"
      [disabled]="disabled"
    />
  </mat-form-field>
</div>
