.hide-remarks {
  display: none;
}

:host {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 12px;
  flex-grow: 1;
}
