<div fxLayout="col" fxLayoutGap="4px" fxLayoutAlign="start baseline">
  <div class="actions" fxFlex="40px">
    <button mat-icon-button (click)="remove.emit()">
      <mat-icon fontIcon="fa-times"></mat-icon>
    </button>
  </div>

  <div fxFlex="250px">
    <app-attendance-status-select
      [(value)]="attendance.status"
      (valueChange)="change.emit(attendance)"
    >
    </app-attendance-status-select>
  </div>

  <app-child-block [entityId]="childId" fxFlex> </app-child-block>

  <mat-form-field class="dense-form-field" fxFlex>
    <input
      matInput
      i18n-placeholder
      placeholder="Remarks"
      name="remarks"
      type="text"
      [(ngModel)]="attendance.remarks"
    />
  </mat-form-field>
</div>
