@use "@angular/material" as mat;

.admin-table {

  border-collapse: collapse;
  width: 100%;

  > thead > th {
    padding: 10px 12px;
    text-align: left;
    vertical-align: bottom;
    font-weight: 400;
    color: mat.get-color-from-palette(mat.$grey-palette, 700);
    text-transform: uppercase;
  }

  > tbody > tr > td {
    padding: 10px 12px;
    vertical-align: top;
  }

  > tbody > tr {
    border-top: 1px solid mat.get-color-from-palette(mat.$grey-palette, 400);
  }
}

.shrink-width {
  width: 15%;
}
