<h1>Administration & Configuration</h1>

<p style="font-style: italic; font-weight: bold">
  Warning: This section is intended for system administrators only. Make sure
  you know what you are doing.
</p>

<br />
<hr />
<h2>Utility Functions</h2>
<p>
  <button (click)="updatePhotoFilenames()" mat-stroked-button>
    Auto-Update children's photo filenames
  </button>
  <button
    (click)="attendanceMigration.createEventsForAllAttendanceMonths()"
    mat-stroked-button
  >
    Migration
  </button>
  <button (click)="notesMigration.migrateToMultiUser()" mat-stroked-button>
    Migrate Notes to new author users
  </button>
  <button
    (click)="childrenMigrationService.migratePhotoFormat()"
    mat-stroked-button
  >
    Migrate Children to correct photo format
  </button>
  <button (click)="migrateConfigChanges()" mat-stroked-button>
    Migrate Config to new format
  </button>
</p>

<br />
<hr />
<h2>Backup</h2>
<p>
  <button (click)="saveBackup()" mat-stroked-button>
    Download Backup (.json)</button
  >&nbsp;
  <button (click)="backupImport.click()" mat-stroked-button>
    Restore Backup (.json)
  </button>
  <input
    #backupImport
    type="file"
    style="display: none"
    (change)="loadBackup($event.target.files[0])"
  />
</p>

<br />
<hr />
<h2>Export</h2>
<p>
  <button (click)="saveCsvExport()" mat-stroked-button>
    Download whole database (.csv)</button
  >&nbsp;
  <button (click)="csvImport.click()" mat-stroked-button>Import (.csv)</button>
  <input
    #csvImport
    type="file"
    style="display: none"
    (change)="loadCsv($event.target.files[0])"
  />
</p>

<br />
<hr />
<h2>Application Configuration</h2>
<p>
  <button (click)="downloadConfigClick()" mat-stroked-button>
    Download configuration</button
  >&nbsp;
  <button (click)="configImport.click()" mat-stroked-button>
    Upload new configuration
  </button>
  <input
    #configImport
    type="file"
    style="display: none"
    (change)="uploadConfigFile($event.target.files[0])"
  />
</p>

<br />
<hr />
<h2>AppConfig</h2>
<p>{{ appConfig | json }}</p>

<br />
<hr />
<h2>Debug the PouchDB</h2>
<p>
  <button (click)="debugDatabase()" mat-stroked-button>
    Send to console.log()
  </button>
</p>
<p>
  <button (click)="clearDatabase()" mat-stroked-button>Empty Database</button>
</p>

<br />
<hr />
<h2>Alert Log</h2>
<table>
  <tr *ngFor="let alert of alerts.reverse()">
    <td>{{ alert.type }}</td>
    <td>{{ alert.message }}</td>
  </tr>
</table>
