<h1 matDialogTitle>Edit dropdown</h1>
<app-dialog-close mat-dialog-close></app-dialog-close>
<mat-dialog-content style="max-width: 400px; padding-top: 5px">
  <mat-form-field *ngFor="let control of form.controls; let i = index" class="full-width" appearance="outline">
    <mat-label>#{{i}}</mat-label>
    <input matInput [formControl]="control"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button (click)="save()" [disabled]="form.pristine">Save</button>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
