@use "src/styles/variables/colors";
@use "src/styles/variables/sizes";

mat-stepper {
  background-color: transparent;
}

.stepper-icon {
  font-size: 0.8em;
}

.step-label-extra {
  font-size: 12px;
  color: colors.$muted;
}

// this component is designed as a screen filling view with sticky headers
:host {
  height: 100%;
  padding-bottom: 0; // overwrite parent assigned (larger) padding to make reasonable use of space with scrolling
}
:host ::ng-deep .mat-horizontal-stepper-wrapper {
  height: 100%;
}
:host ::ng-deep .mat-horizontal-content-container {
  overflow-y: auto;
}

.stepper-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: sizes.$regular;

  position: sticky;
  top: 0;
  z-index: 100;
  background-color: colors.$background;

  padding-top: sizes.$x-small;
  padding-bottom: sizes.$regular;
}
