<span
  class="block-height"
  [ngClass]="{ clickable: !linkDisabled }"
  (click)="showDetailsPage()"
>
  <ng-container
    *ngIf="entityBlockComponent && entityToDisplay"
    [appDynamicComponent]="{
      component: entityBlockComponent,
      config: {
        entity: entityToDisplay,
        linkDisabled: linkDisabled,
        tooltipDisabled: true
      }
    }"
  >
  </ng-container>

  <ng-container *ngIf="!entityBlockComponent">
    {{ entityToDisplay?.toString() }}
  </ng-container>
</span>
