<h1 matDialogTitle i18n="title of dropdown options popup dialog">
  Edit dropdown options
</h1>
<app-dialog-close (click)="onCancel()"></app-dialog-close>

<mat-dialog-content
  style="max-width: 400px; padding-top: 5px"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <mat-form-field
    *ngFor="let v of localValues; let i = index"
    cdkDrag
    class="full-width"
    appearance="fill"
  >
    <fa-icon
      icon="grip-vertical"
      matIconPrefix
      class="grab-icon margin-right-small"
    ></fa-icon>

    <input matInput [(ngModel)]="v.label" />

    <button mat-icon-button matIconSuffix (click)="delete(v, i)">
      <fa-icon icon="trash"></fa-icon>
    </button>
  </mat-form-field>

  <!-- CREATING NEW OPTION -->
  <mat-form-field class="full-width">
    <mat-label i18n>Add new option</mat-label>
    <textarea
      matInput
      [(ngModel)]="newOptionInput"
      (paste)="onPasteNewOption($event)"
      rows="2"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
    ></textarea>
    <button
      mat-icon-button
      color="accent"
      matIconSuffix
      (click)="createNewOption()"
    >
      <fa-icon icon="square-plus"></fa-icon>
    </button>
    <mat-hint i18n>
      You can paste multiple values at once (one per line)
    </mat-hint>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onSave()" i18n>Save</button>
  <button mat-raised-button (click)="onCancel()" i18n>Cancel</button>
</mat-dialog-actions>
