<h1 matDialogTitle i18n="title of dropdown options popup dialog">
  Edit dropdown options
</h1>
<app-dialog-close mat-dialog-close></app-dialog-close>
<mat-dialog-content
  style="max-width: 400px; padding-top: 5px"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <mat-form-field
    *ngFor="let v of enumEntity.values; let i = index"
    cdkDrag
    class="full-width"
    appearance="fill"
  >
    <fa-icon
      icon="grip-vertical"
      matIconPrefix
      class="grab-icon margin-right-small"
    ></fa-icon>
    <input matInput [(ngModel)]="v.label" />
    <button mat-icon-button matIconSuffix (click)="delete(v, i)">
      <fa-icon icon="trash"></fa-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<div><mat-form-field
    cdkDrag
    class="full-width"
    appearance="fill"
  >
    <fa-icon
      icon="grip-vertical"
      matIconPrefix
      class="grab-icon margin-right-small"
    ></fa-icon>
    <button mat-icon-button matIconSuffix > <fa-icon icon="trash"></fa-icon>
    </button>
  </mat-form-field>
  <input matInput placeholder="Ex.Howrah"/>
<button mat-raised-button onclick="Option">Add New Option</button></div>
<mat-dialog-actions>
<button mat-raised-button mat-dialog-close i18n="Close popup">Close</button>
</mat-dialog-actions>

