/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */

/* You can add global styles to this file, and also import other style files */

@use "variables/sizes";
@use "variables/colors";
@use "variables/ndb-light-theme" as theme;
@use "~@angular/material/theming" as *;

// Include all global styles
@use "globals";
@use "resets";

body {
  margin: 0;
}

/* display disabled form values in black for better readability as we disable forms by default */
.mat-input-element:disabled {
  color: mat-color($mat-light-theme-foreground, text) !important;
}
.mat-select-disabled .mat-select-value {
  color: mat-color($mat-light-theme-foreground, text) !important;
}

/* Standard button styles */

.standard-add-button {
  background-color: white !important;
}

.standard-icon {
  font-size: sizes.$standard-icon;
}

.standard-icon-with-text {
  font-size: sizes.$standard-icon;
  margin-right: sizes.$small;
}

.mat-raised-button {
  margin-right: sizes.$small;
}

/**
 * adds a standard-margin wide border to the left side
 * that can be used to highlight things.
 * This itself does not actually change the appearance,
 * but specifying a border-color will do so.
 */
.border-left-highlight {
  border-left: sizes.$small solid;
  border-color: transparent;
}

/**
 * Positions the 'x' button that is shown for an overlay to
 * the top-right of the overlay
 */
.overlay-close-button {
  position: absolute;
  top: 0;
  right: 0;
}
