/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */

/* You can add global styles to this file, and also import other style files */

@use "variables/sizes";
@use "variables/colors";
@use "variables/ndb-light-theme" as theme;
@use "~@angular/material/theming" as *;

body {
  margin: 0;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 8px !important;
}

.alerts-snackbar {
  background-color: transparent;
  box-shadow: none;
}

.mat-dialog-container {
  position: relative;
}

.dashboard-widget .mat-card-header {
  padding: 24px;
  position: relative;

  background-color: lightgray;
  color: white;
}

.dashboard-widget .mat-card-header-text {
  width: 100%;
}

.dashboard-widget .mat-card-title {
  text-align: end;
  width: 100%;
  margin-top: 10px;
  font-size: 40pt;
}

.dashboard-widget .mat-card-subtitle {
  text-align: end;
  width: calc(100% - 20px);
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0 !important;
  color: white;
}

.dashboard-widget .mat-card-avatar {
  font-size: 40pt;
}

.dashboard-widget .dashboard-desc {
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
}

mat-card.dashboard-widget {
  padding: 0;
}

.dashboard-widget .dashboard-table-cell {
  padding: 10px;
}

.app-general {
  background-color: #555555 !important;
}

.app-child {
  background-color: #1565C0 !important;
}

.app-attendance {
  background-color: #00838F !important;
}

.app-note {
  background-color: #008f53 !important;
}

.app-class {
  background-color: #2E7D32 !important;
}

.app-school {
  background-color: #9E9D24 !important;
}


.w-OK {
  background-color: adjust-color(colors.$warning-ok, $alpha: -0.75);
}
.w-WARNING {
  background-color: adjust-color(colors.$warning-warning, $alpha: -0.5);
}
.w-URGENT {
  background-color: adjust-color(colors.$warning-urgent, $alpha: -0.5);
}

.w-100 {
  background-color: #90ee90 !important;
}
.w-90 {
  background-color: #a5e46e !important;
}
.w-80 {
  background-color: #bcd84e !important;
}
.w-70 {
  background-color: #d2c92e !important;
}
.w-60 {
  background-color: #e9b90f !important;
}
.w-50 {
  background-color: #ffa500 !important;
}
.w-40 {
  background-color: #ff982a !important;
}
.w-30 {
  background-color: #ff8b40 !important;
}
.w-20 {
  background-color: #ff8153 !important;
}
.w-10 {
  background-color: #ff7863 !important;
}
.w-0 {
  background-color: #fd7272 !important;
}


.attendance-P {
  background-color: colors.$success !important;
}
.attendance-H {
  background-color: #CFD8DC !important;
}
.attendance-L {
  background-color: #FFECB3 !important;
}
.attendance-E {
  background-color: #D7CCC8 !important;
}
.attendance-A {
  background-color: colors.$error !important;
}
.attendance-U {
  background-color: #DDDDDD !important;
}

/* configures the color of the buttons on hover*/
.filter-button mat-button-toggle:hover{
  background: #f5f5f5;
}

.filter-button mat-button-toggle.selected:hover{
  background: #e0e0e0;
}


/* display disabled form values in black for better readability as we disable forms by default */
.mat-input-element:disabled {
  color: black;
}
.mat-select-disabled .mat-select-value {
  color: black;
}

/* Standard button styles */

.standard-add-button {
  background-color: white !important;
}

.standard-icon {
  font-size: sizes.$standard-icon;
}

.standard-icon-with-text {
  font-size: sizes.$standard-icon;
  margin-right: sizes.$small;
}

.mat-raised-button {
  margin-right: sizes.$small;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * adds a standard-margin wide border to the left side
 * that can be used to highlight things.
 * This itself does not actually change the appearance,
 * but specifying a border-color will do so.
 */
.border-left-highlight {
  border-left: sizes.$small solid;
  border-color: transparent;
}

.full-height {
  height: 100%
}

/** Flex helpers
 *
 *  These classes are designed to avoid boilerplate classes such as
 *  .some-element {
 *    display: flex
 *    flex-direction: row
 *  }
 *
 * Usage is intended for simple cases only. Use custom classes for more complex
 * flex-layouts
 */

/**
 * Aligns children in a row
 *
 * example:
 * |--|------|-|
 */
.flex-row {
  display: flex;
  flex-direction: row;
}

/**
 * Aligns children in a column
 *
 * example:
 * |--|
 * |------|
 * |-|
 */
.flex-column {
  display: flex;
  flex-direction: column;
}

/**
 * Makes a child grow bigger, relative to other items
 * before:
 * |---x---|--y--|---x---|
 * after flex-grow is applied to the y-element:
 * |---x---|------y------|---x---|
 */
.flex-grow {
  flex-grow: 1;
}

/**
 * justifies (places the item on their main axis) items so that the space
 * between the items is maxed. This is useful, for example, when two items
 * need to be placed at opposite ends (for example left and right or top and bottom)
 *
 + The main axis is dependent on the flex direction
 * - flex-direction = row    : main axis is x-axis
 * - flex-direction = column : main axis is y-axis
 *
 * example assuming flex-direction = row
 *
 * Without justify-space-between:
 * | ----- | ----- |                |
 *
 * With justify-space-between:
 * | ----- |                | ----- |
 */
.justify-space-between {
  justify-content: space-between;
}

/**
 * aligns the items (i.e. places the items on the non main axis)
 */
.align-center {
  align-items: center;
}

/**
 * aligns the items (i.e. places the items on the non main axis)
 */
.align-baseline {
  align-items: baseline;
}

.align-self-end {
  align-self: end;
}

/**
 * justifies the items (i.e. places the items on the main axis)
 */
.justify-center {
  justify-items: center;
}

/**
 * Allows items to wrap to the next row when there are too many to fit
 * onto one row
 */
.flex-wrap {
  flex-wrap: wrap;
}

/**
 * justifies and aligns the items of an outer element to the center position
 */
.place-center {
  place-items: center;
}

.flex-grow-1-3 {
  flex-grow: 0.3;
}

/**   Overflow   **/

.overflow-auto-y {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.pointer {
  cursor: pointer;
}

.hide-mobile {
  @media (max-width: 599px) {
    display: none;
  }
}

.hide-desktop {
  @media (min-width: 599px) {
    display: none;
  }
}

.badge-label {
  display: inline-block;
  padding: 0 sizes.$small;
  line-height: 1.5;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.app-list {
  // this is a constant because this padding only removes the default
  padding-left: 16px;
}

/**
 * Positions the 'x' button that is shown for an overlay to
 * the top-right of the overlay
 */
.overlay-close-button {
  position: absolute;
  top: 0;
  right: 0;
}


/* configuration for the mat-slide-toggle feature, used e.g. in the entity-list.component for the "Show All"
option within the pagination of the tables */
.mat-slide-toggle-thumb {
  filter: grayscale(100%);
  width: 18px !important;
  height: 18px !important;
  transform: translate(0%, 0%);
  background-image: url(~/src/assets/icons/icon-512x512.png) !important;
  background-origin: content-box;
  background-size: contain;
  background-position: center center;
}

.mat-checked .mat-slide-toggle-thumb {
  filter: grayscale(0);
}

.mat-slide-toggle-bar {
  background-color: #cccccc;
  border-radius: 15px !important;
  height: 16px !important;
}

.mat-slide-toggle-thumb-container {
  top: -2px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: mat-color(theme.$primary);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #fff;
}

/** Create utility classes for standard sizes **/

@each $ident, $size in sizes.$standard-sizes {
  @each $side in right, left, top, bottom {
    // Creates padding classes for one side only (i.e. padding-left-..., padding-right-...)
    .padding-#{$side}-#{$ident} {
      padding-#{$side}: $size;
    }

    // Creates margin classes for one side only (i.e. margin-left-small, margin-top-regular)
    .margin-#{$side}-#{$ident} {
      margin-#{$side}: $size;
    }
  }

  // Standard padding applied to all sides
  .padding-#{$ident} {
    padding: $size;
  }

  // Standard margin applied to all sides
  .margin-#{$ident} {
    margin: $size;
  }

  .gap-#{$ident} {
    gap: $size;
  }
}

/** Normalize utilities: removes margins or paddings from elements **/

.remove-padding-bottom { padding-bottom: 0 !important; }
.remove-margin-bottom  { margin-bottom: 0 !important; }
.remove-margin-top     { margin-top: 0 !important; }
.remove-margin-left    { margin-left: 0 !important; }

.margin-sides-small {
  margin-right: sizes.$small;
  margin-left: sizes.$small;
}

.width-1-2  { width: 50%;   }
.width-1-3  { width: 33.3%; }
.full-width { width: 100%;  }


/** Color-utility classes **/

.background-muted {
  background-color: mat-color($mat-grey);
}

.background-accent {
  background-color: mat-color(theme.$accent);
}

.color-accent {
  color: mat-color(theme.$accent);
}

.background-changelog-bugfix {
  background-color: colors.$warning-warning;
}

.background-changelog-feature {
  background-color: green;
}

.background-changelog-unknown {
  background-color: mat-color($mat-grey);
}

.background-error {
  background-color: #f44336;
}

.background-success {
  background-color: colors.$success;
}

.color-error {
  color: colors.$error;
}

.color-success {
  color: colors.$success;
}

.white {
  color: white;
}

