<div class="flex-row align-center">
  <div
    class="readonly-prefix"
    [class.prefix-text-disabled]="!formControl.disabled"
    matTooltip="The identifier that is part of the link (URL) through which users can access this form"
    i18n-matTooltip
  >
    {{ prefixValue }}
  </div>
  <input
    matInput
    [formControl]="formControl"
    placeholder="Enter Form Link ID"
    i18n-placeholder
    class="editable-input"
  />
  <button
    mat-icon-button
    matTooltip="Copy the link to share or paste it somewhere else"
    i18n-matTooltip
    (click)="copyToClipboard()"
    class="copy-button"
  >
    <fa-icon [icon]="['far', 'copy']"></fa-icon>
  </button>
</div>
