.dashboard-table-row {
  border-top: 1px solid black;
}
.dashboard-table tr:first-child {
  border-top: none;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-table td:last-child {
  width: 100%;
}
