.input-medium {
  width: 100%;
  max-width: 500px;
}

.input-max {
  width: 100%
}

.primary-section-elevated {
  margin-left: -12px;
  margin-right: -12px;

  padding: 12px;

  margin-bottom: 12px;
}

.form-section-primary {

}

.form-section-secondary {
  font-size: 0.9em;
}
