<app-view-title i18n>User Management</app-view-title>

@if (!hasUserManagementRole) {
  <div i18n>
    Your account does not have the required permissions to manage user accounts.
  </div>
} @else {
  <p i18n class="margin-bottom-regular">
    This page displays all user accounts registered for your system.
  </p>

  <table mat-table [dataSource]="users()" class="mat-elevation-z2 full-width">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef i18n>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email || "-" }}</td>
    </ng-container>

    <ng-container matColumnDef="userEntityId">
      <th mat-header-cell *matHeaderCellDef i18n>Profile</th>
      <td mat-cell *matCellDef="let user">
        @if (user.userEntityId) {
          <app-entity-block [entityId]="user.userEntityId"></app-entity-block>
        } @else {
          <span>-</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef i18n>Enabled</th>
      <td mat-cell *matCellDef="let user">
        @if (user.enabled) {
          <span i18n>Yes</span>
        } @else {
          <span i18n>No</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="emailVerified">
      <th mat-header-cell *matHeaderCellDef i18n>Email Verified</th>
      <td mat-cell *matCellDef="let user">
        @if (user.emailVerified) {
          <span i18n>Yes</span>
        } @else {
          <span i18n>No</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef i18n>Roles</th>
      <td mat-cell *matCellDef="let user">{{ getRoleNames(user) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openUserDetails(row)"
      class="clickable-row"
    ></tr>
  </table>
}
