@use "variables/colors";
@use "@angular/material/core/style/elevation" as mat-elevation;

.table-container {
  position: relative;
  @include mat-elevation.elevation(2);
  background-color: white;
}

.table-footer {
  @include mat-elevation.elevation(1);
  border-top: colors.$grey-darker solid 2px;
  background-color: white;
}

.table {
  box-shadow: none;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

:host ::ng-deep .mat-mdc-paginator .mat-mdc-paginator-container {
  justify-content: flex-start;
}
