<section class="flex-column gap-small">
  <app-view-title i18n>Configuration Cleanup</app-view-title>

  <header class="margin-bottom-regular">
    <p class="remove-margin-bottom" i18n>
      Analyze active runtime configuration and remove unused items safely.
    </p>
  </header>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title i18n>ConfigurableEnum Cleanup</mat-panel-title>
        <mat-panel-description i18n>
          Detect used and unused configurable enums and clean up safely.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-configurable-enum-cleanup />
    </mat-expansion-panel>
  </mat-accordion>
</section>
