<div class="container" fxLayout="column">
  <div fxFlex>
    <h1 >Roll Call: {{stages[currentStage]}}</h1>
  </div>

  <div fxFlex="grow" class="flex-fill-section">
    <app-activity-setup *ngIf='currentStage===0'
                        (eventSelected)="finishBasicInformationStage($event)">
    </app-activity-setup>

    <app-roll-call *ngIf='currentStage===1'
                   [eventEntity]='event' (exit)="finishRollCallState()" (complete)="saveRollCallResult($event)">
    </app-roll-call>
  </div>
</div>
