/* Moves the component 12 pixels to the left so that the "go back" button is aligned with the left border */
.relative-left {
  position: relative;
  left: -12px;
}

:host {
  display: flex;
  flex-direction: column;
}
