.container {
  height: 100%;
}

.form-field {
  padding-bottom: 17px;
}

.nav-button {
  margin: 10px;
  flex: none;
}

.flex-fill-section {
  min-height: 0;
}

.subject-line {
  display: flex;
  flex-direction: row;
  align-items: center;

  // correctly left-aligns the items with the other content
  position: relative;
  left: -13px;
}

.process-spinner {
  display: flex;
  justify-content: center;
}
