<app-view-title
  [disableBackButton]="currentStage !== 0"
  i18n="
    Record Attendance|Title when recording the attendance at a particular stage
    (e.g. selecting the event, recording it)
  "
>
  Record Attendance
</app-view-title>

@if (currentStage === 0) {
  <h2>
    {{ stages[currentStage] }}
  </h2>
} @else {
  <div class="flex-row align-center relative-left margin-bottom-small">
    <button mat-icon-button (click)="exit()" matTooltip="Back" i18n-matTooltip>
      <fa-icon icon="arrow-left"></fa-icon>
    </button>
    <h2 class="remove-margin-bottom">{{ event.subject }}</h2>
  </div>
}
@if (currentStage === 0) {
  <app-roll-call-setup (eventSelected)="finishBasicInformationStage($event)">
  </app-roll-call-setup>
}

@if (currentStage === 1) {
  <app-roll-call
    [eventEntity]="event"
    [sortParticipantsBy]="sortParticipantsBy"
    (exit)="finishRollCallState()"
    (complete)="saveRollCallResult($event)"
  >
  </app-roll-call>
}
