@use "variables/colors";
@use "variables/sizes";

.menu-item-container {
  min-height: 50px;
  position: relative;
  display: block;
  padding: 8px;
  margin: auto;

  border: 1px solid colors.$border-color;
}

/* Actions area on the right (edit & remove) */
.menu-actions {
  margin-left: auto; /* Push actions to far right */
}

/* Drag handle (left) */
.drag-handle {
  cursor: move;
  color: colors.$accent;
  display: flex;
  align-items: center;
  margin-right: 12px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.drag-handle:hover {
  opacity: 1;
}

/* Allow <app-menu-item> to grow */
app-menu-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-width: 0; /* Allow flex items to shrink below content size */
  overflow: hidden; /* Prevent overflow from child elements */
}

.limit-width {
  max-width: 400px;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}
