<div class="menu-item-form">
  @if (!hideLabel) {
    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Label</mat-label>
      <input matInput [(ngModel)]="item.label" (ngModelChange)="onChange()" />
    </mat-form-field>
  }
  @if (!hideLink) {
    <div class="flex-row align-center gap-small">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label i18n>Link</mat-label>

        @if (linkOptions?.length && !customLinkMode) {
          <mat-select [(ngModel)]="item.link" (ngModelChange)="onChange()">
            @for (option of linkOptions; track option.value) {
              <mat-option [value]="option.value">
                {{ option.label }}
              </mat-option>
            }
          </mat-select>
        } @else {
          <input
            matInput
            [(ngModel)]="item.link"
            (ngModelChange)="onChange()"
          />
        }

        @if (customLinkMode) {
          <mat-hint align="start" i18n>
            You can define a link manually. To create a new link, open Aam
            Digital in a new tab, go to the desired record type, copy everything
            after ‘https://&lt;your-system&gt;.aam-digital.app/’, and paste it
            here as the link target.
          </mat-hint>
        }
      </mat-form-field>

      @if (customLinkMode) {
        <button
          mat-icon-button
          (click)="toggleCustomLinkMode()"
          class="margin-left-small"
          matTooltip="Switch to select mode"
          i18n-matTooltip
        >
          <fa-icon icon="list"></fa-icon>
        </button>
      } @else {
        <button
          mat-icon-button
          (click)="toggleCustomLinkMode()"
          class="margin-left-small"
          matTooltip="Switch to custom link mode"
          i18n-matTooltip
        >
          <fa-icon icon="edit"></fa-icon>
        </button>
      }
    </div>
  }

  <app-icon-input [(icon)]="item.icon"></app-icon-input>
</div>
