<!-- Desktop version -->
@if (isDesktop) {
  <div>
    <!-- Header bar; contains the title on the left and controls on the right -->
    <app-view-title [ngStyle]="offsetFilterStyle">
      {{ title }}
    </app-view-title>

    <app-view-actions>
      @if (selectedRows) {
        <!-- Bulk actions -->
        <ng-container *ngTemplateOutlet="bulkActions"></ng-container>
      } @else {
        <div class="flex-row gap-regular">
          <app-entity-create-button
            [entityType]="entityConstructor"
            (entityCreate)="addNew()"
          ></app-entity-create-button>
          <button
            mat-icon-button
            color="primary"
            [matMenuTriggerFor]="additional"
          >
            <fa-icon icon="ellipsis-v"></fa-icon>
          </button>
        </div>
      }
    </app-view-actions>

    <!-- Filters -->
    <div class="flex-row gap-regular flex-wrap">
      <div *ngTemplateOutlet="filterDialog"></div>
      @if (!!allEntities) {
        <app-filter
          class="flex-row gap-regular flex-wrap"
          [filterConfig]="filters"
          [entityType]="entityConstructor"
          [entities]="allEntities"
          [useUrlQueryParams]="true"
          [(filterObj)]="filterObj"
          [filterString]="filterString"
          (filterStringChange)="filterString = $event; applyFilter($event)"
        ></app-filter>
      }
    </div>

    <!-- Tab Groups-->
    <div class="mat-elevation-z1">
      @if (groups.length > 1) {
        <div>
          <mat-tab-group
            [(selectedIndex)]="selectedColumnGroupIndex"
            appTabStateMemo
          >
            @for (item of groups; track item) {
              <mat-tab
                [label]="item.name"
                angulartics2On="click"
                [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
                angularticsAction="list_column_view"
                [angularticsLabel]="item.name"
              ></mat-tab>
            }
          </mat-tab-group>
        </div>
      }
      <ng-container *ngTemplateOutlet="subrecord"></ng-container>
    </div>
  </div>
} @else {
  <!-- Mobile version -->
  <div>
    <app-view-title [disableBackButton]="true">
      <h2>{{ title }}</h2>
    </app-view-title>
    <app-view-actions>
      <div class="flex-row full-width">
        <div *ngTemplateOutlet="filterDialog"></div>
        <button
          mat-icon-button
          color="primary"
          [matMenuTriggerFor]="additional"
        >
          <fa-icon icon="ellipsis-v"></fa-icon>
        </button>
      </div>
    </app-view-actions>

    @if (selectedRows) {
      <div class="bulk-action-spacing">
        <ng-container *ngTemplateOutlet="bulkActions"></ng-container>
      </div>
    }

    <ng-container *ngTemplateOutlet="subrecord"></ng-container>
  </div>
}

<!-- Templates and menus for both mobile and desktop -->

<ng-template #filterDialog>
  <mat-form-field class="full-width filter-field">
    <mat-label
      i18n="Filter placeholder|Allows the user to filter through entities"
      >Filter
    </mat-label>
    <input
      class="full-width"
      matInput
      i18n-placeholder="Examples of things to filter"
      placeholder="e.g. name, age"
      (ngModelChange)="applyFilter($event)"
      [(ngModel)]="filterString"
    />
    @if (filterString) {
      <button
        mat-icon-button
        matIconSuffix
        aria-label="Clear"
        (click)="filterString = ''; applyFilter('')"
      >
        <fa-icon icon="times"></fa-icon>
      </button>
    }
  </mat-form-field>
</ng-template>

<ng-template #subrecord>
  <app-entities-table
    [entityType]="entityConstructor"
    [records]="allEntities"
    [customColumns]="columns"
    [editable]="false"
    [clickMode]="clickMode"
    (entityClick)="onRowClick($event)"
    [columnsToDisplay]="columnsToDisplay"
    [filter]="filterObj"
    [sortBy]="defaultSort"
    [(selectedRecords)]="selectedRows"
    [selectable]="!!selectedRows"
    [showInactive]="showInactive"
    (filteredRecordsChange)="filteredData = $event"
    [filterFreetext]="filterFreetext"
    [showEntityColor]="showEntityColor"
    [isBulkOperation]="isBulkOperationInProgress"
    (bulkOperationRenderingComplete)="onBulkOperationComplete()"
  ></app-entities-table>
</ng-template>

<mat-menu #additional>
  <div class="hide-desktop">
    <button
      mat-menu-item
      (click)="addNew()"
      angulartics2On="click"
      angularticsCategory="UserAction"
      [angularticsAction]="title.toLowerCase().replace(' ', '_') + '_add_new'"
      *appDisabledEntityOperation="{
        entity: entityConstructor,
        operation: 'create',
      }"
    >
      <fa-icon
        class="color-accent standard-icon-with-text"
        aria-label="add element"
        icon="plus-circle"
      ></fa-icon>
      <span i18n="Add a new entity to a list of multiple entities">
        Add New
      </span>
    </button>

    <button mat-menu-item (click)="openFilterOverlay()">
      <fa-icon
        aria-label="filter"
        class="color-accent standard-icon-with-text"
        icon="filter"
      >
      </fa-icon>
      <span i18n="Show filter options popup for list"> Filter options </span>
    </button>
  </div>

  <button
    mat-menu-item
    [appExportData]="allEntities"
    format="csv"
    [exportConfig]="exportConfig"
    [filename]="title.replace(' ', '')"
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="list_csv_export"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="download csv"
      icon="download"
    ></fa-icon>
    <span i18n="Download list contents as CSV"> Download all data (.csv) </span>
  </button>

  <button
    mat-menu-item
    [appExportData]="filteredData"
    format="csv"
    [exportConfig]="exportConfig"
    [filename]="title.replace(' ', '')"
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="list_csv_export"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="download csv"
      icon="download"
    ></fa-icon>
    <span i18n="Download list contents as CSV"> Download current (.csv) </span>
  </button>

  <button
    mat-menu-item
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="import_file"
    [routerLink]="['/import']"
    [queryParams]="{ entityType: entityConstructor?.ENTITY_TYPE }"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="import file"
      icon="file-import"
    ></fa-icon>
    <span i18n> Import from file </span>
  </button>

  <button
    mat-menu-item
    (click)="selectedRows = []"
    matTooltip="Select multiple records for bulk actions like duplicating or deleting"
    i18n-matTooltip
    matTooltipPosition="before"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="bulk actions"
      icon="list-check"
    ></fa-icon>
    <span i18n> Bulk Actions </span>
  </button>

  @for (formConfig of publicFormConfigs; track formConfig.route) {
    <button
      mat-menu-item
      (click)="copyPublicFormLinkForEntityType(formConfig)"
      [matTooltip]="formConfig.title"
      i18n-matTooltip
      matTooltipPosition="before"
    >
      <fa-icon
        class="color-accent standard-icon-with-text"
        icon="link"
      ></fa-icon>
      <span>Copy Public Form Link ({{ formConfig.title }})</span>
    </button>
  }

  @if (
    ("update"
      | ablePure: ("CONFIG_ENTITY" | entityLoad: "Config" | async)
      | async) && !entityConstructor.isInternalEntity
  ) {
    <button
      mat-menu-item
      [routerLink]="['/admin/entity', entityConstructor.ENTITY_TYPE]"
      [queryParams]="{ mode: 'list' }"
      queryParamsHandling="merge"
    >
      <fa-icon
        class="standard-icon-with-text color-accent"
        icon="tools"
      ></fa-icon>
      <span i18n>Configure Data Structure</span>
    </button>
  }

  <ng-content select="[mat-menu-item]"></ng-content>
</mat-menu>

<ng-template #bulkActions>
  @if (!!selectedRows) {
    <app-entity-bulk-actions
      [entities]="selectedRows"
      (resetBulkActionMode)="selectedRows = undefined"
    >
    </app-entity-bulk-actions>
  }
</ng-template>
