<!-- Desktop version -->
<div *ngIf="isDesktop">
  <!-- Header bar; contains the title on the left and controls on the right -->

  <div class="flex-row justify-space-between" [ngStyle]="offsetFilterStyle">
    <app-view-title>
      {{ title }}
    </app-view-title>

    <div class="flex-row gap-regular">
      <ng-container *ngTemplateOutlet="bulkActions"></ng-container>

      <button
        mat-stroked-button
        color="accent"
        class="standard-add-button"
        (click)="addNew()"
        angulartics2On="click"
        angularticsCategory="UserAction"
        [angularticsAction]="title.toLowerCase().replace(' ', '_') + '_add_new'"
        [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
        angularticsAction="list_add_entity"
        *appDisabledEntityOperation="{
          entity: entityConstructor,
          operation: 'create'
        }"
        i18n
      >
        <fa-icon
          aria-label="add element"
          icon="plus-circle"
          class="standard-icon-with-text"
        ></fa-icon>
        Add New
      </button>

      <button mat-icon-button color="primary" [matMenuTriggerFor]="additional">
        <fa-icon icon="ellipsis-v"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Filters -->

  <div class="flex-row gap-regular flex-wrap">
    <div *ngTemplateOutlet="filterDialog"></div>
    <app-filter
      *ngIf="!!allEntities"
      class="flex-row gap-regular flex-wrap"
      [filterConfig]="filters"
      [entityType]="entityConstructor"
      [entities]="allEntities"
      [useUrlQueryParams]="true"
      [(filterObj)]="filterObj"
    ></app-filter>
  </div>

  <div class="mat-elevation-z1">
    <div *ngIf="groups.length > 1">
      <mat-tab-group
        [(selectedIndex)]="selectedColumnGroupIndex"
        appTabStateMemo
      >
        <mat-tab
          *ngFor="let item of groups"
          [label]="item.name"
          angulartics2On="click"
          [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
          angularticsAction="list_column_view"
          [angularticsLabel]="item.name"
        ></mat-tab>
      </mat-tab-group>
    </div>
    <ng-container *ngTemplateOutlet="subrecord"></ng-container>
  </div>
</div>

<!-- Mobile Version -->
<div *ngIf="!isDesktop">
  <h2>{{ title }}</h2>

  <div class="flex-row">
    <div *ngTemplateOutlet="filterDialog"></div>

    <button mat-icon-button color="primary" [matMenuTriggerFor]="additional">
      <fa-icon icon="ellipsis-v"></fa-icon>
    </button>
  </div>

  <ng-container *ngTemplateOutlet="bulkActions"></ng-container>

  <ng-container *ngTemplateOutlet="subrecord"></ng-container>
</div>

<!-- Templates and menus for both mobile and desktop -->

<ng-template #filterDialog>
  <mat-form-field class="full-width filter-field">
    <mat-label
      i18n="Filter placeholder|Allows the user to filter through entities"
      >Filter
    </mat-label>
    <input
      class="full-width"
      matInput
      i18n-placeholder="Examples of things to filter"
      placeholder="e.g. name, age"
      (ngModelChange)="applyFilter($event)"
      [(ngModel)]="filterString"
    />
    <button
      mat-icon-button
      *ngIf="filterString"
      matIconSuffix
      aria-label="Clear"
      (click)="filterString = ''; applyFilter('')"
    >
      <fa-icon icon="times"></fa-icon>
    </button>
  </mat-form-field>
</ng-template>

<ng-template #subrecord>
  <app-entities-table
    [entityType]="entityConstructor"
    [records]="allEntities"
    [customColumns]="columns"
    [editable]="false"
    [clickMode]="clickMode"
    (rowClick)="elementClick.emit($event)"
    [columnsToDisplay]="columnsToDisplay"
    [filter]="filterObj"
    [sortBy]="defaultSort"
    [(selectedRecords)]="selectedRows"
    [selectable]="!!selectedRows"
    [showInactive]="showInactive"
    (filteredRecordsChange)="filteredData = $event"
    [filterFreetext]="filterFreetext"
  ></app-entities-table>
</ng-template>

<mat-menu #additional>
  <div class="hide-desktop">
    <button
      mat-menu-item
      (click)="addNew()"
      angulartics2On="click"
      angularticsCategory="UserAction"
      [angularticsAction]="title.toLowerCase().replace(' ', '_') + '_add_new'"
      *appDisabledEntityOperation="{
        entity: entityConstructor,
        operation: 'create'
      }"
    >
      <fa-icon
        class="color-accent standard-icon-with-text"
        aria-label="add element"
        icon="plus-circle"
      ></fa-icon>
      <span i18n="Add a new entity to a list of multiple entities">
        Add New
      </span>
    </button>

    <button mat-menu-item (click)="openFilterOverlay()">
      <fa-icon
        aria-label="filter"
        class="color-accent standard-icon-with-text"
        icon="filter"
      >
      </fa-icon>
      <span i18n="Show filter options popup for list"> Filter options </span>
    </button>
  </div>

  <button
    mat-menu-item
    [appExportData]="allEntities"
    format="csv"
    [exportConfig]="exportConfig"
    [filename]="title.replace(' ', '')"
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="list_csv_export"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="download csv"
      icon="download"
    ></fa-icon>
    <span i18n="Download list contents as CSV"> Download all data (.csv) </span>
  </button>

  <button
    mat-menu-item
    [appExportData]="filteredData"
    format="csv"
    [exportConfig]="exportConfig"
    [filename]="title.replace(' ', '')"
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="list_csv_export"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="download csv"
      icon="download"
    ></fa-icon>
    <span i18n="Download list contents as CSV"> Download current (.csv) </span>
  </button>

  <button
    mat-menu-item
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="import_file"
    [routerLink]="['/import']"
    [queryParams]="{ entityType: entityConstructor?.ENTITY_TYPE }"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="import file"
      icon="file-import"
    ></fa-icon>
    <span i18n> Import from file </span>
  </button>

  <button
    mat-menu-item
    (click)="selectedRows = []"
    matTooltip="Select multiple records for bulk actions like duplicating or deleting"
    i18n-matTooltip
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="bulk actions"
      icon="list-check"
    ></fa-icon>
    <span i18n> Bulk Actions </span>
  </button>

  <ng-content select="[mat-menu-item]"></ng-content>
</mat-menu>

<ng-template #bulkActions>
  <div *ngIf="!!selectedRows" class="bulk-action-button">
    <div>Actions on selected records:</div>

    <div class="flex-row gap-small bulk-action-button">
      <button
        mat-raised-button
        (click)="duplicateRecords()"
        [disabled]="selectedRows.length === 0"
        matTooltip="Select rows to clone"
        i18n-matTooltip
        color="accent"
        i18n="bulk action button"
      >
        Duplicate
      </button>

      <button mat-raised-button (click)="selectedRows = undefined" i18n>
        Cancel
      </button>
    </div>
  </div>
</ng-template>
