@use "../../../../styles/variables/breakpoints";
@use "variables/sizes";
@use "variables/colors";

/**
 * Aligns the baseline of the filter-field with the baseline
 * of the other controls.
 * This only has to be done on the desktop
 */
.filter-field {
  @media screen and (min-width: breakpoints.$md) {
    /* restricts the width so that the field does not feel too big */
    max-width: 412px;
  }
}
.mobile-only {
  @media screen and (max-width: 768px) {
    /*Hides the desktop content*/
    display: none;
  }
}

.bulk-action-button {
  position: fixed;
  right: sizes.$large;
  z-index: 999;

  padding: sizes.$regular;
  background-color: colors.$background;
}

.bulk-action-spacing {
  margin-bottom: 100px;
}
