@use "../../../../styles/variables/breakpoints";
@use "variables/sizes";
@use "variables/colors";

/**
 * Aligns the baseline of the filter-field with the baseline
 * of the other controls.
 * This only has to be done on the desktop
 */
.filter-field {
  @media screen and (min-width: breakpoints.$md) {
    /* restricts the width so that the field does not feel too big */
    max-width: 412px;
  }
}

.bulk-action-button {
  right: sizes.$large;

  padding: sizes.$regular;
  background-color: colors.$background;
}
