<!-- Desktop version -->
<div *ngIf="isDesktop">
  <!-- Header bar; contains the title on the left and controls on the right -->

  <div class="flex-row justify-space-between" [ngStyle]="offsetFilterStyle">
    <app-view-title>
      {{ listName }}
    </app-view-title>

    <div class="flex-row gap-regular">
      <button
        mat-stroked-button
        color="accent"
        class="standard-add-button"
        (click)="addNew()"
        angulartics2On="click"
        angularticsCategory="UserAction"
        [angularticsAction]="
          listName.toLowerCase().replace(' ', '_') + '_add_new'
        "
        [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
        angularticsAction="list_add_entity"
        *appDisabledEntityOperation="{
          entity: entityConstructor,
          operation: 'create'
        }"
        i18n
      >
        <fa-icon
          aria-label="add element"
          icon="plus-circle"
          class="standard-icon-with-text"
        ></fa-icon>
        Add New
      </button>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="additional">
        <fa-icon icon="ellipsis-v"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Filters -->

  <div class="flex-row gap-regular flex-wrap">
    <div *ngTemplateOutlet="filterDialog"></div>
    <app-filter
      *ngIf="!isLoading"
      class="flex-row gap-regular flex-wrap"
      [filterConfig]="filtersConfig"
      [entityType]="entityConstructor"
      [entities]="allEntities"
      [useUrlQueryParams]="true"
      [(filterObj)]="filterObj"
    ></app-filter>
  </div>

  <div class="mat-elevation-z1">
    <div *ngIf="columnGroups.length > 1">
      <mat-tab-group
        [(selectedIndex)]="selectedColumnGroupIndex"
        appTabStateMemo
      >
        <mat-tab
          *ngFor="let item of columnGroups"
          [label]="item.name"
          angulartics2On="click"
          [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
          angularticsAction="list_column_view"
          [angularticsLabel]="item.name"
        ></mat-tab>
      </mat-tab-group>
    </div>
    <ng-container *ngTemplateOutlet="subrecord"></ng-container>
  </div>
</div>

<!-- Mobile Version -->
<div *ngIf="!isDesktop">
  <h2>{{ listName }}</h2>

  <div class="flex-row">
    <div *ngTemplateOutlet="filterDialog"></div>

    <button mat-icon-button color="primary" [matMenuTriggerFor]="additional">
      <fa-icon icon="ellipsis-v"></fa-icon>
    </button>
  </div>

  <ng-container *ngTemplateOutlet="subrecord"></ng-container>
</div>

<!-- Templates and menus for both mobile and desktop -->

<ng-template #filterDialog>
  <mat-form-field class="full-width filter-field">
    <mat-label
      i18n="Filter placeholder|Allows the user to filter through entities"
      >Filter
    </mat-label>
    <input
      class="full-width"
      matInput
      i18n-placeholder="Examples of things to filter"
      placeholder="e.g. name, age"
      (ngModelChange)="applyFilter($event)"
      [(ngModel)]="filterString"
    />
    <button
      mat-icon-button
      *ngIf="filterString"
      matIconSuffix
      aria-label="Clear"
      (click)="filterString = ''; applyFilter('')"
    >
      <fa-icon icon="times"></fa-icon>
    </button>
  </mat-form-field>
</ng-template>

<ng-template #subrecord>
  <app-entity-subrecord
    [records]="allEntities"
    [columns]="columns"
    [editable]="false"
    [clickMode]="clickMode"
    (rowClick)="elementClick.emit($event)"
    [columnsToDisplay]="columnsToDisplay"
    [isLoading]="isLoading"
    [filter]="filterObj"
    [defaultSort]="listConfig?.defaultSort"
    [(selectedRecords)]="selectedRows"
    [showInactive]="showInactive"
    (filteredRecordsChange)="filteredData = $event"
  ></app-entity-subrecord>
</ng-template>

<mat-menu #additional>
  <div class="hide-desktop">
    <button
      mat-menu-item
      (click)="addNew()"
      angulartics2On="click"
      angularticsCategory="UserAction"
      [angularticsAction]="
        listName.toLowerCase().replace(' ', '_') + '_add_new'
      "
      *appDisabledEntityOperation="{
        entity: entityConstructor,
        operation: 'create'
      }"
    >
      <fa-icon
        class="color-accent standard-icon-with-text"
        aria-label="add element"
        icon="plus-circle"
      ></fa-icon>
      <span i18n="Add a new entity to a list of multiple entities">
        Add New
      </span>
    </button>

    <button mat-menu-item (click)="openFilterOverlay()">
      <fa-icon
        aria-label="filter"
        class="color-accent standard-icon-with-text"
        icon="filter"
      >
      </fa-icon>
      <span i18n="Show filter options popup for list"> Filter options </span>
    </button>
  </div>

  <button
    mat-menu-item
    [appExportData]="allEntities"
    format="csv"
    [exportConfig]="listConfig?.exportConfig"
    [filename]="listName.replace(' ', '')"
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="list_csv_export"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="download csv"
      icon="download"
    ></fa-icon>
    <span i18n="Download list contents as CSV"> Download all data (.csv) </span>
  </button>

  <button
    mat-menu-item
    [appExportData]="filteredData"
    format="csv"
    [exportConfig]="listConfig?.exportConfig"
    [filename]="listName.replace(' ', '')"
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="list_csv_export"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="download csv"
      icon="download"
    ></fa-icon>
    <span i18n="Download list contents as CSV"> Download current (.csv) </span>
  </button>

  <button
    mat-menu-item
    angulartics2On="click"
    [angularticsCategory]="entityConstructor?.ENTITY_TYPE"
    angularticsAction="import_file"
    [routerLink]="['/import']"
    [queryParams]="{ entityType: entityConstructor?.ENTITY_TYPE }"
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="import file"
      icon="file-import"
    ></fa-icon>
    <span i18n> Import from file </span>
  </button>

  <button
    mat-menu-item
    (click)="duplicateRecords()"
    [disabled]="selectedRows.length === 0"
    matTooltip="Please select rows"
    [matTooltipDisabled]="selectedRows.length > 0"
    i18n-matTooltip
  >
    <fa-icon
      class="color-accent standard-icon-with-text"
      aria-label="duplicates record"
      icon="copy"
    ></fa-icon>
    <span i18n> Duplicate selected records </span>
  </button>

  <ng-content select="[mat-menu-item]"></ng-content>
</mat-menu>
