<app-pill class="hint-badge" *ngIf="!hasCurrentlyActiveEntry">
  Currently there is no active entry. To add a new entry, click on the
  <fa-icon
    class="pointer color-accent"
    aria-label="add"
    icon="plus-circle"
    (click)="entitySubrecord.create()"
  ></fa-icon>
  button.
</app-pill>

<app-entity-subrecord
  #entitySubrecord
  [records]="data"
  [filter]="filter"
  [isLoading]="isLoading"
  [columns]="_columns"
  [newRecordFactory]="generateNewRecordFactory()"
  [getBackgroundColor]="backgroundColorFn"
  [clickMode]="clickMode"
  [(showInactive)]="showInactive"
  (showInactiveChange)="onIsActiveFilterChange($event)"
>
</app-entity-subrecord>
