@if (!hasCurrentlyActiveEntry() && !dataSource.isLoading()) {
  <app-pill class="hint-badge">
    <span i18n
      >Currently there is no active entry. To add a new entry, click on the
      button</span
    >&ngsp;<fa-icon
      class="color-accent"
      aria-hidden="true"
      icon="plus-circle"
    ></fa-icon>
  </app-pill>
}

<app-entities-table
  [entityType]="entityCtr()!"
  [recordsDataSource]="dataSource"
  [filter]="filterObj()"
  [customColumns]="_columns()"
  [newRecordFactory]="createNewRecordFactory()"
  [getBackgroundColor]="backgroundColorFn"
  [clickMode]="clickMode()"
  [(showInactive)]="showInactive"
>
</app-entities-table>

<app-custom-form-link-button
  [linkedEntity]="entity()"
  [formEntityType]="entityCtr()!"
>
</app-custom-form-link-button>
