<app-pill class="hint-badge" *ngIf="!hasCurrentlyActiveEntry && !!data">
  Currently there is no active entry. To add a new entry, click on the
  <fa-icon
    class="pointer color-accent"
    aria-label="add"
    icon="plus-circle"
  ></fa-icon>
  button.
</app-pill>

<app-entities-table
  [entityType]="entityCtr"
  [records]="data"
  [filter]="filter"
  [customColumns]="_columns"
  [newRecordFactory]="generateNewRecordFactory()"
  [getBackgroundColor]="backgroundColorFn"
  [clickMode]="clickMode"
  [showInactive]="showInactive"
>
</app-entities-table>
