<div class="hint-banner" i18n>
  You can edit how users will see the details of a single record of this type.
  Drag and drop fields and sections in this preview of a profile view and group
  them as appropriate. The editor below closely resembles how the form will look
  for users later.
  <br />
  We recommend to keep things simple: Only add fields that you really need for
  your work.
</div>

<app-view-title [disableBackButton]="true" [displayInPlace]="true">
  &lt;Name of displayed {{ this.entityConstructor?.label }}&gt;
</app-view-title>

<app-admin-tabs [tabs]="config?.panels" [newTabFactory]="newPanelFactory">
  <ng-template [appAdminTabTemplate]="config?.panels" let-item>
    <div class="flex-column gap-large padding-top-large">
      <div
        *ngFor="let componentConfig of item.components; let j = index"
        class="section-wrapper"
      >
        <app-admin-section-header
          [(title)]="componentConfig.title"
          (remove)="item.components.splice(j, 1)"
        ></app-admin-section-header>

        <app-admin-entity-form
          *ngIf="componentConfig.component === 'Form'; else otherComponent"
          [config]="componentConfig.config"
          (configChange)="componentConfig.config = $event"
          [entityType]="entityConstructor"
        >
        </app-admin-entity-form>

        <ng-template #otherComponent>
          <app-admin-entity-panel-component
            [config]="componentConfig"
            [entityType]="entityConstructor"
          ></app-admin-entity-panel-component>
        </ng-template>
      </div>

      <button
        mat-stroked-button
        color="accent"
        class="section-add-button"
        (click)="addComponent(item)"
        i18n
      >
        <fa-icon
          aria-label="add element"
          icon="plus-circle"
          class="standard-icon-with-text"
        ></fa-icon>
        Add Section
      </button>
    </div>
  </ng-template>
</app-admin-tabs>
