<app-hint-box i18n>
  You can edit how users will see the details of a single record of this type.
  Drag and drop fields and sections in this preview of a profile view and group
  them as appropriate. The editor below closely resembles how the form will look
  for users later.
  <br />
  We recommend to keep things simple: Only add fields that you really need for
  your work.
</app-hint-box>

<app-view-title [disableBackButton]="true" [displayInPlace]="true">
  &lt;Name of displayed {{ this.entityConstructor?.label }}&gt;
</app-view-title>

<app-admin-tabs [tabs]="config?.panels" [newTabFactory]="newPanelFactory">
  <ng-template
    [appAdminTabTemplate]="config?.panels"
    let-item
    let-tabIndex="index"
  >
    <div class="flex-column gap-large padding-top-large">
      <mat-accordion
        cdkDropList
        [cdkDropListData]="item.components"
        cdkDropListOrientation="vertical"
        (cdkDropListDropped)="onSectionDrop(item, $event)"
      >
        @for (
          componentConfig of item.components;
          track componentConfig;
          let i = $index
        ) {
          <mat-expansion-panel
            class="section-wrapper"
            [expanded]="item.components.length <= 1"
            cdkDrag
            cdkDragLockAxis="y"
          >
            <mat-expansion-panel-header>
              <div class="section-header-row">
                <fa-icon
                  icon="grip-vertical"
                  size="xl"
                  class="drag-handle"
                ></fa-icon>
                <div class="section-header-content">
                  <app-admin-section-header
                    [(title)]="componentConfig.title"
                    (remove)="item.components.splice(i, 1)"
                    (keydown)="$event.stopPropagation()"
                  ></app-admin-section-header>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div class="section-content">
              @if (componentConfig.component === "Form") {
                <app-admin-entity-form
                  [config]="componentConfig.config"
                  (configChange)="componentConfig.config = $event"
                  [entityType]="entityConstructor"
                  uniqueAreaId="{{ tabIndex }}-{{ i }}"
                >
                </app-admin-entity-form>
              } @else {
                <app-admin-entity-panel-component
                  [config]="componentConfig"
                  [entityType]="entityConstructor"
                  (relatedEntityModified)="relatedEntityModified.emit($event)"
                ></app-admin-entity-panel-component>
              }
            </div>
          </mat-expansion-panel>
        }
      </mat-accordion>

      <button
        mat-stroked-button
        color="accent"
        class="section-add-button"
        (click)="addComponent(item)"
        i18n
      >
        <fa-icon
          aria-label="add element"
          icon="plus-circle"
          class="standard-icon-with-text"
        ></fa-icon>
        Add Section
      </button>
    </div>
  </ng-template>
</app-admin-tabs>
