<div>
  <!-- Week -->
  <table>
    <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let weekRecords of getWeeks();
          trackBy: weekRecordsTrackByFunction
        "
      >
        <td
          *ngFor="let record of weekRecords; trackBy: recordTrackByFunction"
          (click)="selectCell(record)"
        >
          <app-attendance-day-block
            [entity]="record"
            class="day-box"
            [showDate]="
              record.date.getMonth() === attendanceMonth.month.getMonth()
            "
            [showHighlighted]="selectedRecord === record"
          ></app-attendance-day-block>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedRecord" class="selected form">
    <div>
      {{ selectedRecord.date.toLocaleDateString() }}
    </div>

    <button
      mat-icon-button
      class="form-close"
      (click)="selectedRecord = undefined"
    >
      <span class="fa fa-times"></span>
    </button>

    <div>
      <mat-form-field>
        <mat-select
          [(ngModel)]="selectedRecord.status"
          (ngModelChange)="selectedRecordChanged = true; save()"
          #dayStatusSelect
        >
          <mat-option *ngFor="let s of statusValues | keys" [value]="s.value">{{
            s.key
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 100%">
        <textarea
          matInput
          placeholder="Remarks"
          [(ngModel)]="selectedRecord.remarks"
          (ngModelChange)="selectedRecordChanged = true"
          (blur)="save()"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
