<mat-form-field>
  @if (displayFullLengthLabel) {
    <label
      for="{{ formFieldConfig.id }}"
      [class.custom-label-dark]="!formControl.disabled"
      [class.custom-label-light]="formControl.disabled"
      >{{ label }}</label
    >
  } @else if (!hideLabel) {
    <mat-label
      [matTooltip]="!displayFullLengthLabel ? label : null"
      matTooltipPosition="before"
      [ngClass]="{ 'full-label': displayFullLengthLabel }"
    >
      {{ label }}
    </mat-label>
  }

  <input
    [formControl]="formControl"
    matInput
    type="text"
    id="{{ formFieldConfig.id }}"
  />

  <mat-error>
    <app-error-hint [form]="formControl"></app-error-hint>
  </mat-error>
</mat-form-field>
