::ng-deep .mdc-floating-label {
  width: 100%;
}

.full-label {
  white-space: normal !important; 
  overflow: visible !important;
  text-overflow: unset !important;
  //line-height: 1.2;                 
  position: relative;               
  //z-index: 1; 
}