<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>

  <!-- the dual input field: -->
  <mat-date-range-input>
    <!-- start part -->
    <input
      matStartDate
      (dateChange)="apply()"
      [(ngModel)]="fromDate"
      placeholder="Start date"
    />
    <!-- end part -->
    <input
      matEndDate
      (dateChange)="apply()"
      [(ngModel)]="toDate"
      placeholder="End date"
    />
  </mat-date-range-input>

  <!-- the picker trigger button -->
  <mat-datepicker-toggle
    matSuffix
    (click)="openDialog()"
  ></mat-datepicker-toggle>
</mat-form-field>
