<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>

  <!-- the dual input field: -->
  <mat-date-range-input [rangePicker]="picker">
    <!-- start part -->
    <input
      matStartDate
      (dateChange)="apply()"
      [(ngModel)]="fromDate"
      placeholder="Start date"
    />
    <!-- end part -->
    <input
      matEndDate
      (dateChange)="apply()"
      [(ngModel)]="toDate"
      placeholder="End date"
    />
  </mat-date-range-input>

  <!-- the picker trigger button -->
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <!-- the actual picker -->
  <mat-date-range-picker
    #picker
    [calendarHeaderComponent]="DaterangeHeaderComponent"
  ></mat-date-range-picker>
</mat-form-field>
