<button
  mat-icon-button
  class="white"
  [style.opacity]="(allTasksFinished | async) ? 0.5 : 1"
  [matMenuTriggerFor]="taskListDropdown"
  (menuClosed)="wasClosed = true"
>
  <span
    [matBadge]="taskCounterObservable | async"
    matBadgeColor="accent"
    [matBadgeHidden]="allTasksFinished | async"
  >
    <fa-icon class="white" icon="sync"></fa-icon>
  </span>
</button>

<mat-menu #taskListDropdown="matMenu">
  <div class="padding-left-regular padding-right-regular">
    @if ((allTasksFinished | async) === false) {
      <div i18n class="details-header">
        The following processes are still running in the background. Until these
        are finished some pages may be slow or incomplete.
      </div>
    }

    @for (process of filteredProcesses | async; track process) {
      <div class="flex-row gap-small align-center mat-subtitle-2 details-line">
        <div>
          @if (process.pending) {
            <mat-spinner [diameter]="20"></mat-spinner>
          }
          @if (!process.pending) {
            <fa-icon icon="check" class="process-checkmark"></fa-icon>
          }
        </div>
        <div class="truncate-text" [matTooltip]="process.description">
          {{ process.title }}
          @if (process.details) {
            <span>({{ process.details }})</span>
          }
        </div>
      </div>
    }

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="resetSync()" i18n="Trigger re-sync">
      <fa-icon icon="rotate"></fa-icon>
      Re-sync
    </button>

    @if ((allTasksFinished | async) === false) {
      <button
        mat-menu-item
        (click)="taskListDropdownTrigger.closeMenu()"
        i18n="Hide sync details"
      >
        Continue in background
      </button>
    }
  </div>
</mat-menu>
