.details-header {
  font-size: small;
  text-align: justify;
  line-height: normal;
}

.process-checkmark {
  color: green;
}

.details-line {
  line-height: 32px;
}

.online-only-message {
  line-height: 1.4;
}
