.details-header {
  font-size: small;
  text-align: justify;
  line-height: normal;
}

.process-checkmark {
  color: green;
}

.details-line {
  line-height: 32px;
}

[hidden] {
  // for some reason when `display: none` is set (instead of visibility and width)
  // the pop-down menu is positioned incorrectly
  visibility: hidden !important;
  width: 0;
}
