.details-header {
  font-size: small;
  text-align: justify;
  line-height: normal;
}

.process-checkmark {
  color: green;
}

.details-line {
  line-height: 32px;
}

.multiline {
  white-space: normal;
  overflow: visible;
  word-break: break-word;
  line-height: 1.3;
  padding-top: 6px;
  padding-bottom: 6px;
}
