<div id="wrapper">

    <div class="navbar-default sidebar sidebar-left" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['']">{{title}}</a>
        </div>

        <ndb-navigation *ngIf="isLoggedIn()" class="sidebar-menu"></ndb-navigation>

        <!-- TODO: create and include the user-menu at the bottom of sidebar -->
    </div>

    <div id="page-wrapper">
        <div [style.visibility]="isLoggedIn() ? 'visible': 'collapse'">
            <router-outlet></router-outlet>
        </div>
        <ndb-login *ngIf="!isLoggedIn()"></ndb-login>
    </div>

    <ndb-alerts></ndb-alerts>
    <ndb-sync-status></ndb-sync-status>

    <ndb-footer></ndb-footer>
</div>
