<div id="wrapper">


    <div class="navbar-default sidebar sidebar-left" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['Home']">{{title}}</a>
        </div>

        <ndb-navigation *ngIf="isLoggedIn()" class="sidebar-menu"></ndb-navigation>

        <!-- TODO: create and include the user-menu at the bottom of sidebar -->
    </div>


    <div id="page-wrapper">
        <router-outlet *ngIf="isLoggedIn()"></router-outlet>
        <ndb-login *ngIf="!isLoggedIn()"></ndb-login>
    </div>

    <ndb-alerts></ndb-alerts>

    <ndb-footer></ndb-footer>
</div>
