@if (entityType(); as entityType) {
  <button
    mat-stroked-button
    color="accent"
    [class.standard-add-button]="!iconOnly()"
    [class.table-action-button]="iconOnly()"
    (click)="create()"
    angulartics2On="click"
    angularticsCategory="UserAction"
    angularticsAction="list_add_entity"
    *appDisabledEntityOperation="{
      entity: entityType,
      operation: 'create',
    }"
    matTooltip="Create a new {{ entityType.label }} record"
    i18n-matTooltip
    [attr.aria-label]="iconOnly() ? addElementLabel : null"
  >
    @if (iconOnly()) {
      <app-fa-dynamic-icon
        aria-hidden="true"
        icon="plus-circle"
        class="icon-only"
      ></app-fa-dynamic-icon>
    } @else {
      <app-fa-dynamic-icon
        aria-hidden="true"
        icon="plus-circle"
        class="standard-icon-with-text"
      ></app-fa-dynamic-icon>
      <span i18n>Add New</span>
    }
  </button>
}
