@if (entityType(); as entityType) {
  <button
    mat-stroked-button
    color="accent"
    [class.standard-add-button]="!iconOnly()"
    [class.table-action-button]="iconOnly()"
    (click)="create()"
    angulartics2On="click"
    angularticsCategory="UserAction"
    angularticsAction="list_add_entity"
    *appDisabledEntityOperation="{
      entity: entityType,
      operation: 'create',
    }"
    matTooltip="Create a new {{ entityType.label }} record"
    i18n-matTooltip
  >
    <app-fa-dynamic-icon
      aria-label="add element"
      i18n-aria-label
      icon="plus-circle"
      [class.standard-icon-with-text]="!iconOnly()"
      [class.icon-only]="iconOnly()"
    ></app-fa-dynamic-icon>
    @if (!iconOnly()) {
      <span i18n>Add New</span>
    }
  </button>
}
