@if (items().length && percentage() !== undefined) {
  <span [appTemplateTooltip]="tooltip">
    {{ items().length }} <span i18n>participants</span>
    <span class="mat-elevation-z1 attendance-block {{ warningClass() }}">
      ({{ percentage() | percent: "1.0-0" }})
    </span>
  </span>

  <ng-template #tooltip>
    <div class="attendance-tooltip">
      <div class="margin-bottom-regular" i18n>
        {{ percentage() | percent: "1.0-0" }} attendance
      </div>

      <div class="attendance-stats">
        @for (item of items(); track item.participant) {
          <div class="flex-row gap-regular">
            <app-attendance-day-block
              [attendance]="item"
            ></app-attendance-day-block>
            <app-entity-block
              class="flex-grow"
              [entityId]="item.participant"
              [linkDisabled]="true"
            ></app-entity-block>
          </div>
        }
      </div>
    </div>
  </ng-template>
} @else {
  <span>-</span>
}
