<mat-nav-list class="drop-list flex-column gap-regular limit-width">
  @if (item) {
    <div
      class="flex-row menu-item-container drop-item"
      cdkDrag
      [cdkDragData]="item"
      cdkDropList
      [id]="item.uniqueId"
      [cdkDropListData]="item.subMenu"
      [cdkDropListConnectedTo]="connectedTo"
      (cdkDropListDropped)="onDragDrop($event)"
    >
      <div class="flex-row menu-content" cdkDragHandle>
        <fa-icon icon="grip-vertical" class="drag-handle"></fa-icon>
        <app-menu-item
          [item]="itemToDisplay"
          [adminMode]="true"
          (editRequest)="editMenuItem(item)"
        ></app-menu-item>
        <div class="menu-actions">
          <button
            mat-icon-button
            color="accent"
            (click)="editMenuItem(item)"
            aria-label="Edit menu item"
          >
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
          <fa-icon
            icon="times"
            class="remove-icon"
            aria-label="Remove menu item"
            (click)="onDelete(item)"
          ></fa-icon>
        </div>
      </div>

      @if (item.subMenu && item.subMenu.length > 0) {
        <div class="submenu">
          @for (subItem of item.subMenu; track subItem; let i = $index) {
            <app-admin-menu-list
              [item]="subItem"
              [connectedTo]="connectedTo"
              (itemDrop)="onDragDrop($event)"
              (deleteItem)="removeSubItem(i)"
              class="submenu-list"
            ></app-admin-menu-list>
          }
        </div>
      }
    </div>
  }
</mat-nav-list>
