@use "../../../../styles/variables/sizes";

mat-panel-title {
  font-size: 1.3em;
}

.admin-sections {
  .section-nav-list {
    margin: 0;
    padding: 0;
  }

  // Clean expansion panel styling - seamless look
  ::ng-deep .mat-expansion-panel {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  // Stack title and description vertically in expansion panel headers
  ::ng-deep .mat-expansion-panel-header {
    padding: sizes.$regular sizes.$large;

    .mat-content {
      flex-direction: column;
      align-items: flex-start;
      gap: sizes.$x-small;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
    /* add a slight left border to visually connect the related header */
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
    margin-bottom: sizes.$regular;
    border-left: solid 1em #00000014;
    border-bottom-left-radius: var(--mat-expansion-container-shape, 12px);
  }
  ::ng-deep .mat-expansion-panel-header.mat-expanded {
    /* add a slight background to visually connect the related sub-items */
    background-color: #00000014;
    border-top-left-radius: var(--mat-expansion-container-shape, 12px);
  }
}
