@use "../../../../core/dashboard/dashboard-widget-base";
@use "variables/sizes";

.progress-bar {
  height: sizes.$small;
}

.progress-cell {
  white-space: nowrap;
  padding-left: sizes.$small;
  text-align: end;
}

.config-panel {
  position: absolute;
  left: 0;
  bottom: 0;
}
