<div class="widget-container">
  <app-dashboard-list-widget
    icon="list"
    theme="child"
    [title]="getOverallProgressPercentageString()"
    [subtitle]="subtitle ?? data.title"
    [explanation]="explanation"
    [entries]="data?.parts"
  >
    <div class="table-wrapper">
      <table
        mat-table
        i18n-aria-label="Label for progress dashboard"
        aria-label="Table showing organization progress"
      >
        <ng-container matColumnDef="label">
          <td *matCellDef="let entry" class="width-1-3 padding-right-small">
            {{ entry.label }}
          </td>
        </ng-container>
        <ng-container matColumnDef="progress-bar">
          <td *matCellDef="let entry" class="full-width">
            <mat-progress-bar
              class="progress-bar"
              mode="determinate"
              [value]="(entry.currentValue / entry.targetValue) * 100"
            ></mat-progress-bar>
          </td>
        </ng-container>
        <ng-container matColumnDef="progress-value">
          <td *matCellDef="let entry" class="progress-cell">
            {{ entry.currentValue }} / {{ entry.targetValue }}
          </td>
        </ng-container>

        <tr hidden>
          <th scope="col" i18n="The label of an entry">Label</th>
          <th scope="col" i18n="A visual aid to understand a progress of sorts">
            Progress Bar
          </th>
          <th scope="col" i18n="A progress in numbers">Progress Value</th>
        </tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['label', 'progress-bar', 'progress-value']
          "
        ></tr>
      </table>
    </div>
  </app-dashboard-list-widget>

  <button mat-icon-button (click)="showEditComponent()" class="config-panel">
    <fa-icon aria-label="configure" icon="wrench"></fa-icon>
  </button>
</div>
