.subrecord-table {
  width: 100%;
}

.table-link {
  cursor: pointer;
  //font-size: 1.5em;
  height: 30px;
}

.table-action-icon {
  font-size: 1.5em;
}

.table-action-button {
  min-width: auto !important;
  //padding-right: 0;
}

.table-show-number {
  /*text-align: right;*/
}

.table-input-number {
  width: 40px;
}
.table-input-month {
  width: 120px;
}

.mat-column-actions {
  width: 1px;
  white-space: nowrap;
  text-align: center;
}

