<div fxLayout="column">
  <div>
    <mat-form-field fxFlex>
      <mat-label i18n="Select center-label"> Select center </mat-label>
      <mat-select (valueChange)="selectCenterFilter($event)">
        <mat-option *ngFor="let group of centerFilters.options" [value]="group">
          <span>{{ group.label }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field fxFlex>
      <mat-label i18n="Select school-label"> Select school </mat-label>
      <mat-select
        (valueChange)="selectSchoolFilter($event)"
        [disabled]="schoolFilters.options.length === 0"
      >
        <mat-option *ngFor="let group of schoolFilters.options" [value]="group">
          <span *ngIf="!group.type">{{ group.label }}</span>
          <app-school-block
            *ngIf="group.type === 'valueFilter'"
            [entityId]="group.label"
            [linkDisabled]="true"
          ></app-school-block>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field fxFlex>
      <mat-label i18n="Select class-label"> Select class </mat-label>
      <mat-select
        (valueChange)="selectClassFilter($event)"
        [disabled]="schoolFilters.options.length === 0"
      >
        <mat-option *ngFor="let group of classFilters.options" [value]="group">
          <span>{{ group.label }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div i18n>Total students selected: {{ value.length }}</div>

  <div>
    <button
      mat-stroked-button
      (click)="confirmSelectedChildren()"
      class="nav-button"
      i18n="Continue-Button|Confirm that selected children should be chosen"
      fxFlex
    >
      Continue
    </button>
  </div>
</div>
