<div style="padding: 16px">
  <div style="margin-bottom: 32px">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Days ahead to show birthdays</mat-label>
      <input
        matInput
        type="number"
        min="1"
        [(ngModel)]="localConfig.threshold"
        (ngModelChange)="emitConfigChange()"
      />
    </mat-form-field>
  </div>

  <!-- Entity Type and Property -->
  <div>
    <h3>Entity Type</h3>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Entity Type</mat-label>
      <mat-select
        [(ngModel)]="localConfig.entityType"
        (ngModelChange)="emitConfigChange()"
      >
        <mat-option value="Child">Child</mat-option>
        <mat-option value="School">School</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Birthday Property</mat-label>
      <input
        matInput
        [(ngModel)]="localConfig.birthdayProperty"
        (ngModelChange)="emitConfigChange()"
        placeholder="dateOfBirth"
      />
    </mat-form-field>
  </div>
</div>
