.dashboard-table-row {
  border-top: 1px solid black;
}
.dashboard-table tr:first-child {
  border-top: none;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.filler {
  width: 100%;
}

.dashboard-config {
  background-color: lightgray;
}

.dashboard-widget .part-bar {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-widget mat-form-field.small {
  width: 40px;
}
