
<!--Small screen: display the notes in tabs-->
<div *ngIf="smallScreen" fxLayout="row wrap" fxLayoutGap="20px">
  <mat-tab-group mat-align-tabs="center" fxFlex>
    <mat-tab label="Present" class="padding-container" >
      <app-child-presence-list [note]="entity"
                               [recordForm]="recordForm"
                               [present]="true"
                               fxFlex></app-child-presence-list>
    </mat-tab>
    <mat-tab label="Absent" class="padding-container" >
      <app-child-presence-list [note]="entity"
                               [recordForm]="recordForm"
                               [present]="false"
                               fxFlex></app-child-presence-list>
    </mat-tab>
  </mat-tab-group>
</div>

<!--Big screen: display the notes as two lists-->
<div *ngIf="!smallScreen" fxLayout="row wrap" fxLayoutGap="20px">
  <app-child-presence-list [note]="entity"
                           [recordForm]="recordForm"
                           [present]="true"
                           [label]="'Present'"
                           class="padding-bottom"
                           fxFlex>
  </app-child-presence-list>
  <app-child-presence-list [note]="entity"
                           [recordForm]="recordForm"
                           [present]="false"
                           [label]="'Absent'"
                           class="padding-bottom"
                           fxFlex>
  </app-child-presence-list>
</div>
