<mat-card class="dashboard-widget">
  <mat-card-header class="app-attendance">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-check-circle"></mat-icon>
    </div>
    <mat-card-title>{{concernedChildren?.length}}</mat-card-title>
    <mat-card-subtitle>Students with a note entry in last <em>{{daysOffset}}</em> days</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="dashboard-table">
      <tr *ngFor="let record of concernedChildren" class="dashboard-table-row w-WARNING" (click)="goToChild(record.getId())" style="cursor: pointer;">
        <td class="dashboard-table-first-cell dashboard-table-cell">
          <app-child-block [entity]="record"></app-child-block>
        </td>
        <!-- <td class="dashboard-table-last-cell dashboard-table-cell">
          <table class="attendance-week-table">
            <tr><td *ngFor='let day of record.attendanceSchool'>
              <app-attendance-day-block [entity]='day' [showDate]='false' class='day-box'></app-attendance-day-block>
            </td></tr>
            <tr><td *ngFor='let day of record.attendanceCoaching'>
              <app-attendance-day-block [entity]='day' [showDate]='false' class='day-box'></app-attendance-day-block>
            </td></tr>
          </table>
        </td> -->
      </tr>
    </table>
  </mat-card-content>
</mat-card>
