<input type="file" style="display: none" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

  <button
    mat-button
    type="button"
    [disabled]="!formControl.value"
    (click)="fileClicked()"
  >
    {{ label }}: <em>{{ formControl.value }}</em>
  </button>

  <fa-icon *ngIf="formControl.value" icon="xmark" size="2xl" class="clickable" matRipple [matRippleCentered]="true"
           (click)="delete()"></fa-icon>

  <fa-icon icon="paperclip" size="2xl" class="clickable" matRipple [matRippleCentered]="true"
           (click)="fileUpload.click()"></fa-icon>

  <mat-progress-spinner *ngIf="uploadProgress && !done" diameter="40"
                        class="progress-bar" [mode]="mode"
                        [value]="uploadProgress">
  </mat-progress-spinner>
  <fa-icon *ngIf="done" icon="circle-check" size="2xl" class="done-icon"></fa-icon>
</div>
