.progress-bar {
  display: inline;
  position: absolute;
  margin-left: 5px
}

.done-icon {
  margin-left: 11px;
  color: orange;
}

.clickable {
  color: orange;
  cursor: pointer;
  padding: 5px;
}


.upload-button {
  margin-bottom: 4px;
}
