<input type="file" style="display: none" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

  <button
    mat-button
    type="button"
    [disabled]="!formControl.value"
    (click)="fileClicked()"
  >
    {{ label }}: <em>{{ formControl.value }}</em>
  </button>

  <button mat-mini-fab type="button" color="primary" class="upload-button" (click)="fileUpload.click()">
    <fa-icon icon="paperclip" style="color: white"></fa-icon>
  </button>

  <mat-progress-spinner *ngIf="uploadProgress && !done" diameter="40"
                        class="progress-bar" [mode]="mode"
                        [value]="uploadProgress">
  </mat-progress-spinner>
  <fa-icon *ngIf="done" icon="circle-check" size="2xl" class="icon"></fa-icon>
</div>
