<input type="file" style="display: none" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

  <button *ngIf="entity[formControlName]" mat-button type="button"
          (click)="fileClicked()">{{ entity[formControlName] }}</button>
  <span *ngIf="!entity[formControlName]">{{ "No file uploaded yet. " }}</span>

  <button mat-mini-fab type="button" color="primary" (click)="fileUpload.click()">
    <fa-icon icon="paperclip" style="color: white"></fa-icon>
  </button>

  <mat-progress-spinner *ngIf="uploadProgress && !done" diameter="40"
                        class="progress-bar" [mode]="mode"
                        [value]="uploadProgress">
  </mat-progress-spinner>
  <fa-icon *ngIf="done" icon="circle-check" size="2xl" class="icon"></fa-icon>
</div>
