@use "../../../../core/dashboard/dashboard-widget-base";
@use "../../../../core/common-components/special-option-labels.scss";

.groupby-label {
  margin: auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-separator {
  border-top: 1px solid #ccc;
  margin: 8px 0 0 0;
}

.mat-mdc-table {
  table-layout: fixed;

  .mat-column-value,
  .mat-column-link {
    width: 0;
    white-space: nowrap;
  }
}
