<app-dashboard-list-widget
  [icon]="entityIcon"
  theme="child"
  [title]="totalEntities"
  [subtitle]="subtitle ?? label"
  [explanation]="explanation"
  i18n-explanation
  [entries]="entityGroupCounts[groupBy[currentGroupIndex]]"
  [paginationPageSize]="4"
>
  <div
    class="flex-row"
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
    "
  >
    <button
      mat-icon-button
      matTooltip="Previous Grouping"
      i18n-matTooltip
      caption="Previous"
      aria-label="Previous grouping"
      (click)="getPrev()"
      [style.visibility]="groupBy?.length > 1 ? 'visible' : 'hidden'"
      [style.transform]="'scale(0.75)'"
    >
      <fa-icon icon="circle-chevron-left" size="xs"></fa-icon>
    </button>

    <span class="flex-grow groupby-label" i18n>
      by
      <app-entity-field-label
        [entityType]="_entity"
        [field]="groupBy[currentGroupIndex]"
      >
      </app-entity-field-label>
      :
    </span>

    <button
      mat-icon-button
      matTooltip="Next Grouping"
      i18n-matTooltip
      caption="Next"
      aria-label="Next grouping"
      (click)="getNext()"
      [style.visibility]="groupBy?.length > 1 ? 'visible' : 'hidden'"
      [style.transform]="'scale(0.75)'"
    >
      <fa-icon icon="circle-chevron-right"></fa-icon>
    </button>
  </div>

  <div class="label-separator"></div>

  <div class="table-wrapper">
    <table
      mat-table
      i18n-aria-label="Label for children count dashboard"
      aria-label="Table showing disaggregation of the beneficiaries"
    >
      <ng-container matColumnDef="label">
        <td *matCellDef="let group">
          <span *ngIf="!group.groupedByEntity">{{ group.label }}</span>
          <app-entity-block
            *ngIf="group.groupedByEntity"
            [entityId]="group.id"
          ></app-entity-block>
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <td *matCellDef="let group" class="text-align-end">
          {{ group.value }}
        </td>
      </ng-container>
      <ng-container matColumnDef="link">
        <td *matCellDef class="text-align-end">
          <fa-icon icon="external-link-square-alt"></fa-icon>
        </td>
      </ng-container>

      <tr hidden>
        <th
          scope="col"
          i18n="The center that a partiipant belongs to, e.g. a city"
        >
          Center
        </th>
        <th scope="col" i18n="The amount of children that study at one school">
          Count of children
        </th>
        <th scope="col" i18n="A link that takes a user to a center">Link</th>
      </tr>
      <tr
        mat-row
        *matRowDef="let row; let i = index; columns: ['label', 'value', 'link']"
        (click)="goToEntityList(row.id)"
        class="pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_children_count_school_link"
        [angularticsLabel]="'list-entry-' + i"
      ></tr>
    </table>
  </div>
</app-dashboard-list-widget>
