@for (filter of filterSelections; track filter.name) {
  <ng-container
    *ngComponentOutlet="filter.component; inputs: { filterConfig: filter }"
  />
}
@if (hasActiveFilters || filterString) {
  <div class="align-center flex-row gap-regular">
    <app-icon-button
      [icon]="'times-circle'"
      [buttonType]="'mat-stroked-button'"
      [cssClass]="'mr-1'"
      [matTooltip]="'Clear all filters'"
      (buttonClick)="clearAllFilters()"
    >
      <span i18n>Clear</span>
    </app-icon-button>
  </div>
}
