<div *ngIf="displayAsToggle">
  <mat-button-toggle-group [name]="label" [value]="selectedOption">
    <mat-button-toggle
      [value]="FILTER_VALUE_ALL"
      (click)="selectOption(FILTER_VALUE_ALL)"
    >
      <em i18n="|generic filter option showing all entries">All</em>
    </mat-button-toggle>

    <mat-button-toggle
      *ngFor="let option of filterOptions"
      [value]="option.id"
      (click)="selectOption(option.id)"
    >
      {{ option.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div *ngIf="!displayAsToggle">
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [value]="selectedOption"
      [placeholder]="label"
    >
      <mat-option
        [value]="FILTER_VALUE_ALL"
        (click)="selectOption(FILTER_VALUE_ALL)"
      >
        <em i18n="|generic filter option showing all entries">All</em>
      </mat-option>

      <mat-option
        *ngFor="let option of filterOptions"
        [value]="option.id"
        (click)="selectOption(option.id)"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
