
.dashboard-table-row {
  border-top: 1px solid black;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-table-first-cell {
  width: 100%;
}

.attendance-day {
  width: 10px;
}

.day-box {
  display: table;
  width: 30px;
}
