.dashboard-table-cell {
  padding: 10px;
}
.dashboard-table-row {
  border-top: 1px solid black;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-table-first-cell {
  width: 100%;
}

.dashboard-desc {
  padding: 24px;
  padding-bottom: 0;
  font-style: italic;
}

.attendance-day {
  width: 10px;
}

.day-box {
  display: table;
  width: 30px;
}
