
.dashboard-table-row {
  border-top: 1px solid black;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-table-first-cell {
  width: calc(40% - 20px);
  white-space: nowrap;
}
.dashboard-table-last-cell {
  width: calc(60% - 20px);
  min-width: 180px;
}

.attendance-day {
  width: 10px;
}

.day-box {
  display: table;
  width: 30px;
}
