@if (exportServerEnabled) {
  <input
    type="file"
    [accept]="acceptedFileTypes"
    style="display: none"
    (change)="onFileSelected($event.target['files'][0])"
    #fileUpload
  />

  <mat-form-field
    [ngClass]="{ clickable: formControl.value }"
    (click)="navigator.onLine ? formClicked() : null"
  >
    @if (!hideLabel) {
      <mat-label>
        <span [matTooltip]="label" matTooltipPosition="before">{{ label }}</span>
      </mat-label>
    }
    <input
      matInput
      readonly
      class="filename"
      [formControl]="formControl"
      i18n-placeholder="placeholder for template file input"
      placeholder="No template file selected"
      i18n-matTooltip="Tooltip show template file"
      matTooltip="Show template file"
      [matTooltipDisabled]="!(initialValue && formControl.value === initialValue)"
    />

    @if (formControl.value && formControl.enabled) {
      <button
        type="button"
        mat-icon-button
        matIconSuffix
        (click)="delete(); $event.stopPropagation()"
        i18n-mattooltip="Tooltip remove template file"
        matTooltip="Remove template file"
        [disabled]="!navigator.onLine"
      >
        <fa-icon icon="xmark"></fa-icon>
      </button>
    }
    @if (formControl.enabled) {
      <button
        type="button"
        mat-icon-button
        matIconSuffix
        (click)="fileUpload.click(); $event.stopPropagation()"
        i18n-matTooltip="Tooltip upload template file button"
        matTooltip="Upload template file"
        [disabled]="!navigator.onLine"
      >
        <fa-icon icon="upload"></fa-icon>
      </button>
    }

    @if (!navigator.onLine && formControl.enabled) {
      <mat-hint i18n>Changes to template files are not possible offline.</mat-hint>
    }

    <mat-error>
      <app-error-hint [form]="formControl"></app-error-hint>
    </mat-error>
  </mat-form-field>
} @else {
  <mat-form-field>
    @if (!hideLabel) {
      <mat-label>
        <span [matTooltip]="label" matTooltipPosition="before">{{ label }}</span>
      </mat-label>
    }
    <input
      matInput
      readonly
      disabled
      value=""
      i18n-placeholder="placeholder when export server disabled"
      placeholder="Export server not available"
    />
    <mat-hint style="color: red;" i18n>Template export functionality is not available. Please check if the export server is running and properly configured.</mat-hint>
  </mat-form-field>
}
