@if (exportServerEnabled) {
  <app-edit-file
    [formControl]="formControl"
    [entity]="entity"
    [entityForm]="entityForm"
    [formFieldConfig]="formFieldConfig"
    [hideLabel]="hideLabel"
  ></app-edit-file>
} @else {
  <mat-form-field>
    @if (!hideLabel) {
      <mat-label>
        <span [matTooltip]="label" matTooltipPosition="before">{{
          label
        }}</span>
      </mat-label>
    }
    <input
      matInput
      readonly
      disabled
      value=""
      i18n-placeholder="placeholder when export server disabled"
      placeholder="Export server not available"
    />
    <mat-hint class="warning" i18n>
      This feature is currently not enabled for your system. Please contact your
      system administrator to enable it.
    </mat-hint>
  </mat-form-field>
}
