<form [formGroup]="form">
  <cdk-accordion-item
    #notificationRuleItem="cdkAccordionItem"
    tabindex="0"
    [attr.id]="'notification-rule-item-header-' + accordionIndex"
    [attr.aria-expanded]="notificationRuleItem.expanded"
    [attr.aria-controls]="'notification-rule-item-body-' + accordionIndex"
    class="flex-column justify-space-between align-center notifications-options-container"
  >
    <div
      class="flex-column justify-space-between align-center notification-options-wrapper"
    >
      <div
        class="flex-row justify-content-center align-center notification-rule-option"
      >
        <mat-form-field
          class="full-width-field"
          (click)="handleToggleAccordion(notificationRuleItem)"
        >
          <mat-label i18n>Select an entity type</mat-label>
          <app-entity-type-select
            formControlName="entityType"
          ></app-entity-type-select>
        </mat-form-field>
        <app-help-button
          text="A notification type is based on the selected entity. For instance, choosing 'task' will enable notifications for newly created tasks in the system."
          i18n-text
        ></app-help-button>
      </div>

      <div
        class="flex-row justify-content-center align-center notification-rule-option"
      >
        <mat-form-field
          class="full-width-field"
          (click)="handleToggleAccordion(notificationRuleItem)"
        >
          <mat-label i18n>Notification method(s)</mat-label>
          <mat-select
            formControlName="channels"
            multiple
            placeholder="Choose notification channels"
            i18n-placeholder="Notification Method Select placeholder"
          >
            @for (notificationMethod of notificationMethods; track $index) {
              <mat-option [value]="notificationMethod.key">
                {{ notificationMethod.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <app-help-button
          text="Define a notification method to receive notifications"
          i18n-text
        ></app-help-button>
      </div>
    </div>

    <div class="flex-row notification-rule-actions">
      <div class="flex-row align-center">
        <mat-slide-toggle
          formControlName="enabled"
          class="notification-toggle"
          matTooltip="You can enable or disable notifications. If you do not want to delete this notification rule, you can disable it to 'pause' these notifications."
          i18n-matTooltip
        ></mat-slide-toggle>
      </div>

      <button
        (click)="removeNotificationRule.emit()"
        mat-icon-button
        matTooltip="Remove notification rule"
        i18n-matTooltip
      >
        <fa-icon icon="trash"></fa-icon>
      </button>

      <button
        mat-icon-button
        (click)="testNotification()"
        matTooltip="Test notification"
        i18n-matTooltip
      >
        <fa-icon icon="paper-plane"></fa-icon>
      </button>
      <button
        mat-icon-button
        [matTooltip]="
          notificationRuleItem?.expanded ? 'Collapse section' : 'Expand section'
        "
        (click)="notificationRuleItem.toggle()"
        i18n-matTooltip
      >
        <fa-icon
          [icon]="notificationRuleItem.expanded ? 'chevron-up' : 'chevron-down'"
        ></fa-icon>
      </button>
    </div>
  </cdk-accordion-item>
</form>

@if (notificationRuleItem.expanded) {
  <div
    [style.display]="notificationRuleItem.expanded ? '' : 'none'"
    [attr.id]="'notification-rule-item-body-' + accordionIndex"
    [attr.aria-labelledby]="'notification-rule-item-header-' + accordionIndex"
  >
    <div class="flex-row align-center notification-condition-section">
      <strong i18n>Define Notification Criteria</strong>
      <app-help-button
        text="You can choose a notification based on the selected entity. For example, if you select 'task', you can create a notification for when a task is assigned to a user."
        i18n-text
      ></app-help-button>
    </div>
    @for (
      notificationCondition of form.get("conditions")?.["controls"] ?? [];
      track notificationCondition;
      let notificationConditionIndex = $index
    ) {
      <app-notification-condition
        (removeNotificationCondition)="
          removeCondition(notificationConditionIndex)
        "
        [form]="notificationCondition"
        [notificationRule]="value"
      />
    }
    <div class="flex-row align-center">
      <button
        mat-stroked-button
        class="new-rule-condition-button"
        color="accent"
        [disabled]="!value.entityType"
        (click)="addNewNotificationCondition()"
        matTooltip="Define another condition of notifications for your user account"
        i18n-matTooltip
      >
        <fa-icon aria-label="add element" icon="plus-circle"></fa-icon>
        <span i18n class="new-notification-rule"
          >Add Notification Criteria</span
        >
      </button>
      <button
        mat-icon-button
        matTooltip="Update Notification Condition via JSON editor"
        i18n-matTooltip
        (click)="openConditionsInJsonEditorPopup()"
        [disabled]="!value.entityType"
      >
        <fa-icon icon="tools"></fa-icon>
      </button>
    </div>
  </div>
}
