@use "variables/colors";
@use "variables/sizes";
@use "../../../../styles/variables/breakpoints";
@use "@angular/material/core/style/elevation" as mat-elevation;

.full-width {
  width: 100%;
}

.panel-wrapper {
  @include mat-elevation.elevation(2);
  border-radius: 10px;
  padding: 16px;
}

.notifications-options-container {
  @extend .panel-wrapper;
  background-color: colors.$background;
  margin-top: sizes.$regular;
  gap: 40px;

  @media screen and (min-width: breakpoints.$xxl) {
    flex-direction: row;
  }
}

.notification-options-wrapper {
  @extend .full-width;

  @media screen and (min-width: breakpoints.$xxl) {
    flex-direction: row;
  }
}

.notification-rule-option {
  width: 80%;
}

.full-width-field {
  @extend .full-width;
  display: inline-block;

  ::ng-deep mat-form-field {
    @extend .full-width;
  }
}

.notification-rule-actions {
  gap: 15px;
}

.notification-toggle {
  margin-left: 10px;
}
