<form [formGroup]="form">
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    tabindex="0"
    [attr.id]="'accordion-header-' + accordionIndex"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + accordionIndex"
    class="flex-column justify-space-between align-center notifications-options-container"
  >
    <div
      class="flex-column justify-space-between align-center notification-options-wrapper"
    >
      <div
        class="flex-row justify-content-center align-center notification-rule-option"
      >
        <mat-form-field class="full-width-field">
          <mat-label i18n>Select an entity type</mat-label>
          <app-entity-type-select
            formControlName="entityType"
          ></app-entity-type-select>
        </mat-form-field>
        <app-help-button
          text="A notification type is based on the selected entity. For instance, choosing 'task' will enable notifications for newly created tasks in the system."
          i18n-text
        ></app-help-button>
      </div>

      <div
        class="flex-row justify-content-center align-center notification-rule-option"
      >
        <mat-form-field class="full-width-field">
          <mat-label i18n>Notification method(s)</mat-label>
          <mat-select
            formControlName="channels"
            multiple
            placeholder="Choose notification channels"
            i18n-placeholder="Notification Method Select placeholder"
          >
            @for (notificationMethod of notificationMethods; track $index) {
              <mat-option [value]="notificationMethod.key">
                {{ notificationMethod.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <app-help-button
          text="Define a notification method to receive notifications"
          i18n-text
        ></app-help-button>
      </div>
    </div>

    <div class="flex-row notification-rule-actions">
      <div class="flex-row align-center">
        <mat-slide-toggle
          formControlName="enabled"
          class="notification-toggle"
          matTooltip="You can enable or disable notifications. If you do not want to delete this notification rule, you can disable it to 'pause' these notifications."
          i18n-matTooltip
        ></mat-slide-toggle>
      </div>

      <button
        (click)="removeNotificationRule.emit()"
        mat-icon-button
        matTooltip="Remove notification rule"
        i18n-matTooltip
      >
        <fa-icon icon="trash"></fa-icon>
      </button>

      <button
        mat-icon-button
        (click)="testNotification()"
        matTooltip="Test notification"
        i18n-matTooltip
      >
        <fa-icon icon="paper-plane"></fa-icon>
      </button>
      <button
        mat-icon-button
        [matTooltip]="
          accordionItem?.expanded ? 'Collapse section' : 'Expand section'
        "
        (click)="accordionItem.toggle()"
        i18n-matTooltip
      >
        <fa-icon
          [icon]="accordionItem.expanded ? 'chevron-up' : 'chevron-down'"
        ></fa-icon>
      </button>
    </div>
  </cdk-accordion-item>
</form>

@if (accordionItem.expanded) {
  <div
    [style.display]="accordionItem.expanded ? '' : 'none'"
    [attr.id]="'accordion-body-' + accordionIndex"
    [attr.aria-labelledby]="'accordion-header-' + accordionIndex"
  >
    <div class="flex-row align-center notification-condition-section">
      <strong>Define Notification Criteria</strong>
      <app-help-button
        text="You can choose a notification based on the selected entity. For example, if you select 'task', you can create a notification for when a task is assigned to a user."
        i18n-text
      ></app-help-button>
    </div>
    @for (
      notificationCondition of value?.conditions;
      track notificationCondition;
      let notificationConditionIndex = $index
    ) {
      <app-notification-condition
        [notificationRule]="value"
        (removeNotificationCondition)="
          removeCondition(notificationConditionIndex)
        "
        [notificationConditionIndex]="notificationConditionIndex"
        (valueNotificationConditionChange)="updateNotificationCondition($event)"
      />
    }
    <button
      mat-stroked-button
      class="new-rule-condition-button"
      color="accent"
      (click)="addNewNotificationCondition()"
      matTooltip="Define another condition of notifications for your user account"
      i18n-matTooltip
    >
      <fa-icon aria-label="add element" icon="plus-circle"></fa-icon>
      <span i18n class="new-notification-rule">Add Notification Condition</span>
    </button>
  </div>
}
