@use "variables/colors";
@use "variables/sizes";
@use "../../../../styles/variables/breakpoints";
@use "@angular/material/core/style/elevation" as mat-elevation;

.full-width {
  width: 100%;
}

.notifications-container {
  padding: 16px;
}

.notification-types-container {
  margin-top: sizes.$large;
}

.browser-notifications-container {
  margin-top: sizes.$large;
}

.notification-setting-title {
  margin-bottom: sizes.$x-small;
}

.panel-wrapper {
  @include mat-elevation.elevation(2);
  border-radius: 10px;
  padding: 16px;
}

.receive-notifications-container {
  @extend .panel-wrapper;
  background-color: colors.$background;
}

.notifications-options-container {
  @extend .panel-wrapper;
  background-color: colors.$background;
  margin-top: sizes.$regular;
  gap: 40px;

  @media screen and (min-width: breakpoints.$xl) {
    flex-direction: row;
  }
}

.notification-options-wrapper {
  @extend .full-width;

  @media screen and (min-width: breakpoints.$xl) {
    flex-direction: row;
  }
}

.notification-rule-actions {
  gap: 15px;
}

.browser-notification-list {
  margin: 0px 0px 16px 20px;
}

.notification-toggle {
  margin-left: 10px;
}

.new-notification-rule {
  margin-left: 5px;
}

.no-margin {
  margin: 0;
}

.add-new-notification-rule {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-new-rule-button {
  width: 50%;
  border-radius: 20px;
  padding: 22px;
  background-color: aliceblue;
}

app-entity-type-select {
  @extend .full-width;
  display: inline-block;

  ::ng-deep mat-form-field {
    @extend .full-width;
  }
}

app-notification-method-select {
  @extend app-entity-type-select;
}

.notification-rule-option {
  width: 80%;
}

.coming-soon-label {
  color: colors.$inactive;
  margin-left: 10px;
  font-style: italic;
}

.browser-notifications-title {
  margin-bottom: 20px;
}

.text-badge {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 25px;
  padding-inline: 15px;
  border: 1px solid;
}

.disabled-text {
  @extend .text-badge;
  border-color: #fa222a;
  background-color: #eba7a9;
}

.enabled-text {
  @extend .text-badge;
  border-color: green;
  background-color: #beddba;
}
