<div class="notifications-container">
  <h1 class="notification-setting-title" i18n>Notifications Settings</h1>
  <div i18n>
    Notifications can remind you of events in the system that are important to
    you. For example, you can set up custom notifications to see when certain
    records are added or changed (e.g. when a new participant has registered
    through a public form; or when a colleague assigned a task to you). These
    notifications are visible in the toolbar and can be sent to you via email or
    push notifications.
  </div>

  <div class="notification-types-container">
    <h3 class="no-margin" i18n>
      <strong>What notifications you receive</strong>
    </h3>
    <div i18n>
      Define rules for events that you want to get notifications for. You can
      add as many rules as you want. Disable a rule temporarily to pause these
      notifications without deleting the conditions completely.
    </div>

    <cdk-accordion>
      @for (
        notificationRule of notificationConfig?.notificationRules;
        track notificationRule;
        let index = $index
      ) {
        <div class="notification-rule-accordion-item">
          <app-notification-rule
            [value]="notificationRule"
            (valueChange)="updateNotificationRule(notificationRule, $event)"
            (notificationConditionValueChange)="updateNotificationCondition()"
            (removeNotificationRule)="confirmRemoveNotificationRule(index)"
            (removeNotificationCondition)="updateNotificationCondition()"
            [accordionIndex]="index"
          ></app-notification-rule>
        </div>
      }
    </cdk-accordion>
    <div class="flex-row justify-content-center add-new-notification-rule">
      <button
        mat-stroked-button
        class="add-new-rule-button"
        color="accent"
        (click)="addNewNotificationRule()"
        matTooltip="Define another type of notifications for your user account"
        i18n-matTooltip
      >
        <fa-icon aria-label="add element" icon="plus-circle"></fa-icon>
        <span i18n class="new-notification-rule"
          >Add new notification rule</span
        >
      </button>
    </div>
  </div>

  <div class="browser-notifications-container">
    <div class="browser-notifications-title">
      <h3 i18n class="no-margin flex-row align-center">
        <strong>Where you receive notifications</strong>
        @if (isPushNotificationEnabled) {
          <div
            class="enabled-text"
            matTooltip="Push notifications are enabled. You’ll receive real-time updates for important activities."
            i18n-matTooltip
          >
            Enabled
          </div>
        } @else {
          <div
            class="disabled-text"
            matTooltip="Push notifications are disabled. Turn them on in settings to stay informed about updates."
            i18n-matTooltip
          >
            Disabled
          </div>
        }
      </h3>
      <div i18n>
        Notifications are always visible through the bell icon in the toolbar at
        the top of the application. You can enable other ways to get
        notifications sent to you below.
      </div>
    </div>
    <div class="receive-notifications-container">
      <div>
        <div class="flex-row">
          <fa-icon icon="window-maximize"></fa-icon>
          <p class="notification-toggle" i18n>Browser</p>
        </div>
        <div
          class="flex-row align-center justify-space-between browser-notification-list"
        >
          <div class="flex-row align-center">
            <span i18n>Notification Center (in app)</span>
            <app-help-button
              text="View notifications in the app's interface. Click the icon in the top toolbar to see all notifications, including those you already read. The notification center is always available and cannot be disabled."
              i18n-text
            ></app-help-button>
          </div>
        </div>
        <div
          class="flex-row align-center justify-space-between browser-notification-list"
        >
          <div class="flex-row align-center">
            <span i18n>Push notifications</span>
            <app-help-button
              text="A notification on your system (e.g. a normal Android smartphone notification). You see these alerts without needing to open the app."
              i18n-text
            ></app-help-button>
          </div>
          <mat-slide-toggle
            (change)="togglePushNotifications($event)"
            [checked]="isPushNotificationEnabled"
          />
        </div>
      </div>

      <div>
        <div class="flex-row">
          <fa-icon icon="envelope"></fa-icon>
          <p class="notification-toggle" i18n>Email</p>
        </div>
        <div
          class="flex-row align-center justify-space-between browser-notification-list"
        >
          <div class="flex-row align-center">
            <span i18n>Email</span>
            <span class="coming-soon-label" i18n>Coming Soon</span>
          </div>
          <mat-slide-toggle disabled></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
