<table mat-table [dataSource]="recordsDataSource" matSort class="mat-elevation-z8 subrecord-table">

  <ng-container *ngFor="let col of columns" [matColumnDef]="col.name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.label}} </th>
    <td mat-cell *matCellDef="let rec"
        (click)='showRecord(rec)' [ngClass]="{'table-link': detailsComponent!==undefined}">

      <div *ngIf="col.inputType === 'function'" class='table-show-number'>
        {{ col.formatter( rec[col.name]() ) }}
      </div>

      <div *ngIf="!recordsEditing.get(rec.getId()) && col.inputType !== 'function'"
           [ngClass]="{ 'table-show-number': col.inputType==='number' }">
        {{ col.formatter(rec[col.name]) }}
      </div>

      <div *ngIf="recordsEditing.get(rec.getId()) && col.inputType !== 'function'">
        <mat-form-field [ngClass]="{
            'table-input-number': col.inputType === 'number',
            'table-input-month': col.inputType === 'month' || col.inputType === 'date'
            }">

          <input *ngIf="col.inputType === 'text'"
                 matInput type="text" [title]="col.label" [value]="rec[col.name]" (change)="rec[col.name]=$event.target.value">

          <input *ngIf="col.inputType === 'number'"
                 matInput type="number" min="0" [title]="col.label" [value]="rec[col.name]" (change)="rec[col.name]=$event.target.valueAsNumber">

          <input *ngIf="col.inputType === 'date'"
                 matInput type="date" [title]="col.label" [valueAsDate]="rec[col.name]" (change)="rec[col.name]=$event.target.valueAsDate">

          <input *ngIf="col.inputType === 'month'"
                 matInput type="month" [title]="col.label" [valueAsDate]="rec[col.name]" (change)="rec[col.name]=$event.target.valueAsDate">

          <textarea *ngIf="col.inputType === 'textarea'"
                    matInput [title]="col.label" [value]="rec[col.name]" (change)="rec[col.name]=$event.target.value"></textarea>

          <mat-select *ngIf="col.inputType === 'select'" [(value)]="rec[col.name]">
            <mat-option *ngFor='let option of col.selectValues' [value]="option.value">{{option.label}}</mat-option>
          </mat-select>

          <span *ngIf="col.inputType === 'autocomplete'">
            <input [matAutocomplete]="auto" (input)="autocompleteSearch(col, $event.target.value)"
                   matInput type="text" [title]="col.label" [value]="rec[col.name]" (change)="rec[col.name]=$event.target.value">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="rec[col.name]=$event.option.value">
              <mat-option *ngFor="let option of col.selectValues" [value]="option.value">{{option.label}}</mat-option>
            </mat-autocomplete>
          </span>

        </mat-form-field>
      </div>
    </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef >
      <button mat-stroked-button class="table-action-button" color="accent" (click)="create()">
        <mat-icon class="table-action-icon" aria-label="add" fontIcon="fa-plus-circle"></mat-icon>
        <!-- fxHide.md="false">Add New -->
      </button>
    </th>
    <td mat-cell *matCellDef="let rec">
      <button mat-icon-button *ngIf="!recordsEditing.get(rec.getId())" (click)="recordsEditing.set(rec.getId(), true)">
        <mat-icon class="table-action-icon" aria-label="edit" fontIcon="fa-pencil"></mat-icon>
      </button>
      <button mat-icon-button *ngIf="recordsEditing.get(rec.getId())" (click)="save(rec)">
        <mat-icon class="table-action-icon" aria-label="save" fontIcon="fa-check-circle"></mat-icon>
      </button>
      <button mat-icon-button *ngIf="recordsEditing.get(rec.getId())" (click)="resetChanges(rec)">
        <mat-icon class="table-action-icon" aria-label="cancel" fontIcon="fa-times-circle"></mat-icon>
      </button>
      <button mat-icon-button (click)="delete(rec)">
        <mat-icon class="table-action-icon" aria-label="delete" fontIcon="fa-trash"></mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rec; columns: columnsToDisplay"
      class="{{getWarningStyleClass(rec)}}" [ngStyle]="{'background-color': rec.getColor()}">
  </tr>
  <!--<mat-row *matRowDef="let rec; columns: columnsToNotDisplay" class="{{getWarningStyleClass(rec)}}" [ngStyle]="{'background-color': reg.getColor()}"></mat-row>-->
</table>
