.subrecord-table {
  width: 100%;
}

.table-link {
  cursor: pointer;
}

.table-action-icon {
  font-size: 1.5em;
}

.table-show-number {
  /*text-align: right;*/
}

.table-input-number {
  width: 40px;
}
.table-input-month {
  width: 160px;
}
