@use "variables/colors";

:host ::ng-deep .mat-mdc-tab {
  // adjust tab header height to properly display mat-form-field for editing tab label
  height: 60px !important;
}
app-admin-section-header {
  margin-bottom: -1em;
}
.drag-handle {
  cursor: move;
  margin: auto;
  color: colors.$accent;
}
