@use "src/styles/variables/sizes";
@use "src/styles/mixins/grid-layout";

.illustration {
  width: 70%;
}

.feedback-section {
  width: 70%;
  @include grid-layout.adaptive($min-block-width: 250px, $max-screen-width: 414px)
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: sizes.$max-text-width;
}
