.illustration {
  width: 70%;
}

.feedback-button[disabled] {
  background: #c8e6c9;
  color: black;
}

.requested-icon {
  vertical-align: baseline !important;
}

.feedback-section {
  padding: 1rem;
}
