@import "../../../../styles/colors";

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.dot-red {
  background-color: red;
}
.dot-green {
  background-color: green;
}

.tech-details {
  color: $color-tech-details;
}

.mat-expansion-panel {
  background-color: transparent;
  border: 1px $color-tech-details solid;
}

.sw-logs {
  overflow: auto;
  white-space: pre;
}
