<h1>Technical User Support Details</h1>

<div fxLayout="column" fxLayoutGap="32px">
  <div fxFlex>
    <em>The following details of your device and app can help the user support troubleshoot when you are having technical issues.</em>
  </div>

  <div fxFlex class="tech-details">
    <p>Username: {{ currentUser.name }}</p>
    <p>Current sync state: {{ currentSyncState }}</p>
    <p>Last sync: {{ lastSync }}</p>
    <p>Last remote login: {{ lastRemoteLogin }}</p>
    <p>Service Worker: {{ swStatus }}</p>
    <button mat-raised-button (click)="sendReport()" class="button">Send Details</button>
  </div>

  <div fxFlex>
    <button mat-raised-button color="warn" (click)="resetApplication()" class="button">Reset Application</button>
  </div>

  <div class="tech-details sw-logs">
    <h3>Service Worker Log</h3>
    <p style="white-space: pre">{{ swLog }}</p>
  </div>
</div>
