<h1>Technical User Support Details</h1>

<div fxLayout="column" fxLayoutGap="32px">
  <div fxFlex>
    <em>The following details of your device and app can help the user support troubleshoot when you are having technical issues.</em>
  </div>

  <div fxFlex class="tech-details">
    <p>Username: {{ currentUser.name }}</p>
    <p>App version: {{ appVersion }}</p>
    <p>Device info: {{ userAgent }}</p>
    <p>Current sync state: {{ currentSyncState }}</p>
    <p>Last sync: {{ lastSync }}</p>
    <p>Last remote login: {{ lastRemoteLogin }}</p>
    <p>Storage usage: {{ storageInfo }}</p>
    <p>Service Worker: {{ swStatus }}</p>
    <p>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title class="tech-details">
            Service Worker Logs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="sw-logs tech-details">{{ swLog }}</div>
      </mat-expansion-panel>
    </p>
    <button mat-raised-button (click)="sendReport()" class="full-width">Send Details</button>
  </div>

  <div fxFlex>
    <button mat-raised-button color="warn" (click)="resetApplication()" class="full-width">Reset Application</button>
  </div>
</div>
