<h1>Support Panel</h1>
<div>
  <p i18n="status">Username: {{ currentUser.name }}</p>
  <p i18n="status">Device info: {{ userAgent }}</p>
  <p i18n="status">Current sync state: {{ currentSyncState }}</p>
  <p i18n="status">Last sync: {{ lastSync }}</p>
  <p i18n="status">Last remote login: {{ lastRemoteLogin }}</p>
  <p i18n="status">Service Worker: {{ swStatus }}</p>
  <button mat-raised-button (click)="sendReport()" i18n="button label">Send</button>
  <button mat-raised-button (click)="resetApplication()" i18n="button label">Reset Application</button>
</div>
