.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.dot-red {
  background-color: red;
}
.dot-green {
  background-color: green;
}

.tech-details {
  color: #707070;
}

.sw-logs {
  padding: 0 10px 10px 10px;
  border: 1px solid #707070;
  border-radius: 5px;
  overflow: auto;
}

.button {
  width: 100%;
}
