@import "../../../../styles";
@import "../../../utils/grid-layout";

.input-medium {
  width: 100%;
  max-width: 500px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-header {
  @include adaptive-grid(450px);
}

.attendance-blocks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}


$border: 1px solid lightgray;

.attendance-item {
  /* Align the items in one column */
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;

  border: $border;

  padding: 1em;
  box-sizing: border-box;

  &--header {
    /* Header: Display the child name on the right, the delete item on the left */
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* Content: Display all items as a column; allow the items to wrap to the next line */
  &--content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    align-items: baseline;
    justify-content: center;

    /* This field should be the biggest, allow it to grow */
    > mat-form-field {
      flex-grow: 1;
    }
  }
}

.table {

  border-spacing: 0 4px;

  > tr > td {

    padding-left: 0.5em;
    padding-right: 0.5em;

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-left: $border;
      border-top: $border;
      border-bottom: $border;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      border-right: $border;
      border-top: $border;
      border-bottom: $border;
    }

    &:not(:first-child):not(:last-child) {
      border-top: $border;
      border-bottom: $border;
    }
  }
}

.adjust-top {
  position: relative;
  top: 4px;
  padding-right: 1em;
  width: 100%;
}

.full-width {
  width: 100%;
}

.information-body {
  display: flex;
  flex-direction: column;
  gap: $standard-margin-small;
  padding: $standard-margin-small;
}

.additional-actions-menu {
  position: absolute;
  right: 8px;
  top: 16px;
}

.form-section {
  margin-top: 24px;
}
