@import "../../../../styles";
@import "../../../utils/grid-layout";

.input-medium {
  width: 100%;
  max-width: 500px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-header {
  @include adaptive-grid(450px);
}

.information-body {
  display: flex;
  flex-direction: column;
  gap: $standard-margin-small;
  padding: $standard-margin-small;
}

.additional-actions-menu {
  position: absolute;
  right: 8px;
  top: 16px;
}
