<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<h2 mat-dialog-title>{{entity.date.toLocaleDateString()}}: {{entity.subject}}</h2>


<form #recordForm="ngForm">
  <mat-dialog-content>
    <!-- General context of Note -->
    <div class='form-section-secondary'>
    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <mat-form-field>
          <!-- TODO: date pickers should be the same throughout the app -->
          <input matInput placeholder="Date"
                 name="date"
                 type="date"
                 [matDatepicker]="picker"
                 [valueAsDate]="entity.date"
                 (change)='entity.date=$event.target.valueAsDate;recordForm.form.markAsDirty();'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field>
          <mat-label>
            Status
          </mat-label>
          <mat-select name="followup" [(ngModel)]="entity.warningLevel">
            <mat-option value="OK">Solved</mat-option>
            <mat-option value="WARNING">Needs Follow-Up</mat-option>
            <mat-option value="URGENT">Urgent Follow-Up</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <mat-form-field class='input-medium'>
          <mat-select placeholder="Type of Interaction" name="type" [(ngModel)]="entity.category">
            <mat-option *ngFor="let interaction of interactionTypes" [value]="interaction">
              {{interaction}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class='input-medium'>
          <!-- TODO: should be multi-select or auto-complete field of user names? -->
          <input matInput placeholder="Team Member" name="teammember" type="text" [(ngModel)]="entity.author">
        </mat-form-field>
      </div>
      </div>

    </div>

    <!-- Primary information of Note -->
    <div class='mat-elevation-z2 primary-section-elevated form-section-primary'>
      <div fxLayout='row wrap' fxLayoutGap='20px'>
        <div fxFlex>
          <mat-form-field class='input-medium'>
            <input matInput placeholder="Topic / Summary" name="subject" type="text" [(ngModel)]="entity.subject">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout='row wrap' fxLayoutGap='20px'>
        <mat-form-field class='input-max'>
        <textarea matInput placeholder="Notes" name="notes" [(ngModel)]="entity.text"
                  cdkTextareaAutosize cdkAutosizeMinRows="4"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout='row wrap' fxLayoutGap='20px'>
      <div fxFlex>
        <app-child-select [valueAsIds]='entity.children'
                          (newIdAdded)="entity.addChild($event);recordForm.form.markAsDirty()"
                          (idRemoved)="entity.removeChild($event);recordForm.form.markAsDirty()"
                          class='input-medium'>
        </app-child-select>
      </div>
    </div>
    <app-note-presence-list *ngIf="entity.isMeeting()" [recordForm]="recordForm" [entity]="entity"></app-note-presence-list>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button [disabled]='!recordForm.form.dirty' (click)='save()'>Save</button>
    <button mat-stroked-button (click)='cancel()'>Cancel</button>
  </mat-dialog-actions>
</form>
