@import "../../../../styles/sizes";

.details-header {
  font-size: small;
  text-align: justify;
}

.process-checkmark {
  color: green;
}

.details-line {
  line-height: 32px;
}

[hidden] {
  visibility: hidden !important;
}
