<button
  mat-icon-button
  class="sync-icon"
  [hidden]="!taskCounter"
  [matMenuTriggerFor]="taskListDropdown"
>
  <span
    [matBadge]="taskCounter"
    matBadgeColor="accent"
    [matBadgeHidden]="taskCounter <= 1"
  >
    <mat-icon class="header-icon" fontIcon="fa-refresh"></mat-icon>
  </span>
</button>

<mat-menu #taskListDropdown="matMenu" class="details-container">
  <div class="details-header details-container" i18n>
    The following processes are still running in the background. Until these are
    finished some pages may be slow or incomplete.
  </div>

  <div
    *ngFor="let process of backgroundProcesses"
    class="details-line details-container"
    fxLayout="row"
  >
    <div fxFlex="28px">
      <mat-spinner
        *ngIf="process.pending"
        [diameter]="20"
        class="process-spinner"
      ></mat-spinner>
      <mat-icon
        *ngIf="!process.pending"
        fontIcon="fa-check"
        class="process-checkmark"
      ></mat-icon>
    </div>
    <div class="process-title" [matTooltip]="process.description" fxFlex>
      {{ process.title }}
      <span *ngIf="process.details">({{ process.details }})</span>
    </div>
  </div>

  <div class="details-container">
    <button
      mat-stroked-button
      class="details-close"
      (click)="taskListDropdownTrigger.closeMenu()"
      i18n="Generic close button"
    >
      Close
    </button>
  </div>
</mat-menu>
