.details-header {
  font-size: small;
  text-align: justify;
}

.details-container {
  padding: 0 16px;
}

.details-line {
  line-height: 48px;
}

.process-spinner {
  display: inline-block;
  vertical-align: middle;
}
.process-checkmark {
  font-size: 20px;
  color: green;
}

.process-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sync-icon {
  color: white;
}

[hidden] {
  visibility: hidden !important;
}
