<button
  mat-icon-button
  class="white"
  [hidden]="allTasksFinished | async"
  [matMenuTriggerFor]="taskListDropdown"
  (menuClosed)="wasClosed = true"
>
  <span
    [matBadge]="taskCounterObservable | async"
    matBadgeColor="accent"
    [matBadgeHidden]="allTasksFinished | async"
  >
    <fa-icon class="white" icon="sync"></fa-icon>
  </span>
</button>

<mat-menu #taskListDropdown="matMenu">
  <div class="padding-left-regular padding-right-regular">
    <div i18n class="details-header">
      The following processes are still running in the background. Until these
      are finished some pages may be slow or incomplete.
    </div>

    <div
      *ngFor="let process of filteredProcesses | async"
      class="flex-row gap-small align-center mat-subtitle-2 details-line"
    >
      <div>
        <mat-spinner *ngIf="process.pending" [diameter]="20"></mat-spinner>
        <fa-icon
          *ngIf="!process.pending"
          icon="check"
          class="process-checkmark"
        ></fa-icon>
      </div>
      <div class="truncate-text" [matTooltip]="process.description">
        {{ process.title }}
        <span *ngIf="process.details">({{ process.details }})</span>
      </div>
    </div>

    <button
      mat-stroked-button
      class="full-width"
      (click)="taskListDropdownTrigger.closeMenu()"
      i18n="Hide sync details"
    >
      Continue in background
    </button>
  </div>
</mat-menu>
