@if (showAddButton) {
  <div class="margin-bottom-regular">
    <app-icon-button
      icon="plus-circle"
      color="accent"
      (buttonClick)="addNewMenuItem()"
      i18n
    >
      Add New
    </app-icon-button>
  </div>
}

<div
  cdkDropList
  [id]="containerId"
  [cdkDropListData]="items"
  [cdkDropListConnectedTo]="connectedDropLists"
  (cdkDropListDropped)="onDragDrop($event)"
>
  @for (item of items; track item; let i = $index) {
    <app-admin-menu-item
      [item]="item"
      [connectedTo]="connectedDropLists"
      [allowEntityLinks]="allowEntityLinks"
      [allowSubMenu]="allowSubMenu"
      (itemDrop)="onDragDrop($event)"
      (deleteItem)="removeItem(item)"
      (itemChange)="onItemChange($event, i)"
    ></app-admin-menu-item>
  }
</div>
