@if (showAddButton()) {
  <div class="margin-bottom-regular">
    <app-icon-button
      icon="plus-circle"
      color="accent"
      (buttonClick)="addNewMenuItem()"
      i18n
    >
      Add New
    </app-icon-button>
  </div>
}

<div
  class="drop-list flex-column gap-regular"
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
>
  @for (row of rows(); track row.id; let i = $index) {
    <div
      class="drop-item"
      [style.margin-left.px]="row.level * indentPerLevel"
      cdkDrag
      [cdkDragData]="row"
    >
      <app-admin-menu-item
        [item]="row.data"
        [hasSubItems]="row.hasSubItems"
        [allowEntityLinks]="allowEntityLinks()"
        (deleteItem)="removeItem(i)"
        (itemChange)="onItemChange($event, i)"
      ></app-admin-menu-item>
    </div>
  }
</div>
