<div class="hint-banner" i18n>
  You can edit how users will see the details of this public form. To edit
  fields, click on the Edit button, make your changes, and then save. These
  changes will reflect on the public form.
  <br />
  Drag and drop fields and sections in this preview of a profile view. The
  editor below closely resembles how the form will look for users later.
  <br />
</div>

<app-admin-entity-form
  [config]="publicConfigDetailsView.config"
  [entityType]="entityConstructor"
>
</app-admin-entity-form>
