<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="flex-row justify-space-between">
  <app-view-title *ngIf="!creatingNew">
    {{ record?.toString() }}
  </app-view-title>
  <app-view-title
    *ngIf="creatingNew"
    i18n="
      Title when adding a new entity|An entity is a child, note, school, etc.
    "
  >
    Adding new {{ this.entityConstructor?.label }}
  </app-view-title>

  <app-entity-actions-menu [entity]="record" [navigateOnDelete]="true">
    <button
      mat-menu-item
      [routerLink]="['/admin-ui/entity', record?.getType()]"
      *ngIf="{ entity: 'Config', operation: 'update' } | hasPermission"
    >
      <fa-icon
        class="standard-icon-with-text color-accent"
        icon="tools"
      ></fa-icon>
      <span i18n>Edit Data Structure</span>
    </button>
  </app-entity-actions-menu>
</div>

<app-entity-archived-info [entity]="record"></app-entity-archived-info>

<mat-tab-group
  (selectedIndexChange)="trackTabChanged($event)"
  appTabStateMemo
  [preserveContent]="true"
>
  <mat-tab
    *ngFor="let panelConfig of panels"
    [disabled]="creatingNew || unsavedChanges.pending"
  >
    <ng-template mat-tab-label>
      <span
        [matTooltipDisabled]="!creatingNew"
        matTooltip="Save the new record to create it before accessing other details"
        i18n-matTooltip="
          Tooltip explaining disabled sections when creating new entity
        "
      >
        {{ panelConfig.title }}
      </span>
    </ng-template>

    <ng-template matTabContent>
      <div *ngIf="isLoading" class="process-spinner">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div
        *ngFor="let componentConfig of panelConfig.components; let j = index"
        class="padding-top-large"
      >
        <h3 *ngIf="componentConfig.title && componentConfig.title !== ''">
          {{ componentConfig.title }}
        </h3>
        <ng-template
          *ngIf="componentConfig.config?.entity"
          [appDynamicComponent]="componentConfig"
        ></ng-template>
        <br *ngIf="j < panelConfig.components.length - 1" />
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
