<div>
    <mat-form-field style="width: 100%">
        <input
            #inputField
            matInput
            placeholder="Schools"
            (input)="search()"
            [matAutocomplete]="autoSuggestions"
            [(ngModel)]="searchText"
            [disabled]="disabled"
        />

    </mat-form-field>

    <mat-autocomplete
        #autoSuggestions="matAutocomplete"
        (optionSelected)="selectSchool($event.option.value)"
    >
        <mat-option *ngFor="let res of suggestions" [value]="res">
            <app-school-block
                    [entity]="res"
                    [linkDisabled]="true"
            ></app-school-block>
        </mat-option>
    </mat-autocomplete>
    <span *ngFor="let school of selectedSchools" class="selected-entity-block">
        <span *ngIf="!disabled" class="fa fa-minus-square-o" (click)="unselectSchool(school)"></span>
        <app-school-block
                [entity]="school"
                [linkDisabled]="true"
        ></app-school-block>
      &nbsp;
    </span>
</div>
