@use "../../../../../styles/variables/sizes";
@use "../../../../../styles/variables/colors";
@use "../../../../../styles/mixins/grid-layout";
@use "../../../../../styles/typography/custom-typography";

.cards-wrapper {
  margin-top: sizes.$large;
  @include grid-layout.adaptive($min-block-width: 250px);
}

.mat-mdc-card[disabled] {
  background-color: colors.$disabled-transparent;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  > button {
    width: 100%;
  }
}
