<app-view-title
  i18n="
    Heading for Attendance Register|The heading for the view showing the
    Attendance Register
  "
>
  Managing Attendance
</app-view-title>

<div class="cards-wrapper">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title i18n="Record attendance title">
        Record Attendance
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Record attendance content">
        Record attendance for an activity on a certain day. Optimized for
        smartphones.
      </p>
      <button
        mat-raised-button
        class="full-width"
        routerLink="/attendance/add-day"
        *appDisabledEntityOperation="{
          entity: eventTypes(),
          operation: 'create',
        }"
        i18n="Record attendance button"
      >
        Record
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title i18n="Manage Activities title">
        Recurring Activities
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Manage Activities content">
        Manage "recurring activities" for which you regularly record attendance.
        You can assign participants and users to these activities and analyze
        their attendance across time.
      </p>
      <div class="flex-column gap-small">
        @for (activity of activityTypes(); track activity.ENTITY_TYPE) {
          <button
            mat-raised-button
            class="full-width"
            [routerLink]="getEntityRuntimeRoute(activity)"
            *appDisabledEntityOperation="{
              entity: activity,
              operation: 'read',
            }"
          >
            {{ activity.labelPlural }}
          </button>
        } @empty {
          <span class="no-types-hint" i18n
            >No record types have been set up as "recurring activities"
            yet.</span
          >
        }
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" disabled>
    <mat-card-header>
      <mat-card-title i18n="Monthly attendance title">
        Monthly Attendance
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Monthly attendance content">
        Document attendance totals for a whole month that were collected on
        paper.
      </p>
      <button
        (click)="comingSoonDialog.open('monthly-attendance')"
        mat-stroked-button
        i18n="Enter attendance button"
      >
        Document Month
      </button>
    </mat-card-content>
  </mat-card>
</div>
