<!-- Color Picker Button -->
<ng-template #colorPickerButton>
  <button
    mat-icon-button
    type="button"
    [style.color]="colorPickerValue"
    (click)="colorInput.click()"
    tabindex="-1"
    matTooltip="Pick color"
    i18n-matTooltip
  >
    <fa-icon icon="palette"></fa-icon>
  </button>
  <input
    #colorInput
    type="color"
    class="color-input-overlay"
    [value]="colorPickerValue"
    (input)="onColorPickerChange($any($event.target).value)"
    (click)="$event.stopPropagation()"
  />
</ng-template>

@if (ngControl) {
  <!-- EditComponent mode: entity form provides the outer mat-form-field -->
  <input
    matInput
    [formControl]="formControl"
    placeholder="#RRGGBB"
    style="width: 100px"
  />
  <ng-container *ngTemplateOutlet="colorPickerButton"></ng-container>
} @else if (compact) {
  <!-- Compact standalone mode: just the color picker button -->
  <ng-container *ngTemplateOutlet="colorPickerButton"></ng-container>
} @else {
  <!-- Full standalone mode: own mat-form-field with label and error -->
  <mat-form-field class="full-width" floatLabel="always">
    <mat-label>
      <span>{{ label }}</span>
      &nbsp;
      <fa-icon
        icon="question-circle"
        matTooltip="Pick a color or enter a color code (e.g. #ff0000)."
        i18n-matTooltip
      ></fa-icon>
    </mat-label>
    <input
      matInput
      [formControl]="colorControl"
      style="width: 100px"
      placeholder="#RRGGBB"
    />
    <span matSuffix>
      <ng-container *ngTemplateOutlet="colorPickerButton"></ng-container>
    </span>
    @if (colorControl.hasError("pattern")) {
      <mat-error i18n
        >Please enter a valid hex color code (e.g. #ff0000)</mat-error
      >
    }
  </mat-form-field>
}
