<mat-dialog-content class="mat-typography">
  @if (data.closeButton) {
    <app-dialog-close mat-dialog-close></app-dialog-close>
  }
  <div class="json-editor">
    <app-json-editor
      [value]="jsonData"
      (valueChange)="onJsonChange($event)"
    ></app-json-editor>

    <div class="flex-row json-editor-actions">
      <button mat-raised-button (click)="onJsonValueCancel()" i18n>
        Cancel
      </button>
      <button mat-raised-button (click)="onJsonValueSave()" i18n>Save</button>
    </div>
  </div>
</mat-dialog-content>
