@use "@angular/material/theming" as *;

.wrapper {
  padding: 1em;
}

.summary-title {
  margin-bottom: 0.25em;
}

.summary-period {
  color: mat-color($mat-light-theme-foreground, hint-text);
  margin: 0;
}

.summary-table {
  border-spacing: 0 8px;
}

.summary-row {
  background-color: mat-color($mat-light-theme-background, background);
}

.summary-cell-label {
  padding: 0.5em;
}
.summary-cell {
   font-size: 1.5em;
   text-align: right;
   padding: 0.5em;
 }
