<div class="padding-regular">
  <h3 i18n>
    <strong>Collect replies of this form linked to individual records</strong>
  </h3>
  <p i18n>
    Here is the extracted text from the image: You can use forms with a special
    “magic link” to collect responses from participants that are already
    registered in your system. By sending out an individual link to each person,
    the form response(s) from that person can be linked into their profile. For
    example, you can collect feedback or an evaluation survey and relate each
    submission to the specific participant or organisation that gave it.
  </p>

  <form [formGroup]="form" [class.disabled]="formControl.disabled">
    <div class="flex-row align-center gap-small">
      <fa-icon size="xl" icon="phone"></fa-icon>
      <mat-form-field>
        <mat-label i18n>Linked to</mat-label>
        <mat-select formControlName="id" aria-disabled="formControl.disabled">
          <mat-option *ngFor="let field of relatedRefFields" [value]="field.id">
            {{ field.label || field.additional }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <fa-icon size="xl" icon="map"></fa-icon>
    </div>
  </form>
</div>
