<h2 mat-dialog-title>
  @if (isNew) {
    <ng-container i18n="menu item edit title">Add New Item</ng-container>
  } @else {
    @if (isShortcut) {
      <ng-container i18n>Edit Shortcut</ng-container>
    } @else {
      <ng-container i18n>Edit Menu Item</ng-container>
    }
  }
</h2>

<mat-dialog-content>
  <form class="flex-column gap-regular">
    @if (!isShortcut) {
      <p i18n>
        Optionally select a record type to automatically use its name, icon and
        list view (as link) for this menu item. Otherwise, you can select a
        custom name and icon below.
      </p>

      <!-- EntityType -->
      <mat-form-field appearance="fill" class="margin-bottom-large">
        <mat-label i18n>Entity Type</mat-label>
        <app-entity-type-select
          [value]="item?.['entityType']"
          (valueChange)="onEntityTypeSelected($event)"
          [multi]="false"
        ></app-entity-type-select>
      </mat-form-field>

      @if (item?.["entityType"]) {
        <p i18n>
          To manually define a label and link, clear the entity type field
          above.
        </p>
      }
    }

    <!-- Show manual form for shortcuts OR when no entity type is selected -->
    @if (isShortcut || !item?.["entityType"]) {
      <app-menu-item-form
        [item]="item"
        (itemChange)="item = $event"
        [linkOptions]="availableRoutes"
      ></app-menu-item-form>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="save()" i18n>Save</button>
  <button mat-button (click)="cancel()" cdkFocusInitial i18n>Cancel</button>
</mat-dialog-actions>
