<mat-form-field appearance="fill" class="full-width">
  <mat-label>{{ filterConfig.label || filterConfig.name }}</mat-label>
  <app-basic-autocomplete
    [multi]="!filterConfig.singleSelectOnly"
    [options]="filterConfig.options"
    [formControl]="autocompleteControl"
    [optionToString]="getOptionLabel"
    [valueMapper]="getOptionValue"
  >
    <ng-container autocompleteHeader>
      <div class="flex-row">
        <button
          mat-flat-button
          i18n
          class="util-button flex-grow"
          (click)="selectAll()"
          [disabled]="!!filterConfig.singleSelectOnly"
          [class.hidden]="!!filterConfig.singleSelectOnly"
        >
          Select All
        </button>

        <button
          mat-flat-button
          i18n
          class="util-button flex-grow"
          (click)="deselectAll()"
        >
          Clear
        </button>
      </div>
    </ng-container>
  </app-basic-autocomplete>
</mat-form-field>
