<mat-form-field appearance="fill" class="full-width">
  <mat-label>{{ filterConfig.label || filterConfig.name }}</mat-label>
  <mat-select
    [id]="filterConfig.name"
    [(value)]="selectedOptions"
    (valueChange)="selectedOptionChange.emit($event)"
    multiple
  >
    @for (option of filterConfig.options; track option.key) {
    <mat-option
      [value]="option.key"
      [appBorderHighlight]="option.color"
      style="padding-top: 0.5em; padding-bottom: 0.5em"
    >
      {{ option.label }}
    </mat-option>
    }
  </mat-select>
</mat-form-field>
