<mat-form-field
  *ngIf="filterConfig.name != 'date'"
  appearance="fill"
  class="full-width"
>
  <mat-label>{{ filterConfig.label || filterConfig.name }}</mat-label>
  <mat-select
    [id]="filterConfig.name"
    [value]="selectedOption"
    [placeholder]="filterConfig.name"
  >
    <mat-option
      *ngFor="let option of filterConfig.options"
      [value]="option.key"
      (click)="selectOption(option.key)"
      [appBorderHighlight]="option.color"
      style="padding-top: 0.5em; padding-bottom: 0.5em"
    >
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
