<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<h1 mat-dialog-title>Latest Changes</h1>

<mat-dialog-content #changelogContainer>
  <mat-card *ngFor="let changelog of changelogs" class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title i18n="Changelog, or no changelog (if none is available)">{{
        changelog ? changelog.name : "No Changelog Available"
      }}</mat-card-title>
      <mat-card-subtitle>
        <span class="meta-info"
          ><mat-icon fontIcon="fa-calendar-o"></mat-icon
          >{{ changelog?.published_at | date }}</span
        >
        <span class="meta-info"
          ><mat-icon fontIcon="fa-tag"></mat-icon
          >{{ changelog?.tag_name }}</span
        >
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <markdown [data]="changelog?.body"></markdown>
    </mat-card-content>

    <mat-card-actions *ngIf="showAdvancedDetails">
      <button mat-stroked-button>
        <a [href]="'https://www.github.com'" target="_blank"
           i18n="Show more information about a change that was made to the app"
          >More Information</a
        >
      </button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions class="general-actions">
  <button mat-raised-button (click)="loadPreviousRelease()" i18n>
    Show previous changes
  </button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" i18n="Generic close button">
    Close
  </button>
</mat-dialog-actions>
