<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<h1 mat-dialog-title>Latest Changes</h1>

<mat-dialog-content #changelogContainer>
  <div *ngFor="let changelog of changelogs" class="changelog-entry-container">
    <h2>{{ changelog?.name || noChangelogAvailable }}</h2>
    <div class="padding-bottom-regular">
      <span
        ><fa-icon icon="calendar-alt"></fa-icon>
        {{ changelog?.published_at | date }}</span
      >
      <span class="padding-left-small"
        ><fa-icon icon="tag"></fa-icon> {{ changelog?.tag_name }}</span
      >
    </div>
    <markdown [data]="changelog?.body"></markdown>
    <a
      *ngIf="showAdvancedDetails"
      mat-stroked-button
      [href]="'https://www.github.com'"
      target="_blank"
      i18n="Show more information about a change that was made to the app"
    >
      More Information
    </a>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="flex-row gap-regular flex-wrap">
  <button mat-stroked-button (click)="loadPreviousRelease()" i18n>
    Show previous changes
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    i18n="Generic close button"
    class="remove-margin-left"
  >
    Close
  </button>
</mat-dialog-actions>
