.configure-button {
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.inherited-field-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hint-text {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.25rem;
}
