<app-dashboard-list-widget
  icon="exclamation-triangle"
  theme="attendance"
  [subtitle]="label"
  explanation="Cases absent multiple times in the given week"
  i18n-explanation="Dashboard attendance component explanation tooltip"
  [entries]="entries"
>
  <div class="table-wrapper">
    <table mat-table i18n-aria-label aria-label="cases absent multiple times">
      <!-- Table header only for assistive technologies like screen readers -->
      <tr hidden="true">
        <th scope="col" i18n="The participant of a group, e.g. a school">
          Participant
        </th>
        <th scope="col" i18n="The attendance of a participant, e.g. a student">
          Attendance
        </th>
      </tr>
      <ng-container matColumnDef="participant">
        <td *matCellDef="let rowGroup">
          <app-entity-block
            [entityId]="rowGroup[0].participantId"
          ></app-entity-block>
        </td>
      </ng-container>

      <ng-container matColumnDef="attendance">
        <td *matCellDef="let rowGroup">
          @for (activityRecord of rowGroup; track $index) {
            <div class="activities-record">
              @for (day of activityRecord.attendanceDays; track $index) {
                <app-attendance-day-block
                  [attendance]="day"
                ></app-attendance-day-block>
              }
            </div>
          }
        </td>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let row; columns: ['participant', 'attendance']"
      ></tr>
    </table>

    @if (entries?.length === 0) {
      <div
        i18n="Placeholder if no absences are visible in dashboar"
        class="headline"
      >
        no absences recorded
      </div>
    }
  </div>
</app-dashboard-list-widget>
