<h2 i18n>Select Import Target Type</h2>
<p i18n>
  What type of records should your imported data become in the system? Select
  the target "Entity Type" here. In the next step you can map your imported data
  to that type's fields.
</p>

<mat-form-field>
  <mat-label i18n>Import as</mat-label>
  <mat-select
    [(value)]="entityType"
    (selectionChange)="entityTypeChange.emit($event.value)"
  >
    <mat-option
      *ngFor="let entity of entityTypes | keyvalue"
      [value]="entity.key"
    >
      {{ entity.value.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
