
<button *ngIf="showPWAInstallButton"
    mat-button
    routerLink="user"
    class="user-nav-button user-nav-button-first"
    id="PWAInstallButton"
    style='background-color: #ff9800'
    fxFlex
    (click)="pwaInstallButtonClicked()"
    >
    <fa-icon icon="cloud-download-alt" class="nav-icon"></fa-icon>
    {{ pwaInstallButtonText }}
</button>

<ng-template #iOSInstallInstructions>
    <ng-container i18n="PWA iOS Install Instractions - Line 1">To install the app</ng-container>
    <button mat-button style='position:absolute; right:-10px; top:0px' (click)="snackBar.dismiss()">
        <fa-icon icon="window-close" class="nav-icon"></fa-icon>
    </button>
    <ol>
        <li>
            <ng-container i18n="PWA iOS Install Instractions - Line 2-1">tap on </ng-container>
            <fa-icon icon="share-square" class="nav-icon"></fa-icon> 
            <ng-container i18n="PWA iOS Install Instractions - Line 2-2">at the bottom</ng-container></li>
        <li>
            <ng-container i18n="PWA iOS Install Instractions - Line 3-1">and then tap on </ng-container>
            <fa-icon icon="plus-square" class="nav-icon"></fa-icon>
            <ng-container i18n="PWA iOS Install Instractions - Line 3-2">(Add to Homescreen).</ng-container>
        </li>
    </ol>
</ng-template>

<!-- <ng-template #PWAAlreadyInstalled>
    The Aam Digital app is already installed.
    <button mat-button style='position:absolute; right:-10px; top:0px' (click)="snackBar.dismiss()">
        <fa-icon icon="window-close" class="nav-icon"></fa-icon>
    </button>
    <br>
    Open it directly from your operating system.
</ng-template> -->