
<button *ngIf="showPWAInstallButton"
    mat-button
    routerLink="user"
    i18n="Install the app on the device"
    class="user-nav-button user-nav-button-first"
    id="PWAInstallButton"
    style='background-color: #ff9800'
    fxFlex
    (click)="pwaInstallButtonClicked()"
    >
    <fa-icon icon="cloud-download-alt" class="nav-icon"></fa-icon>
    {{ pwaInstallButtonText }}
</button>

<ng-template #iOSInstallInstructions>
    To install the app
    <button mat-button style='position:absolute; right:-10px; top:0px' (click)="snackBar.dismiss()">
        <fa-icon icon="window-close" class="nav-icon"></fa-icon>
    </button>
    <ol>
        <li>tap on <fa-icon icon="share-square" class="nav-icon"></fa-icon> at the bottom</li>
        <li>and then tap on <fa-icon icon="plus-square" class="nav-icon"></fa-icon> (Add to Homescreen).</li>
    </ol>
</ng-template>

<ng-template #pwaAlreadyInstalled>
    The Aam Digital app is already installed.
    <button mat-button style='position:absolute; right:-10px; top:0px' (click)="snackBar.dismiss()">
        <fa-icon icon="window-close" class="nav-icon"></fa-icon>
    </button>
    <br>
    Open it directly from your operating system.
</ng-template>