<div class="menu-item-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label i18n>Label</mat-label>
    <input matInput [(ngModel)]="item.label" (ngModelChange)="onChange()" />
  </mat-form-field>

  <app-admin-icon-input [(icon)]="item.icon"></app-admin-icon-input>

  <div class="flex-row align-center gap-small">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label i18n>Link</mat-label>
      @if (linkOptions?.length && !customLinkMode) {
        <mat-select [(ngModel)]="item.link" (ngModelChange)="onChange()">
          @for (option of linkOptions; track option.value) {
            <mat-option [value]="option.value">
              {{ option.label }}
            </mat-option>
          }
        </mat-select>
      } @else {
        <input matInput [(ngModel)]="item.link" (ngModelChange)="onChange()" />
      }
      @if (customLinkMode) {
        <mat-hint align="start" i18n>
          You can edit the link to create a new quick access shortcut. To create
          a new shortcut link, open Aam Digital in a new tab, go to the desired
          entity, copy everything after ‘https://demo.aam-digital.com/’, and
          paste it here to create your shortcut.
        </mat-hint>
      }
    </mat-form-field>
    <button
      mat-icon-button
      matTooltip="Switch to {{
        customLinkMode ? 'select' : 'custom link'
      }} mode"
      i18n-matTooltip
      (click)="toggleCustomLinkMode()"
      class="margin-left-small"
    >
      <fa-icon [icon]="customLinkMode ? 'list' : 'edit'"></fa-icon>
    </button>
  </div>
</div>
