<div style="padding: 16px">
  <div style="margin-bottom: 32px">
    <p i18n>
      You can create some quick access links to your most-used features.
    </p>
    <h3 i18n>Shortcuts</h3>
    @for (shortcut of localConfig.shortcuts; track $index; let i = $index) {
      <div class="shortcut-item">
        <h4 i18n>Shortcut {{ i + 1 }}</h4>
        <app-menu-item-form
          [item]="shortcut"
          (itemChange)="onShortcutItemChange($event, i)"
          [linkOptions]="availableRoutes"
        ></app-menu-item-form>
      </div>
    }
  </div>
</div>
