@use "../../../../core/dashboard/dashboard-widget-base";

.day-box {
  display: table;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

.attendance-week-table {
  border-spacing: 0;
  width: 100%;
}

.activities-record {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
