.dashboard-table-row {
  border-top: 1px solid black;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.dashboard-table-first-cell {
  white-space: nowrap;
  overflow: hidden;
}
.dashboard-table-last-cell {
  width: 103px;
  text-align: right;
}
.dashboard-table-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}

.attendance-day {
  width: 10px;
}

.day-box {
  display: table;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

.attendance-week-table {
  border-spacing: 0;
  padding-right: 10px;
}
