@use "../../../../core/dashboard/dashboard-widget-base";

.day-box {
  display: table;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

.attendance-week-table {
  border-spacing: 0;
  width: 100%;
}

.table-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.activities-record {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.mat-table {
  background: none;
  width: 100%;
  border-collapse: collapse;
}

.mat-table tr:first-child {
  border-top: none;
}

.headline {
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
