<mat-card class="dashboard-widget">
  <mat-card-header class="app-attendance">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-exclamation-triangle"></mat-icon>
    </div>
    <mat-card-title>{{ dashboardRowGroups?.length }}</mat-card-title>
    <mat-card-subtitle
      i18n="Dashbord attendance component subtitle"
      >Students more than one day absent
      <em>{{ periodLabel }}</em></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <table class="dashboard-table">
      <tr
        *ngFor="
          let rowGroup of dashboardRowGroups;
          trackBy: recordTrackByFunction;
          let i = index
        "
        class="dashboard-table-row w-WARNING"
        (click)="goToChild(rowGroup[0].childId)"
        style="cursor: pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_attendance_warnings_list_link"
        [angularticsLabel]="'list-entry-' + i"
      >
        <td class="dashboard-table-first-cell dashboard-table-cell">
          <app-child-block [entityId]="rowGroup[0].childId"></app-child-block>
        </td>
        <td class="dashboard-table-last-cell dashboard-table-cell">
          <table class="attendance-week-table">
            <tr *ngFor="let activityRecord of rowGroup">
              <td *ngFor="let day of activityRecord.attendanceDays">
                <app-attendance-day-block [attendance]="day">
                </app-attendance-day-block>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
