<app-dashboard-widget
  icon="exclamation-triangle"
  theme="attendance"
  [title]="dashboardRowGroups?.length"
  subtitle="Students more than one day absent {{ periodLabel }}"
  i18n-subtitle="Dashboard attendance component subtitle"
>
  <app-widget-content>
    <table>
      <tr
        *ngFor="
          let rowGroup of dashboardRowGroups;
          trackBy: recordTrackByFunction;
          let i = index
        "
        class="dashboard-table-row w-WARNING"
        (click)="goToChild(rowGroup[0].childId)"
        style="cursor: pointer"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="dashboard_attendance_warnings_list_link"
        [angularticsLabel]="'list-entry-' + i"
      >
        <td class="dashboard-table-first-cell dashboard-table-cell">
          <app-child-block [entityId]="rowGroup[0].childId"></app-child-block>
        </td>
        <td class="dashboard-table-last-cell dashboard-table-cell">
          <table class="attendance-week-table">
            <tr *ngFor="let activityRecord of rowGroup">
              <td *ngFor="let day of activityRecord.attendanceDays">
                <app-attendance-day-block [attendance]="day">
                </app-attendance-day-block>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </app-widget-content>
</app-dashboard-widget>
