@use "src/styles/variables/sizes";
@use "@angular/material" as mat;

.hint-badge {
  background-color: mat.get-color-from-palette(mat.$light-theme-background-palette, status-bar);
  padding: sizes.$small;
  margin-bottom: sizes.$regular;
  border-radius: 100vmax;
  width: max-content;
}
