<input
  type="file"
  style="display: none"
  (change)="onFileSelected($event.target['files'][0])"
  accept="image/*"
  #fileUpload
/>

<mat-form-field
  floatLabel="always"
  [class.form-field-disabled]="!formControl.enabled"
>
  <mat-label>{{ label }}</mat-label>

  <img
    [src]="imgPath"
    alt="profile photo"
    class="image"
    (click)="openPopup()"
  />
  <input matInput readonly style="display: none" [formControl]="formControl" />

  <!-- edit mode -->
  <button
    *ngIf="formControl.value && formControl.enabled"
    type="button"
    mat-icon-button
    (click)="delete()"
    i18n-mattooltip="Tooltip remove file"
    matTooltip="Remove file"
  >
    <fa-icon icon="xmark"></fa-icon>
  </button>
  <button
    *ngIf="formControl.enabled"
    type="button"
    mat-icon-button
    (click)="fileUpload.click()"
    i18n-matTooltip="Tooltip upload file button"
    matTooltip="Upload file"
  >
    <fa-icon icon="upload"></fa-icon>
  </button>

  <mat-error>
    <app-error-hint [form]="formControl"></app-error-hint>
  </mat-error>
</mat-form-field>
