.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background: lightgrey;
  display: block;
}

:host .form-field-disabled ::ng-deep .mat-mdc-text-field-wrapper {
  // hide form-field bottom line if not in edit mode
  --mdc-filled-text-field-active-indicator-height: 0;
}
