<form class="validator-form-cell" [formGroup]="form">
  <mat-tab-group formGroupName="validatorForm">
    <mat-form-field>
      <mat-label i18n>Minimum Value</mat-label>
      <input formControlName="min" matInput type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Maximum Value</mat-label>
      <input formControlName="max" matInput type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Regex Pattern</mat-label>
      <input formControlName="regex" matInput />
    </mat-form-field>
    <mat-checkbox i18n formControlName="required"> Is Required? </mat-checkbox>
    <mat-checkbox i18n formControlName="validEmail">
      Is Valid Email?
    </mat-checkbox>
    <mat-checkbox i18n formControlName="uniqueId"> Unique Id </mat-checkbox>
  </mat-tab-group>
</form>
