<form class="validator-form-cell flex-column" [formGroup]="validatorForm">
  <ng-container *ngIf="entitySchemaField.dataType === 'number'">
    <mat-form-field class="number-field">
      <mat-label i18n>Minimum Value</mat-label>
      <input formControlName="min" matInput type="number" />
    </mat-form-field>

    <mat-form-field class="number-field">
      <mat-label i18n>Maximum Value</mat-label>
      <input formControlName="max" matInput type="number" />
    </mat-form-field>
  </ng-container>

  <!-- TODO: requires transformation of value to { pattern: string, message: string } before saving
    <mat-form-field *ngIf="entitySchemaField.dataType === 'string'">
      <mat-label i18n>Pattern (Regex)</mat-label>
      <input formControlName="regex" matInput />
      <app-help-button
        matSuffix
        text="Define a format (-> regular expression) that text values have to match to be valid."
        i18n-text
      ></app-help-button>
    </mat-form-field>
    -->

  <div>
    <mat-checkbox i18n formControlName="required">
      Required Field
    </mat-checkbox>
    <app-help-button
      text="Users always must provide a value in this field"
      i18n-text
    ></app-help-button>
  </div>

  <div>
    <mat-checkbox i18n formControlName="uniqueId">
      Unique ID [experimental]</mat-checkbox
    >
    <app-help-button
      text="Ensures the value is not used as an ID for another existing record already. (Experimental Feature: Does not support advanced edge cases)"
      i18n-text
    ></app-help-button>
  </div>

  <div *ngIf="entitySchemaField.dataType === 'string'">
    <mat-checkbox i18n formControlName="validEmail">
      Valid Email Format
    </mat-checkbox>
    <app-help-button
      text="Users must enter a text that can be used as an email."
      i18n-text
    ></app-help-button>
  </div>
</form>
