<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <h1>{{ entity.subject }}</h1>

  <div class="margin-bottom-large">
    <app-todo-completion
      [entity]="entity"
      *ngIf="entity.isNew"
      mat-dialog-close
    ></app-todo-completion>
  </div>

  <app-entity-form
    [entity]="entity"
    [editing]="true"
    [columns]="formColumns"
    [noButtons]="true"
  ></app-entity-form>
</mat-dialog-content>

<mat-dialog-actions class="gap-regular">
  <button
    mat-raised-button
    (click)="save()"
    [disabled]="formPristine"
    i18n="Save button for forms"
  >
    Save
  </button>

  <button mat-raised-button mat-dialog-close>
    <span *ngIf="!formPristine" i18n="Cancel button for forms">Cancel</span>
    <span *ngIf="formPristine" i18n="Close button for unchanged forms"
      >Close</span
    >
  </button>

  <!--
  <button
    *ngIf="editMode === 'update'"
    mat-icon-button
    [matMenuTriggerFor]="additional"
  >
    <fa-icon icon="ellipsis-v" class="standard-icon"></fa-icon>
  </button>
  <mat-menu #additional>
    <button
      mat-menu-item
      (click)="delete()"
      *appDisabledEntityOperation="{
        operation: 'delete',
        entity: data.entity
      }"
      angulartics2On="click"
      [angularticsCategory]="data.entity.getType()"
      angularticsAction="entity_delete"
    >
      <fa-icon
        class="standard-icon-with-text color-accent"
        aria-label="remove element"
        icon="trash"
      ></fa-icon>
      <span i18n="Generic delete button"> Delete </span>
    </button>
  </mat-menu>
  -->
</mat-dialog-actions>
