<div mat-dialog-title>
  <div class="flex-row gap-regular">
    <h1 class="flex-grow">
      <span *ngIf="!entity.isNew">{{ entity.subject }}</span>
      <span
        *ngIf="entity.isNew"
        i18n="Todo details heading for new record"
        class="heading-new"
      >
        Creating new item
      </span>
    </h1>

    <app-todo-completion
      [entity]="entity"
      (complete)="completeTodo()"
      (uncomplete)="uncompleteTodo()"
      *ngIf="!entity.isNew"
    ></app-todo-completion>
  </div>

  <app-dialog-close mat-dialog-close=""></app-dialog-close>
</div>

<mat-dialog-content>
  <app-entity-form
    [entity]="entity"
    [columns]="formColumns"
    [form]="form"
  ></app-entity-form>
</mat-dialog-content>

<mat-dialog-actions class="gap-regular">
  <!-- TODO: move these form actions into a reusable component (taking the entity + form as input)? -->
  <button mat-raised-button color="accent" (click)="save()" i18n="Save button for forms">
    Save
  </button>

  <button mat-stroked-button i18n="Cancel button for forms" mat-dialog-close="">
    Cancel
  </button>

  <button
    *ngIf="!entity.isNew"
    mat-icon-button
    [matMenuTriggerFor]="additional"
  >
    <fa-icon icon="ellipsis-v" class="standard-icon"></fa-icon>
  </button>
  <mat-menu #additional>
    <button
      mat-menu-item
      (click)="delete()"
      *appDisabledEntityOperation="{
        operation: 'delete',
        entity: entity
      }"
      angulartics2On="click"
      [angularticsCategory]="entity.getType()"
      angularticsAction="entity_delete"
    >
      <fa-icon
        class="standard-icon-with-text color-accent"
        aria-label="remove element"
        icon="trash"
      ></fa-icon>
      <span i18n="Generic delete button"> Delete </span>
    </button>
  </mat-menu>
</mat-dialog-actions>
