.mapping-table {
  width: 100%;
}

.mapping-table th {
  text-align: left;
}

.first-column {
  width: 40%;
  max-width: 400px;
  padding-right: 20px
}

:host ::ng-deep mat-form-field {
  width: 100%;
}
