<mat-dialog-content>
  <app-hint-box i18n
    >For each unique value from your imported data (left), select the category
    value from the system's data structure into which it will be transformed.
    The values you do not assign here will be ignored (remain empty) during
    import.</app-hint-box
  >

  <table class="mapping-table">
    <tr>
      <th i18n="Import mapping header" class="first-column">Imported values</th>
      <th i18n="Import mapping header">Assigned values</th>
    </tr>
    @for (ctrl of form.controls | keyvalue; track ctrl) {
      <tr>
        <td class="first-column">{{ ctrl.key }}:</td>
        <td>
          <mat-form-field>
            <app-dynamic-edit
              [formControl]="$any(ctrl.value)"
              [formFieldConfig]="{
                id: ctrl.key,
                editComponent: component,
                dataType: schema.dataType,
                additional: schema.additional,
                label: ctrl.key,
              }"
            ></app-dynamic-edit>
          </mat-form-field>
        </td>
      </tr>
    }
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="save()" i18n>
    Save & Close
  </button>
  <button mat-stroked-button matDialogClose i18n>Cancel</button>
</mat-dialog-actions>
