<div fxHide.xs="true" fxHide="false">
  <mat-form-field fxFill class="search-field">
    <span matPrefix><mat-icon class="search-icon" fontIcon="fa-search"></mat-icon>&nbsp;</span>
    <input matInput (input)="search()" title="Search" [matAutocomplete]="autoResults" [(ngModel)]="searchText">
  </mat-form-field>

  <mat-autocomplete #autoResults="matAutocomplete" (optionSelected)="clickOption($event.option)">
    <mat-option *ngFor="let res of results" [value]="''">
      <app-child-block *ngIf="res.getType()==='Child'" [entity]="res" [ngClass]="{'result-inactive': !res.isActive()}"></app-child-block>
      <app-school-block *ngIf="res.getType()==='School'" [entity]="res"></app-school-block>
      <app-search-information *ngIf="res.getType()==='SearchInformation'" [entity]="res"></app-search-information>
    </mat-option>
  </mat-autocomplete>
</div>

<button mat-icon-button fxHide.xs="false" fxHide="true" (click)="toggleSearchToolbar()">
  <mat-icon class="header-icon" fontIcon="fa-search"></mat-icon>
</button>

<mat-toolbar *ngIf="showSearchToolbar" class="search-header mat-elevation-z7 mat-typography">
  <mat-toolbar-row fxLayout="row">
    <input #searchInput fxFlex="grow" matInput (input)="search()" title="Search" [matAutocomplete]="autoResults" [(ngModel)]="searchText">
    {{searchInput.focus()}}
    <button mat-icon-button (click)="toggleSearchToolbar()"><mat-icon class="search-icon" fontIcon="fa-times"></mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
