<div class="desktop-search-bar" fxHide.xs="true" fxHide="false">
  <mat-form-field fxFill class="search-field" floatLabel="never">
    <span matPrefix>
      <mat-icon matPrefix class="search-icon" fontIcon="fa-search"></mat-icon>
    </span>
    <mat-label i18n="Search label">Search</mat-label>
    <input
      matInput
      title="Search"
      [matAutocomplete]="autoResults"
      [(ngModel)]="searchText"
      (ngModelChange)="searchStringChanged.next($event)"
      #searchInput
    />
  </mat-form-field>

  <mat-autocomplete
    #autoResults="matAutocomplete"
    (optionSelected)="clickOption($event.option)"
  >
    <mat-option
      class="result-hint"
      *ngIf="
        searchInput.value.length > 0 &&
        searchInput.value.length < MIN_CHARACTERS_FOR_SEARCH
      "
    >
      <p>Insert at least {{ MIN_CHARACTERS_FOR_SEARCH }} characters</p>
    </mat-option>

    <mat-option
      class="result-hint"
      *ngIf="
        results.length === 0 &&
        searchInput.value.length >= MIN_CHARACTERS_FOR_SEARCH &&
        !isSearching
      "
    >
      <p>There were no results</p>
    </mat-option>

    <mat-option class="result-hint" *ngIf="isSearching">
      <p>Search in progress...</p>
    </mat-option>

    <mat-option *ngFor="let res of results" [value]="res">
      <app-child-block
        *ngIf="res.getType() === 'Child'"
        [entity]="res"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="search_result_list_link"
        [angularticsLabel]="'search-result-type-child'"
      ></app-child-block>
      <app-school-block
        *ngIf="res.getType() === 'School'"
        [entity]="res"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="search_result_list_link"
        [angularticsLabel]="'search-result-type-school'"
      ></app-school-block>
    </mat-option>
  </mat-autocomplete>
</div>

<button
  mat-icon-button
  fxHide.xs="false"
  fxHide="true"
  (click)="toggleSearchToolbar()"
>
  <mat-icon class="header-icon" fontIcon="fa-search"></mat-icon>
</button>

<mat-toolbar
  *ngIf="showSearchToolbar"
  class="search-header mat-elevation-z2 mat-typography"
>
  <mat-toolbar-row fxLayout="row">
    <span matPrefix>
      <mat-icon class="search-icon" fontIcon="fa-search"></mat-icon>
    </span>
    <input
      #searchInput
      fxFlex="grow"
      matInput
      title="Search"
      [matAutocomplete]="autoResults"
      [(ngModel)]="searchText"
      (ngModelChange)="searchStringChanged.next($event)"
    />
    {{ searchInput.focus() }}
    <button mat-icon-button (click)="toggleSearchToolbar()">
      <mat-icon class="search-icon" fontIcon="fa-times"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
