<div class="white mat-subtitle-2 remove-margin-bottom">
  @if (mobile && !searchActive) {
    <button
      mat-icon-button
      matTooltip="Search"
      i18n-matTooltip="search toolbar icon tooltip"
      (click)="toggleSearch()"
    >
      <fa-icon icon="search"></fa-icon>
    </button>
  } @else {
    <mat-form-field
      class="full-width searchbar"
      [class.mobile-search-wrapper]="mobile"
    >
      <fa-icon
        matIconPrefix
        class="padding-right-small"
        icon="search"
      ></fa-icon>

      <input
        #searchInput
        matInput
        class="full-width search-input"
        title="Search"
        i18n-placeholder="Search label"
        placeholder="Search"
        [formControl]="formControl"
        [matAutocomplete]="autoResults"
        (blur)="onFocusOut()"
      />

      @if (mobile) {
        <button mat-icon-button matSuffix (click)="toggleSearch()">
          <fa-icon icon="times"></fa-icon>
        </button>
      }
    </mat-form-field>
  }
</div>

<mat-autocomplete
  #autoResults="matAutocomplete"
  (optionSelected)="clickOption($event.option)"
>
  @switch (state) {
    @case (TOO_FEW_CHARACTERS) {
      <mat-option class="result-hint" [disabled]="true">
        <p
          i18n="The user has inserted too few characters to start a search"
          class="remove-margin-bottom"
        >
          Insert at least {{ MIN_CHARACTERS_FOR_SEARCH }} characters
        </p>
      </mat-option>
    }

    @case (SEARCH_IN_PROGRESS) {
      <mat-option class="result-hint" [disabled]="true">
        <p i18n="A search is in progress" class="remove-margin-bottom">
          Search in progress...
        </p>
      </mat-option>
    }

    @case (NO_RESULTS) {
      <mat-option class="result-hint" [disabled]="true">
        <p i18n="No search results are available" class="remove-margin-bottom">
          There were no results
        </p>
      </mat-option>
    }

    @default {
      @for (res of results | async; track res) {
        <mat-option [value]="res">
          <app-entity-block [entity]="res"></app-entity-block>
        </mat-option>
      }
    }
  }
</mat-autocomplete>
