@use "src/styles/variables/colors";
@use "@angular/material/core/style/elevation" as mat-elevation;

:host {
  background-color: colors.$background-neutral;
  border-radius: 4px;
  border: 1px solid colors.$border-color;
  transform-origin: center 0;
  display: block;
  @include mat-elevation.elevation(3);
}
