<div class="conditional-color-config">
  <div class="flex-row gap-regular align-center">
    <app-color-input
      [color]="staticColor"
      (colorChange)="onStaticColorChange($event)"
    ></app-color-input>

    @if (isConditionalMode) {
      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="removeConditionalMode()"
      >
        <span i18n>Remove conditional colors</span>
      </button>
    } @else {
      <button mat-stroked-button type="button" (click)="addConditionalMode()">
        <span i18n>Add conditional colors</span>
      </button>
    }
  </div>

  @if (isConditionalMode) {
    <div class="conditional-sections flex-column gap-regular padding-regular">
      <!-- Each Conditional Color Section -->
      @for (section of conditionalColorSections; track $index) {
        <app-conditional-color-section
          [sectionIndex]="$index"
          [section]="section"
          [entityConstructor]="entityConstructor"
          [colorFieldOptions]="colorFieldOptions"
          [conditionFormFieldConfigs]="conditionFormFieldConfigs"
          [conditionFormControls]="conditionFormControls"
          (colorChange)="updateConditionalSectionColor($index, $event)"
          (deleteSection)="deleteConditionalColorSection($index)"
          (conditionAdded)="onConditionAdded($index)"
          (conditionDeleted)="onConditionDeleted($index, $event)"
          (conditionFieldChanged)="onConditionFieldChanged($index, $event.conditionIndex, $event.fieldKey)"
        ></app-conditional-color-section>
      }

      <!-- Add Another Conditional Color Button -->
      <div class="add-section-container">
        <button 
          mat-stroked-button 
          type="button" 
          (click)="addConditionalColorSection()"
          color="primary"
        >
          <fa-icon icon="palette" class="standard-icon-with-text"></fa-icon>
          <span i18n>Add Another Conditional Color</span>
        </button>

        <button
          mat-stroked-button
          type="button"
          (click)="openFullJsonEditor()"
        >
          <fa-icon icon="code" class="standard-icon-with-text"></fa-icon>
          <span i18n>Edit All Conditions JSON</span>
        </button>
      </div>
    </div>
  }
</div>