@use "src/styles/variables/sizes";
@use "src/styles/mixins/grid-layout";

$min-block-width: 250px;

.main-content {
  @include grid-layout.adaptive($min-block-width);
  margin-top: sizes.$large;
}

// Hacky way to set the width of every form field
// which are commonly found here to the maximum
:host ::ng-deep .mat-form-field {
  width: 100%;
}
