<mat-calendar
  (selectedChange)="selectDay($event)"
  [dateClass]="highlightDate"
  [minDate]="minDate"
  [maxDate]="maxDate"
>
</mat-calendar>

<div *ngIf="selectedDate" class="form">
  <h3 class="selected-title">{{ selectedDate.toDate() | date }}</h3>

  <button mat-icon-button class="form-close" (click)="selectDay()">
    <span class="fa fa-times"></span>
  </button>

  <div *ngIf="selectedEvent && highlightForChild">
    <div>
      <app-attendance-status-select
        [(value)]="selectedEventAttendance.status"
        (valueChange)="save()"
      >
      </app-attendance-status-select>
    </div>

    <div>
      <mat-form-field style="width: 100%">
        <textarea
          matInput
          placeholder="Remarks"
          [(ngModel)]="selectedEventAttendance.remarks"
          (blur)="save()"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="selectedEvent && !highlightForChild">
    <div *ngIf="!hasAverage">
      All excused (out of {{ selectedEvent.children.length }} participants)
    </div>
    <div *ngIf="hasAverage">
      {{ selectedEventStats.average | percent: "1.0-0" }} attended (of {{
      selectedEventStats.counted }} participants)
    </div>
    <div
      *ngIf="selectedEventStats.excludedUnknown > 0"
      class="unknown-status-notice"
    >
      {{ selectedEventStats.excludedUnknown }} participants without recorded
      status
    </div>
    <button mat-stroked-button (click)="showEventDetails(selectedEvent)">
      Details
    </button>
  </div>

  <div *ngIf="!selectedEvent" class="no-events-notice">
    <p>no events on this date</p>
    <button (click)="createNewEvent()" mat-stroked-button>Add new event</button>
  </div>
</div>
