<mat-calendar
  (selectedChange)="selectDay($event)"
  [dateClass]="highlightDate"
  [minDate]="minDate"
  [maxDate]="maxDate"
>
</mat-calendar>

<div *ngIf="selectedDate" class="form">
  <h3 class="selected-title">
    {{ selectedDate.toDate() | date }}
  </h3>

  <button mat-icon-button class="form-close" (click)="selectDay()">
    <span class="fa fa-times"></span>
  </button>

  <div *ngIf="selectedEvent && highlightForChild">
    <div>
      <app-attendance-status-select
        [(value)]="selectedEventAttendance.status"
        (valueChange)="save()"
      >
      </app-attendance-status-select>
    </div>

    <div>
      <mat-form-field style="width: 100%">
        <textarea
          matInput
          i18n-placeholder="Remarks|Placeholder if no remarks for the attendance of a child are given"
          placeholder="Remarks"
          [(ngModel)]="selectedEventAttendance.remarks"
          (blur)="save()"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="selectedEvent && !highlightForChild">
    <div
      *ngIf="!selectedEventStats.average"
      i18n="Event participants|How many participants attended at an event (in percent)">
      All excused (out of {{selectedEvent.children.length}}
      { selectedEvent.children.length, plural, one {participant} other {participants} })
    </div>
    <div *ngIf="selectedEventStats.average">
      {{ selectedEventStats.average | percent: "1.0-0" }} attended (of
      {{ selectedEvent.children.length }}
      { selectedEvent.children.length, plural, one {participant} other {participants} })
    </div>
    <div
      *ngIf="selectedEventStats.excludedUnknown > 0"
      i18n="Unknown status|How many children are without a status"
      class="unknown-status-notice"
    >
      {{ selectedEventStats.excludedUnknown }}
      { selectedEventStats.excludedUnknown, plural, one {participant} other {participants} } without recorded
      status
    </div>
    <button
      i18n="Show Details Button|Allows the user to see details of an event that took place at a particular day"
      mat-stroked-button
      (click)="showEventDetails(selectedEvent)">
      Details
    </button>
  </div>

  <div
    i18n="No Events|Informs the user that there are no events at a particular date"
    *ngIf="!selectedEvent"
    class="no-events-notice">
    no events on this date
  </div>
</div>
