@use "src/styles/variables/colors";

mat-calendar {
  min-width: 200px;
  max-width: 300px;
}

.unknown-status-notice {
  font-style: italic;
  color: colors.$error;
}

.attendance-calendar-date-general {
  border: 2px solid transparent;
}

.attendance-calendar-date-selected {
  font-weight: 900;
  font-size: 115%;
}

.attendance-calendar-date-has-remarks {
  background: linear-gradient(
    45deg,
    transparent 0%,
    transparent 85%,
    #5f5f5f 85%,
    #5f5f5f 100%
  );
}

.attendance-calendar-date-has-participants-with-unknown-status {
  background: linear-gradient(
    45deg,
    transparent 0%,
    transparent 85%,
    red 85%,
    red 100%
  );
}

.attendance-calendar-details-form {
  padding: 10px;
  max-width: 300px;
  position: relative;

  border: 5px solid black;
  box-sizing: border-box;
}

.form-close {
  position: absolute;
  top: 0;
  right: 0;
}
