<h2 i18n>Matching View Settings</h2>
<form [formGroup]="form">
  <mat-expansion-panel class="padding-regular">
    <mat-expansion-panel-header style="height: fit-content">
      <div
        class="flex-row align-baseline gap-regular margin-right-large full-width"
      >
        <p i18n>
          Configure how entities should be matched— for example, defining which
          fields from a School Enrollment record (like Child and School) are
          used to detect relationships. Current matching entity type:
          <strong>{{ form.value.newEntityType }}</strong>
        </p>
      </div>
    </mat-expansion-panel-header>

    <div class="flex-column gap-regular">
      <div class="flex-row">
        <mat-form-field class="full-width">
          <mat-label i18n>Show Matching View for:</mat-label>
          <mat-select
            formControlName="newEntityType"
            (selectionChange)="onEntityTypeChange($event.value)"
          >
            @for (
              relatedEntity of availableRelatedEntities;
              track relatedEntity
            ) {
              <mat-option [value]="relatedEntity.entityType">
                {{ relatedEntity.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <app-help-button
          text="Choose the entity to show matching view for"
          i18n-text
        ></app-help-button>
      </div>

      <div class="flex-row gap-regular margin-top-regular">
        <mat-form-field class="full-width">
          <mat-label i18n>Left Match Property</mat-label>
          <app-entity-field-select
            [entityType]="entityConstructor"
            formControlName="newEntityMatchPropertyLeft"
            [hideOption]="hideLeftOption"
          ></app-entity-field-select>
        </mat-form-field>
        <app-help-button
          i18n-text
          text="Select the field from the entity that will be used as the left-side key in matching comparison."
        ></app-help-button>
        <mat-form-field class="full-width">
          <mat-label i18n>Right Match Property</mat-label>
          <app-entity-field-select
            [entityType]="entityConstructor"
            formControlName="newEntityMatchPropertyRight"
            [hideOption]="hideRightOption"
          ></app-entity-field-select>
        </mat-form-field>
        <app-help-button
          i18n-text
          text="Select the field from the entity that will be used as the right-side key in matching comparison."
        ></app-help-button>
      </div>

      <h4>Available columns</h4>
      <app-admin-list-manager
        [entityType]="entityConstructor"
        [items]="activeFields"
        [activeFields]="activeFields"
        fieldLabel="Add columns:"
        i18n-fieldLabel
        (itemsChange)="activeFields = $event"
      ></app-admin-list-manager>
    </div>
  </mat-expansion-panel>
</form>
