<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="full-width"
  i18n-aria-label="Label for table showing report result"
  aria-label="Table showing the report results"
>
  <ng-container *ngFor="let col of columns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
    <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[10, 50, 100]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
