/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */
@use "../themes/ndb-theme" as theme;
@use "~@angular/material/theming" as *;

$err-palette            : mat-palette($mat-red);
$warn-palette           : mat-palette($mat-orange);
$success-palette        : mat-palette($mat-green);

$warning-ok             : #90ee90;
$warning-warning        : #ffa500;
$warning-urgent         : #fd7272;

$success                : mat-color($success-palette);
$warn                   : mat-color($warn-palette);
$error                  : mat-color($err-palette);
