/*
 The main light theme for the application
 */
@use "@angular/material" as mat;
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$primary-palette: (
        50: var(--primary-50, #fff3e0),
        100: var(--primary-100, #ffe0b2),
        200: var(--primary-200, #ffcc80),
        300: var(--primary-300, #ffb74d),
        400: var(--primary-400, #ffa726),
        500: var(--primary-500, #ff9800),
        600: var(--primary-600, #fb8c00),
        700: var(--primary-700, #f57c00),
        800: var(--primary-800, #ef6c00),
        900: var(--primary-900, #e65100),
        A100: var(--primary-A100, #ffd180),
        A200: var(--primary-A200, #ffab40),
        A400: var(--primary-A400, #ff9100),
        A700: var(--primary-A700, #ff6d00),
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: black,
        )
);

// Define the applications theme.
$primary  : mat.define-palette($primary-palette);
$accent   : mat.define-palette(mat.$blue-palette, A200, A100, A400);
$warn     : mat.define-palette(mat.$red-palette);

$typography: mat.define-typography-config(
    $font-family: var(--font-family, sans-serif),
);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: $typography
));
