@use "sass:map";

$max-icon-width           : 22px;
$standard-icon            : 1.5em;

$standard-sizes: (
  small: 8px,
  regular: 16px,
  large: 28px
);

$small    : map-get($standard-sizes, small);
$regular  : map-get($standard-sizes, regular);
$large    : map-get($standard-sizes, large);

$margin-main-view-right   : $large;
$margin-main-view-left    : $large;
$margin-main-view-top     : $regular;
$margin-main-view-bottom  : $regular;
