.dashboard-table-additional-info-cell {
  font-size: 0.8em;

  width: 48px;
  text-align: right;
  padding: 10px;
}

.subtitle-highlight {
  font-weight: bold;
  font-style: italic;
}

.row-link {
  padding: 10px;
}

.mat-paginator {
  font-size: x-small;
  padding: 0;
}

// override material paginator
::ng-deep .mat-paginator {
  .mat-paginator-container {
    justify-content: left;
    padding: 0;
  }

  .mat-option {
    padding: 0 !important;
  }
}
