
.dashboard-table-row {
  border-top: 1px solid black;

  cursor: pointer;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.dashboard-table-first-cell {
  white-space: nowrap;
  overflow: hidden;
}
.dashboard-table-additional-info-cell {
  font-size: 0.8em;

  width: 40px;
  text-align: right;
  padding: 10px;
}

.subtitle-highlight {
  font-weight: bold;
  font-style: italic;
}

.row-link {
  padding: 10px;
}

.loading-indicator {
  position: absolute;
  right: 0;
  top: -12px;
}
