<mat-card class="dashboard-widget">
  <mat-card-header class="app-note">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-file-text-o"></mat-icon>
    </div>
    <mat-card-title style='position: relative'>
      <span *ngIf='isLoading'>
        <mat-spinner [diameter]='40' class='loading-indicator'></mat-spinner>
        &nbsp;
      </span>
      <span *ngIf='!isLoading'>
        {{ concernedChildren?.length }}
      </span>
    </mat-card-title>
    <mat-card-subtitle>
      Children
      <span class='subtitle-highlight'>without</span>
      report this week
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="dashboard-table">
      <tr *ngFor="let record of concernedChildren" class="dashboard-table-row w-WARNING"
          [routerLink]="['/child', record.getId()]">
        <td class="dashboard-table-first-cell dashboard-table-cell">
          <app-child-block [entity]="record"></app-child-block>
        </td>
        <td class='dashboard-table-additional-info-cell'>
          <span *ngIf='record.daysSinceLastNote > 0'>{{ record.daysSinceLastNote | number:'1.0-0' }} days</span>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
