
.dashboard-table-row {
  border-top: 1px solid black;

  cursor: pointer;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.dashboard-table-first-cell {
  white-space: nowrap;
  overflow: hidden;
}
.dashboard-table-additional-info-cell {
  font-size: 0.8em;

  width: 48px;
  text-align: right;
  padding: 10px;
}

.subtitle-highlight {
  font-weight: bold;
  font-style: italic;
}

.row-link {
  padding: 10px;
}

.loading-indicator {
  position: absolute;
  right: 0;
  top: -12px;
}

.mat-paginator {
  font-size: x-small;
  padding: 0;
}

.spaceBetweenFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// override material paginator
::ng-deep .mat-paginator {
  .mat-paginator-container {
      justify-content: left;
      padding: 0;
  }

  .mat-option{
    padding: 0!important;
  }

  // // override material paginator page switch
  // .mat-paginator-range-label {
  //     order: 2;

  //     padding: 0;
  // }

  // .mat-paginator-navigation-previous {
  //     order: 1;
  // }
  // .mat-paginator-navigation-next {
  //     order: 3;
  // }
}
