<mat-card class="dashboard-widget">
  <mat-card-header class="app-note">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-file-text-o"></mat-icon>
    </div>
    <mat-card-title style="position: relative">
      <span *ngIf="isLoading">
        <mat-spinner [diameter]="40" class="loading-indicator"></mat-spinner>
        &nbsp;
      </span>
      <span *ngIf="!isLoading">
        {{ concernedChildren?.length }}
      </span>
    </mat-card-title>
    <mat-card-subtitle
      i18n="Subtitle|Subtitle informing the user that these are the children without recent reports"
      [matTooltip]="tooltip"
    >
      Children
      <span class="subtitle-highlight">without</span>
      recent report
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z1 table-list">
      <table
        mat-table
        [dataSource]="childrenWithNoteInfoDataSource"
        matSort
        width="100%"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Name of a child" scope="col">Name</th>
          <td mat-cell *matCellDef="let childNoteInfo">
            <app-child-block
              [entityId]="childNoteInfo.childId"
            ></app-child-block>
          </td>
        </ng-container>
        <ng-container
          matColumnDef="daysSinceLastNote"
          i18n="Amount of days back|Format like 'Days passed > 5 days'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Days passed</th>
          <td
            mat-cell
            *matCellDef="let childNoteInfo"
            class="dashboard-table-additional-info-cell"
          >
            <span *ngIf="childNoteInfo.moreThanDaysSince">&gt;</span>
            {{ childNoteInfo.daysSinceLastNote | number: "1.0-0" }} days
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay"
          style="display: none"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let childNoteInfo;
            columns: columnsToDisplay;
            let i = index
          "
          angulartics2On="click"
          angularticsCategory="Navigation"
          angularticsAction="dashboard_no_recent_notes_link"
          [angularticsLabel]="'list-entry-' + i"
          class="dashboard-table-row w-WARNING"
        ></tr>
      </table>
      <mat-paginator
        [pageSize]="4"
        [hidePageSize]="true"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
