<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div fxLayout="row" fxLayoutAlign="space-between">
  <div>
    <h1 class="page-header section-child">
      <button
        mat-icon-button
        (click)="navigateBack()"
        matTooltip="Back"
        style="vertical-align: middle;"
      >
        <mat-icon fontIcon="fa-backward"></mat-icon>
      </button>

      <i class="fa fa-child fa-fw"></i>
      <span *ngIf="!creatingNew"
        >{{ child.name }} [{{ child.projectNumber }}]</span
      >
      <span *ngIf="creatingNew">Adding new Child</span>
    </h1>
  </div>
</div>

<mat-accordion multi="true">
  <mat-expansion-panel
    hideToggle="true"
    [expanded]="child.isActive()"
    title="Basic Information"
  >
    <mat-expansion-panel-header class="section-header">
      <mat-panel-title>
        Basic Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-basic-info [child]="child"></app-basic-info>
  </mat-expansion-panel>

  <mat-expansion-panel
    expanded="false"
    title="Education"
    [disabled]="creatingNew">
    <mat-expansion-panel-header class="section-header">
      <mat-icon fontIcon="fa-exclamation-triangle" *ngIf="creatingNew"
                class="locked-icon"
                matTooltip="Please save before entering further data"
                [matTooltipDisabled]="!creatingNew">
      </mat-icon>
      Education
    </mat-expansion-panel-header>
    <h3>School History</h3>
    <app-previous-schools [child]="child"></app-previous-schools>
    <br/>
    <h3>ASER Results</h3>
    <app-aser [child]="child"></app-aser>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false" title="Attendance"
                       [disabled]="creatingNew">
    <mat-expansion-panel-header class="section-header">
      <mat-icon fontIcon="fa-exclamation-triangle" *ngIf="creatingNew"
                class="locked-icon"
                matTooltip="Please save before entering further data"
                [matTooltipDisabled]="!creatingNew">
      </mat-icon>
      Attendance
    </mat-expansion-panel-header>
    <app-grouped-child-attendance [child]="child"></app-grouped-child-attendance>
  </mat-expansion-panel>


  <mat-expansion-panel expanded="false"
                       [disabled]="creatingNew">
    <mat-expansion-panel-header class="section-header">
      <mat-icon fontIcon="fa-exclamation-triangle" *ngIf="creatingNew"
                class="locked-icon"
                matTooltip="Please save before entering further data"
                [matTooltipDisabled]="!creatingNew">
      </mat-icon>
      Notes & Reports
    </mat-expansion-panel-header>
    <app-notes-of-child [child]="child"></app-notes-of-child>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="false"
                       [disabled]="creatingNew">
    <mat-expansion-panel-header class="section-header">
      <mat-icon fontIcon="fa-exclamation-triangle" *ngIf="creatingNew"
                class="locked-icon"
                matTooltip="Please save before entering further data"
                [matTooltipDisabled]="!creatingNew">
      </mat-icon>
      Health
    </mat-expansion-panel-header>
    <app-health-form [child]="child"></app-health-form>
    <br/>
    <h3>Height & Weight Tracking</h3>
    <app-health-checkup [child]="child"></app-health-checkup>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false"
                       [disabled]="creatingNew">
    <mat-expansion-panel-header class="section-header">
      <mat-icon fontIcon="fa-exclamation-triangle" *ngIf="creatingNew"
                class="locked-icon"
                matTooltip="Please save before entering further data"
                [matTooltipDisabled]="!creatingNew">
      </mat-icon>
      Educational Materials
    </mat-expansion-panel-header>
    <app-educational-material [child]="child"></app-educational-material>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="!child.isActive()"
                       [disabled]="creatingNew">
    <mat-expansion-panel-header class="section-header">
      <mat-icon fontIcon="fa-exclamation-triangle" *ngIf="creatingNew"
                class="locked-icon"
                matTooltip="Please save before entering further data"
                [matTooltipDisabled]="!creatingNew">
      </mat-icon>
      Dropout
    </mat-expansion-panel-header>
    <app-dropout-form [child]="child"></app-dropout-form>
  </mat-expansion-panel>
</mat-accordion>
<button
        mat-stroked-button
        class="edit-button"
        style="color: red;"
        (click)="removeChild()"
>
  Delete
</button>
