<div
  cdkDropList
  [cdkDropListOrientation]="orientation"
  [cdkDropListLockAxis]="dropLockAxis"
  (cdkDropListDropped)="drop($event)"
>
  <div class="flex-row gap-regular flex-wrap gap-large column">
    @for (item of items; track item) {
      <div cdkDrag class="drop-item">
        <ng-container
          *ngTemplateOutlet="
            itemTemplate;
            context: { $implicit: item, remove: remove.bind(this) }
          "
        ></ng-container>
      </div>
    }
  </div>
</div>

<div class="table-content-preview" *ngIf="availableItems.length > 0">
  <span class="add-label">{{ fieldLabel }}</span>
  <app-entity-fields-menu
    [entityType]="entityType"
    [availableFields]="availableItems"
    [activeFields]="items"
    (activeFieldsChange)="updateItems($event)"
  ></app-entity-fields-menu>
</div>
