@use "variables/colors";
@use "variables/sizes";

.assistant-panel-container {
  height: 100%;
}

.dialog-header-bar {
  border-top: 18px solid colors.$accent;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
  padding: sizes.$regular;
}

.full-height {
  height: 100%;
  display: block;
  overflow: hidden;
}

// disable shadow of Assistant Button in toolbar while opened dialog
::ng-deep .mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0),
  0px 24px 38px 3px rgba(0, 0, 0, 0.14),
  0px 9px 0px 0px rgba(0, 0, 0, 0.12);
}
