<mat-tab-group class="assistant-panel-container dialog-header-bar">
  @if (assistants.initDemo) {
    <mat-tab label="Initialize System" i18n-label>
      <app-system-init-assistant></app-system-init-assistant>
    </mat-tab>
  }

  @if (assistants.contextAwareGuide) {
    <mat-tab label="Guide" i18n-label>
      <app-context-aware-assistant></app-context-aware-assistant>
    </mat-tab>
  }

  @if (assistants.setupWizard) {
    <mat-tab label="Setup Wizard" i18n-label> TODO</mat-tab>
  }

  <!-- ... more modes to be added -->
</mat-tab-group>
