<div [formGroup]="formControl.parent">
  <mat-form-field style="width: 120px">
    <input
      matInput
      [formControlName]="formControlName"
      [placeholder]="label"
      [matDatepicker]="dateOfBirthDatepicker"
      #dateOfBirth
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateOfBirthDatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirthDatepicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width: 50px">
    <mat-icon
      *ngIf="formControl.enabled && tooltip"
      matSuffix
      fontIcon="fa-question-circle-o"
      matTooltip="This field is read-only. Edit Date of Birth to change age. Select Jan 1st if you only know the year of birth."
    ></mat-icon>
    <input
      [disabled]="true"
      [value]="getAge(dateOfBirth.value)"
      matInput
      placeholder="Age"
    />
  </mat-form-field>
</div>
