<div [formGroup]="formControl.parent">
  <mat-form-field style="width: 120px">
    <input
      matInput
      [formControlName]="formControlName"
      [placeholder]="label"
      [matDatepicker]="dateOfBirthDatepicker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateOfBirthDatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirthDatepicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width: 50px">
    <mat-icon
      *ngIf="formControl.enabled"
      matSuffix
      fontIcon="fa-question-circle-o"
      i18n-matTooltip="Tooltip for the disabled age field"
      matTooltip="This field is read-only. Edit Date of Birth to change age. Select Jan 1st if you only know the year of birth."
    ></mat-icon>
    <input
      matInput
      i18n-placeholder="Placeholder for the input that displays the age"
      placeholder="Age"
      [value]="getAge(formControl.value)"
      [disabled]="true"
    />
  </mat-form-field>
</div>
