<div [formGroup]="formControl.parent">
  <mat-form-field style="width: 70%">
    <input
      matInput
      [formControlName]="formControlName"
      [placeholder]="label"
      [matDatepicker]="dateOfBirthDatepicker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateOfBirthDatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirthDatepicker></mat-datepicker>
    <mat-error>
      <app-error-hint [form]="formControl"></app-error-hint>
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 30%">
    <fa-icon
      *ngIf="formControl.enabled"
      matSuffix
      icon="question-circle"
      i18n-matTooltip="Tooltip for the disabled age field"
      matTooltip="This field is read-only. Edit Date of Birth to change age. Select Jan 1st if you only know the year of birth."
    ></fa-icon>
    <input
      matInput
      i18n-placeholder="Placeholder for the input that displays the age"
      placeholder="Age"
      [value]="getAge(formControl.value)"
      [disabled]="true"
    />
    <mat-error>
      <app-error-hint [form]="formControl"></app-error-hint>
    </mat-error>
  </mat-form-field>
</div>
