@use "variables/sizes";

.dialog-container {
  padding: sizes.$regular;
}

.dialog-close {
  position: absolute;
  top: -(sizes.$small);
  right: 0;
}

.mdc-dialog__title {
  margin-top: sizes.$small;
}
.mdc-dialog__title::before {
  display: none;
}

.mdc-dialog__content {
  /* allow "almost fullscreen" sized dialogs for complex views */
  max-height: initial;
}
