<app-entity-subrecord
  [records]="records"
  [columns]="config.columns"
  [newRecordFactory]="newRecordFactory"
>
</app-entity-subrecord>

<div class="margin-top-large">
  <ng-container *ngFor="let title of summaryTitle">
    <ng-container *ngIf="title.Total">
      <span i18n="Total amount|Total amount of education material including a summary">
        <strong>Total:</strong> {{ summary }} <br>
      </span>
    </ng-container>
    <ng-container *ngIf="title.Average">
      <span i18n="Average amount|Average amount of education material including a summary">
        <strong>Average:</strong> {{ avgSummary }}
      </span>
    </ng-container>
  </ng-container>
</div>
