.hidden {
  display: none;
}

.readonlyAfterSet {
  opacity: 0.5;
}

.input-prefix-icon {
  margin-top: 12px;
  padding-right: 0.5em;
}

.allow-full-width {
  /* allow full-width mat-form-fields if that is needed in child fields like edit-public-form-columns */
  max-width: unset;
}

.required-error {
  color: red;
}
