<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<mat-tab-group appTabStateMemo>
  <mat-tab i18n-label="User-Account label" label="User Account">
    <ng-template matTabContent>
      <div class="user-profile-tab">
        <p>
          <mat-form-field>
            <input
              i18n-placeholder="Username placeholder"
              placeholder="Username"
              matInput="text"
              id="username"
              type="text"
              [value]="username"
              disabled
            />
          </mat-form-field>
        </p>
        <div
          [matTooltip]="getPasswordResetDisabledTooltip()"
          [matTooltipDisabled]="!disabledForOfflineMode && !disabledForDemoMode"
          style="width: fit-content"
        >
          <button
            mat-stroked-button
            (click)="resetPassword()"
            [disabled]="disabledForDemoMode || disabledForOfflineMode"
            i18n="Button which opens password reset page"
          >
            Change Passwort
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
