<mat-tab-group appTabStateMemo>
  <mat-tab i18n-label="User-Account label" label="User Account">
    <div
      class="min-width-1-3 margin-top-large flex-column gap-regular"
      [matTooltip]="tooltipText"
    >
      <mat-form-field class="full-width">
        <mat-label i18n>Username</mat-label>

        <input
          i18n-placeholder="Username placeholder"
          placeholder="Username"
          matInput="text"
          id="username"
          type="text"
          [value]="(sessionInfo | async)?.email"
          disabled
        />

        <mat-hint>
          {{ (sessionInfo | async)?.name }}
        </mat-hint>
      </mat-form-field>

      <app-account-page [disabled]="passwordChangeDisabled"></app-account-page>
    </div>

    <hr />

    <h2 i18n>Your profile:</h2>
    @if (currentUser | async) {
      <app-entity-block
        [entityToDisplay]="currentUser | async"
        class="entity-box"
      ></app-entity-block>
    } @else if ((sessionInfo | async)?.entityId) {
      <div i18n>
        Couldn't find the record that your user account is linked to ({{
          (sessionInfo | async)?.entityId
        }}).
      </div>
    } @else {
      <div i18n>Your user account is not linked to any record.</div>
    }
  </mat-tab>
</mat-tab-group>
