<mat-tab-group appTabStateMemo>
  <mat-tab i18n-label="User-Account label" label="User Account">
    <div
      class="min-width-1-3 margin-top-large flex-column gap-regular"
      [matTooltip]="tooltipText"
    >
      <mat-form-field class="full-width">
        <mat-label i18n>Username</mat-label>

        <input
          i18n-placeholder="Username placeholder"
          placeholder="Username"
          matInput="text"
          id="username"
          type="text"
          [value]="(sessionInfo | async)?.email"
          disabled
        />

        <mat-hint>
          {{ (sessionInfo | async)?.name }}
        </mat-hint>
      </mat-form-field>

      <app-account-page [disabled]="passwordChangeDisabled"></app-account-page>
    </div>

    <hr />

    <h2 i18n>Your profile:</h2>
    @if (currentUser | async) {
      <app-entity-block
        [entity]="currentUser | async"
        class="entity-box"
      ></app-entity-block>
    } @else if ((sessionInfo | async)?.entityId) {
      <div i18n>
        Couldn't find the record that your user account is linked to ({{
          (sessionInfo | async)?.entityId
        }}).
      </div>
    } @else {
      <div i18n>Your user account is not linked to any record.</div>
    }
  </mat-tab>

  <mat-tab
    i18n-label="Notifications settings label"
    label="Notifications settings"
  >
    <div class="notifications-container">
      <h1 class="notification-setting-title">
        <strong>Notifications settings</strong>
      </h1>
      <p>
        Aam Digital may still send you important notifications about your
        account and content outside of your preferred notification settings.
      </p>
      <div class="notification-types-container">
        <h3><strong>What notifications you receive</strong></h3>

        <!-- Dynamically Render Notification Types -->
        <ng-container *ngFor="let eventType of eventTypes">
          <div class="notification-types">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ eventType.name }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ eventType.options.join(", ") }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ eventType.description }}</p>
              <div>
                <mat-slide-toggle
                  *ngFor="let option of eventType.options"
                  (change)="onOptionToggle(eventType.id, option)"
                >
                  {{ option }}
                </mat-slide-toggle>
              </div>
            </mat-expansion-panel>
          </div>
        </ng-container>
      </div>

      <!-- Browser Notifications -->
      <div class="browser-notifications">
        <h3>Where you receive notifications</h3>
        <div>
          <p>Browser</p>
          <mat-slide-toggle>Chrome push notifications</mat-slide-toggle>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
