.demo-select {
  flex: 1;
}

.description {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
  padding: 0;
  box-shadow: none;
  visibility: hidden;
  height: 0;
}
