<div class="flex-row flex-wrap gap-regular flex-grow-1-3">
  <div class="flex-row gap-regular flex-column demo-select">
    <h3 i18n>Select your Use Case:</h3>
    <mat-form-field appearance="fill">
      <mat-select
        [(value)]="selectedUseCase"
        (selectionChange)="onSelectionChange()"
      >
        @for (useCase of demoUseCases; track useCase) {
          <mat-option [value]="useCase">
            {{ useCase.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="description demo-select" [class.hidden]="!selectedUseCase">
    @if (selectedUseCase) {
      <p>{{ selectedUseCase.description }}</p>
    }
  </div>
</div>
