<div class="demo-layout">
  <div class="left-column">
    <h3><b>Select your Use Case:</b></h3>
    <mat-form-field appearance="fill" class="demo-select">
      <mat-select
        [(value)]="selectedItem"
        (selectionChange)="onSelectionChange()"
      >
        @for (item of demoAssistanceItems; track item) {
          <mat-option [value]="item">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="right-column" [class.hidden]="!selectedItem">
    @if (selectedItem) {
      <p>{{ selectedItem.description }}</p>
    }
  </div>
</div>
