<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <div class="flex-column gap-regular">
    <app-entity-archived-info [entity]="data.entity"></app-entity-archived-info>

    <app-entity-form
      [fieldGroups]="fieldGroups"
      [entity]="data.entity"
      [form]="form"
    >
    </app-entity-form>

    <div *ngFor="let col of viewOnlyColumns">
      <app-pill
        [matTooltip]="col.description"
        [style.background-color]="tempEntity.getColor()"
        class="mat-body-strong"
      >
        <span *ngIf="col.label">{{ col.label }}:&nbsp;</span>
        <ng-template
          [appDynamicComponent]="{
            component: col.viewComponent,
            config: {
              id: col.id,
              entity: tempEntity,
              config: col.additional
            }
          }"
        ></ng-template>
      </app-pill>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <app-dialog-buttons [form]="form" [entity]="data.entity" />
</mat-dialog-actions>
