<div class="host-container flex-column">
  <div class="header flex-row flex-wrap justify-space-between">
    <app-view-title class="admin-ui-title" i18n="page title">
      Editing data structure for "{{ entityType | entityTypeLabel }}" records
    </app-view-title>

    <div class="flex-row gap-small save-buttons">
      <button mat-raised-button color="accent" (click)="save()" i18n>
        Save
      </button>
      <button mat-stroked-button (click)="cancel()" i18n>Cancel</button>
    </div>
  </div>

  <div class="main-container flex-row">
    <mat-nav-list class="config-nav">
      <mat-list-item
        (click)="mode = 'details'"
        [activated]="mode === 'details'"
        i18n="admin entity: nav item"
      >
        Details View & Fields
      </mat-list-item>
      <mat-list-item
        (click)="mode = 'list'"
        [activated]="mode === 'list'"
        i18n="admin entity: nav item"
      >
        List View
      </mat-list-item>
      <mat-list-item
        (click)="mode = 'general'"
        [activated]="mode === 'general'"
        i18n="admin entity: nav item"
      >
        General Settings
      </mat-list-item>
    </mat-nav-list>

    <div
      class="config-component flex-grow mat-elevation-z1"
      [ngClass]="{ 'general-mode': mode === 'general' }"
    >
      @switch (mode) {
        @case ("details") {
          <app-admin-entity-details
            [entityConstructor]="entityConstructor"
            [config]="configDetailsView"
          ></app-admin-entity-details>
        }
        @case ("list") {
          <app-admin-entity-list
            [entityConstructor]="entityConstructor"
            [config]="configListView"
          ></app-admin-entity-list>
        }
        @case ("general") {
          <app-admin-entity-general-settings
            [entityConstructor]="entityConstructor"
            [(generalSettings)]="configEntitySettings"
          ></app-admin-entity-general-settings>
        }
      }
    </div>
  </div>
</div>
