@use "variables/colors";
@use "variables/sizes";

.host-container {
  height: calc(100vh - 64px);

  // undo margins of routed view
  margin-top: - sizes.$margin-main-view-top;
  margin-right: - sizes.$margin-main-view-right;
  margin-bottom: - sizes.$margin-main-view-bottom;
  margin-left: - sizes.$margin-main-view-left;
}

.header {
  padding: 20px;
  background-color: colors.$background-secondary;
}

.config-nav {
  background-color: colors.$background-secondary;
}

.main-container {
  width: 100%;
  min-height: 0;
  flex-grow: 1;
}

.config-component {
  min-width: 0;
  padding: 8px;
  overflow-y: auto;

  ::ng-deep app-view-title {
    color: colors.$muted;
  }
}

.admin-ui-not-supported-info {
  padding: 20px;
  text-align: center;
}
