<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div fxLayout="row" fxLayoutAlign="space-between">
  <div>
    <h1 class="page-header section-child">
      <button
        mat-icon-button
        (click)="navigateBack()"
        i18n-matTooltip="Generic back button"
        matTooltip="Back"
        style="vertical-align: middle"
      >
        <mat-icon fontIcon="fa-backward"></mat-icon>
      </button>

      <i [className]="classNamesWithIcon"></i>
      <span *ngIf="!creatingNew">{{ entity?.toString() }}</span>
      <span
        *ngIf="creatingNew"
        i18n="
          Title when adding a new entity|An entity is a child, note, school,
          e.t.c
        "
      >
        Adding new {{ config?.entity }}
      </span>
    </h1>
  </div>
</div>


<div>
  <mat-tab-group>
    <mat-tab *ngFor="let panelConfig of panels; let i = index" [label]="panelConfig.title">
      <div *ngFor="let componentConfig of panelConfig.components; let j = index" style="padding-top: 20px">
          <h3 *ngIf="componentConfig.title !== ''">{{ componentConfig.title }}</h3>
          <ng-template [appDynamicComponent]="componentConfig"></ng-template>
          <br *ngIf="j < panelConfig.components.length - 1" />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!--
  Adds a small padding at the bottom
  so that the site doesn't stop at the very bottom
-->
<div style="height: 50px"></div>
