<div class="flex-row gap-small">
  <mat-select
    [value]="selectedOption"
    (selectionChange)="onOptionSelected($event)"
    class="select-box"
    placeholder="Select inheritance option"
    i18n-placeholder
  >
    @for (option of availableOptions; track option) {
      <mat-option [value]="option">
        <span>
          {{ option.referencedEntityType?.ENTITY_TYPE || option.sourceReferenceEntity | entityTypeLabel }}
          via
          <app-entity-field-label
            [entityType]="option.referencedEntityType?.ENTITY_TYPE || option.sourceReferenceEntity"
            [field]="option.sourceReferenceField"
          ></app-entity-field-label>
        </span>
      </mat-option>
    } @empty {
      <mat-option disabled>
        <em i18n>No reference options available</em>
      </mat-option>
    }
  </mat-select>
</div>
