<form [formGroup]="form">
  <div class="flex-row gap-small align-center full-width">
    <mat-form-field class="full-width-field">
      <mat-label i18n>Field</mat-label>
      <app-entity-field-select
        [entityType]="notificationRule?.entityType"
        formControlName="entityTypeField"
      />
    </mat-form-field>

    <mat-form-field class="full-width-field notification-condition-operator">
      <mat-label i18n>Type of condition</mat-label>
      <app-basic-autocomplete
        [options]="conditionalOptions"
        [optionToString]="optionsToLabel"
        [valueMapper]="optionsToValue"
        formControlName="operator"
      />
    </mat-form-field>

    <mat-form-field class="full-width-field">
      <mat-label i18n>has value</mat-label>
      <input
        matInput
        placeholder="Enter notification condition"
        i18n-placeholder="Notification condition"
        formControlName="condition"
      />
    </mat-form-field>

    <button
      (click)="removeNotificationCondition.emit()"
      mat-icon-button
      matTooltip="Remove notification condition"
      i18n-matTooltip
    >
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>
</form>
