<form [formGroup]="form">
  <div class="flex-row align-center full-width">
    <mat-form-field class="full-width-field">
      <mat-label i18n>Select entity field</mat-label>
      <app-entity-field-select
        [entityType]="notificationRule?.entityType"
        formControlName="entityTypeField"
      />
    </mat-form-field>
    <mat-form-field class="full-width-field notification-condition-operator">
      <mat-label i18n>Select Notification operator</mat-label>
      <app-basic-autocomplete
        [options]="conditionalOptions"
        [optionToString]="optionsToLabel"
        [valueMapper]="optionsToValue"
        formControlName="operator"
      />
    </mat-form-field>
    <mat-form-field class="full-width-field notification-condition-operator">
      <mat-label i18n
        >Notification method(s)
        <fa-icon
          icon="question-circle"
          matTooltip="Define a notification method to receive notifications."
          i18n-matTooltip
        ></fa-icon>
      </mat-label>
      <mat-select
        formControlName="channels"
        multiple
        placeholder="Choose notification channels"
        i18n-placeholder="Notification Method Select placeholder"
      >
        @for (notificationMethod of notificationMethods; track $index) {
          <mat-option [value]="notificationMethod.key">
            {{ notificationMethod.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width-field">
      <mat-label i18n>Notification condition</mat-label>
      <input
        matInput
        placeholder="Enter notification condition"
        i18n-placeholder="Notification condition"
        formControlName="condition"
      />
    </mat-form-field>
    <button
      (click)="removeNotificationCondition.emit()"
      mat-icon-button
      matTooltip="Remove notification rule"
      i18n-matTooltip
    >
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>
</form>
