<form [formGroup]="passwordForm" class="form-container">
  <mat-form-field class="user-form-field">
    <label i18n>
      Current Password
      <input
        matInput
        type="password"
        formControlName="currentPassword"
      />
    </label>
    <mat-error
      *ngIf="passwordForm.get('currentPassword').invalid"
      i18n="
                Password Confirmation|An incorrect password was entered trying
                to change the password
              "
    >
      Please provide your correct current password for confirmation.
    </mat-error>
  </mat-form-field>
  <br/>

  <mat-form-field class="user-form-field" style="height: 80px">
    <label i18n>
      New password
      <input matInput type="password" formControlName="newPassword"/>
    </label>
    <mat-error *ngIf="passwordForm.get('newPassword').invalid">
      <div
        *ngIf="passwordForm.get('newPassword').errors.minlength"
        i18n="Password validation"
      >
        Must be at least 8 characters long.
      </div>
      <div
        *ngIf="passwordForm.get('newPassword').errors.pattern"
        i18n="Illegal password pattern"
      >
        Must contain lower case letters, upper case letters, symbols and
        numbers to be secure.
      </div>
    </mat-error>
  </mat-form-field>
  <br/>

  <mat-form-field class="user-form-field">
    <label i18n>
      Confirm new password
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
      />
    </label>
    <mat-error
      *ngIf="
                passwordForm.get('confirmPassword').invalid &&
                passwordForm.get('confirmPassword').touched
              "
      i18n="Illegal new password"
    >
      Confirmation does not match your new password.
    </mat-error>
  </mat-form-field>
  <br/>

  <div *ngIf="passwordChangeResult">
    <div *ngIf="passwordChangeResult.success" class="info success" i18n>
      Password changed successfully.
    </div>
    <div *ngIf="!passwordChangeResult.success" class="info error" i18n>
      Failed to change password: {{ passwordChangeResult.error }}<br/>
      Please try again. If the problem persists contact Aam Digital
      support.
    </div>
  </div>

  <button
    mat-raised-button
    type="submit"
    [disabled]="passwordForm.invalid || passwordForm.disabled"
    (click)="changePassword()"
    (submit)="changePassword()"
    i18n="Change password button"
  >
    Change Password
  </button>
</form>
