<h1 matDialogTitle i18n="Title of popup to select properties that are displayed in the map">
  Select map properties
</h1>
<app-dialog-close matDialogClose></app-dialog-close>
<mat-dialog-content>
  <p i18n="Subtitle of popup to select properties that are displayed in the map">
    Select the properties which should be displayed in the map
  </p>
  <ng-container *ngFor="let side of sideDetails">
    <mat-form-field *ngIf="side.mapProperties?.length" style="width: 100%">
      <mat-label>{{side.entityType.label}}</mat-label>
      <mat-select
        [(value)]="side.selectedMapProperties"
        [disabled]="side.mapProperties.length < 2"
        multiple
      >
        <mat-option *ngFor="let prop of side.mapProperties" [value]="prop">{{ prop }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>
