.child-pic-container {
  position: relative;
  margin-right: 10px;
}

.child-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.child-pic-photofile {
  position: absolute;
  left: 1px;
  top: 115px;
  width: 120px;
  background: white;
}
