<img
  *ngIf="formControl.value?.photo"
  [src]="formControl.value?.photo?.value"
  class="child-pic"
  alt=""
/>
<p *ngIf="!formControl.value?.photo" i18n="Placeholer if no photo is available">No photo set</p>
<mat-form-field
  *ngIf="formControl.enabled && editPhotoAllowed"
  class="child-pic-photofile"
>
  <mat-label>{{label}}</mat-label>
  <input
    #photoFileInput
    i18n-matTooltip="Tooltip for edit photo component"
    matTooltip="filename for child photo uploaded by server administrator"
    matInput
    (change)="changeFilename(photoFileInput.value)"
    [value]="formControl.value?.path"
    [title]="label"
    type="text"
  />
  <fa-icon matIconSuffix (click)="changeFilename('')" icon="times"></fa-icon>
</mat-form-field>
