<img
  *ngIf="formControl.value?.photo"
  [src]="formControl.value?.photo?.value"
  class="child-pic"
  alt="child's photo"
/>
<p *ngIf="!formControl.value?.photo">No photo set</p>
<mat-form-field
  *ngIf="formControl.enabled && user?.isAdmin()"
  class="child-pic-photofile"
>
  <input
    #photoFileInput
    (change)="changeFilename(photoFileInput.value)"
    [placeholder]="label"
    [title]="label"
    [value]="formControl.value?.path"
    matInput
    matTooltip="filename for child photo uploaded by server administrator"
    type="text"
  />
  <span (click)="changeFilename('')" class="fa fa-times" matSuffix></span>
</mat-form-field>
