<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="row">
  <div class="col-lg-10">
    <h1 class="page-header section-child"><i class="fa fa-child fa-fw"></i> {{ child.name }} [{{ child.pn }}]</h1>
  </div>
  <div class="col-lg-2">
    <div type="button" class="page-header btn btn-success" ng-click="save();">Save</div>
    <div type="button" class="page-header btn btn-warning" ng-click="cancel()">Cancel</div>
  </div>
  <!-- /.col-lg-12 -->
</div>



<!--
<div class="panel panel-default">
  <div class="panel-heading">
    Basic Information
  </div>
  <!-- /.panel-heading --
  <div class="panel-body">
    <form role="form">
      <div class="row">
        <div class="col-lg-2">
            <div class="form-group" ng-mouseover="photoEditLink=true" ng-mouseleave="photoEditLink=false">
              <!-- richtige Bilder einbinden --
               <img class="form-foto" ng-if="childPhoto" src='http://www.bundesverband-gewaltpraevention.de/assets/images/Selbstvertrauen_8.jpg' height="180px" width="100px"/>
               <img class="form-foto" ng-if="!childPhoto" src="images/child.png"/>
               <!-- <input type="file" class="form-foto-edit" ng-if="photoEditLink"
                      onchange="angular.element(this).scope().changePhoto(this);"/> --
            </div>

          <div class="form-group">
            <label>Project Status</label>
            <input class="form-control" ng-model="child.currentStatus.projectStatus">
          </div>

            <div class="form-group">
                <label>Responsible Social Worker</label>
                <select class="form-control" ng-model="child.currentStatus.socialworker">
                    <option *ngFor="let sw of socialworkers">{{ sw.name }}</option>
                </select>
            </div>

        </div>

        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Name</label>
                <input class="form-control" (NgModel)="child.name">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="child.gender">
                  <option>M</option>
                  <option>F</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label>Age</label>
                <input class="form-control" value="{{ child.age() }}"
                       uib-tooltip="Age is automatically calculated based on the date of birth."
                       readonly>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label>Project Number</label>
                <input type="number" class="form-control" ng-model="child.pn"
                       value="{{child.pn |number:0}}" ng-readonly="!new"
                       uib-tooltip="Uniquely identifies the child and cannot be changed once the record is created."
                       required>
              </div>

              <div class="form-group">
                <label>Date of Birth</label>

                  <p class="input-group">
                      <input type="text" class="form-control"
                             ng-model="child.dateOfBirth" is-open="dateDoB.opened"/> <!-- //uib-datepicker-popup="{{format}}" --
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="dateDoB.opened=true"><i
                                  class="fa fa-calendar"></i></button>
                       </span>
                  </p>

              </div>

              <div class="form-group">
                <label>Mother Tongue</label>
                <input class="form-control" ng-model="child.motherTongue">
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label>Admission Date</label>

                  <p class="input-group">
                      <input type="text" class="form-control"
                             ng-model="child.admission" is-open="dateAdmission.opened"/> <!--uib-datepicker-popup="{{format}}"--
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default"
                                  ng-click="dateAdmission.opened=true"><i
                                  class="fa fa-calendar"></i></button>
                       </span>
                  </p>

              </div>

              <div class="form-group">
                <label>Place of Birth</label>
                <input class="form-control" ng-model="child.placeOfBirth">
              </div>

              <div class="form-group">
                <label>Religion</label>
                <input class="form-control" ng-model="child.religion">
              </div>
            </div>

            <div class="col-lg-4">

              <div class="form-group">
                <label>Center</label>
                <select class="form-control" ng-model="child.center">
                  <option *ngFor="let center of centers">{{ center }}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Birth Certificate</label>
                <select class="form-control" ng-model="child.birthCertificate"
                        ng-options="cert for cert in birthCertificateType"></select>

                <p class="form-control-static" ng-if="child.birthCertificate">
                  <!--  <a ng-if="birthCertificate" ng-href="{{birthCertificate}}"
                       download="{{child.pn}}_{{child.name}}_birth_certificate">Download Document</a> --
                  <input type="file"
                         onchange="angular.element(this).scope().setBirthCertificate(this);"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /.panel-body --
</div>
<!-- /.panel Basic Information--
<div class="panel panel-default">
  <div class="panel-heading">
    Basic Information
  </div>
  <mat-form-field color="blue" headerRowPlaceholder="Basics">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Gender">
  </mat-form-field>
</div>

<mat-accordion hideToggle="true">-->

  <mat-expansion-panel hideToggle="true" expanded="true" collapse="false">
    <mat-expansion-panel-header style="">
      <mat-panel-title>
        Basic Information
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Name" type="text" [(value)]="child.name" [disabled]="!editable">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Gender
      </mat-label>
      <mat-select [disabled]="!editable"  [(value)] = selectedGender>
        <mat-option *ngFor="let g of genderSelector" [value]="g">{{gender[g]}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age" type="text" [value]=child.getAge() [disabled]="!editable">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Project Number" type="text" [(value)]="child.pn" [disabled]="!editable">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Date of Birth" type="date" [(value)]="child.dateOfBirth" [disabled]="!editable">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Mother Tongue" type="text" [(value)]="child.motherTongue" [disabled]="!editable">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Admission Date" type="date" [(value)]="child.admission" [disabled]="!editable">
    </mat-form-field>

    <mat-form-field>
      <input matInput title="Religion" type="text" placeholder="Religion" [(value)]="child.religion" [disabled]="!editable">
    </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="switchEdit()">Edit</button>
    </mat-action-row>
  </mat-expansion-panel>
<!--</mat-accordion>-->


<mat-expansion-panel hideToggle="true" expanded="true" collapse="false">
  <mat-expansion-panel-header>
    Address
  </mat-expansion-panel-header>
  <mat-form-field>
    <textarea matInput title="Present Address" type="text"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Visiting Hours</mat-label>
    <textarea matInput title="Visiting hours" type="text"></textarea>
  </mat-form-field>

</mat-expansion-panel>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Address
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Present Address</label>
            <textarea class="form-control" rows="3" ng-model="child.currentStatus.address.text"></textarea>

            <p class="help-block">address proof type and document</p>

          </div>
          <div class="form-group">
            <label>Parents/Guardians are available for home visits best at which time?</label>
            <input class="form-control" ng-model="child.currentStatus.address.visit">
          </div>
          <div class="form-group">
            <label>Village Address</label>
            <textarea class="form-control" rows="3"
                      ng-model="child.currentStatus.address.villageAddress"></textarea>
          </div>
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel Address -->
  </div>



      <div class="col-lg-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Family & Guardians
                  <div class="pull-right">
                      <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs" ng-click="showFamilyMember('new');">
                              Add Family Member
                          </button>
                      </div>
                  </div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <!--  <ng2-smart-table [settings]="FamiliyTableSettings" [source]="data"></ng2-smart-table> -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel Family -->
      </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
          School
          <div class="pull-right">
              <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs" ng-click="showEnrollment('new');">
                      Update Class/School
                  </button>
              </div>
          </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
       <!-- <ng2-smart-table [settings]="SchoolTableSettings" [source]=""></ng2-smart-table> -->
      </div>
      <!-- /.panel-body School -->
  </div>
  <!-- /.panel -->


  <div class="row">
      <div class="col-lg-12" style="text-align:center; padding:20px;">
          <button type="button" class="btn btn-success" ng-click="save();">Save</button>
          <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </div>
