<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->


<h1 class="page-header section-child"><i class="fa fa-child fa-fw"></i> {{ child.name }} [{{ child.projectNumber }}]</h1>

<p>
  <button mat-stroked-button='' (click)="switchEdit()" disabled>Edit</button>
</p>

<mat-expansion-panel hideToggle="true" expanded="true">
  <mat-expansion-panel-header style="">
    <mat-panel-title>
      Basic Information
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Name" type="text" [(ngModel)]="child.name" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Gender
    </mat-label>
    <mat-select [disabled]="!editable"  [(ngModel)] = selectedGender>
      <mat-option *ngFor="let g of genderSelector" [value]="g">{{gender[g]}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Age" type="text" [value]=child.getAge() [disabled]="true">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Project Number" type="text" [(ngModel)]="child.projectNumber" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Date of Birth" type="date" [(ngModel)]="child.dateOfBirth" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Aadhar Status" type="text" [(ngModel)]="child.aadhar" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Mother Tongue" type="text" [(ngModel)]="child.motherTongue" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput title="Religion" type="text" placeholder="Religion" [(ngModel)]="child.religion" [disabled]="!editable">
  </mat-form-field>



  <mat-form-field>
    <input matInput placeholder="Center" type="text" [(ngModel)]="child.center" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Project Status" type="text" [(ngModel)]="child.status" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Admission Date" type="date" [(ngModel)]="child.admissionDate" [disabled]="!editable">
  </mat-form-field>



  <mat-form-field>
    <input matInput type="text" placeholder="Address" [(ngModel)]="child.address" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Guardians" [(ngModel)]="child.guardianName" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Preferred time for guardians meeting" [(ngModel)]="child.preferredTimeForGuardianMeeting" [disabled]="!editable">
  </mat-form-field>
</mat-expansion-panel>



<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    Dropout
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Dropout Date" type="date" [(ngModel)]="child.dropoutDate" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dropout Type" type="text" [(ngModel)]="child.dropoutType" [disabled]="!editable">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Dropout Remarks" type="text" [(ngModel)]="child.dropoutRemarks" [disabled]="!editable">
    </textarea>
  </mat-form-field>
</mat-expansion-panel>




<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    Attendance
  </mat-expansion-panel-header>

  <app-child-attendance></app-child-attendance>
</mat-expansion-panel>


<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    Notes & Reports
  </mat-expansion-panel-header>

  <app-notes></app-notes>
</mat-expansion-panel>

<p>&nbsp;</p>
