<app-edit-entity
  [formControl]="formControl"
  [formFieldConfig]="formFieldConfig"
  [entity]="entity"
  [showEntities]="!showAttendance"
/>

<ng-container *ngIf="showAttendance">
  <!-- If feasible, this whole setup should be replaced with a more simple setup that
  automatically adapts to the screen size without having to rely on two different layout techniques for
  small and big screens.
 -->
  <div *ngIf="!mobile">
    <!-- Desktop view: display the information as table -->
    <table class="table">
      <tr *ngFor="let childId of formControl.value">
        <td>
          <button
            mat-icon-button
            *ngIf="!formControl.disabled"
            (click)="removeChild(childId)"
          >
            <fa-icon icon="trash"></fa-icon>
          </button>
        </td>
        <td>
          <app-entity-block
            [entityId]="childId"
            entityType="Child"
          ></app-entity-block>
        </td>
        <td>
          <app-attendance-status-select
            [value]="getAttendance(childId).status"
            (valueChange)="updateAttendanceValue(childId, 'status', $event)"
            [disabled]="formControl.disabled"
          >
          </app-attendance-status-select>
        </td>
        <td class="full-width">
          <mat-form-field class="adjust-top">
            <input
              #inputElement
              matInput
              i18n-placeholder
              placeholder="Remarks"
              name="remarks"
              type="text"
              [value]="getAttendance(childId).remarks"
              (input)="
                updateAttendanceValue(childId, 'remarks', inputElement.value)
              "
              [disabled]="formControl.disabled"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="mobile" class="attendance-blocks">
    <!-- Mobile view / smaller screen: display the information using a flex-layout -->
    <mat-card
      *ngFor="let childId of formControl.value"
      class="attendance-item mat-elevation-z1 margin-bottom-small"
    >
      <mat-card-content>
        <div class="attendance-item--header margin-bottom-regular">
          <app-entity-block
            [entityId]="childId"
            entityType="Child"
          ></app-entity-block>

          <button
            mat-icon-button
            *ngIf="!formControl.disabled"
            (click)="removeChild(childId)"
            class="mobile-remove-item"
          >
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>

        <div class="attendance-item--content">
          <app-attendance-status-select
            [value]="getAttendance(childId).status"
            (valueChange)="updateAttendanceValue(childId, 'status', $event)"
            [disabled]="formControl.disabled"
          >
          </app-attendance-status-select>

          <mat-form-field>
            <input
              #inputElement
              matInput
              i18n-placeholder
              placeholder="Remarks"
              name="remarks"
              type="text"
              [value]="getAttendance(childId).remarks"
              (input)="
                updateAttendanceValue(childId, 'remarks', inputElement.value)
              "
              [disabled]="formControl.disabled"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
