<!--
  TODO
  - Look for a better icon here https://fontawesome.com/v5/search
  - Set right title, subtitle, explanation
-->
<app-dashboard-widget
  icon="birthday-cake"
  theme="child"
  title="Birthday"
  subtitle="Upcoming Birthdays"
  explanation="Temporary explanation"
>
  <app-widget-content>
    
    <div *ngIf="childrenDataSource.data.length > 0 && !isLoading" class="table-wrapper">
      <table mat-table [dataSource]="childrenDataSource"matSort>
        <tr hidden="true">
          <th scope="col" mat-sort-header>Child </th>
          <th scope="col" mat-sort-header>DateOfBirth</th>
          <th scope="col" mat-sort-header>AfterBirthdayAge</th>
        </tr>
        <ng-container matColumnDef="entityId">
          <td mat-cell *matCellDef="let Child">{{ Child.entityId}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="dateOfBirth">
          <td mat-cell *matCellDef="let Child">{{Child.dateOfBirth}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
          <td mat-cell *matCellDef="let Child">{{Child.age}}</td>
        </ng-container>

    
<!--
  TODO
  - replace this by a table similar to `AttendanceWeekDashboard` (for more info see https://v11.material.angular.io/components/table/overview)
  - display the child using the `ChildBlockComponent`
  - display the birthday
  - display the age the child will have after its birthday
   
-->
           <app-child-block
             *ngFor="let child of children"
             [entity]="child"
           ></app-child-block>
<tr
mat-row
*matRowDef="let row; columns: ['entityId', 'dateOfBirth','age'];"
></tr>
      </table>
      
    </div>
    
    <mat-paginator
      #paginator
      [style.display]="paginator.getNumberOfPages() === 0 ? 'none' : ''"
      [pageSizeOptions]="[5]"
      [hidePageSize]="true"
    >
    </mat-paginator>
    
  </app-widget-content>
  
</app-dashboard-widget>
