.form-field {
  padding-bottom: 17px;
}

.group-select-option {
  width: 100%;
  padding: 16px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid;
  border-top: 0;
}

.group-select-option:first-child {
  border-top: 1px solid;
}

.options-wrapper {
  margin-top: 16px;
}

.nav-button {
  margin: 10px;
  flex: none;
}

.hidden {
  display: none;
}
