<h1>Add Daily Attendance</h1>
<h2>{{stages[currentStage]}}</h2>


<div *ngIf='currentStage===0' fxLayout='column' fxLayoutAlign='space-around start'>
  <mat-form-field fxFlex>
    <mat-label>
      Center
    </mat-label>
    <mat-select [(ngModel)]='center'>
      <mat-option *ngFor="let c of centers" [value]='c'>
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class='form-field' fxFlex>
    <mat-button-toggle-group name="attendanceType" [(ngModel)]="attendanceType">
      <mat-button-toggle value="school">School Attendance</mat-button-toggle>
      <mat-button-toggle value="coaching">Coaching Attendance</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field>
    <input matInput placeholder="Date" type="date" [valueAsDate]='day' (change)='day=$event.target.valueAsDate'>
  </mat-form-field>

  <div fxFlex>
    <button mat-stroked-button (click)='finishCenterSelection()'
            [disabled]='!center || !attendanceType || !day'>
      Continue
    </button>
  </div>
</div>


<div *ngIf='currentStage===1' fxLayout='column'>
  <div *ngFor="let group of studentGroups.options" class='group-select-option' (click)='startRollCall(group)'>
    <span style='text-align: right' class='fa fa-chevron-right'></span>&nbsp;
    <span *ngIf='!group.type'>{{group.label}}</span>
    <app-school-block *ngIf="group.type==='school'" [entityId]='group.label' [linkDisabled]='true'></app-school-block>
  </div>

  <div>
    <button mat-stroked-button (click)='currentStage = currentStage - 1' class='nav-button' fxFlex>Back</button>
  </div>
</div>




<div *ngIf='currentStage===2'>
  <div *ngFor='let entry of rollCallList; let i = index' [ngClass]='{"hidden": (rollCallIndex!==i)}'>
    <app-child-block [entity]='entry.child'></app-child-block>

    <div fxLayout='column' fxLayoutAlign='space-between stretch' class='options-wrapper'>
      <div class='group-select-option' (click)='markAttendance(AttStatus.PRESENT)' [ngClass]="{'attendance-P': entry.attendanceDay.status===AttStatus.PRESENT}">
        <span class='fa fa-check' *ngIf='entry.attendanceDay.status===AttStatus.PRESENT'></span>
        Present
      </div>
      <div class='group-select-option' (click)='markAttendance(AttStatus.ABSENT)' [ngClass]="{'attendance-A': entry.attendanceDay.status===AttStatus.ABSENT}">
        <span class='fa fa-check' *ngIf='entry.attendanceDay.status===AttStatus.ABSENT'></span>
        Absent
      </div>
      <div class='group-select-option' (click)='markAttendance(AttStatus.LATE)' [ngClass]="{'attendance-L': entry.attendanceDay.status===AttStatus.LATE}">
        <span class='fa fa-check' *ngIf='entry.attendanceDay.status===AttStatus.LATE'></span>
        Late
      </div>
      <div class='group-select-option' (click)='markAttendance(AttStatus.HOLIDAY)' [ngClass]="{'attendance-H': entry.attendanceDay.status===AttStatus.HOLIDAY}">
        <span class='fa fa-check' *ngIf='entry.attendanceDay.status===AttStatus.HOLIDAY'></span>
        Holiday
      </div>
      <div class='group-select-option' (click)='markAttendance(AttStatus.EXCUSED)' [ngClass]="{'attendance-E': entry.attendanceDay.status===AttStatus.EXCUSED}">
        <span class='fa fa-check' *ngIf='entry.attendanceDay.status===AttStatus.EXCUSED'></span>
        Excused
      </div>
      <div class='group-select-option' (click)='markAttendance(AttStatus.UNKNOWN)' [ngClass]="{'attendance-U': entry.attendanceDay.status===AttStatus.UNKNOWN}">Skip</div>
    </div>

    <div>
      <button mat-stroked-button [disabled]='rollCallIndex<1' (click)='rollCallIndex = rollCallIndex - 1' class='nav-button'>Back</button>
      <button mat-stroked-button (click)='currentStage = 0' class='nav-button'>Abort</button>
    </div>
  </div>


  <div *ngIf='rollCallListLoading'>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div>Loading students ...</div>
  </div>


  <div *ngIf='!rollCallListLoading && rollCallIndex>=rollCallList.length'>
    <div>Roll call completed.</div>
    <div>
      <button mat-stroked-button (click)='currentStage = 0' class='nav-button' fxFlex>Finish</button>
    </div>
  </div>
</div>
