<h2 mat-dialog-title i18n>Configure Automation Rule</h2>
<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <p i18n>
    You are linking this field to the value of a related
    {{ sourceValueEntityType.label }} record. The system will show a dialog to
    automatically update this field whenever the related record's field changes.
    You can still manually adjust the value if needed. This helps you ensure
    data consistency and reduces manual work.
  </p>

  <p>
    (<span i18n>Field defining the related source record:</span>
    <app-entity-field-label
      [field]="value?.sourceReferenceField"
      [entityType]="sourceValueEntityType"
    ></app-entity-field-label
    >)
  </p>

  <mat-form-field
    appearance="fill"
    matTooltip="Choose the field in the related record that will trigger updates to this field when it is changed."
    i18n-matTooltip
  >
    <mat-label i18n
      >Source value field (of {{ sourceValueEntityType.label }})
    </mat-label>

    <app-entity-field-select
      [entityType]="sourceValueEntityType"
      [value]="selectedSourceValueField()"
      (valueChange)="
        selectedSourceValueField.set(
          typeof $event === 'object' ? $event[0] : $event
        )
      "
    ></app-entity-field-select>
  </mat-form-field>

  <!--
    Detailed trigger value -> target value mapping
  -->
  <mat-slide-toggle
    [disabled]="valueMappingOptions().length === 0"
    matTooltip="If the source is a dropdown field, you can optionally also define a custom mapping for specific values."
    i18n-matTooltip
    [checked]="mappingEnabled()"
    (change)="mappingEnabled.set($event.checked)"
    i18n
  >
    Transform value with custom mapping
  </mat-slide-toggle>

  @if (valueMappingOptions().length > 0 && mappingEnabled()) {
    <div class="mapping-grid">
      <div class="header-row">
        <h3 class="mapping-header" i18n>When "trigger field" changes to</h3>
        <h3 class="mapping-header" i18n>then this field is updated to</h3>
      </div>

      @for (v of valueMappingOptions(); track v.sourceValue.id) {
        <div class="option-label">{{ v.sourceValue.label }}</div>
        <div class="dropdown-select">
          @if (v.form) {
            <app-entity-field-edit
              [field]="targetFieldConfig"
              [form]="v.form"
            ></app-entity-field-edit>
          }
        </div>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions class="flex-row flex-wrap">
  <button
    mat-button
    (click)="save()"
    [disabled]="!selectedSourceValueField()"
    i18n
  >
    Save
  </button>

  <button mat-button mat-dialog-close i18n>Cancel</button>

  @if (isInvalidMapping) {
    <mat-error i18n>
      The data is invalid, please check the fields in the "Configure mapping"
    </mat-error>
  }
</mat-dialog-actions>
