@use "variables/sizes";

/* The indicator is a round, colored shape with a small margin on the right
it is used as prefix in the form field and for the individual options */
.indicator {
  width: sizes.$regular;
  height: sizes.$regular;
  border-radius: 50%;

  margin-right: sizes.$small;
  margin-left: sizes.$small;

  /* when the indicator is used as prefix in a form field
     it should be center-aligned with the content, but is baseline-aligned
     without this small margin */
  &__prefix {
    margin-bottom: 0.15em;
  }

  /* when the indicator is used inside the option-field it has `display: inline`
     which causes the field not to draw correctly */
  &__option {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.225em;
  }
}
