<app-dashboard-widget
  icon="file-alt"
  theme="note"
  [title]="count"
  subtitle="Children with recent report"
  i18n-subtitle="Subtitle|Subtitle informing the user that these are the children with recent reports"
  [explanation]="tooltip"
>
  <app-widget-content
    class="dashboard-content"
    [routerLink]="['/note']"
    angulartics2On="click"
    angularticsCategory="Navigation"
    angularticsAction="dashboard_recent_notes_link_go_to_notes"
    [angularticsLabel]="'children-with-recent-report-count-' + count"
    i18n="Go to Notes Link|Link that will take the user to a list of notes"
  >
      Go to Notes <fa-icon icon="external-link-square-alt"></fa-icon>
  </app-widget-content>
</app-dashboard-widget>
