<mat-card class="dashboard-widget">
  <mat-card-header class="app-note">
    <div mat-card-avatar>
      <mat-icon fontIcon="fa-file-text-o"></mat-icon>
    </div>
    <mat-card-title style="position: relative">
      <span *ngIf="isLoading">
        <mat-spinner [diameter]="40" class="loading-indicator"></mat-spinner>
        &nbsp;
      </span>
      <span *ngIf="!isLoading">
        {{ count }}
      </span>
    </mat-card-title>
    <mat-card-subtitle
      i18n="Subtitle|Subtitle informing the user that these are the children with recent reports"
      [matTooltip]="tooltip"
    >
      Children
      <span class="subtitle-highlight">with</span>
      recent report
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div
      class="dashboard-content"
      [routerLink]="['/note']"
      angulartics2On="click"
      angularticsCategory="Navigation"
      angularticsAction="dashboard_recent_notes_link_go_to_notes"
      [angularticsLabel]="'children-with-recent-report-count-' + count"
      i18n="Go to Notes Link|Link that will take the user to a list of notes"
    >
      Go to Notes <span class="fa fa-external-link-square"></span>
    </div>
  </mat-card-content>
</mat-card>
