<app-dashboard-widget icon="file-text-o" theme="note">
  <app-widget-headline>
    <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
    <span *ngIf="!isLoading">
      {{ count }}
    </span>
  </app-widget-headline>
  <app-widget-subheadline
    i18n="
        Subtitle|Subtitle informing the user that these are the children with
        recent reports
      "
    [matTooltip]="tooltip"
    style="cursor: help"
  >
    Children
    <span class="subtitle-highlight">with</span>
    recent report
  </app-widget-subheadline>

  <app-widget-content
    class="dashboard-content"
    [routerLink]="['/note']"
    angulartics2On="click"
    angularticsCategory="Navigation"
    angularticsAction="dashboard_recent_notes_link_go_to_notes"
    [angularticsLabel]="'children-with-recent-report-count-' + count"
    i18n="Go to Notes Link|Link that will take the user to a list of notes"
  >
      Go to Notes <span class="fa fa-external-link-square"></span>
  </app-widget-content>
</app-dashboard-widget>
