<p i18n>Select a .xlsx or .csv file with data to import:</p>

<app-parsed-file-input
  (fileLoad)="onFileLoad($event)"
  [fileType]="['csv', 'xlsx']"
></app-parsed-file-input>

@if (data) {
  <div i18n>{{ data.data?.length }} rows detected for import</div>

  <mat-expansion-panel class="advanced-options-panel">
    <mat-expansion-panel-header>
      <mat-panel-title i18n="CSV advanced options panel title"
        >Advanced options</mat-panel-title
      >
    </mat-expansion-panel-header>

    <div class="settings-row flex-row align-center gap-small">
      <mat-form-field>
        <mat-label i18n="CSV column separator label"
          >Column separator</mat-label
        >
        <app-basic-autocomplete
          [ngModel]="selectedDelimiter()"
          (ngModelChange)="onSeparatorChange($event)"
          [options]="separatorOptions()"
        ></app-basic-autocomplete>
      </mat-form-field>
      <app-help-button
        text="The character that separates columns in your CSV file.
              It is auto-detected from your file - only change this if the columns appear incorrect after import."
        i18n-text="CSV column separator - help text"
      ></app-help-button>
    </div>

    <div class="settings-row flex-row align-center gap-small">
      <mat-form-field>
        <mat-label i18n>Multi-value separator</mat-label>
        <app-basic-autocomplete
          [(ngModel)]="multiValueSeparator"
          [options]="multiValueSeparatorOptions"
          [createOption]="createCustomSeparator"
        ></app-basic-autocomplete>
      </mat-form-field>
      <app-help-button
        text="Which character is used to separate multiple values in a single column cell for array-type fields (e.g., multi-select options)."
        i18n-text="import - multi-value separator - help text"
      ></app-help-button>
    </div>
  </mat-expansion-panel>
}
