@use "variables/colors";

.table-header {
  height: 56px;
  border-bottom: 1px solid #0000001f;
}
.table-content-preview {
  font-style: italic;
  padding: 16px;
  color: #5f5f5f;
}

.column-header {
  padding: 8px 16px;
  margin: auto;
}

.filter-field {
  padding: 0 16px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging .drop-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-handle {
  cursor: move;
  margin: auto;
  color: colors.$accent;
}
app-entity-fields-menu {
  color: colors.$accent;
}

.remove-icon {
  cursor: pointer;
  margin: auto;
}
.drop-item:has(.remove-icon:hover) {
  color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}
