<div class="hint-banner" i18n>
  You can edit how users will see the list of all records of this type. Drag and
  drop filters and change table columns in this preview. The editor below
  closely resembles how the list will look for users later.
  <br />
  To create new fields, use the "Details View" section.
</div>

<app-view-title [disableBackButton]="true" [displayInPlace]="true">
  {{ entityConstructor.labelPlural }}
</app-view-title>

<div>
  <app-admin-list-manager
    [items]="filters"
    [availableItems]="allFields"
    [entityType]="entityConstructor"
    templateType="filter"
    fieldLabel="Add Filter:"
    i18n-fieldLabel
    (itemsChange)="updateFilters($event)"
  ></app-admin-list-manager>

  <div class="mat-elevation-z1">
    <app-admin-tabs
      [tabs]="config?.columnGroups?.groups"
      [newTabFactory]="newColumnGroupFactory"
    >
      <ng-template
        [appAdminTabTemplate]="config?.columnGroups?.groups"
        let-item
      >
        <app-admin-list-manager
          [items]="item.columns"
          [availableItems]="allFields"
          [entityType]="entityConstructor"
          fieldLabel="Drag & drop table column headers. Add columns:"
          i18n-fieldLabel
          (itemsChange)="item.columns = $event"
        ></app-admin-list-manager>
      </ng-template>
    </app-admin-tabs>
  </div>
</div>
