@use "variables/colors";

.table-header {
  height: 56px;
  border-bottom: 1px solid #0000001f;
}
.table-content-preview {
  font-style: italic;
  padding: 16px;
  color: #5f5f5f;
}

.column-header {
  padding: 8px 16px;
  margin: auto;
}

.filter-field {
  padding: 0 16px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}

.drag-handle {
  cursor: move;
  margin: auto;
  color: colors.$accent;
}
app-entity-fields-menu {
  color: colors.$accent;
}

.remove-icon {
  cursor: pointer;
  margin: auto;
}
.drop-item:has(.remove-icon:hover) {
  color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}
