<div mat-dialog-title class="form-dialog-title">
  <ng-content select="h1"></ng-content>
</div>

<mat-dialog-content>
  <ng-content select="form"></ng-content>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    [disabled]="!contentForm.form.dirty"
    (click)="save()"
    angulartics2On="click"
    angularticsCategory="UserAction"
    angularticsAction="form_dialog_save"
    i18n="Generic save button"
  >
    Save
  </button>
  <button
    mat-stroked-button
    (click)="cancel()"
    angulartics2On="click"
    angularticsCategory="UserAction"
    angularticsAction="form_dialog_cancel"
    i18n="Generic cancel button"
  >
    Cancel
  </button>
</mat-dialog-actions>
