<div mat-dialog-title>
  <ng-content select="h1"></ng-content>
</div>

<mat-dialog-content>
  <ng-content select="form"></ng-content>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!readonly && ('update' | able: entity)">
  <button
    mat-raised-button
    color="accent"
    [disabled]="!contentForm.form.dirty"
    (click)="save()"
    angulartics2On="click"
    [angularticsCategory]="entity?.getType()"
    angularticsAction="form_dialog_save"
    i18n="Generic save button"
  >
    Save
  </button>
  <button
    mat-stroked-button
    (click)="close.emit()"
    angulartics2On="click"
    [angularticsCategory]="entity?.getType()"
    angularticsAction="form_dialog_cancel"
    i18n="Generic cancel button"
  >
    Cancel
  </button>
  <button
    style="margin-left: 8px"
    mat-stroked-button
    color="warn"
    (click)="delete()"
    angulartics2On="click"
    [angularticsCategory]="entity?.getType()"
    angularticsAction="form_dialog_delete"
    i18n="Generic delete button"
    *appDisabledEntityOperation="{
      entity: entity,
      operation: 'delete'
    }"
  >
    Delete
  </button>
</mat-dialog-actions>
