// Styles for condition item component
.condition-item {
  padding: 8px;
  background-color: var(--mdc-filled-text-field-container-color);
  border-radius: 4px;
  border: 1px solid var(--mdc-outlined-text-field-outline-color);
}