<div class="condition-item">
  <div class="flex-row gap-regular align-center">
    <mat-form-field class="flex-grow">
      <mat-label i18n>Condition Field</mat-label>
      <mat-select
        [value]="conditionField"
        (valueChange)="onFieldChange($event)"
      >
        @for (option of colorFieldOptions; track option.value) {
          <mat-option [value]="option.value">{{
            option.label
          }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (formFieldConfig && formControl) {
      <mat-form-field class="flex-grow" floatLabel="always">
        <mat-label>{{ formFieldConfig.label }}</mat-label>
        <app-dynamic-edit
          [formFieldConfig]="formFieldConfig"
          [formControl]="formControl"
        ></app-dynamic-edit>
      </mat-form-field>
    }

    <button
      mat-icon-button
      type="button"
      color="warn"
      (click)="onDeleteCondition()"
      matTooltip="Delete condition"
      i18n-matTooltip
    >
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>
</div>