<h2> {{creating ? 'Creating user' : 'Editing user: ' + user.name }}</h2>

<form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <mat-form-field class="login-field">
        <input matInput placeholder="Username" type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field class="login-field">
        <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>

    <mat-label>
        Admin
        <mat-checkbox formControlName="admin"></mat-checkbox>
    </mat-label>
    <div>
        <button type="submit" [disabled]="userForm.invalid" mat-stroked-button class='edit-button' >{{creating ? 'Add User' : 'Edit'}}</button>
        <button type="button" *ngIf='!creating' mat-stroked-button class='edit-button' style='color:red' (click)='removeUser()'>Delete</button>
    </div>
</form>
