
<div fxLayout="row" fxLayoutAlign='space-between'>
  <h1 class="page-header section-school">
    <button mat-icon-button (click)='navigateBack()' matTooltip="Back" style='vertical-align: middle;'>
      <mat-icon fontIcon="fa-backward"></mat-icon>
    </button>

    <i class="fa fa-university fa-fw"></i>
    <span *ngIf="!creatingNew">{{ school.name }}</span>
    <span *ngIf="creatingNew">Adding new School</span>
  </h1>

  <div>
    <button *ngIf="creatingNew || editing" mat-stroked-button class='edit-button' (click)="saveSchool()">Save</button>

    <button *ngIf="!creatingNew && editing" mat-stroked-button class='edit-button' style="color:red" (click)="removeSchool()">Delete</button>

    <button *ngIf="creatingNew || editing" mat-stroked-button class='edit-button' (click)="switchEdit()">Cancel</button>

    <button *ngIf="!editing" mat-stroked-button class='edit-button' (click)="switchEdit()">Edit</button>
  </div>
</div>


<form [formGroup]="form">
  <mat-expansion-panel hideToggle="true" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field style='width: 300px;'>
        <input matInput formControlName="name" placeholder="Name" type="text">
      </mat-form-field>

      <mat-form-field style='width: 100px;'>
        <input matInput formControlName="medium" placeholder="Medium" type="text">
      </mat-form-field>

      <mat-checkbox formControlName="privateSchool" [disabled]="!editing">Private school</mat-checkbox>

      <mat-form-field style='width: 100px;'>
        <input matInput formControlName="academicBoard" placeholder="Board" type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput formControlName="phone" placeholder="Contact Number" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="address" placeholder="Address" type="text">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="website" matInput placeholder="Website" type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput formControlName="timing" placeholder="School Timing" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="workingDays" placeholder="Working Days" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="upToClass" placeholder="Teaching up to class" type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style='width: 100%'>
        <textarea matInput formControlName="remarks" placeholder="Remarks"></textarea>
      </mat-form-field>
    </div>
  </mat-expansion-panel>



  <mat-expansion-panel hideToggle="false" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Students
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="example-container mat-elevation-z8">

      <table mat-table #table [dataSource]="studentDataSource" matSort style="width: 100%">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> PN </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{student.projectNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="schoolClass">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{student.schoolClass}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{student.age}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/child', row.getId()]" style="cursor:pointer;"></mat-row>
      </table>
    </div>
  </mat-expansion-panel>
</form>
