<mat-form-field [formGroup]="formControl.parent">
  <mat-label>{{ label }}</mat-label>
  <input
    #inputField
    matInput
    [fxHide]="!formControl.enabled"
    [placeholder]="placeholder"
    [formControl]="formControl"
    [matAutocomplete]="autoSuggestions"
  />
  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
  >
    <!-- Optional header -->
    <ng-content select="mat-option"></ng-content>
    <mat-option *ngFor="let res of filteredEntities | async" [value]="res">
      <app-display-entity
        [entityToDisplay]="res"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
