<mat-form-field [formGroup]="formControl.parent">
  <mat-label>{{ label }}</mat-label>
  <input
    #inputField
    matInput
    [fxHide]="!formControl.enabled"
    [placeholder]="placeholder"
    [formControl]="entityNameFormControl"
    [matAutocomplete]="autoSuggestions"
  />
  <mat-autocomplete
    #autoSuggestions="matAutocomplete"
  >
    <!-- Optional header -->
    <ng-content select="mat-option"></ng-content>
    <mat-option *ngFor="let entity of filteredEntities | async" [value]="entity.toString()" (click)="formControl.setValue(entity.getId())">
      <app-display-entity
        [entityToDisplay]="entity"
        [linkDisabled]="true"
      ></app-display-entity>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
