@import "../../common-styles";

.block-wrapper {
  @include entity-block-border;
}

.wrapper-readonly {
  margin-top: 7px;
  margin-bottom: 16px;
}

.highlight {
  background-color: rgba(211, 211, 211, 0.291);
}
