@use "variables/breakpoints";

.form-field {
  width: 100%;

  @media (max-width: breakpoints.$md) {
    ::ng-deep .mat-mdc-form-field-infix {
      position: static;
    }
  }
}

.address-warning{
  color: #b71c1c; 
  font-weight: bold;
}