<mat-form-field class="form-field">
  <mat-label i18n>Search an address</mat-label>
  <input
    #inputElement
    class="address-search-input"
    type="text"
    matInput
    [value]="_searchText"
    (keyup)="triggerInputUpdate($event)"
    [matAutocomplete]="auto"
  />

  <button mat-icon-button matIconSuffix (click)="searchClick()">
    <fa-icon icon="search"></fa-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectLocation($event.option.value)"
    [displayWith]="displayFn"
  >
    @if (loading) {
      <mat-option disabled i18n>Loading results...</mat-option>
    }

    @if (networkError) {
      <mat-option disabled i18n>
        Internet connection required for map location lookup. Enter address
        manually
      </mat-option>
    }
    @if (otherTypeError) {
      <mat-option disabled i18n>
        Service for map location lookup temporarily unavailable. Enter address
        manually
      </mat-option>
    }
    @if (nothingFound && !networkError && !otherTypeError) {
      <mat-option disabled i18n>Location not found</mat-option>
    }

    <!-- show user-typed value if not empty and not in options (after search completed) -->
    @if (
      searchCompleted &&
      inputElement.value?.length > 2 &&
      !isInputInOptions(inputElement.value)
    ) {
      <mat-option [value]="inputElement.value" i18n>
        <span class="address-warning">
          Set address without map location as "{{ inputElement.value }}"
        </span>
      </mat-option>
    }

    @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">
        {{ option.display_name }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
