<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="flex-row flex-wrap gap-large" *ngIf="!loading">
  <app-attendance-calendar
    class="flex-grow"
    [records]="combinedAttendance?.events || []"
    [highlightForChild]="forChild"
    [activity]="entity"
  ></app-attendance-calendar>
  <app-attendance-summary
    [attendance]="combinedAttendance"
    [forChild]="forChild"
    [columns]="columns"
    class="margin-top-regular flex-grow"
  ></app-attendance-summary>
</div>

<app-entities-table
  [entityType]="entityCtr"
  [records]="records"
  [customColumns]="columns"
  clickMode="none"
  (rowClick)="showDetails($event)"
  [getBackgroundColor]="getBackgroundColor"
  [editable]="false"
>
</app-entities-table>

<div class="margin-top-regular">
  <mat-slide-toggle
    i18n="
      slider|show unrelated attendance-entries for an activity that are not
      linked to the child of interest
    "
    (change)="updateDisplayedRecords($event.checked)"
    i18n-matTooltip="
      Show unrelated tooltip|Tooltip that will appear when hovered over the
      show-unrelated button
    "
    matTooltip="Activate to also show entries for the activity that do not have any events with actual participation of this person"
  >
    Also show unrelated
  </mat-slide-toggle>
  &nbsp;
  <button
    i18n="
      load-all button|load all records, not only the ones from the last 6 months
    "
    mat-stroked-button
    (click)="init(true)"
  >
    Load all records
  </button>
</div>
