<mat-form-field [formGroup]="formControl.parent">
    <input
            matInput
            [formControlName]="formControlName"
            [placeholder]="placeholder"
            [title]="placeholder"
            type="text"
            #inputElement
    />
    <mat-icon *ngIf="inputElement.disabled && tooltip" matSuffix
              fontIcon="fa-question-circle-o"
              [matTooltip]="tooltip"
    ></mat-icon>
    <mat-error *ngIf="formControl.invalid">
        {{ placeholder }} is required
    </mat-error>
</mat-form-field>
