<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

        <li *ngFor="#item of menu_main">
            <a [href]="item.url"><i class="fa fa-{{item.icon}} fa-fw"></i> {{item.title}}</a>
        </li>

        <li class="divider"></li>

        <li>
            <a [routerLink]="['User']"><i class="fa fa-user fa-fw"></i> User Account</a>
        </li>

        <li class="divider"></li>

        <li>
            <a [routerLink]="['Dashboard']" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
</div>
