<div class="hint-banner" i18n>
  You can edit how users will see the Note details of a single record. Drag and
  drop fields and sections in this preview of a profile view and group them as
  appropriate. The editor below closely resembles how the form will look for
  users later.
  <br />
  We recommend to keep things simple: Only add fields that you really need for
  your work.
</div>

<div class="form-sections">
  <app-admin-entity-form
    [entityType]="entityConstructor"
    [config]="noteDetailsConfig"
    (configChange)="onNoteDetailsConfigChange($event)"
    uniqueAreaId="note-details-form"
    [fieldsOnlyMode]="true"
  ></app-admin-entity-form>
</div>
