<mat-dialog-content>
  <h2 i18n>Select Email Template</h2>
  @if (excludedEntitiesCount > 0) {
    <p class="warning-message" i18n>
      {{ excludedEntitiesCount }} records were excluded due to missing email
      address.
    </p>
  }
  <p>
    <span i18n>
      Select the template to use for sending an email to this record. If you
      want to create a new template, you can do so from -
    </span>
    <a
      [routerLink]="EmailTemplate.route"
      *appDisabledEntityOperation="{
        entity: EmailTemplate,
        operation: 'update',
      }"
      matDialogClose
      i18n
      >configure available Email templates</a
    >
  </p>
  <p>
    <span i18n>
      Note: "Sending" mail will open the email application on your device. If
      nothing happens you may have to set up a default email client.
    </span>
  </p>

  <mat-form-field class="full-width">
    <mat-label i18n>Message Template</mat-label>
    <app-edit-entity
      [formControl]="emailTemplateSelectionForm"
      [entityType]="EmailTemplate.ENTITY_TYPE"
      [additionalFilter]="filteredTemplate"
      [disableCreateNew]="true"
      placeholder="Select a template to use and adapt"
      i18n-placeholder
    ></app-edit-entity>
  </mat-form-field>

  <div class="flex-column">
    <mat-checkbox [formControl]="createNoteControl" i18n>
      Create a note to document message
    </mat-checkbox>

    @if (isBulkEmail) {
      <mat-checkbox [formControl]="sendAsBCC">
        <span i18n>Send as BCC</span>
        &nbsp;
        <app-help-button
          text="If you send an email to multiple people they can see each others email IDs. Unless they know each other you should avoid this. Therefore, you can instead send the email to yourself and add all recipients as 'blind copy' (BCC)."
          i18n-text
        ></app-help-button>
      </mat-checkbox>

      <mat-checkbox [formControl]="sendSemicolonSeparated">
        <span i18n>Microsoft Outlook compatibility</span>
        &nbsp;
        <app-help-button
          text="Check this if email ids are not separated correctly. If you use Microsoft Outlook, you may need to separate email addresses with semicolons instead of commas for compatibility."
          i18n-text
        ></app-help-button>
      </mat-checkbox>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!emailTemplateSelectionForm.value"
    (click)="confirmSelectedTemplate(emailTemplateSelectionForm.value)"
  >
    <span i18n>Send Email</span>
  </button>

  <button mat-stroked-button i18n [matDialogClose]="false">Cancel</button>
</mat-dialog-actions>
