<h2 mat-dialog-title i18n>Configure Automation Rule</h2>
<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <p i18n>
    You can create an automation rule for this field. The system will then
    suggest to automatically update this field whenever the related record's
    field changes. This helps you ensure data consistency and reduces manual
    work.
  </p>
  <p i18n>
    Please select the field and configure the mapping carefully to avoid
    unintended updates. You will see a confirmation dialog to check and manually
    adjust the value whenever you change records that trigger this automation.
  </p>

  <mat-form-field appearance="fill">
    <mat-label i18n
      >Related reference field (of {{ relatedEntityType.label }})
    </mat-label>
    <mat-select
      [(value)]="selectedReferenceField"
      matTooltip="Select the field in the related record that links it to this record. For example, if a child's field is updated based on a school's value, this is the field in the school record that references the child."
      i18n-matTooltip
    >
      @for (field of availableReferenceFields; track field) {
        <mat-option [value]="field">
          <app-entity-field-label
            [field]="field"
            [entityType]="relatedEntityType"
          ></app-entity-field-label>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label i18n
      >Automation trigger field (of {{ relatedEntityType.label }})
    </mat-label>

    <mat-select
      [(value)]="selectedTriggerField"
      (selectionChange)="loadtriggerFieldValues($event.value)"
      matTooltip="Choose the field in the related record that will trigger updates to this field when it is changed."
      i18n-matTooltip
    >
      @for (field of availableTriggerFields; track field.id) {
        <mat-option [value]="field.id">{{ field.label }}</mat-option>
      } @empty {
        <mat-option
          class="no-options-message"
          matTooltip='The trigger field on the other, related record must be of type "dropdown". It seems there are no such field on that record type.'
          i18n-matTooltip
          i18n
          >No suitable fields available in
          {{ relatedEntityType.labelPlural }}
        </mat-option>
      }
    </mat-select>

    <mat-hint i18n
      >Currently only fields of type "dropdown" can be used as trigger field.
    </mat-hint>
  </mat-form-field>

  <!--
    Detailed trigger value -> target value mapping
  -->
  @if (selectedTriggerField) {
    <div class="mapping-grid">
      <div class="header-row">
        <h3 class="mapping-header" i18n>When "trigger field" changes to</h3>
        <h3 class="mapping-header" i18n>then this field is updated to</h3>
      </div>

      @for (
        triggerFieldValue of triggerFieldValues;
        track triggerFieldValue.id
      ) {
        <div class="option-label">{{ triggerFieldValue.label }}</div>
        <div class="dropdown-select">
          @if (mappingForms[triggerFieldValue.id]) {
            <app-entity-field-edit
              [field]="targetFieldConfig"
              [form]="mappingForms[triggerFieldValue.id]"
            ></app-entity-field-edit>
          }
        </div>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions class="flex-row flex-wrap">
  <button
    mat-button
    (click)="save()"
    [disabled]="!selectedReferenceField || !selectedTriggerField"
    i18n
  >
    Save
  </button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
  @if (isInvalid) {
    <mat-error i18n>
      The data is invalid, please check the fields in the "Configure mapping"
    </mat-error>
  }
</mat-dialog-actions>
