<h2 mat-dialog-title i18n>Select a field to configure Mapping</h2>
<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <p i18n>
    You can create an automation rule for this field. Once set up, any changes
    will automatically update the related field, ensuring data consistency and
    reducing manual work.<br />
    Please select the field and configure the mapping carefully to avoid
    unintended updates.
  </p>
  <div class="dropdown-select">
    <mat-form-field appearance="fill">
      <mat-label i18n>Select related field</mat-label>
      <mat-select (selectionChange)="onFieldSelected($event.value)">
        @for (field of availableFields; track field.id) {
          <mat-option [value]="field">{{ field.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @if (selectedField) {
    <div class="mapping-grid">
      @for (option of currentFieldOptions; track option.id) {
        <div class="option-label">{{ option.label }}</div>
        <div class="dropdown-select">
          <mat-form-field appearance="fill">
            <mat-label i18n>Select Value</mat-label>
            <mat-select [(value)]="selectedMappings[option.id]">
              @for (enumOption of enumOptions; track enumOption.id) {
                <mat-option [value]="enumOption.id">{{
                  enumOption.label
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()" i18n="Button label">Save</button>
  <button mat-button mat-dialog-close i18n="Button label">Cancel</button>
</mat-dialog-actions>
