<button
  mat-raised-button
  color="accent"
  [disabled]="!form.dirty"
  (click)="save()"
  angulartics2On="click"
  [angularticsCategory]="entity?.getType()"
  angularticsAction="form_popup_save"
  i18n="Form save button"
>
  Save
</button>

<button
  *ngIf="viewContext?.isDialog"
  mat-stroked-button
  (click)="cancel()"
  angulartics2On="click"
  [angularticsCategory]="entity?.getType()"
  angularticsAction="form_popup_cancel"
  i18n="Form cancel button"
>
  Cancel
</button>

<button
  *ngIf="detailsRoute && viewContext?.isDialog"
  mat-raised-button
  [routerLink]="detailsRoute"
  mat-dialog-close
  [disabled]="form.disabled"
  i18n="Form button to navigate to details page of entity"
>
  Go to details
</button>

<app-entity-actions-menu [entity]="entity" (actionTriggered)="onAction($event)">
  <ng-content></ng-content>
</app-entity-actions-menu>
