
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
  height: 100%;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.list-item:hover{
  background: #F5F5F5;
}
