<h1>School List</h1>


<div *ngIf="schoolDataSource">
  <table mat-table [dataSource]="schoolDataSource" matSort class="mat-elevation-z8 table-list" width='100%'>
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let school"> {{school.name}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
      <td mat-cell *matCellDef="let school"> {{school.address}}</td>
    </ng-container>

    <ng-container matColumnDef="medium">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Medium</th>
      <td mat-cell *matCellDef="let school"> {{school.medium}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="privateSchool">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Private School </th>
       <td mat-cell *matCellDef="let school"> {{school.privateSchool}} </td>
     </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let school; columns: columnsToDisplay" (click)="showSchoolDetails(school)"
        style="cursor:pointer;"></tr>
  </table>
</div>
