@use "src/styles/variables/colors";
@use "src/styles/variables/sizes";

.admin-form-field:hover {
  background-color: colors.$grey-transparent;
}
.admin-form-field {
  padding: sizes.$small;
  margin: sizes.$small;
  border: dotted 1px colors.$accent;
  border-radius: sizes.$x-small;
 }

:host ::ng-deep input[disabled] { pointer-events: none }
