@use "src/styles/variables/colors";
@use "src/styles/variables/sizes";

.admin-form-field:hover {
  background-color: colors.$grey-transparent;
}
.admin-form-field {
  padding: sizes.$small;
  margin: sizes.$small;
  border: dotted 1px colors.$accent;
  border-radius: sizes.$x-small;
 }

.drag-handle {
  color: colors.$accent;
  cursor: move;
  min-width: 2em;
  text-align: center;
}

:host ::ng-deep input[disabled] { pointer-events: none }

.toolbar {
  width: 300px;
  padding: sizes.$small;
}

.drop-list {
  min-height: 60px;
  height: 99%;
}
.fields-group-list {
  border: dashed 1px #ccc;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.drop-area-hint {
  text-align: center;
  padding: sizes.$small;
  color: colors.$hint-text
}
.admin-form-column:has(.group-remove-button:hover) {
  border-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}

.admin-form-column {
  border: dashed 1px #ccc;
  padding: sizes.$small;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.4;
  border-color: green;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging .admin-form-field:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
