<span
  class="block-height truncate-text"
  [class.clickable]="!linkDisabled"
  [class.inactive]="!entity?.isActive"
  (click)="showDetailsPage()"
  [appTemplateTooltip]="tooltip"
  [tooltipDisabled]="!entityBlockConfig"
  [title]="entity?.toString()"
>
  <app-fa-dynamic-icon
    [icon]="entityIcon"
    class="margin-right-small"
  ></app-fa-dynamic-icon>

  {{ entity?.toString() }}
</span>

<!-- Tooltip on Hover -->
<ng-template #tooltip>
  <div class="tooltip-container">
    @if (entityBlockConfig?.image) {
      <app-display-img
        class="tooltip-photo"
        [entity]="entity"
        [imgProperty]="entityBlockConfig?.image"
      ></app-display-img>
    }

    <div>
      <!-- Font-weight is applied as style to override the default -->
      <h3 style="font-weight: bold">
        @if (entityBlockConfig?.title) {
          <app-entity-field-view
            [entity]="entity"
            [field]="entityBlockConfig?.title"
          ></app-entity-field-view>
        } @else {
          {{ entity?.toString() }}
        }
      </h3>

      @for (field of entityBlockConfig?.fields; track field) {
        <app-entity-field-view
          [entity]="entity"
          [field]="field"
        ></app-entity-field-view>
      }
    </div>
  </div>
</ng-template>
