@use "variables/sizes";
@use "variables/colors";

.clickable {
  pointer-events: all;
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}

.block-height {
  line-height: sizes.$icon-block;
}

.inactive-row {
  color: colors.$inactive;
}
