<span
  class="block-height truncate-text"
  [class.clickable]="!linkDisabled()"
  [class.inactive]="!entityResource.value()?.isActive"
  (click)="showDetailsPage()"
  [appTemplateTooltip]="tooltip"
  [tooltipDisabled]="!entityBlockConfig()"
  [title]="entityResource.value()?.toString()"
>
  <app-fa-dynamic-icon
    [icon]="entityIcon()"
    class="margin-right-small"
  ></app-fa-dynamic-icon>

  {{ entityResource.value()?.toString() }}
</span>

<!-- Tooltip on Hover -->
<ng-template #tooltip>
  <div class="tooltip-container">
    @if (entityBlockConfig()?.image) {
      <app-display-img
        class="tooltip-photo"
        [entity]="entityResource.value()"
        [imgProperty]="entityBlockConfig()?.image"
      ></app-display-img>
    }

    <div>
      <!-- Font-weight is applied as style to override the default -->
      <h3 style="font-weight: bold">
        @if (entityBlockConfig()?.title) {
          <app-entity-field-view
            [entity]="entityResource.value()"
            [field]="entityBlockConfig()?.title"
          ></app-entity-field-view>
        } @else {
          {{ entityResource.value()?.toString() }}
        }
      </h3>

      @for (field of entityBlockConfig()?.fields; track field) {
        <app-entity-field-view
          [entity]="entityResource.value()"
          [field]="field"
        ></app-entity-field-view>
      }
    </div>
  </div>
</ng-template>
