<div class="flex-row align-center gap-small">
  @if (availableRelatedEntities?.length > 0) {
    <mat-select
      [value]="value?.sourceEntityType"
      (valueChange)="onEntityTypeSelected($event)"
    >
      <div
        class="select-dropdown-header"
        matTooltip="Select record which you want to set automated rule mapping"
        i18n-matTooltip
        i18n
      >
        Select Related Record:
      </div>
      @for (entity of availableRelatedEntities; track entity) {
        <mat-option [value]="entity.entityType">
          <app-entity-field-label
            [field]="entity.label"
            [entityType]="entity.entityType"
          ></app-entity-field-label>
        </mat-option>
      }
    </mat-select>

    <button
      mat-raised-button
      class="configure-button"
      (click)="
        $event.stopPropagation();
        openAutomatedMappingDialog(value?.sourceEntityType)
      "
      [disabled]="!value?.sourceEntityType"
      i18n
    >
      Configure Automation
    </button>
  } @else {
    <!-- no related entities available -->
    <em
      matTooltip="This requires that another record has a field that links to this record type, so that it can be used to trigger updates to this record."
      i18n-matTooltip
      i18n
      >Not available</em
    >
  }
</div>
