<div class="flex-row align-center gap-small">
  <mat-select
    [(ngModel)]="relatedEntityType"
    (ngModelChange)="onEntityTypeSelected($event)"
  >
    <div
      class="select-dropdown-header"
      matTooltip="Select entity which you want to set automated rule mapping"
      i18n-matTooltip
      i18n
    >
      Select Related Entity:
    </div>
    @for (entity of availableRelatedEntities; track entity) {
      <mat-option [value]="entity.entityType">
        <app-entity-field-label
          [field]="entity.label"
          [entityType]="entity.entityType"
        ></app-entity-field-label>
      </mat-option>
    }
  </mat-select>

  <button
    mat-raised-button
    class="configure-button"
    (click)="
      $event.stopPropagation(); openAutomatedMappingDialog(relatedEntityType)
    "
    [disabled]="!relatedEntityType"
    i18n
  >
    Configure Automation
  </button>
</div>
