@use "../../../../core/dashboard/dashboard-widget-base";
@use "src/styles" as *;

.subject-cell {
  text-align: right;
}

.row-view {
  cursor: pointer;

  border-left-width: 8px;
  border-left-style: solid;

  & > td:first-child {
    padding-left: $standard-margin-small;
  }

  & > td:last-child {
    padding-right: $standard-margin-small;
  }
}
