.diffText {
  width: 100%;
  background: white;
}

.conflicting {
  background: rgba(255, 0, 0, 0.1);
}
.current {
  background: rgba(0, 128, 0, 0.1);
}
.custom {
  background: rgba(0, 0, 255, 0.1);
  font-weight: bold;
}
