@use "src/styles/mixins/grid-layout";
@use "src/styles/variables/sizes";
@use "@angular/material" as mat;
@use "src/styles/variables/ndb-light-theme" as theme;

.top-control {
  position: sticky;
  top: 0;
  // make this visible while other contents go "under"
  // this top control
  z-index: 1;
  // These small hacks remove the global margin
  // and re-apply them as padding.
  // This way, the margin stays consistent and scrolling works
  // as intended (there is no overflow left or right)
  margin-left: - sizes.$margin-main-view-left;
  padding-left: sizes.$margin-main-view-left;
  margin-right: - sizes.$margin-main-view-right;
  padding-right: sizes.$margin-main-view-right;
  margin-top: - sizes.$margin-main-view-top;
  padding-top: sizes.$margin-main-view-top;
  background-color: mat.get-color-from-palette(theme.$primary, 50);
}

.cards-list {
  @include grid-layout.adaptive(350px, 414px);
}

.process-spinner {
  display: flex;
  justify-content: center;
}
