<div class="overall-container">
  <div class="top-control primary-background">
    <mat-form-field>
      <mat-label
        i18n="
          Event-Record label|Record an event for a particular date that is to be
          inputted
        "
        >Date</mat-label
      >
      <input
        matInput
        [(ngModel)]="date"
        required
        [matDatepicker]="datePicker"
        (dateChange)="setNewDate($event.value)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
        angulartics2On="click" angularticsCategory="Record Attendance" angularticsAction="select_date"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="existingEvents.length >= FILTER_VISIBLE_THRESHOLD"
         fxLayout="row wrap" fxLayoutGap="8px">
      <app-list-filter
        *ngFor="let filter of filterSettings"
        [filterConfig]="filter.filterSettings"
        [(selectedOption)]="filter.selectedOption"
        (selectedOptionChange)="applyFilter(filter, $event)"
        angulartics2On="click"
        angularticsCategory="Record Attendance"
        angularticsAction="filter"
        [angularticsLabel]="filter.filterSettings.label"
      >
      </app-list-filter>
    </div>
  </div>

  <div class="flex-scroll-container">
    <div class="cards-list">
      <app-activity-card
        *ngFor="let event of filteredExistingEvents"
        [event]="event"
        (click)="selectedEvent = event"
        [highlighted]="selectedEvent === event"
        [recurring]="event.isNewFromActivity"
        class="event-card"
      >
      </app-activity-card>
    </div>

    <div fxLayoutGap="8px" class="actions">
      <button
        i18n="Show more-button|Show more events to record the attendance"
        mat-stroked-button
        (click)="showMore()"
        [disabled]="visibleActivities.length === allActivities.length"
        angulartics2On="click"
        angularticsCategory="Record Attendance"
        angularticsAction="show_more"
      >
        Show more
      </button>
      <button
        i18n="Not listed|Allows to create a new event"
        mat-button
        (click)="createOneTimeEvent()"
        angulartics2On="click"
        angularticsCategory="Record Attendance"
        angularticsAction="create_onetime_event"
      >
        My event is not listed ...
      </button>
    </div>
  </div>

  <div class="mat-elevation-z5 bottom-control primary-background">
    <button
      i18n="
        Record Attendance button|Start recording the attendance of a child at
        an event
      "
      mat-raised-button
      color="primary"
      [disabled]="!selectedEvent"
      (click)="eventSelected.emit(selectedEvent)"
    >
      Record Attendance
    </button>

    <app-activity-card
      *ngIf="selectedEvent"
      [event]="selectedEvent"
      class="mat-elevation-z0 selected-card"
    >
    </app-activity-card>
  </div>
</div>
