.overall-container {
  height: 100%;
  min-height: 300px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0;
}

.bottom-control {
  margin-top: 8px;
  margin-left: calc(
    -16px - 24px
  ); /* global content container has 24/12px margin */
  margin-right: calc(-16px - 24px);
  margin-bottom: -24px;
  @media (max-width: 599px) {
    margin-left: calc(
            -16px - 12px
    ); /* global content container has 24/12px margin */
    margin-right: calc(-16px - 12px);
    margin-bottom: -12px;
  }
  padding: 16px;
}

.confirm-button {
  height: calc(112px - 2 * 16px);
}

.selected-card {
  max-height: calc(112px - 2 * 16px);
  overflow: auto;
}

.event-card {
  margin-bottom: 8px;
  width: 300px;
}

.flex-scroll-container {
  min-height: 100px;
  overflow: auto;
}
