@import "../../../../../styles";

// Total height of the bottom control with padding
$bottom-control-height: 86px;
$bottom-control-padding: 16px;

.overall-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // remove the bottom margin so that scrolling to the bottom
  // doesn't overflow
  margin-bottom: -$margin-main-view-bottom;
}

.bottom-control {
  // remove the global margins
  margin-right: -$margin-main-view-right;
  margin-left: -$margin-main-view-left;
  position: sticky;
  bottom: 0;
  height: $bottom-control-height;
  padding: $bottom-control-padding;
  gap: $standard-grid-gap;
  display: flex;
  flex-direction: row;
}

.top-control {
  position: sticky;
  top: 0;
  // make this visible while other contents go "under"
  // this top control
  z-index: 1;
  // These small hacks remove the global margin
  // and re-apply them as padding.
  // This way, the margin stays consistent and scrolling works
  // as intended (there is no overflow left or right)
  margin-left: -$margin-main-view-left;
  padding-left: $margin-main-view-left;
  margin-right: -$margin-main-view-right;
  padding-right: $margin-main-view-right;
  margin-top: -$margin-main-view-top;
  padding-top: $margin-main-view-top;
}

.selected-card {
  overflow: auto;
  flex-grow: 1;
}

.event-card {
  width: 300px;
}

.cards-list {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.flex-scroll-container {
  flex-grow: 1;
  padding-bottom: 16px;
}

.actions {
  margin-top: 8px;
}
