<ng-container *ngIf="forTable && formControl.disabled">
  {{ formControl.value | date: "shortDate" }}
</ng-container>

<mat-form-field
  *ngIf="!forTable || formControl.enabled"
  style="width: 180px"
  [formGroup]="formControl.parent"
>
  <input
    matInput
    [formControlName]="formControlName"
    [placeholder]="placeholder"
    [matDatepicker]="datepickerComp"
  />
  <mat-datepicker-toggle
    matSuffix
    [for]="datepickerComp"
  ></mat-datepicker-toggle>
  <mat-datepicker #datepickerComp></mat-datepicker>
</mat-form-field>
