@if (activeDataSource().isLoading()) {
  <div class="process-spinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}

<div [hidden]="activeDataSource().isLoading()" class="table-container">
  <table
    mat-table
    [dataSource]="activeDataSource()"
    matSort
    [matSortActive]="activeDataSource().effectiveSort()?.active"
    [matSortDirection]="activeDataSource().effectiveSort()?.direction"
    class="full-width table"
  >
    @for (col of _columns(); track col.id) {
      <ng-container [matColumnDef]="col.id">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [disabled]="col.noSorting"
        >
          <app-entity-field-label
            [field]="col"
            [entityType]="entityType()"
          ></app-entity-field-label>
        </th>
        <td mat-cell *matCellDef="let row">
          @if (row.formGroup?.enabled) {
            <app-entity-field-edit
              [field]="col"
              [entity]="row.record"
              [form]="row.formGroup"
              [compactMode]="true"
            ></app-entity-field-edit>
          } @else {
            <app-entity-field-view
              [field]="col"
              [entity]="row.record"
            ></app-entity-field-view>
          }
        </td>
      </ng-container>
    }

    <!--
    BULK SELECT
    -->
    <ng-container [matColumnDef]="ACTIONCOLUMN_SELECT">
      <th mat-header-cell *matHeaderCellDef style="width: 0">
        <mat-checkbox
          (change)="selectionStore.selectAllRows($event.checked)"
          [checked]="selectionStore.allRowsSelected()"
          [indeterminate]="selectionStore.selectionIndeterminate()"
        ></mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (change)="selectionStore.selectRow(row, $event.checked)"
          [checked]="selectedRecords().includes(row.record)"
          (click)="$event.stopPropagation()"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!--
    INLINE EDIT ACTIONS
    -->
    <ng-container [matColumnDef]="ACTIONCOLUMN_EDIT">
      <th mat-header-cell *matHeaderCellDef class="remove-padding-left">
        <app-entity-create-button
          [entityType]="entityType()"
          [newRecordFactory]="newRecordFactory()"
          (entityCreate)="showEntity($event); entityClick.emit($event)"
          [iconOnly]="true"
        ></app-entity-create-button>
      </th>

      <td mat-cell *matCellDef="let row">
        <app-entity-inline-edit-actions [row]="row">
        </app-entity-inline-edit-actions>
      </td>
    </ng-container>

    <!-- custom columns via content projection -->
    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="_columnsToDisplay()"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: _columnsToDisplay()"
      [class.inactive-row]="!row.record.isActive"
      [style.background-color]="effectiveBackgroundColor()(row.record)"
      class="table-row"
      (mousedown)="onRowMouseDown($event, row)"
      style="cursor: pointer"
    ></tr>
  </table>

  <!--
  PAGINATION
  -->
  <app-list-paginator
    class="table-footer"
    [idForSavingPagination]="idForSavingPagination()"
    (paginatorReady)="onPaginatorReady($event)"
  ></app-list-paginator>

  <!--
  SHOW ARCHIVED TOGGLE
  -->
  <div class="table-footer filter-inactive-toggle">
    <mat-slide-toggle
      [checked]="showInactive()"
      (change)="showInactive.set($event.checked)"
      i18n="slider|also show entries that are archived"
    >
      Include archived records
    </mat-slide-toggle>
  </div>
</div>
