<div *ngIf="isLoading" class="process-spinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="isLoading" class="table-container">
  <table
    mat-table
    [dataSource]="recordsDataSource"
    matSort
    [matSortActive]="_sortBy?.active"
    [matSortDirection]="_sortBy?.direction"
    class="full-width table"
  >
    <ng-container *ngFor="let col of _columns" [matColumnDef]="col.id">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        [disabled]="col.noSorting"
      >
        <app-entity-field-label
          [field]="col"
          [entityType]="_entityType"
        ></app-entity-field-label>
      </th>

      <td mat-cell *matCellDef="let row">
        <app-entity-field-edit
          *ngIf="row.formGroup?.enabled; else viewField"
          [field]="col"
          [entity]="row.record"
          [form]="row.formGroup"
          [compactMode]="true"
        ></app-entity-field-edit>

        <ng-template #viewField>
          <app-entity-field-view
            [field]="col"
            [entity]="row.record"
          ></app-entity-field-view>
        </ng-template>
      </td>
    </ng-container>

    <!--
      BULK SELECT
    -->
    <ng-container [matColumnDef]="ACTIONCOLUMN_SELECT">
      <th mat-header-cell *matHeaderCellDef style="width: 0">
        <mat-checkbox
          (change)="selectAllRows($event)"
          [checked]="isAllSelected()"
          [indeterminate]="isIndeterminate()"
        ></mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (change)="onRowSelect($event, row)"
          [checked]="selectedRecords?.includes(row.record)"
          (click)="$event.stopPropagation()"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!--
      INLINE EDIT ACTIONS
    -->
    <ng-container [matColumnDef]="ACTIONCOLUMN_EDIT">
      <th mat-header-cell *matHeaderCellDef class="remove-padding-left">
        <app-entity-create-button
          [entityType]="_entityType"
          [newRecordFactory]="newRecordFactory"
          (entityCreate)="showEntity($event); entityClick.emit($event)"
          [iconOnly]="true"
        ></app-entity-create-button>
      </th>

      <td mat-cell *matCellDef="let row">
        <app-entity-inline-edit-actions [row]="row">
        </app-entity-inline-edit-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="_columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: _columnsToDisplay"
      [style.background-color]="getBackgroundColor?.(row.record)"
      class="table-row"
      (mousedown)="onRowMouseDown($event, row)"
      style="cursor: pointer"
    ></tr>
  </table>

  <!--
    PAGINATION
  -->
  <app-list-paginator
    class="table-footer"
    [dataSource]="recordsDataSource"
    [idForSavingPagination]="idForSavingPagination"
  ></app-list-paginator>

  <!--
    SHOW ARCHIVED TOGGLE
  -->
  <div class="table-footer filter-inactive-toggle">
    <mat-slide-toggle
      [checked]="_showInactive"
      (change)="showInactive = $event.checked"
      i18n="slider|also show entries that are archived"
    >
      Include archived records
    </mat-slide-toggle>
  </div>
</div>
