@use "variables/sizes";
@use "variables/colors";
@use "@angular/material/core/style/elevation" as mat-elevation;

.table-container {
  position: relative; /* anchor for further absolute positioning of child elements */
}

.column-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.table-row:hover {
  background: #f5f5f5;
}

.process-spinner {
  display: flex;
  justify-content: center;
}

.table {
  @include mat-elevation.elevation(2);
}

.table-footer {
  @include mat-elevation.elevation(1);
  border-top: colors.$grey-darker solid 2px;
}

.filter-inactive-toggle {
  padding: sizes.$regular;
  background-color: white;
  border-top: none;
}
