<mat-dialog-content>
  <ng-container
    *ngFor="let ctrl of form.controls | keyvalue"
    [appDynamicComponent]="{
      component: component,
      config: {
        formFieldConfig: { label: ctrl.key, id: ctrl.key },
        propertySchema: col.property.schema,
        formControl: ctrl.value
      }
    }"
  ></ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="save()">Save & Close</button>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
