<div mat-dialog-title i18n="Title of dialog">Select a date range</div>
<mat-dialog-content>
  <div class="container">
    <mat-calendar
      class="calendar"
      (selectedChange)="selectedRangeChange($event)"
      [selected]="selectedRangeValue"
      [comparisonStart]="comparisonRange.start"
      [comparisonEnd]="comparisonRange.end"
    >
    </mat-calendar>
    <div class="panel">
      <div>
        <button
          class="button"
          mat-button
          color="primary"
          (mouseenter)="preselectAllRange()"
          (mouseleave)="unselectRange()"
          (click)="selectRangeAndClose('all')"
          [class.selected-option]="filter.selectedOptionsKeys.length === 0"
        >
          All
        </button>
      </div>
      <div
        *ngFor="
          let item of filter.rangeOptions;
          let selectedIndexOfDateRanges = index
        "
      >
        <button
          class="button"
          mat-button
          color="primary"
          [class.selected-option]="item === selectedOption"
          (mouseenter)="preselectRange(item)"
          (mouseleave)="unselectRange()"
          (click)="selectRangeAndClose(selectedIndexOfDateRanges)"
        >
          {{ item.label }}
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
