<mat-form-field>
  @if (!hideLabel) {
    <mat-label>
      <span [matTooltip]="label" matTooltipPosition="before">{{ label }}</span>
    </mat-label>
  }

  <input
    [formControl]="formControl"
    matInput
    [title]="label"
    type="email"
    [readonly]="formControl.disabled"
    placeholder="Enter Email"
    i18n-placeholder
  />

  @if (formControl.invalid && formControl.touched) {
    <mat-error>
      <span i18n>Invalid email format</span>
      <app-error-hint [form]="formControl"></app-error-hint>
    </mat-error>
  }
</mat-form-field>
