<mat-card>
  <mat-card-header>
    <mat-card-title>{{ formConfig?.title }}</mat-card-title>
    <mat-card-subtitle>{{ formConfig?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-entity-form
      [entity]="entity"
      [columns]="columns"
      [form]="form"
      [gridLayout]="false"
    ></app-entity-form>
  </mat-card-content>
  <mat-card-footer>
    <button
      mat-raised-button
      (click)="submit()"
      color="accent"
      i18n="Submit form button"
    >
      Submit Form
    </button>
    <button mat-stroked-button (click)="reset()" i18n="Reset form button">
      Reset
    </button>
  </mat-card-footer>
</mat-card>
