<h1
  matDialogTitle
  i18n="Title of popup to select locations that are displayed in the map"
>
  Select displayed locations
</h1>
<app-dialog-close matDialogClose></app-dialog-close>
<mat-dialog-content>
  @for (row of entityProperties; track row) {
    <mat-form-field style="width: 100%">
      <mat-label>{{ row.entity.label }}</mat-label>
      <mat-select
        [(value)]="row.selected"
        [disabled]="row.properties.length < 2"
        multiple
      >
        @for (prop of row.properties; track prop) {
          <mat-option [value]="prop.name">{{ prop.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-stroked-button
    (click)="closeDialog()"
    i18n="Button for closing popup and applying changes"
  >
    Apply
  </button>
</mat-dialog-actions>
