<div cdkDropListGroup class="overall-container flex-row">
  <!-- FORM PREVIEW -->
  <div class="flex-grow admin-grid-layout padding-right-regular">
    <!-- FIELD GROUPS -->
    <div
      *ngFor="let group of config.fieldGroups; let i = index"
      class="entity-form-cell admin-form-column section-container"
    >
      <!-- GROUP HEADER -->
      <app-admin-section-header
        [(title)]="group.header"
        (remove)="removeGroup(i)"
      ></app-admin-section-header>

      <div
        cdkDropList
        [cdkDropListData]="group.fields"
        (cdkDropListDropped)="drop($event)"
        class="fields-group-list drop-list"
      >
        <!-- FIELD [start] -->
        <div
          *ngFor="let field of group.fields"
          class="admin-form-field flex-row align-center"
          cdkDrag
          cdkDragBoundary=".overall-container"
        >
          <fa-icon icon="grip-vertical" size="xl" class="drag-handle"></fa-icon>

          <button
            mat-stroked-button
            color="accent"
            class="field-edit-button"
            (click)="openFieldConfig(field)"
            i18n="Button label"
          >
            Edit Field
          </button>

          <div class="dummy-form-field">
            <app-entity-field-edit
              [field]="field"
              [entity]="dummyEntity"
              [form]="dummyForm"
            ></app-entity-field-edit>
          </div>
        </div>
        <!-- FIELD [end]-->
      </div>
    </div>

    <!-- DROP AREA: NEW FIELD GROUP -->
    <div class="entity-form-cell admin-form-column">
      <div
        cdkDropList
        (cdkDropListDropped)="dropNewGroup($event)"
        class="fields-group-list drop-list drop-area-hint"
        i18n="Header of drag and drop box"
      >
        drop here to create new field group
        <fa-icon
          icon="question-circle"
          matTooltip="You can group fields so that they will always appear next to each other while the layout is automatically adjusted to different screen sizes. Such field groups can also have a title displayed to users."
          i18n-matTooltip
        ></fa-icon>
      </div>
    </div>
  </div>

  <!-- TOOLBAR -->
  <mat-card class="toolbar">
    <mat-card-content
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="availableFields"
      class="drop-list"
    >
      <div class="drop-area-hint">
        <em i18n="title for drag and drop section">hidden fields</em><br />
        <span i18n="subtitle for drag and drop section">
          drag & drop to / from here
        </span>
        <fa-icon
          icon="question-circle"
          matTooltip="You can remove fields from this form without deleting them completely. The fields here will not be visible or editable for users but you can display them in other views or keep them archived to not lose previously collected data. Drag a field back into the form preview to display it."
          i18n-matTooltip
        ></fa-icon>
      </div>

      <div
        *ngFor="let field of availableFields"
        class="admin-form-field flex-row align-center"
        [class.admin-form-field-new]="field === createNewFieldPlaceholder"
        cdkDrag
        cdkDragBoundary="mat-drawer-container"
      >
        <fa-icon icon="grip-vertical" size="xl" class="drag-handle"></fa-icon>

        <div>
          <app-entity-field-label
            [field]="field"
            [entityType]="entityType"
          ></app-entity-field-label>

          <button
            *ngIf="field !== createNewFieldPlaceholder"
            mat-stroked-button
            color="accent"
            class="field-edit-button field-edit-button-small"
            (click)="openFieldConfig(field)"
          >
            Edit
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
