<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- HEADER TOOLBAR -->
<mat-toolbar color="primary" class="app-header mat-elevation-z2 mat-typography">
  <mat-toolbar-row fxLayout="row">
    <span fxFlex *ngIf="isLoggedIn() && sideNavMode == 'over'">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon class="header-icon" fontIcon="fa-bars"></mat-icon>
      </button>
    </span>

    <span fxFlex [fxHide.lt-md]="isLoggedIn()">
      <a [routerLink]="['']"
        class="header-title"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="navbar_site_title_link"
        >{{ title }}</a>
    </span>

    <span fxFlex="grow">&nbsp;</span>
    <span fxFlex="grow">&nbsp;</span>

    <!--top right icons and search-->

    <app-search
      *ngIf="isLoggedIn()"
      [fxFlex]="sideNavMode == 'side' ? 'grow' : 'none'"
    ></app-search>

    <app-sync-status></app-sync-status>

    <button
      mat-icon-button
      [routerLink]="['/user']"
      *ngIf="isLoggedIn()"
      angulartics2On="click"
      angularticsCategory="Navigation"
      angularticsAction="navbar_profile_link"
    >
      <mat-icon class="header-icon" fontIcon="fa-user-circle-o"></mat-icon>
    </button>

    <button mat-icon-button (click)="logout()" *ngIf="isLoggedIn()">
      <mat-icon class="header-icon" fontIcon="fa-sign-out"></mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<app-primary-action *ngIf="isLoggedIn()"></app-primary-action>

<!-- MAIN NAVIGATION + CONTENT -->
<mat-sidenav-container class="app-content mat-typography primary-background">
  <mat-sidenav
    #sideNav
    *ngIf="isLoggedIn()"
    [autoFocus]="false"
    [mode]="sideNavMode"
    [opened]="sideNavMode == 'side'"
    disableClose
    fixedInViewport="true"
    class="sidenav-menu mat-elevation-z1"
  >
    <img *ngIf="logo_path" style="width: 180px;" [src]="logo_path"/>
    <app-navigation
      (click)="sideNavMode == 'over' && sideNav.close()"
    ></app-navigation>
    <app-version style="position: absolute; bottom: 0"></app-version>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content">
      <router-outlet *ngIf="isLoggedIn()"></router-outlet>
      <app-login *ngIf="!isLoggedIn()"></app-login>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
