<!--
~     This file is part of ndb-core.
~
~     ndb-core is free software: you can redistribute it and/or modify
~     it under the terms of the GNU General Public License as published by
~     the Free Software Foundation, either version 3 of the License, or
~     (at your option) any later version.
~
~     ndb-core is distributed in the hope that it will be useful,
~     but WITHOUT ANY WARRANTY; without even the implied warranty of
~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~     GNU General Public License for more details.
~
~     You should have received a copy of the GNU General Public License
~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- HEADER TOOLBAR -->
<mat-toolbar color="primary" class="ui-toolbar">
  <!-- Left items -->
  <div class="flex-row align-center">
    @if ((configReady$ | async) && sideNavMode === "over") {
      <span>
        <button mat-icon-button (click)="sideNav.toggle()">
          <fa-icon class="header-icon" icon="bars"></fa-icon>
        </button>
      </span>
    }

    @if (sideNavMode !== "over") {
      <a
        [routerLink]="['']"
        class="header-title"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="navbar_site_title_link"
      >
        {{ siteSettings.siteName }}
      </a>
    }
  </div>

  <!--top right icons and search-->
  <div
    class="flex-row align-center flex-grow-1-3 justify-content-end"
    [class.gap-small]="isDesktop"
  >
    @if (isLoggedIn()) {
      <app-search [class.full-width]="isDesktop"></app-search>

      <app-sync-status></app-sync-status>

      <app-notification />
    }

    @if (isLoggedIn()) {
      <app-assistant-button></app-assistant-button>
    }
  </div>
</mat-toolbar>

<!-- MAIN NAVIGATION + CONTENT -->
<mat-sidenav-container (backdropClick)="closeSidenavOnMobile()" autosize>
  @if ((configReady$ | async) && isLoggedIn()) {
    <mat-sidenav
      #sideNav
      [autoFocus]="false"
      [mode]="sideNavMode"
      [fixedInViewport]="true"
      [opened]="sideNavMode === 'side'"
      class="sidenav-menu"
      disableClose
    >
      <div
        class="flex-column justify-space-between full-height overflow-y-hidden"
      >
        <div class="toolbar-spacer"></div>
        @if (siteSettings.logo) {
          <app-display-img
            [entity]="siteSettings"
            imgProperty="logo"
            class="site-logo"
          ></app-display-img>
        }

        <app-navigation
          class="overflow-auto-y"
          (click)="closeSidenavOnMobile()"
        ></app-navigation>

        <div class="flex-grow"></div>

        <div class="flex-column">
          <app-goto-third-party-system></app-goto-third-party-system>
          <app-setup-wizard-button></app-setup-wizard-button>
          <app-pwa-install></app-pwa-install>

          <!-- Admin Overview Button -->
          @if (isAdminUser()) {
            <button
              (click)="closeSidenavOnMobile()"
              mat-button
              routerLink="/admin"
              class="footer-cell admin-overview-button"
            >
              <fa-icon icon="wrench" class="standard-icon-with-text"></fa-icon>
              <span i18n="Navigate to settings page">Settings</span>
            </button>
          }

          <div class="flex-row">
            <app-icon-button
              class="footer-cell width-1-2"
              icon="user"
              (buttonClick)="navigateToProfile()"
              i18n
            >
              Profile
            </app-icon-button>
            <app-icon-button
              class="footer-cell width-1-2"
              icon="sign-out-alt"
              (buttonClick)="logout()"
              i18n
            >
              Sign out
            </app-icon-button>
          </div>

          <div class="flex-row">
            <button
              mat-button
              class="footer-cell full-width padding-small"
              style="height: 100%"
              (click)="version.showLatestChanges()"
            >
              <app-version #version></app-version>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav>
  }

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (showPrimaryAction()) {
  <app-primary-action></app-primary-action>
}
