<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- HEADER TOOLBAR -->
<mat-toolbar color="primary" class="app-header mat-elevation-z2 mat-typography">
  <mat-toolbar-row fxLayout="row">
    <span fxFlex *ngIf="isLoggedIn() && sideNavMode == 'over'">
      <button mat-icon-button (click)="sideNav.toggle()">
        <fa-icon class="header-icon" icon="bars"></fa-icon>
      </button>
    </span>

    <span fxFlex [fxHide.lt-md]="isLoggedIn()">
      <a
        [routerLink]="['']"
        class="header-title"
        angulartics2On="click"
        angularticsCategory="Navigation"
        angularticsAction="navbar_site_title_link"
      >
        {{ title }}
      </a>
    </span>

    <span fxFlex="grow">&nbsp;</span>
    <span fxFlex="grow">&nbsp;</span>

    <!--top right icons and search-->

    <app-search
      *ngIf="isLoggedIn()"
      [fxFlex]="sideNavMode == 'side' ? 'grow' : 'none'"
    ></app-search>

    <app-sync-status></app-sync-status>

    <app-language-select *ngIf="showLanguageSelect"></app-language-select>

  </mat-toolbar-row>
</mat-toolbar>

<app-primary-action *ngIf="isLoggedIn()"></app-primary-action>

<!-- MAIN NAVIGATION + CONTENT -->
<mat-sidenav-container
  class="app-content mat-typography primary-background"
  (backdropClick)="closeSidenavOnMobile()"
>
  <mat-sidenav
    #sideNav
    *ngIf="isLoggedIn()"
    [autoFocus]="false"
    [mode]="sideNavMode"
    [opened]="sideNavMode == 'side'"
    disableClose
    fixedInViewport="true"
    class="sidenav-menu"
  >
    <div fxLayout="column" fxFlexFill>

      <img *ngIf="logo_path" alt="site logo of user organisation" class="site-logo" [src]="logo_path" fxFlex/>

      <app-navigation
        (click)="closeSidenavOnMobile()"
        fxFlex="grow"
        style="overflow-y: auto"
      ></app-navigation>


      <div fxFlex >
        <div fxLayout="row" class="menu-footer-row">
          <app-pwa-install fxFlex></app-pwa-install>
        </div>

        <div fxLayout="row" class="menu-footer-row">
          <button
            (click)="closeSidenavOnMobile()"
            mat-button
            routerLink="user"
            i18n="Navigate to user profile page"
            class="user-nav-button user-nav-button-first"
            fxFlex="50"
          >
            <fa-icon icon="user" class="nav-icon"></fa-icon>
            Profile
          </button>

          <button mat-button (click)="logout()" i18n="Sign out of the app" class="user-nav-button" fxFlex="50">
            <fa-icon icon="sign-out-alt" class="nav-icon"></fa-icon>
            Sign out
          </button>
        </div>

        <div fxLayout="row" class="menu-footer-row">
          <button mat-icon-button class="info-button" routerLink="/support" (click)="closeSidenavOnMobile()">
            <fa-icon icon="info-circle" class="info-icon"></fa-icon>
          </button>
          <app-version style="width: 100%"></app-version>
        </div>
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content">
      <router-outlet *ngIf="isLoggedIn()"></router-outlet>
      <app-login *ngIf="!isLoggedIn()"></app-login>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
