/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */

html,
body {
  height: 100%;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-menu {
  margin-top: 64px;
}

/* App Header is smaller on XS */
@media (max-width: 599px) {
  .app-content {
    top: 56px;
  }
  .sidenav-menu {
    margin-top: 56px;
  }
}

.sidenav-content {
  padding: 24px;
  @media (max-width: 599px) {
    padding: 12px;
  }

  /* make this fullscreen while respecting padding: https://stackoverflow.com/a/485887/1473411 */
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.header-icon {
  color: white;
  font-size: 15pt;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-title {
  color: white;
  text-decoration: none;
}

app-search {
  max-height: 100%;
}
