<app-view-title i18n>Data Structures & Entity Types</app-view-title>

<p style="color: red">
  This is an internal server admin preview and not stable functionality yet.
</p>

<div class="flex-row gap-regular">
  <button mat-raised-button color="accent" (click)="create()" i18n>
    Add New Record Type
  </button>

  <button
    mat-stroked-button
    color="accent"
    (click)="loadEntityTypes(false)"
    i18n
  >
    Also load internal types
  </button>
</div>

<table mat-table [dataSource]="entityTypes">
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef class="table-header" i18n>
      Record Type
    </th>

    <td mat-cell *matCellDef="let row">
      {{ row.label }}
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="table-header" i18n>
      Record Type (ID)
    </th>

    <td mat-cell *matCellDef="let row">
      {{ row.ENTITY_TYPE }}
    </td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef class="table-header" i18n>Icon</th>

    <td mat-cell *matCellDef="let row">
      @if (row.icon) {
        <fa-icon [icon]="row.icon"></fa-icon>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columnsToDisplay"
    [routerLink]="['/admin', 'entity', row.ENTITY_TYPE]"
    style="cursor: pointer"
  ></tr>
</table>
