/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.centered {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.basic-padding {
  padding: 10px;
}


.table-list-nav {
  padding: 10px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 8px !important;
}



.alerts-snackbar {
  background-color: transparent;
  box-shadow: none;
}





.dashboard-widget .mat-card-header {
  padding: 24px;
  position: relative;

  background-color: lightgray;
  color: white;
}

.dashboard-widget .mat-card-header-text {
  width: 100%;
}

.dashboard-widget .mat-card-title {
  text-align: end;
  width: 100%;
  margin-top: 10px;
  font-size: 40pt;
}

.dashboard-widget .mat-card-subtitle {
  text-align: end;
  width: calc(100% - 20px);
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0 !important;
  color: white;
}

.dashboard-widget .mat-card-avatar {

  font-size: 40pt;
}

.dashboard-widget .mat-card-content {
  max-height: 250px;
  overflow: auto;
}

.dashboard-widget .dashboard-desc {
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
}

mat-card.dashboard-widget {
  min-width: 250px;
  margin: 10px;
  padding: 0;
}



.dashboard-widget .dashboard-table-cell {
  padding: 10px;
}



.app-general {
  background-color: #555555 !important;
}

.app-child {
  background-color: #1565C0 !important;
}

.app-attendance {
  background-color: #00838F !important;
}

.app-note {
  background-color: #008f53 !important;
}

.app-class {
  background-color: #2E7D32 !important;
}

.app-school {
  background-color: #9E9D24 !important;
}


.w-OK {
  background-color: #90ee9040 !important;
}
.w-WARNING {
  background-color: #ffa50080 !important;
}
.w-URGENT {
  background-color: #fd727280 !important;
}

.w-100 {
  background-color: #90ee90 !important;
}
.w-90 {
  background-color: #a5e46e !important;
}
.w-80 {
  background-color: #bcd84e !important;
}
.w-70 {
  background-color: #d2c92e !important;
}
.w-60 {
  background-color: #e9b90f !important;
}
.w-50 {
  background-color: #ffa500 !important;
}
.w-40 {
  background-color: #ff982a !important;
}
.w-30 {
  background-color: #ff8b40 !important;
}
.w-20 {
  background-color: #ff8153 !important;
}
.w-10 {
  background-color: #ff7863 !important;
}
.w-0 {
  background-color: #fd7272 !important;
}

.primary-background {
  background-color: #fceeda;
}


.attendance-P {
  background-color: #C8E6C9 !important;
}
.attendance-H {
  background-color: #CFD8DC !important;
}
.attendance-L {
  background-color: #FFECB3 !important;
}
.attendance-E {
  background-color: #D7CCC8 !important;
}
.attendance-A {
  background-color: #FF8A65 !important;
}
.attendance-U {
  background-color: #DDDDDD !important;
}

/* configures the color of the buttons on hover*/
.filter-button mat-button-toggle:hover{
  background: #f5f5f5;
}

.filter-button mat-button-toggle.selected:hover{
  background: #e0e0e0;
}


/* display disabled form values in black for better readability as we disable forms by default */
.mat-input-element:disabled {
  color: black;
}
.mat-select-disabled .mat-select-value {
  color: black;
}
