<mat-card
  appBorderHighlight
  [borderClass]="'border-' + warningLevel"
  class="main-card"
>
  <h3 class="card-title">{{event?.subject}}</h3>
  <p class="text-secondary">
    <fa-icon icon="child"></fa-icon> {{event.children.length}} {
      event.children.length, plural, one {participant} other {participants}
    }
    <ng-container *ngIf="!recurring">
      <span class="sep">/</span><fa-icon icon="calendar"></fa-icon> {{
      event.date | date: "shortDate"
      }}
    </ng-container>
    <span class="sep">/</span>{{
      event.category?.label
    }}
    xxx
  </p>
</mat-card>
