@use "~@angular/material/theming" as *;
@use "src/styles/variables/ndb-light-theme" as theme;
@use "src/styles/variables/colors";

.border-ok {
  border-color: colors.$success;
}

.border-warning {
  border-color: colors.$warn;
}

.border-urgent {
  border-color: colors.$error;
}

.main-card {
  max-width: 500px;
  height: 100%;
  box-sizing: border-box;
}

mat-card-title {
  font-size: 16px;
  font-weight: bold;
}
