@use "variables/colors";

.border-ok {
  border-color: colors.$success !important;
}

.border-warning {
  border-color: colors.$warn !important;
}

.border-urgent {
  border-color: colors.$error !important;
}

.main-card {
  max-width: 500px;
  height: 100%;
  box-sizing: border-box;
}

.card-title {
  font-weight: bold;
}

.sep {
  font-weight: 900;
  color: colors.$disabled;

  // Add a whitespace before the separator
  &::before {
    content: " ";
  }

  // Add a whitespace before the separator
  &::after {
    content: " ";
  }
}
