@use "~@angular/material/theming" as *;
@use "src/styles/variables/colors";

.border-ok {
  border-color: colors.$success;
}

.border-warning {
  border-color: colors.$warn;
}

.border-urgent {
  border-color: colors.$error;
}

.main-card {
  max-width: 500px;
  height: 100%;
  box-sizing: border-box;
}

.card-title {
  font-weight: bold;
}

.sep {
  font-weight: 900;
  color: mat-color($mat-light-theme-foreground, hint-text);

  // Add a whitespace before the separator
  &::before {
    content: " "
  }

  // Add a whitespace before the separator
  &::after {
    content: " "
  }
}
