/*
 *     This file is part of ndb-core.
 *
 *     ndb-core is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     ndb-core is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
 */

.alert {
  line-height: 30px;
  list-style: none;
  box-sizing: border-box;
}

.alert.ng-move,
.alert.ng-enter,
.alert.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.alert.ng-leave.ng-leave-active,
.alert.ng-move,
.alert.ng-enter {
  opacity: 0;
}

.alert.ng-leave,
.alert.ng-move.ng-move-active,
.alert.ng-enter.ng-enter-active {
  opacity: 1;
}
