<h2 mat-dialog-title>{{creating ? 'Add' : 'Edit'}} school for {{child.name}}</h2>

<mat-form-field>
  <mat-label>
    School
  </mat-label>
  <mat-select [(value)]="selectedSchool">
    <mat-option *ngFor="let school of schools" [value]="school" >{{school.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="childSchoolRelation.start" placeholder="Started on" title="start" type="date">
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="childSchoolRelation.end" placeholder="Started on" title="start" type="date">
</mat-form-field>

<button [disabled]="selectedSchool == null" (click)="addSchoolClick()">{{creating ? 'Add school' : 'Edit school'}}</button>
