<mat-form-field>
  <mat-label>{{ col.column }}</mat-label>
  <app-entity-field-select
    [entityType]="entityCtor"
    [hideOption]="hideOption"
    [(ngModel)]="col.propertyName"
    (ngModelChange)="updateMapping()"
  />
</mat-form-field>

@if (currentlyMappedDatatype?.importConfigComponent) {
  <button
    class="margin-left-small"
    mat-stroked-button
    (click)="openMappingComponent()"
    i18n="import - column mapping - configure additional transformation button"
    [matBadge]="mappingAdditionalWarning"
    [matBadgeHidden]="!mappingAdditionalWarning"
    matBadgeColor="warn"
  >
    Configure value mapping
  </button>
}
