<h2 mat-dialog-title i18n>Configure Field "{{ entitySchemaField.label }}"</h2>
<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  <p i18n>
    The field settings here apply to the record type overall and affect both the
    field here in the current view as well as all other forms and lists where
    this field is displayed.
  </p>

  <form [formGroup]="form">
    <mat-tab-group formGroupName="schemaFields">
      <mat-tab label="Basics" i18n-label>
        <div class="grid-layout margin-top-regular">
          <div class="entity-form-cell">
            <mat-form-field>
              <mat-label i18n>Label</mat-label>
              <input formControlName="label" matInput #formLabel />
            </mat-form-field>

            <mat-form-field floatLabel="always">
              <mat-label>
                <span i18n> Label (short)</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="Optionally you can define an additional shorter label to be displayed in table headers and other places where space is limited."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>
              <input
                formControlName="labelShort"
                matInput
                [placeholder]="formLabel.value"
              />
            </mat-form-field>

            <mat-form-field>
              <mat-label>
                <span i18n> Description</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="The description provides additional explanation or context about this field. It is usually displayed as a help icon with tooltip."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>
              <textarea
                formControlName="description"
                matInput
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="entity-form-cell">
            <mat-form-field>
              <mat-label>
                <span i18n> Field ID (readonly)</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="The internal ID of the field is used at a technical level in the database. The ID cannot be changed after the field has been created."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>
              <input [formControl]="fieldIdForm" matInput />
              <fa-icon
                *ngIf="fieldIdForm.disabled"
                icon="lock"
                matSuffix
              ></fa-icon>
              <mat-error *ngIf="fieldIdForm.hasError('uniqueId')">
                {{ fieldIdForm.getError("uniqueId") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label i18n>Type</mat-label>
              <app-basic-autocomplete
                formControlName="dataType"
                #formDataType
                [options]="dataTypes"
                [optionToString]="objectToLabel"
                [valueMapper]="objectToValue"
              ></app-basic-autocomplete>
            </mat-form-field>

            @if (
              formDataType.value === "configurable-enum" ||
              formDataType.value === "entity"
            ) {
              <mat-checkbox formControlName="isArray" i18n>
                allow multiple values (multi-select)
              </mat-checkbox>
            }

            <!-- "additional" for enum datatype -->
            <mat-form-field *ngIf="formDataType.value === 'configurable-enum'">
              <mat-label>
                <span i18n> Type Details (dropdown options set)</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="Select an existing set of options to share between multiple fields or create a new, independent list of dropdown options."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>

              <app-basic-autocomplete
                formControlName="additional"
                [options]="typeAdditionalOptions"
                [optionToString]="objectToLabel"
                [valueMapper]="objectToValue"
                [createOption]="createNewAdditionalOptionAsync"
              ></app-basic-autocomplete>

              <button
                mat-icon-button
                matSuffix
                (click)="openEnumOptions($event)"
              >
                <fa-icon icon="wrench"></fa-icon>
              </button>
            </mat-form-field>

            <!-- "additional" for entity ref datatypes -->
            <mat-form-field *ngIf="formDataType.value === 'entity'">
              <mat-label>
                <span i18n> Type Details (target record type)</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="Select from which type of records the user can select and link to with this field."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>

              <app-basic-autocomplete
                formControlName="additional"
                [options]="typeAdditionalOptions"
                [optionToString]="objectToLabel"
                [valueMapper]="objectToValue"
                [createOption]="createNewAdditionalOptionAsync"
              ></app-basic-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

      <!--
        ADVANCED SETTINGS
      -->
      <mat-tab label="Advanced Options & Validation" i18n-label>
        <div class="grid-layout-wide margin-top-regular">
          <div class="entity-form-cell">
            <app-default-value-options
              [value]="entitySchemaField.defaultValue"
              (valueChange)="
                schemaFieldsForm.get('defaultValue').setValue($event)
              "
              [entityType]="entityType"
            >
            </app-default-value-options>

            <app-anonymize-options
              [value]="entitySchemaField.anonymize"
              (valueChange)="schemaFieldsForm.get('anonymize').setValue($event)"
            >
              <span i18n>Anonymize</span>
              <fa-icon
                icon="question-circle"
                matTooltip="Optionally This will remove all personal information (PII) permanently related to this field."
                i18n-matTooltip
              ></fa-icon>
            </app-anonymize-options>

            <!-- TODO: not supported yet
            <mat-form-field>
              <mat-label i18n>Searchable</mat-label>
              <input formControlName="searchable" matInput />
            </mat-form-field>
            -->
          </div>

          <div class="entity-form-cell">
            <app-configure-entity-field-validator
              [entitySchemaField]="entitySchemaField"
              (entityValidatorChanges)="entityFieldValidatorChanges($event)"
            ></app-configure-entity-field-validator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()" i18n="Button label">Save</button>
  <button mat-button mat-dialog-close i18n="Button label">Cancel</button>
</mat-dialog-actions>
