<h2 mat-dialog-title i18n>
  Configure Field "{{ data.entitySchemaField.label }}"
</h2>
<app-dialog-close mat-dialog-close></app-dialog-close>

<mat-dialog-content>
  @if (data.overwriteLocally) {
    <p>
      <fa-icon icon="exclamation-triangle" style="color: red"></fa-icon>
      <span i18n>
        You are currently overwriting the field for a local view only. The field
        settings here only apply to this and do not affect the main record
        schema.
      </span>
    </p>
  } @else {
    <p i18n>
      The field settings here apply to the record type overall and affect both
      the field here in the current view as well as all other forms and lists
      where this field is displayed.
    </p>
  }

  <form [formGroup]="form">
    <mat-tab-group formGroupName="schemaFields">
      <mat-tab label="Basics" i18n-label>
        <div class="grid-layout margin-top-regular">
          <div class="entity-form-cell">
            <mat-form-field>
              <mat-label i18n>Label</mat-label>
              <input formControlName="label" matInput #formLabel />
            </mat-form-field>

            <mat-checkbox
              formControlName="displayFullLengthLabel"
              matTooltip="Normally, long labels are shortened with an ellipsis (...) to keep simple views with only single-line labels. If you enable this option, the full label will be displayed on multiple lines instead of being shortened."
              i18n-matTooltip
              i18n
            >
              Display full label (multi-line)
            </mat-checkbox>

            <mat-form-field floatLabel="always">
              <mat-label>
                <span i18n> Label (short)</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="Optionally you can define an additional shorter label to be displayed in table headers and other places where space is limited."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>
              <input
                formControlName="labelShort"
                matInput
                [placeholder]="formLabel.value"
              />
            </mat-form-field>

            <mat-form-field>
              <mat-label>
                <span i18n> Description</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="The description provides additional explanation or context about this field. It is usually displayed as a help icon with tooltip."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>
              <textarea
                formControlName="description"
                matInput
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="entity-form-cell">
            <mat-form-field>
              <mat-label>
                <span i18n> Field ID (readonly)</span>
                <fa-icon
                  icon="question-circle"
                  matTooltip="The internal ID of the field is used at a technical level in the database. The ID cannot be changed after the field has been created."
                  i18n-matTooltip
                ></fa-icon>
              </mat-label>
              <input [formControl]="fieldIdForm" matInput />
              @if (fieldIdForm.disabled) {
                <fa-icon icon="lock" matSuffix></fa-icon>
              }
              @if (fieldIdForm.hasError("pattern")) {
                <mat-error>
                  <span i18n>
                    Invalid ID pattern. Only letters, numbers, and underscores
                    are allowed.</span
                  >
                </mat-error>
              }
              @if (fieldIdForm.hasError("uniqueId")) {
                <mat-error>
                  {{ fieldIdForm.getError("uniqueId") }}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field
              matTooltip="The type of the field cannot be changed here because these changes only apply to this form. For data consistency, you have to change the type for the field overall from the 'Details View & Fields'."
              matTooltipPosition="above"
              [matTooltipDisabled]="!data.overwriteLocally"
            >
              <mat-label>
                <span i18n>Type</span>
              </mat-label>
              <app-basic-autocomplete
                formControlName="dataType"
                #formDataType
                [options]="dataTypes"
                [optionToString]="objectToLabel"
                [valueMapper]="objectToValue"
              ></app-basic-autocomplete>
            </mat-form-field>

            @if (
              formDataType.value === "configurable-enum" ||
              formDataType.value === "entity"
            ) {
              <mat-checkbox formControlName="isArray" i18n>
                allow multiple values (multi-select)
              </mat-checkbox>
            }

            <!-- "additional" for enum datatype -->
            @if (formDataType.value === "configurable-enum") {
              <mat-form-field>
                <mat-label>
                  <span i18n> Type Details (dropdown options set)</span>
                  <fa-icon
                    icon="question-circle"
                    matTooltip="Select an existing set of options to share between multiple fields or create a new, independent list of dropdown options."
                    i18n-matTooltip
                  ></fa-icon>
                </mat-label>
                <app-basic-autocomplete
                  formControlName="additional"
                  [options]="typeAdditionalOptions"
                  [optionToString]="objectToLabel"
                  [valueMapper]="objectToValue"
                  [createOption]="createNewAdditionalOptionAsync"
                ></app-basic-autocomplete>
                <button
                  mat-icon-button
                  matSuffix
                  (click)="openEnumOptions($event)"
                >
                  <fa-icon icon="wrench"></fa-icon>
                </button>
              </mat-form-field>
            }

            <!-- "additional" for entity ref datatypes -->
            @if (formDataType.value === "entity") {
              <mat-form-field>
                <mat-label>
                  <span i18n> Type Details (target record type)</span>
                  <fa-icon
                    icon="question-circle"
                    matTooltip="Select from which type of records the user can select and link to with this field."
                    i18n-matTooltip
                  ></fa-icon>
                </mat-label>
                <app-entity-type-select
                  formControlName="additional"
                ></app-entity-type-select>
              </mat-form-field>
            }
          </div>
        </div>
      </mat-tab>

      <!--
        ADVANCED SETTINGS
        -->
      <mat-tab label="Advanced Options & Validation" i18n-label>
        <div class="grid-layout-wide margin-top-regular">
          <div class="entity-form-cell">
            <app-admin-default-value
              formControlName="defaultValue"
              [entityType]="data.entityType"
              [entitySchemaField]="data.entitySchemaField"
            >
            </app-admin-default-value>

            <app-anonymize-options
              [value]="data.entitySchemaField.anonymize"
              (valueChange)="schemaFieldsForm.get('anonymize').setValue($event)"
            >
              <span i18n>Anonymize</span>
              <fa-icon
                icon="question-circle"
                matTooltip="Optionally This will remove all personal information (PII) permanently related to this field."
                i18n-matTooltip
              ></fa-icon>
            </app-anonymize-options>

            @if (
              ["string", "long-text", "email", "url", "number"].includes(
                formDataType.value
              )
            ) {
              <div class="margin-top-regular">
                <mat-checkbox formControlName="searchable">
                  <span i18n>Searchable</span>
                  <fa-icon
                    icon="question-circle"
                    matTooltip="By enabling the checkbox, you can find the record from the global search by inputting the value."
                    i18n-matTooltip
                  ></fa-icon>
                </mat-checkbox>
                @if (isSearchable()) {
                  <div class="hint-text" i18n>
                    This field is already searchable because it is part of the
                    record's display name.
                  </div>
                }
              </div>
            }
          </div>

          <div class="entity-form-cell">
            <app-configure-entity-field-validator
              [entitySchemaField]="data.entitySchemaField"
              (entityValidatorChanges)="entityFieldValidatorChanges($event)"
            ></app-configure-entity-field-validator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()" i18n="Button label">Apply</button>
  <button mat-button mat-dialog-close i18n="Button label">Cancel</button>
  @if (data.overwriteLocally) {
    <button
      mat-button
      (click)="resetToBaseFieldSettings()"
      i18n="Button label"
      matTooltip="Discard any changes you have made to this field only for this view and reset it to the general settings"
      i18n-matTooltip
    >
      Reset to base field settings
    </button>
  }
</mat-dialog-actions>
