<span (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
  <img src="assets/child.png" class="child-pic"> {{entity.name}} <span style="font-size: x-small">({{entity.getId()}})</span>
</span>

<div style="position:absolute;" *ngIf="tooltip">
  <div class="mat-elevation-z5 child-tooltip" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
    <h3>{{entity.name}}</h3>
    <p><span class='fa fa-phone'></span> {{entity.phone}}</p>
    <p><app-school-block [entityId]='entity.schoolId'></app-school-block>,
      class {{entity.schoolClass}}
    </p>
  </div>
</div>
