<div style="padding: 16px;">
  <div style="margin-bottom: 32px;">
   <h3>Entity Type to Count</h3>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Select Entity Type</mat-label>
      <app-entity-type-select
        [(ngModel)]="localConfig.entityType"
        (ngModelChange)="onEntityTypeChange()"
        [placeholder]="'Select Entity Type'"
      ></app-entity-type-select>
    </mat-form-field>
    <mat-hint>Select which record type to count and display statistics for</mat-hint>
  </div>

  <div>
    <h3>Group By Fields</h3>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Select Group By Fields</mat-label>
      <app-entity-field-select
        [entityType]="localConfig.entityType"
        [(ngModel)]="localConfig.groupBy"
        (ngModelChange)="onGroupByChange()"
        [multi]="true"
        [placeholder]="'Select Group By Fields'"
      ></app-entity-field-select>
    </mat-form-field>
  </div>
</div>