<input
  type="file"
  [accept]="acceptedFileTypes"
  style="display: none"
  (change)="onFileSelected($event.target['files'][0])"
  #fileUpload
/>

<div
  class="flex-row gap-regular"
  [class.clickable]="hasControlValue()"
  (click)="navigator.onLine ? formClicked() : null"
>
  <input
    matInput
    readonly
    class="filename"
    [formControl]="formControl"
    i18n-placeholder="placeholder for file-input"
    placeholder="No file selected"
    i18n-matTooltip="Tooltip show file"
    matTooltip="Show file"
    [matTooltipDisabled]="!(initialValue && valueSignal() === initialValue)"
  />

  @if (hasControlValue() && isControlEnabled()) {
    <button
      type="button"
      mat-icon-button
      (click)="delete(); $event.stopPropagation()"
      i18n-mattooltip="Tooltip remove file"
      matTooltip="Remove file"
      [disabled]="!navigator.onLine"
      class="input-action-button"
    >
      <app-fa-dynamic-icon icon="xmark"></app-fa-dynamic-icon>
    </button>
  }
  @if (isControlEnabled()) {
    <button
      type="button"
      mat-icon-button
      (click)="fileUpload.click(); $event.stopPropagation()"
      i18n-matTooltip="Tooltip upload file button"
      matTooltip="Upload file"
      [disabled]="!navigator.onLine"
      class="input-action-button"
    >
      <app-fa-dynamic-icon icon="upload"></app-fa-dynamic-icon>
    </button>
  }
</div>

@if (!navigator.onLine && isControlEnabled()) {
  <div class="hint-text" i18n>Changes to files are not possible offline.</div>
}
