<input
  type="file"
  [accept]="acceptedFileTypes"
  style="display: none"
  (change)="onFileSelected($event.target['files'][0])"
  #fileUpload
/>

<mat-form-field
  [ngClass]="{ clickable: formControl.value }"
  (click)="navigator.onLine ? formClicked() : null"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    readonly
    class="filename"
    [formControl]="formControl"
    i18n-placeholder="placeholder for file-input"
    placeholder="No file selected"
    i18n-matTooltip="Tooltip show file"
    matTooltip="Show file"
    [matTooltipDisabled]="!(initialValue && formControl.value === initialValue)"
  />

  <button
    *ngIf="formControl.value && formControl.enabled"
    type="button"
    mat-icon-button
    matIconSuffix
    (click)="delete(); $event.stopPropagation()"
    i18n-mattooltip="Tooltip remove file"
    matTooltip="Remove file"
    [disabled]="!navigator.onLine"
  >
    <fa-icon icon="xmark"></fa-icon>
  </button>
  <button
    *ngIf="formControl.enabled"
    type="button"
    mat-icon-button
    matIconSuffix
    (click)="fileUpload.click(); $event.stopPropagation()"
    i18n-matTooltip="Tooltip upload file button"
    matTooltip="Upload file"
    [disabled]="!navigator.onLine"
  >
    <fa-icon icon="upload"></fa-icon>
  </button>

  @if (!navigator.onLine && formControl.enabled) {
    <mat-hint i18n>Changes to files are not possible offline.</mat-hint>
  }

  <mat-error>
    <app-error-hint [form]="formControl"></app-error-hint>
  </mat-error>
</mat-form-field>
