<mat-dialog-content>
  <form [formGroup]="mergeForm">
    <div class="merge-grid">
      <div class="header" i18n>Labels</div>
      <div class="header" i18n>Record A</div>
      <div class="header" i18n>Record B</div>
      <div class="header" i18n>Merge Preview</div>

      <ng-container *ngFor="let field of mergeFields; trackBy: trackByFieldKey">
        <div class="label-cell">
          <strong>{{ field.label }}</strong>
        </div>

        <div class="record-cell">
          <mat-radio-group>
            <mat-radio-button
              [value]="entitiesToMerge[0][field.key]"
              (click)="toggleSelection(field.key, 'entity1')"
              [checked]="isSelected(field.key, 'entity1')"
            >
              <app-entity-field-view
                [field]="field.key"
                [entity]="entitiesToMerge[0]"
              ></app-entity-field-view>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="record-cell">
          <mat-radio-group>
            <mat-radio-button
              [value]="entitiesToMerge[1][field.key]"
              (click)="toggleSelection(field.key, 'entity2')"
              [checked]="isSelected(field.key, 'entity2')"
            >
              <app-entity-field-view
                [field]="field.key"
                [entity]="entitiesToMerge[1]"
              ></app-entity-field-view>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- <div class="preview-cell">
          <app-entity-field-view
            *ngIf="mergeForm.get(field.key)?.value; else noSelection"
            [field]="field.key"
            [entity]="getEntityField(field)"
          ></app-entity-field-view>
          <ng-template #noSelection>No Selection</ng-template>
        </div> -->
        <!-- Merge Preview -->
        <div class="preview-cell">
          <ng-container *ngIf="mergedEntity[field.key]; else noSelection">
            <app-entity-field-view
              [field]="field.key"
              [entity]="mergedEntity"
              showLabel="none"
            ></app-entity-field-view>
          </ng-container>
          <ng-template #noSelection>
            <span class="no-selection">No Selection</span>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" i18n>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    (click)="merge()"
    [disabled]="mergeForm.invalid"
    i18n
  >
    Merge
  </button>
</mat-dialog-actions>
