<p i18n>Select the import target type:</p>

<div class="flex-row align-center">
  <mat-form-field class="full-width">
    <mat-label i18n>Import as</mat-label>
    <app-entity-type-select
      [(ngModel)]="entityType"
      (ngModelChange)="onSelectedTypeChange($event)"
      [multi]="false"
      [showInternalTypes]="expertMode"
    ></app-entity-type-select>
  </mat-form-field>

  <app-help-button
    text="What type of records should your imported data become in the system? Select the target record type here. (e.g. are you trying to import participants, events or team members etc.)"
    i18n-text="import - select type - help text"
  >
  </app-help-button>

  <mat-slide-toggle [(ngModel)]="expertMode" i18n="Toggle label"
    >Expert Mode</mat-slide-toggle
  >
</div>
