<h2 mat-dialog-title i18n>
  Edit data structure:
  {{ entityConstructor?.label || entityConstructor?.ENTITY_TYPE }}
  <app-dialog-close></app-dialog-close>
</h2>

<mat-dialog-content>
  <div class="hint-banner" i18n>
    You can edit how users will see the details of a single record of this type.
    Drag and drop fields and sections in this preview of a profile view and
    group them as appropriate. The editor below closely resembles how the form
    will look for users later. We recommend to keep things simple: Only add
    fields that you really need for your work.
  </div>

  <div class="form-sections">
    <app-admin-entity-form
      [entityType]="entityConstructor"
      [config]="formConfig"
      [uniqueAreaId]="
        'related-entity-details-' + entityConstructor?.ENTITY_TYPE
      "
      [fieldsOnlyMode]="true"
    ></app-admin-entity-form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close i18n>Close</button>
</mat-dialog-actions>
