<form [formGroup]="form">
    <div>
        <mat-form-field>
            <input
                    matInput
                    formControlName="dropoutDate"
                    placeholder="Dropout Date"
                    [matDatepicker]="dropoutDatepicker"
                    [disabled]="!editing"
            />
            <mat-datepicker-toggle
                    matSuffix
                    [for]="dropoutDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dropoutDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input
                    matInput
                    formControlName="dropoutType"
                    placeholder="Dropout Type"
                    type="text"
            />
        </mat-form-field>

        <mat-form-field>
            <textarea
                    matInput
                    formControlName="dropoutRemarks"
                    placeholder="Dropout Remarks"
                    type="text"
            >
            </textarea>
        </mat-form-field>
    </div>
</form>
<div>
    <button
            *ngIf="editing"
            mat-stroked-button
            class="edit-button"
            (click)="save()"
    >
        Save
    </button>

    <button
            *ngIf="editing"
            mat-stroked-button
            class="edit-button"
            (click)="switchEdit()"
    >
        Cancel
    </button>

    <button
            *ngIf="!editing"
            mat-stroked-button
            class="edit-button"
            (click)="switchEdit()"
    >
        Edit
    </button>
</div>
