<mat-expansion-panel expanded>
  <mat-expansion-panel-header>Field Mapping</mat-expansion-panel-header>
  <div>
    <div *ngFor="let col of columnMapping">
      <mat-form-field>
        <mat-label>{{ col.column }}</mat-label>
        <app-basic-autocomplete
          [options]="allProps"
          [(ngModel)]="col.property"
          [optionToString]="labelMapper"
          [hideOption]="isUsed"
          (ngModelChange)="change()"
        />
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>
