<div fxLayout="row">
  <div fxFlex>
    <app-input-file (fileLoad)="loadData($event)" fileType="csv"></app-input-file>

    <form [formGroup]="entityForm">
      <mat-form-field>
        <mat-label>Entity Type</mat-label>
        <mat-select formControlName="entity" required (selectionChange)="entitySelectionChanged()">
          <mat-option *ngFor="let entity of entities | keyvalue" [value]="entity.key">
            {{entity.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div fxFlex>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>Additional Import Configuration (optional)</mat-expansion-panel-header>

        <label i18n="Data import wizard label">Load config from file: </label>
        <app-input-file (fileLoad)="loadConfig($event)" fileType="json"></app-input-file>

        <form [formGroup]="transactionIDForm">
          <p *ngIf="transactionIDForm.disabled" i18n="Hint in import wizard when transaction ID is not necessary">IDs are specified in CSV file</p>
          <mat-form-field>
            <mat-label i18n="Unique ID for this import">Transaction ID:</mat-label>
            <input
              matInput
              formControlName="transactionId"
              i18n-placeholder="Placeholder for input for transactionId as part of the import process"
              placeholder="Enter TransactionID"
            />
          </mat-form-field>
          <button *ngIf="transactionIDForm.enabled" mat-button (click)="setRandomTransactionID()" i18n="Button to generate a random ID">Generate ID</button>
        </form>

        <form [formGroup]="dateFormatForm">
          <mat-form-field>
            <mat-label i18n="Label for date-format input  ">Date format</mat-label>
            <input
              matInput
              formControlName="dateFormat"
              i18n-placeholder="Placeholdr for input where date format as part of the import process"
              placeholder="Enter a date format"
            />
          </mat-form-field>
        </form>

    </mat-expansion-panel>
  </div>
</div>

<br>

<mat-expansion-panel  [expanded]="readyForImport" [disabled]="!readyForImport">
  <mat-expansion-panel-header>Field Mapping</mat-expansion-panel-header>
  <div>
    <form [formGroup]="columnMappingForm">
      <div *ngFor="let control of columnMappingForm.controls | keyvalue">
        <mat-form-field>
          <mat-label>{{ control.key }}</mat-label>
          <input
            type="text"
            i18n-placeholder="Placeholder for input where a property can be selected during the import process"
            placeholder="Select property"
            aria-label="Select property"
            matInput
            (input)="processChange($event.target['value'].toLowerCase())"
            (focusin)="processChange('')"
            [matAutocomplete]="auto"
            [formControlName]="control.key"
          >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let property of filteredProperties | async"
              [value]="property?.toLowerCase()"
            >
              {{ property }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-expansion-panel>


<mat-expansion-panel [expanded]="readyForImport">
  <mat-expansion-panel-header>View Summary & Start Import</mat-expansion-panel-header>

  <p i18n="Data import Final overview">Entity Type:    <em>{{ entityForm.get('entity').value }}</em></p>
  <p i18n="Data import Final overview">Data:       <em>{{ importData?.data?.length }}</em></p>
  <p i18n="Data import Final overview">TransactionID:  <em>{{ transactionIDForm.get('transactionId').value }}</em></p>

  <div fxLayout="row" fxLayoutGap="10px">
    <button (click)="importSelectedFile()" mat-stroked-button i18n="Button to start import">
      Start Import
    </button>
    <button (click)="saveConfig()" mat-stroked-button i18n="Button to save import configuration">
      Save config
    </button>
  </div>
</mat-expansion-panel>
