<h2 i18n>General Settings of "{{ entityConstructor.label }}" Records</h2>
<p i18n>
  The settings here apply to the entity type overall and take effect everywhere
  the entity is displayed, including lists, forms and other views.
</p>

<form [formGroup]="form">
  <mat-tab-group formGroupName="basicSettings">
    <mat-tab label="Basics" i18n-label>
      <div class="grid-layout flex-grow margin-top-regular">
        <div class="entity-form-cell">
          <mat-form-field>
            <mat-label i18n>Label</mat-label>
            <input formControlName="label" matInput #formLabel />
          </mat-form-field>

          <mat-form-field floatLabel="always">
            <mat-label i18n>
              Label (Plural)
              <fa-icon
                icon="question-circle"
                matTooltip="Optionally you can define how multiple records of this entity should be called, e.g. in lists."
                i18n-matTooltip
              ></fa-icon>
            </mat-label>
            <input
              formControlName="labelPlural"
              matInput
              [placeholder]="formLabel.value"
            />
          </mat-form-field>

          <mat-form-field floatLabel="always">
            <mat-label i18n>
              Icon
              <fa-icon
                icon="question-circle"
                matTooltip="The icon to represent this entity type, e.g. when displaying records as a small preview block. [see fontawesome.com/icons]"
                i18n-matTooltip
              ></fa-icon>
            </mat-label>
            <input
              formControlName="icon"
              matInput
              [placeholder]="formLabel.value"
            />
          </mat-form-field>
        </div>

        <div class="entity-form-cell">
          <mat-form-field>
            <mat-label i18n>
              Generated Title of Record
              <fa-icon
                icon="question-circle"
                matTooltip="Select the fields that should be used (in that order) to generate a simple name/title for a record. This generated title is used in previews, search and for form fields that allow to select a record of this type."
                i18n-matTooltip
              ></fa-icon>
            </mat-label>
            <app-basic-autocomplete
              formControlName="toStringAttributes"
              #formDataType
              [options]="toStringAttributesOptions"
              [optionToString]="objectToLabel"
              [valueMapper]="objectToValue"
              [multi]="true"
              [reorder]="true"
            ></app-basic-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>

    <!--
        ADVANCED SETTINGS
      -->
    <mat-tab
      label="Configure PII / Anonymization"
      i18n-label
      [disabled]="false"
    >
      <div class="grid-layout margin-top-regular">
        <mat-checkbox (change)="toggleTable($event)"
          >Has personal information (PII)</mat-checkbox
        >
        <mat-table *ngIf="showTable" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="fields">
            <mat-header-cell *matHeaderCellDef>Field</mat-header-cell>
            <mat-cell *matCellDef="let data">{{ data.fields }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="anonymize">
            <mat-header-cell *matHeaderCellDef>Anonymization</mat-header-cell>
            <mat-cell *matCellDef="let data">
              <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <mat-select [(value)]="data.anonymize">
                  <mat-option
                    *ngFor="let anonymizeOption of anonymizOptionList"
                    [value]="anonymizeOption"
                  >
                    {{ anonymizeOption }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="['fields', 'anonymize']"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: ['fields', 'anonymize']"
          ></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>
