<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="sidebar-nav navbar-collapse">
  <ul class="nav" id="side-menu">

    <li *ngFor="let item of menu_main">
      <a [routerLink]="item.routerLinkParameters"><i class="fa fa-{{item.icon}} fa-fw"></i> {{item.label}}</a>
    </li>

    <li class="divider"></li>

    <li>
      <a [routerLink]="['/user']"><i class="fa fa-user fa-fw"></i> User Account</a>
    </li>

    <li class="divider"></li>

    <li>
      <a [routerLink]="['/userlist']"><i class="fa fa-user fa-fw"></i> User View</a>
    </li>

    <li class="divider"></li>

    <li>
      <a [routerLink]="['/']" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
  </ul>
</div>
