<!--
  ~     This file is part of ndb-core.
  ~
  ~     ndb-core is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     ndb-core is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with ndb-core.  If not, see <http://www.gnu.org/licenses/>.
  -->

    <!-- <a [routerLink]="item.routerLinkParameters" ><i class="fa fa-{{item.icon}} fa-fw"></i> {{item.label}}</a> -->

    <mat-nav-list>
      <mat-list-item *ngFor="let item of menu_main" [routerLink]="item.routerLinkParameters" >
        <a><i class="fa fa-{{item.icon}} fa-fw"></i> {{item.label}}</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/user']">
        <a><i class="fa fa-user fa-fw"></i> User Account</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/schools']">
        <a><i class="fa fa-schools fa-fw"></i> Schools</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/']" (click)="logout()">
        <a><i class="fa fa-sign-out fa-fw"></i> Logout</a>
      </mat-list-item>
    </mat-nav-list>

















  <!--

  -->

