<mat-form-field>
  @if (!hideLabel) {
    <mat-label>
      <span [matTooltip]="label" matTooltipPosition="before">{{ label }}</span>
    </mat-label>
  }

  <div class="autocomplete-container">
    <app-basic-autocomplete
      #autocomplete
      [formControl]="form"
      [multi]="multi"
      [options]="options"
      [optionToString]="enumValueToString"
      [createOption]="createNewOption"
    >
      <ng-template let-option>
        <app-display-configurable-enum
          [value]="option"
        ></app-display-configurable-enum>
      </ng-template>
    </app-basic-autocomplete>

    <div class="icon-container">
      @if (form.enabled) {
        <fa-icon
          icon="caret-down"
          class="form-field-icon-suffix"
          (click)="autocomplete.showAutocomplete()"
          matIconSuffix
        ></fa-icon>
      }

      @if (form.enabled && !!createNewOption && canEdit) {
        <fa-icon
          class="form-field-icon-suffix"
          matIconSuffix
          (click)="openSettings($event)"
          icon="wrench"
        ></fa-icon>
      }
    </div>

    @if (form.errors) {
      <mat-error>
        <app-error-hint [form]="form"></app-error-hint>
      </mat-error>
    }
  </div>
</mat-form-field>
