@use "variables/colors";
@use "variables/sizes";

@use "../special-option-labels.scss";

:host {
  overflow: hidden;
}

em {
  color: colors.$primary;
}

.disable-autocomplete-active-color {
  color: black;
}

.autocomplete-footer {
  margin: sizes.$small sizes.$regular;
}

.mat-autocomplete-panel.custom-panel {
  overflow-y: hidden !important;
  max-height: none !important;
}

::ng-deep {
  .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100%;
  }
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chip {
  border-radius: 4px;
}

// Fix for double scrollbars when field/option labels are long
// ensure all options have consistent 48px height for virtual scroll calculations
::ng-deep .mat-mdc-autocomplete-panel .mat-mdc-option {
  max-height: 48px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.disabled-option-info {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  pointer-events: auto;
  cursor: help;
}

::ng-deep .mat-mdc-option.mdc-list-item--disabled .disabled-option-info {
  pointer-events: auto !important;
}

::ng-deep .mat-mdc-option[disabled] {
  pointer-events: none;

  .disabled-option-info {
    pointer-events: auto !important;
  }
}
