<!--Display-->
@if (display === "text" || display === "none") {
  <input
    [id]="id"
    [hidden]="isInSearchMode() || display === 'none'"
    [disabled]="_disabled"
    matInput
    style="text-overflow: ellipsis; width: calc(100% - 50px)"
    (focusin)="showAutocomplete()"
    (focusout)="showAutocomplete()"
    [value]="displayText"
    [placeholder]="placeholder"
  />
} @else {
  <input
    [hidden]="true"
    [disabled]="_disabled"
    matInput
    (focusin)="showAutocomplete()"
    (focusout)="showAutocomplete()"
    [matChipInputFor]="chipList"
  />
  <mat-chip-grid #chipList>
    <ng-container>
      @for (item of _selectedOptions; track item) {
        <mat-chip-row
          [editable]="!_disabled"
          class="chip"
          [style.background-color]="item.asValue?.['color']"
        >
          @if (!templateRef) {
            {{ item.asString }}
          } @else {
            <ng-template
              [ngTemplateOutlet]="templateRef"
              [ngTemplateOutletContext]="{ $implicit: item.initial }"
            ></ng-template>
          }
          @if (!_disabled) {
            <button matChipRemove (click)="unselect(item)">
              <fa-icon
                i18n-matTooltip="
                  tooltip for remove icon on chips of dropdown item
                "
                matTooltip="remove"
                icon="xmark"
              ></fa-icon>
            </button>
          }
        </mat-chip-row>
      }
    </ng-container>
  </mat-chip-grid>
}

<!--Search-->
<input
  [hidden]="!isInSearchMode()"
  #inputElement
  [formControl]="autocompleteForm"
  matInput
  style="text-overflow: ellipsis"
  [matAutocomplete]="autoSuggestions"
  (focusout)="onFocusOut($event)"
  [placeholder]="placeholder"
/>

<!--
Autocomplete
-->
<mat-autocomplete
  [disableRipple]="true"
  #autoSuggestions="matAutocomplete"
  (optionSelected)="select($event.option.value)"
  autoActiveFirstOption
  [hideSingleSelectionIndicator]="true"
  [class.custom-panel]="true"
  [style.max-height.px]="maxPanelHeight"
  [panelWidth]="panelWidth"
>
  <!-- Select All and Clear Buttons on top of options via content projection-->
  <div>
    <ng-content select="[autocompleteHeader]"></ng-content>
  </div>
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    cdkDropListGroup
    [cdkDropListDisabled]="!reorder"
  >
    <cdk-virtual-scroll-viewport
      [style.height.px]="(autocompleteOptions?.length ?? 0) * 48"
      [itemSize]="48"
      minBufferPx="200"
    >
      <mat-option
        [value]="item"
        [disabled]="optionDisabled(item.initial)"
        cdkDrag
        *cdkVirtualFor="
          let item of autocompleteOptions;
          trackBy: trackByOptionValueFn
        "
      >
        <div class="flex-row disable-autocomplete-active-color align-center">
          @if (reorder) {
            <div>
              <fa-icon
                icon="grip-vertical"
                size="sm"
                class="drag-handle"
              ></fa-icon>
            </div>
          }
          @if (multi) {
            <mat-checkbox [checked]="item.selected"></mat-checkbox>
          }
          @if (!templateRef) {
            <span
              class="text-truncate"
              [matTooltip]="item.asString"
              matTooltipPosition="above"
              [ngClass]="{
                'not-defined-label': item.isEmpty,
                'invalid-label': item.isInvalid,
              }"
            >
              {{ item.asString }}
            </span>
          } @else {
            <ng-template
              class="item-option"
              [ngTemplateOutlet]="templateRef"
              [ngTemplateOutletContext]="{ $implicit: item.initial }"
            ></ng-template>
          }
          @if (optionDisabled(item.initial)) {
            <fa-icon
              icon="circle-info"
              size="sm"
              class="disabled-option-info"
              matTooltip="This field is already pre-filled and cannot be selected again."
              i18n-matTooltip
              matTooltipPosition="before"
            ></fa-icon>
          }
        </div>
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </div>

  <!-- Create new option -->
  @if (createOption && showAddOption && inputElement.value) {
    <mat-option [value]="inputElement.value">
      <em
        i18n="
          Label for adding an option in a dropdown|e.g. Add new My new Option
        "
        >Add new</em
      >
      {{ inputElement.value }}
    </mat-option>
  }

  <mat-option style="display: none">
    <!-- This mat-option is never displayed ("display: none") but has to be there,
      because the footer below will only be displayed with at least one mat-option -->
  </mat-option>
  <div class="autocomplete-footer">
    <ng-content select="[autocompleteFooter]"></ng-content>
  </div>
</mat-autocomplete>
