<!--Search-->
<input
  [hidden]="!focused"
  #inputElement
  [formControl]="autocompleteForm"
  matInput
  style="text-overflow: ellipsis"
  [matAutocomplete]="autoSuggestions"
  (focusout)="onFocusOut($event)"
  [placeholder]="placeholder"
/>

<!--Display-->
<input
  *ngIf="display === 'text' || display === 'none'; else chipsDisplay"
  [hidden]="focused || display === 'none'"
  [disabled]="_disabled"
  matInput
  style="text-overflow: ellipsis"
  (focusin)="showAutocomplete()"
  (focusout)="showAutocomplete()"
  [value]="displayText"
  [placeholder]="placeholder"
/>

<!--
  Autocomplete
-->
<mat-autocomplete
  [disableRipple]="true"
  #autoSuggestions="matAutocomplete"
  (optionSelected)="select($event.option.value)"
  autoActiveFirstOption
  [hideSingleSelectionIndicator]="multi"
>
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    cdkDropListGroup
    [cdkDropListDisabled]="!reorder"
  >
    <ng-container
      *ngFor="
        let item of reorder
          ? autocompleteDraggableOptions
          : (autocompleteSuggestedOptions | async)
      "
    >
      <mat-option [value]="item" cdkDrag>
        <div class="flex-row disable-autocomplete-active-color align-center">
          <div *ngIf="reorder">
            <fa-icon
              icon="grip-vertical"
              size="sm"
              class="drag-handle"
            ></fa-icon>
          </div>
          <mat-checkbox *ngIf="multi" [checked]="item.selected"></mat-checkbox>
          <ng-container *ngIf="!templateRef; else itemTemplate">
            {{ item.asString }}
          </ng-container>
          <ng-template
            class="item-option"
            #itemTemplate
            [ngTemplateOutlet]="templateRef"
            [ngTemplateOutletContext]="{ $implicit: item.initial }"
          ></ng-template>
        </div>
      </mat-option>
    </ng-container>
  </div>

  <!-- Create new option -->
  <mat-option
    *ngIf="createOption && showAddOption && inputElement.value"
    [value]="inputElement.value"
  >
    <em
      i18n="Label for adding an option in a dropdown|e.g. Add new My new Option"
      >Add new</em
    >
    {{ inputElement.value }}
  </mat-option>

  <mat-option style="display: none">
    <!-- This mat-option is never displayed ("display: none") but has to be there,
     because the footer below will only be displayed with at least one mat-option -->
  </mat-option>
  <div class="autocomplete-footer">
    <ng-content select="[autocompleteFooter]"></ng-content>
  </div>
</mat-autocomplete>

<!--
  Optional displaying as chips
-->
<ng-template #chipsDisplay>
  <input
    [hidden]="true"
    [disabled]="_disabled"
    matInput
    (focusin)="showAutocomplete()"
    (focusout)="showAutocomplete()"
    [matChipInputFor]="chipList"
  />

  <mat-chip-grid #chipList>
    <ng-container>
      <mat-chip-row
        *ngFor="let item of _selectedOptions"
        [editable]="!_disabled"
        class="chip"
      >
        <ng-container *ngIf="!templateRef; else itemTemplate">
          {{ item.asString }}
        </ng-container>

        <ng-template
          #itemTemplate
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{ $implicit: item.initial }"
        ></ng-template>

        <button matChipRemove *ngIf="!_disabled" (click)="unselect(item)">
          <fa-icon
            i18n-matTooltip="tooltip for remove icon on chips of dropdown item"
            matTooltip="remove"
            icon="xmark"
          ></fa-icon>
        </button>
      </mat-chip-row>
    </ng-container>
  </mat-chip-grid>
</ng-template>
