@use "src/styles/variables/sizes";
@use "~@angular/material/theming" as *;

.child-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
  margin-right: sizes.$small;
}

.additional-number {
  font-size: x-small;
}

.additional-number-active {
  color: mat-color($mat-light-theme-foreground, secondary-text);
}

.inactive {
  color: mat-color($mat-light-theme-foreground, disabled);
}

.container {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.font-size-rel {
  font-size: 1em;
  margin-right: 3px;
  font-weight: 500;
  color: #262626;
}

.subnote {
  font-size: 0.7em;
  position: relative;
  top: 0.2em;
  color: #5e5e5e;
}


