.child-tooltip {
  position: relative;
  top: -5px;
  left: 5px;

  padding: 8px;
  background-color: white;
  z-index: 99;

  width: 400px;
}

.child-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
  vertical-align: middle;
}

.child-pic-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.inactive {
  color: grey;
}
