@use "variables/sizes";

.child-pic {
  width: sizes.$icon-block;
  height: sizes.$icon-block;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
  vertical-align: middle;
  overflow: hidden;
}

.inactive {
  color: grey;
}

.container {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.font-size-rel {
  font-size: 1em;
  margin-right: 3px;
  font-weight: 500;
  color: #262626;
}

.subnote {
  font-size: 0.7em;
  position: relative;
  top: 0.2em;
  color: #5e5e5e;
}
