.child-tooltip {
  position: relative;
  top: -5px;
  left: 5px;

  padding: 8px;
  background-color: white;
  z-index: 99;

  width: 400px;
}

.child-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
  vertical-align: middle;
}

.child-pic-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.inactive {
  color: grey;
}

.container {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.font-size-rel {
  font-size: 1em;
  margin-right: 3px;
  font-weight: 500;
  color: #262626;
}

.subnote {
  font-size: 0.7em;
  position: relative;
  top: 0.2em;
  color: #5e5e5e;
}


