<span
  *ngIf="entity"
  [appTemplateTooltip]="tooltip"
  [tooltipDisabled]="tooltipDisabled"
  [class.inactive]="!entity.isActive"
  class="truncate-text container"
>
  <app-fa-dynamic-icon *ngIf="!imgPath" [icon]="icon" class="margin-right-small"/>
  <img [appDisplayImg]="entity" imgProperty="photo" class="child-pic"/>
  <span class="font-size-rel">{{ entity?.toString() }}</span>
  <span class="subnote" *ngIf="entity?.projectNumber"> ({{ entity?.projectNumber }})</span>
</span>

<ng-template #tooltip>
  <app-child-block-tooltip [entity]="entity"></app-child-block-tooltip>
</ng-template>
