<span
  *ngIf="entity"
  [appTemplateTooltip]="tooltip"
  [tooltipDisabled]="tooltipDisabled"
  [class.inactive]="!entity.isActive"
  class="truncate-text container"
>
  <app-display-img
    [entity]="entity"
    imgProperty="photo"
    [defaultIcon]="icon"
    class="child-pic"
  ></app-display-img>
  <span class="font-size-rel">{{ entity?.toString() }}</span>
  <span class="subnote" *ngIf="entity?.['projectNumber']">
    ({{ entity?.["projectNumber"] }})</span
  >
</span>

<ng-template #tooltip>
  <app-child-block-tooltip [entity]="entity"></app-child-block-tooltip>
</ng-template>
