@use "../../../../../styles/variables/sizes";

// The paginator is usually a little smaller than this
$approx-width-paginator: 450px;
$slider-padding-all: 16px;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media all and (max-width: $approx-width-paginator) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  justify-content: flex-start;
  background-color: white;
}

.slider {
  padding-left: sizes.$regular;
  @media all and (max-width: $approx-width-paginator) {
    padding-bottom: sizes.$regular;
  }
  font-size: small;
}
