@use "variables/colors";

.notification-item-wrapper {
  padding: 8px 10px 0px;
}

.notification-details {
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.notification-details:hover {
  background-color: transparent;
  cursor: pointer;
}

.notification-title {
  font-weight: bold;
}

.notification-body {
  font-size: 0.85em;
}

.notification-time {
  color: colors.$inactive;
  font-size: 12px;
}

.indicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.unread-indicator {
  @extend .indicator;
  background-color: blue;
}

.read-indicator {
  @extend .indicator;
  background-color: transparent;
  border: 2px solid colors.$inactive;
}

.menu-option {
  margin-left: 12px;
}

.read-notification {
  color: colors.$inactive;
}