<div
  class="flex-row justify-space-between align-center notification-item-wrapper"
  [ngClass]="{ 'read-notification': notification.readStatus }"
>
  <div class="notification-details">
    <strong i18n class="notification-item">{{ notification.title }}</strong>
    <p i18n class="notification-item">{{ notification.body }}</p>
    <p
      i18n
      class="notification-time"
      [matTooltip]="notification.created.at | date: 'yyyy-MM-dd HH:mm:ss'"
    >
      {{ notification.created.at | NotificationTime }}
    </p>
  </div>

  <!-- Blue indicator for unread notifications -->
  <span
    [ngClass]="notification.readStatus ? 'read-indicator' : 'unread-indicator'"
    matTooltip="{{
      notification.readStatus ? 'Read notification' : 'Unread notification'
    }}"
    i18n-matTooltip
    [matMenuTriggerFor]="notificationMenu"
    (click)="$event.stopPropagation()"
  ></span>

  <mat-menu #notificationMenu="matMenu">
    <button
      mat-menu-item
      (click)="handleMarkAsRead(); $event.stopPropagation()"
    >
      <fa-icon
        [icon]="notification.readStatus ? 'eye-slash' : 'check'"
      ></fa-icon>
      <span class="menu-option" i18n>{{
        notification.readStatus ? "Mark as Unread" : "Mark as Read"
      }}</span>
    </button>
    <button
      mat-menu-item
      (click)="handleDeleteNotification(); $event.stopPropagation()"
    >
      <fa-icon icon="trash"></fa-icon>
      <span class="menu-option" i18n>Delete Notification</span>
    </button>
  </mat-menu>
</div>
