name: Master Push

on:
  push:
    branches:
      - master

permissions:
  contents: write  # needed for semantic-release and gh-pages
  id-token: write  # required for _qa.yaml (QLTY code coverage)

jobs:
  qa:
    uses: ./.github/workflows/_qa.yaml
    secrets: inherit
    with:
      upload-e2e-screenshots: true

  create-and-deploy-compodoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository files
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install @compodoc/compodoc

      - name: Run compodoc
        run: npm run compodoc

      - name: Deploy on pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/compodoc
          destination_dir: documentation
          force_orphan: true

  pre-release:
    runs-on: ubuntu-latest
    needs:
      - qa
    steps:
      - name: Checkout repository files
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up node
        uses: actions/setup-node@v4

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          extra_plugins: |
            semantic-release-replace-plugin@1.2.6
            @semantic-release/git
