name: pull-request-update-or-push-tag
# central CI flow to test and build the app

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    tags:
      - "*"

env:
  REGISTRY_IMAGE: aamdigital/ndb-server
  # Either the tag name for tag builds or 'pr-XXX' for pull request builds,
  # where XXX is the number of the PR.
  # Doubles as release name and app version
  BUILD_NAME: ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.number) || github.ref_name }}

jobs:
  qa:
    uses: ./.github/workflows/_qa.yaml
    secrets: inherit
    with:
      skip-e2e: >-
        ${{
          github.event_name != 'pull_request' ||
          github.event.pull_request.draft
        }}
  build-webapp:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm

      - run: npm install -g npm@11
      - run: echo "building app for BUILD_NAME ${{ env.BUILD_NAME }}"
      - run: npm install --ci
      - run: |
          sed -i 's/appVersion: ".*"/appVersion: "${{ env.BUILD_NAME }}"/g' \
            src/environments/environment*.ts

      - name: Cache angular
        uses: actions/cache@v4
        with:
          path: .angular/cache
          key: angular-v1-prod-${{ hashFiles('package-lock.json') }}

      - run: npx ng build --configuration production

      - name: Inject sentry token in sourcemaps
        run: |
          npx sentry-cli sourcemaps inject ./dist
          npx ngsw-config dist ngsw-config.json

      - name: Upload webapp files
        uses: actions/upload-artifact@v4
        with:
          name: webapp-files
          path: ./dist
          if-no-files-found: error
          retention-days: 1


  build-image:
    runs-on: ubuntu-latest
    needs:
      - build-webapp
    steps:
      - name: Checkout repository files
        uses: actions/checkout@v4

      - name: Download webapp files
        uses: actions/download-artifact@v4
        with:
          name: webapp-files
          path: dist

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          # - tag with git tag name on tag builds
          # - tag with `:pr-XXX` on PR builds
          # - tag with `:master` on pre-release tag builds (tag contains "-master")
          # stable and official releases are handled in on-official-release-push.yml
          tags: |
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=master,enabled=${{ github.event_name == 'push' && contains(github.ref_name, '-master') }}


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push multi-platform image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: ./
          file: ./build/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=min
        env:
          SOURCE_DATE_EPOCH: 0

  sentry-upload-sourcemaps:
    runs-on: ubuntu-latest
    needs:
      - build-webapp
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
    steps:
      - name: Download webapp files
        uses: actions/download-artifact@v4
        with:
          name: webapp-files
          path: dist

      - name: Upload Sourcemaps
        # skipped for pre-releases (e.g. .master, pr-*)
        if: ${{ !contains(env.BUILD_NAME, 'master') && !contains(env.BUILD_NAME, 'pr-') }}
        run: |
          npm install -g @sentry/cli
          sentry-cli sourcemaps upload --release="ndb-core@${{ env.BUILD_NAME }}" ./dist

  sentry-release:
    runs-on: ubuntu-latest
    needs:
      - build-image
      - build-webapp
      - sentry-upload-sourcemaps
      - qa
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Create Release
        # skipped for pre-releases (e.g. .master, pr-*)
        if: ${{ !contains(env.BUILD_NAME, 'master') && !contains(env.BUILD_NAME, 'pr-') }}
        run: |
          npm install -g @sentry/cli
          sentry-cli releases new "ndb-core@${{ env.BUILD_NAME }}"

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build-image
    steps:
      - name: Deploy updated image
        if: ${{ github.event.ref == '' }}
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/docker/pr-${{ github.event.number }}
            docker compose pull
            docker compose up -d
