name: Tag Push - Publish a new build
# CI flow for tag pushes: QA, build, and Sentry release

on:
  push:
    tags:
      - "*"

permissions:
  contents: read
  packages: write  # required for pushing to ghcr.io

env:
  BUILD_NAME: ${{ github.ref_name }}

jobs:
  build:
    uses: ./.github/workflows/_build.yaml
    secrets: inherit
    with:
      build_name: ${{ github.ref_name }}
      # - tag with git tag name
      # - tag with `:master` on pre-release tag builds (tag contains "-master")
      # stable and official releases are handled in on-official-release-push.yml
      docker_tags: |
        type=ref,event=tag
        type=raw,value=master,enabled=${{ contains(github.ref_name, '-master') }}

  sentry-upload-sourcemaps:
    runs-on: ubuntu-latest
    needs:
      - build
    env:
      BUILD_NAME: ${{ github.ref_name }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
    steps:
      - name: Download webapp files
        uses: actions/download-artifact@v4
        with:
          name: webapp-files
          path: dist

      - name: Upload Sourcemaps
        # skipped for pre-releases (e.g. -master.n)
        if: ${{ !contains(github.ref_name, '-') }}
        run: |
          npm install -g @sentry/cli
          sentry-cli sourcemaps upload --release="ndb-core@$BUILD_NAME" ./dist

  sentry-release:
    runs-on: ubuntu-latest
    needs:
      - build
      - sentry-upload-sourcemaps
    env:
      BUILD_NAME: ${{ github.ref_name }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Create Release
        # skipped for pre-releases (e.g. -master.n)
        if: ${{ !contains(github.ref_name, '-') }}
        run: |
          npm install -g @sentry/cli
          sentry-cli releases new "ndb-core@$BUILD_NAME"
