@if (isCustomFormAvailable) {
  <button
    mat-flat-button
    i18n
    (click)="copyCustomFormLink()"
    matTooltip="Copy a public form URL that links this record to the form submission."
    i18n-matTooltip
  >
    Copy custom form ({{ isCustomFormAvailable.title }}) link
    <fa-icon class="color-accent" size="xl" icon="copy"></fa-icon>
  </button>
}

<app-entities-table
  [entityType]="entityCtr"
  [records]="data"
  [filter]="filter"
  [customColumns]="_columns"
  [columnsToDisplay]="columnsToDisplay"
  [newRecordFactory]="createNewRecordFactory()"
  [showInactive]="showInactive"
  [clickMode]="clickMode"
  [editable]="editable"
></app-entities-table>
