<span
  class="mat-elevation-z1 attendance-block w-{{
    attendanceData.getWarningLevel(forChild)
  }}"
  [appTemplateTooltip]="tooltip"
>
  @if (attendanceData.getAttendancePercentage(forChild)) {
    <span>
      {{ attendanceData.getAttendancePercentage(forChild) | percent: "1.0-0" }}
    </span>
  } @else {
    <span> - </span>
  }
</span>

<ng-template #tooltip>
  <div class="attendance-tooltip-container">
    <strong>
      {{ attendanceData.periodFrom | customDate: "shortDate" }} -
      {{ attendanceData.periodTo | customDate: "shortDate" }}
      {{ attendanceData.activity.title }}
    </strong>

    <div
      i18n="
        Attended Tooltip|How many attendees were present / how many attendees
        were absent
      "
    >
      attended {{ attendanceDescription }} events
    </div>

    @if (logicalCount[LStatus.IGNORE] > 0) {
      <em i18n="Attended Tooltip|How many events were excluded">
        (excluding {{ logicalCount[LStatus.IGNORE] }} events excused or unknown)
      </em>
    }
    <app-attendance-calendar
      [records]="attendanceData.events"
      [highlightForChild]="forChild"
      [activity]="attendanceData.activity"
    >
    </app-attendance-calendar>
  </div>
</ng-template>
