<app-view-title i18n>Database Conflicts</app-view-title>

<p i18n>conflicts to resolve:</p>

<div class="mat-elevation-z1">
  @if (dataSource?.loading$ | async) {
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="full-width"
    aria-label="Table showing the conflicts"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>_id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="data" class="full-width">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
      <td mat-cell *matCellDef="let row">
        @for (rev of row.key; track rev) {
          <app-compare-rev [rev]="rev" [doc]="row.doc"></app-compare-rev>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let entity; columns: columnsToDisplay"
      class="table-list-item"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    showFirstLastButtons
  ></mat-paginator>
</div>
