<div>
  <app-entity-select
    [entityType]="School"
    [(selection)]="participatingGroups"
    [disabled]="!editing"
    [entityView]="schoolBlock"
    label="Schools"
    placeholder="Add School..."
  >
  </app-entity-select>
  <app-entity-select
    [(selection)]="participants"
    [disabled]="!editing"
    [entityType]="Child"
    [entityView]="childBlock"
    label="Children"
    placeholder="Add Child..."
  ></app-entity-select>
</div>

<div>
  <button
    *ngIf="editing"
    mat-stroked-button
    class="edit-button"
    (click)="save()"
  >
    Save
  </button>

  <button
    *ngIf="editing"
    mat-stroked-button
    class="edit-button"
    (click)="switchEdit()"
  >
    Cancel
  </button>

  <button
    *ngIf="!editing"
    mat-stroked-button
    class="edit-button"
    (click)="switchEdit()"
  >
    Edit
  </button>
</div>

<ng-template
  let-entity="entity"
  #childBlock
>
  <app-child-block
    [entity]="entity"
    [linkDisabled]="true"
    [tooltipDisabled]="true">
  </app-child-block>
</ng-template>

<ng-template
  let-entity="entity"
  #schoolBlock>
  <app-school-block
  [entity]="entity"
  [linkDisabled]="true">
  </app-school-block>
</ng-template>
