<div>
  <app-entity-select
    [standardType]="'School'"
    [(selection)]="participatingGroups"
    [disabled]="!editing"
    label="Groups"
    placeholder="Add group ..."
  >
  </app-entity-select>
  <app-entity-select
    [standardType]="'Child'"
    [(selection)]="participants"
    [disabled]="!editing"
    label="Participants"
    placeholder="Add participant ..."
  ></app-entity-select>
</div>

<app-edit-button
  [(editing)]="editing"
  (onSave)="save()"
  [managingEntity]="entity"
>
</app-edit-button>
